{% assign messages = site.messages | where: "thread", page.title %}
{% assign par = true %}
{% assign i = 0 %}
{% for message in messages %}
	{% assign user = site.users | where: "nickname", message.user | first %}
	{% if user.avatar %}
		{% if user.avatar contains "http" %}
		{% assign user_avatar = user.avatar %}
		{% else %}
		{% capture user_avatar %}/assets/smf/attachments/{{user.avatar}}{% endcapture %}
		{% endif %}
	{% else %}
		{% assign user_avatar = "/assets/smf/noavatar.gif" %}
	{% endif %}
	{% assign user_country = site.data.country-flags.flags | where: "icon", user.country_flag | first %}

	{% comment %}Calculando edad del usuario a partir de su fecha de nacimiento{% endcomment %}
	{% unless user.birthdate == "0001-01-01" %}
	{%   assign currentdate = site.time | date: '%s'      %}
	{%   assign birthdate = user.birthdate | date: '%s'  %}
	{%   assign secondsSince = currentdate | minus: birthdate     %}
	{%   assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60     %}
	{%   assign daysSince = hoursSince | divided_by: 24  %}
	{%   assign yearsSince = daysSince | divided_by: 365  %}
	{% endunless %}

	{% assign user_messages = site.messages | where: "user", user.nickname %}

		{% if par %}{% assign par = false %}{% else %}{% assign par = true %}{% endif %}
		<div class="seperate">
				<a id="msg{{message.id_msg}}"></a>
				<div class="windowbg{% if par %}2{% endif %}">
					<span class="topslice"><span></span></span>
					<div class="post_wrapper">
						<div class="poster">
							<h4>
								<a href="{{user.url}}" title="Ver perfil de {{user.nickname}}">{{user.nickname}}</a>
							</h4>
							<ul class="reset smalltext" id="msg_{{message.id_msg}}_extra_info">
								<li class="stars"><img src="/assets/smf/curve/img/nv15_good.gif" alt="*"></li>
								<li class="avatar">
									<a href="{{user.url}}">
										<img class="avatar" src="{{user_avatar}}" alt="">
									</a>
								</li>
								<li class="blurb" style="overflow:hidden">{{user.personal_text}}</li>
								<li class="profile">
									<ul>
										{% unless user.gender == 0 %}
										<li><img class="gender" src="/assets/smf/curve/img/{% if user.gender==1 %}Male.gif{% else %}Female.gif{% endif %}" alt="{% if user.gender==1 %}Masculino{% else %}Femenino{% endif %}"></li>
										{% endunless %}
										{% unless user.country_flag == "" or user.country_flag == 0 %}
										<li> <img src="/assets/smf/curve/img/flags/{{user.country_flag}}.png" alt="{{user.country_flag}}" title="{{user_country.country}}"></li>
										{% endunless %}
										<li><a href="{{user.url}}"><img src="/assets/smf/curve/img/icons/profile_sm.gif" alt="Ver Perfil" title="Ver Perfil{% unless user.birthdate == "0001-01-01" %}
Edad: {{yearsSince}}{% endunless %}
Mensajes: {{user_messages.size}}
"></a></li>
										<li><a href="{{user.url}}" title="{% if user.location %}Ubicación: {{user.location}}{% endif %}
{% if user.humor %}Humor: {{user.humor}}{% endif %}
Mensaje Privado (Desconectado)"><img src="/assets/smf/curve/img/im_off.gif" alt="Mensaje Privado (Desconectado)"></a></li>
										<li><a href="" alt="" title="☯ {{user.money}} soles peruanos"><img src="/assets/smf/curve/img/currency.png" width="17" height="17"></a></li>
									</ul>
								</li>
								{% unless user.alineacion == "" %}
								<li class="im_icons">
									<ul>
										<li><img src="/assets/smf/curve/img/alineacion/{{user.alineacion}}.gif" alt="{{user.alineacion}}" title="{{user.alineacion}}"></li>
									</ul>
								</li>
								{% endunless %}
							</ul>
						</div>
						<div class="postarea">
							<div class="flow_hidden">
								<div class="keyinfo">
									<div class="messageicon">
										<img src="/assets/smf/curve/img/post/{% if page.icon %}{{page.icon}}{% else %}xx.gif{% endif %}" alt="">
									</div>
									<h5 id="subject_{{message.id_msg}}">
										<a href="{{page.url}}#msg{{message.id_msg}}" rel="nofollow">{{message.subject}}</a>
									</h5>
									<div class="smalltext">
										«
										<strong>
											{% if i == 0 %}
												Original Poster :
											{% else %}
												Respuesta #{{i}} :
											{% endif %}
										</strong>
										{{message.date | date: "%a, %b %d, %Y %H:%M:%S"}}
										»
									</div>
									<div id="msg_{{message.id_msg}}_quick_mod"></div>
								</div>
							</div>
							<div class="post">
								<div class="inner" id="msg_{{message.id_msg}}">{{message.content}}</div>
							</div>
						</div>
						<div class="moderatorbar">
							<div class="smalltext modified" id="modified_{{message.id_msg}}"></div>
							<div class="signature" id="msg_{{message.id_msg}}_signature">{{user.signature}}</div>
						</div>
					</div>
					<span class="botslice"><span></span></span>
				</div>
				<hr class="post_separator">
		</div>
	{% assign i = i | plus:1 %}
{% endfor %}