<header class="p-header" id="header">
	<div class="p-header-inner">
		<div class="p-header-content">

			<div class="p-header-logo p-header-logo--image">
				<a href="/"><img src="/assets/forosdz/images/Dz_rojo_2014.png" alt="{{site.data.forums.title2}}" /></a>
			</div>

			<script class="js-extraPhrases" type="application/json">
			{
				"xfa_mcdn_months": "meses\n",
				"xfa_mcdn_days": "días",
				"xfa_mcdn_hours": "horas\n",
				"xfa_mcdn_minutes": "minutos\n",
				"xfa_mcdn_seconds": "segundos\n"
			}
			</script>
			
    		<div class="countdown-header"></div>

		</div>
	</div>
</header>

<div class="p-navSticky p-navSticky--primary" data-xf-init="sticky-header">

	<nav class="p-nav">
		<div class="p-nav-inner">
			<div class="th_holiday__categoryStrip__left"></div>
			<div class="th_holiday__categoryStrip__center"></div>
			<div class="th_holiday__categoryStrip__right"></div>
			<a class="p-nav-menuTrigger" data-xf-click="off-canvas" data-menu=".js-headerOffCanvasMenu" role="button" tabindex="0">
				<i aria-hidden="true"></i>
				<span class="p-nav-menuText">Menú</span>
			</a>

			<div class="p-nav-smallLogo">
				<a href="/"><img src="/assets/forosdz/images/Dz_rojo_2014.png" alt="{{site.data.forums.title2}}" /></a>
			</div>

			<div class="p-nav-scroller hScroller" data-xf-init="h-scroller" data-auto-scroll=".p-navEl.is-selected">
				<div class="hScroller-scroll">
					<ul class="p-nav-list js-offCanvasNavSource">
						<li>
							<div class="p-navEl is-selected" data-has-children="true">
								<a href="/" class="p-navEl-link p-navEl-link--splitMenu " data-nav-id="forums">Foros</a>
								<a data-xf-key="1" data-xf-click="menu" data-menu-pos-ref="< .p-navEl" class="p-navEl-splitTrigger" role="button" tabindex="0" aria-label="Toggle expanded" aria-expanded="false" aria-haspopup="true"></a>
								<div class="menu menu--structural" data-menu="menu" aria-hidden="true">
									<div class="menu-content">
										<a href="/nuevos-contenidos/posts/" class="menu-linkRow u-indentDepth0 js-offCanvasCopy " data-nav-id="newPosts">Nuevos mensajes</a>
										<a href="/search/?type=post" class="menu-linkRow u-indentDepth0 js-offCanvasCopy " data-nav-id="searchForums">Buscar en foros</a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="p-navEl " data-has-children="true">
								<a href="/blogs/" class="p-navEl-link p-navEl-link--splitMenu  badgeContainer badgeContainer--highlighted customBadgeContainer navxa_ams" data-badge="¡nuevo!" data-nav-id="xa_ams">Blogs</a>
								<a data-xf-key="2" data-xf-click="menu" data-menu-pos-ref="< .p-navEl" class="p-navEl-splitTrigger" role="button" tabindex="0" aria-label="Toggle expanded" aria-expanded="false" aria-haspopup="true"></a>
								<div class="menu menu--structural" data-menu="menu" aria-hidden="true">
									<div class="menu-content">
										<a href="/nuevos-contenidos/nuevas-entradas-blogs/" class="menu-linkRow u-indentDepth0 js-offCanvasCopy " rel="nofollow" data-nav-id="xa_amsNewArticles">Nuevas entradas</a>
										<a href="/nuevos-contenidos/nuevos-comentarios-blogs/" class="menu-linkRow u-indentDepth0 js-offCanvasCopy " rel="nofollow" data-nav-id="xa_amsNewComments">Nuevos comentarios</a>
										<a href="/blogs/series/" class="menu-linkRow u-indentDepth0 js-offCanvasCopy " data-nav-id="xa_amsSeries">Series</a>
										<a href="/search/?type=ams_article" class="menu-linkRow u-indentDepth0 js-offCanvasCopy " data-nav-id="xa_amsSearchArticles">Buscar en blogs</a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="p-navEl " data-has-children="true">
								<a href="/usuarios/" class="p-navEl-link p-navEl-link--splitMenu " data-nav-id="members">Usuarios</a>
								<a data-xf-key="3" data-xf-click="menu" data-menu-pos-ref="< .p-navEl" class="p-navEl-splitTrigger" role="button" tabindex="0" aria-label="Toggle expanded" aria-expanded="false" aria-haspopup="true"></a>
								<div class="menu menu--structural" data-menu="menu" aria-hidden="true">
									<div class="menu-content">
										<a href="/usuarios/list/" class="menu-linkRow u-indentDepth0 js-offCanvasCopy " data-nav-id="registeredMembers">Usuarios registrados</a>
										<a href="/online/" class="menu-linkRow u-indentDepth0 js-offCanvasCopy " data-nav-id="currentVisitors">Visitantes actuales</a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="p-navEl " >
								<a href="https://forosdz.com/confesionario" class="p-navEl-link " data-xf-key="4" data-nav-id="confess">El confesionario</a>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="p-nav-opposite">

				<div class="p-navgroup p-discovery">
					<a href="/nuevos-contenidos/" class="p-navgroup-link p-navgroup-link--iconic p-navgroup-link--whatsnew" aria-label="Novedades" title="Novedades">
						<i aria-hidden="true"></i>
						<span class="p-navgroup-linkText">Novedades</span>
					</a>

					<a href="/search/" class="p-navgroup-link p-navgroup-link--iconic p-navgroup-link--search" data-xf-click="menu" data-xf-key="/" aria-label="Buscar" aria-expanded="false" aria-haspopup="true" title="Buscar">
						<i aria-hidden="true"></i>
						<span class="p-navgroup-linkText">Buscar</span>
					</a>
					<div class="menu menu--structural menu--wide" data-menu="menu" aria-hidden="true">
						<h3 class="menu-header">Buscar</h3>
						<div class="menu-row">
							<input type="text" class="input" name="keywords" placeholder="Buscar…" aria-label="Buscar" data-menu-autofocus="true" />
						</div>

						<div class="menu-row">
							<label class="iconic"><input type="checkbox"  name="c[title_only]" value="1" /><i aria-hidden="true"></i><span class="iconic-label">Buscar sólo en títulos</span></label>
						</div>

						<div class="menu-row">
							<div class="inputGroup">
								<span class="inputGroup-text" id="ctrl_search_menu_by_member">Por:</span>
								<input type="text" class="input" name="c[users]" data-xf-init="auto-complete" placeholder="Miembro" aria-labelledby="ctrl_search_menu_by_member" />
							</div>
						</div>

						<div class="menu-footer">
							<span class="menu-footer-controls">
								<button type="submit" class="button--primary button button--icon button--icon--search"><span class="button-text">Buscar</span></button>
								<a href="/search/" class="button"><span class="button-text">Búsqueda avanzada…</span></a>
							</span>
						</div>

					</div>
				</div>
			</div>
		</div>
	</nav>

</div>

<div class="p-sectionLinks">
	<div class="p-sectionLinks-inner hScroller" data-xf-init="h-scroller">
		<div class="hScroller-scroll">
			<ul class="p-sectionLinks-list">
				<li>
					<div class="p-navEl " >
						<a href="/nuevos-contenidos/posts/" class="p-navEl-link " data-xf-key="alt+1" data-nav-id="newPosts">Nuevos mensajes</a>
					</div>
				</li>

				<li>
					<div class="p-navEl " >
						<a href="/search/?type=post" class="p-navEl-link " data-xf-key="alt+2" data-nav-id="searchForums">Buscar en foros</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="offCanvasMenu offCanvasMenu--nav js-headerOffCanvasMenu" data-menu="menu" aria-hidden="true" data-ocm-builder="navigation">
	<div class="offCanvasMenu-backdrop" data-menu-close="true"></div>
	<div class="offCanvasMenu-content">
		<div class="offCanvasMenu-header">
			Menú <a class="offCanvasMenu-closer" data-menu-close="true" role="button" tabindex="0" aria-label="Cerrar"></a>
		</div>

		<div class="p-offCanvasRegisterLink">
			<div class="offCanvasMenu-linkHolder">
				<a href="/login/" class="offCanvasMenu-link" data-xf-click="overlay" data-menu-close="true">Acceder</a>
			</div>
			<hr class="offCanvasMenu-separator" />

			<div class="offCanvasMenu-linkHolder">
				<a href="/register/" class="offCanvasMenu-link" data-xf-click="overlay" data-menu-close="true">Registrarse</a>
			</div>

			<hr class="offCanvasMenu-separator" />
		</div>
		<div class="js-offCanvasNavTarget"></div>
	</div>
</div>