<div id="ad1">
    <div style="max-width: 970px; margin: 0 auto 10px; text-align: center;">
        <div id="Boards_net_Top" style="min-height:90px;">
            <script type="text/javascript">
                googletag.cmd.push(function() {
                    deployads.push(function() { deployads.gpt.display("Boards_net_Top"); });
                });
            </script>
        </div>
    </div>
</div>

<script type="text/javascript" src="//storage.proboards.com/6831421/js/ALKoiEIKt0MtomyLPwRr.js" data-plugin="1" data-component="1"></script>
<script type="text/javascript" src="//storage.proboards.com/6831421/js/voMjeLhOXOhehzkyCejJ.js" data-plugin="2" data-component="2"></script>
<script type="text/javascript" src="//storage.proboards.com/6831421/js/tNmIhoBceVxDxEwuvddj.js" data-plugin="4" data-component="7"></script>
<link rel="stylesheet" type="text/css" href="//storage.proboards.com/6831421/css/xViPrnguAdtUAwwxenVk.css" />

<script>
if(typeof yootil != "undefined" && yootil.location.profile() && location.href.match(/\/user\/\d+\/trophies/i)){
    document.write("<style>div.show-user form.form_user_status > table {display: none; }</style>");
}
</script>

<script type="text/javascript" src="//storage.proboards.com/6831421/js/IvoGnJXpYSAzKVNYdUNj.js" data-plugin="5" data-component="10"></script>

<link rel="stylesheet" type="text/css" href="//storage.proboards.com/6831421/css/uJHqZESVXZrrdA0ScwTm.css" />

<script type="text/javascript" src="//storage.proboards.com/6831421/js/FhMCrsEAIOeWYvuRMEPZ.js" data-plugin="8" data-component="15"></script>
<script type="text/javascript" src="//storage.proboards.com/6831421/js/qYbINSZJFxRdoxVJoxcW.js" data-plugin="9" data-component="16"></script>
<script type="text/javascript" src="//storage.proboards.com/6831421/js/Fn0uBBnnaiiZWaJCBxwo.js" data-plugin="12" data-component="19"></script>
<link rel="stylesheet" type="text/css" href="//storage.proboards.com/6831421/css/TvBPKBvpkwHZMuCvCGMW.css" />