<style>
.desktop-adhesion-ad__footer-ad-container .desktop-adhesion-ad__footer-ad {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	width: 100%;
	color: #fff;
	background-color: transparent;
	position: fixed;
	bottom: 0;
	z-index: 400;
	font-size: 26px;
	-webkit-overflow-scrolling: touch;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
	pointer-events: none;
}
#desktop-adhesion-ad__inner-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#desktop-adhesion-ad__inner-container #desktop-adhesion-ad__close-button.overlay-titleCloser {
	border: 1px solid #c9cdcf;
	width: 24px;
	height: 24px;
	background: #fff;
	font-size: large;
	padding: unset;
	border-radius: 3px;
	color: #686c6e;
	pointer-events: auto;
}
#Desktop_Adhesion {
	pointer-events: auto;
}
#desktop-adhesion-ad__close-button.overlay-titleCloser {
	margin: unset;
	opacity: 1;
	position: absolute;
	line-height: 50%;
}
.overlay-titleCloser {
	float: right;
	cursor: pointer;
	text-decoration: none;
}
.overlay-titleCloser:after {
	font-family: 'font awesome 5 pro';
	font-size: inherit;
	font-style: normal;
	font-weight: 100;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "X";
}
#desktop-adhesion-ad__close-button.overlay-titleCloser {
    right: -33px;
}
#desktop-adhesion-ad__inner-container {
    max-width: 728px;
}
</style>