<div class="nav-tree-wrapper">
    <ul id="nav-tree" class="ui-helper-clearfix" role="navigation" itemscope itemtype="https://schema.org/BreadcrumbList">
        
        <li id="nav-tree-branch-0" class="nav-tree-branch ui-helper-clearfix has-menu" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="{{page.template}}/forums" itemprop="item"><span itemprop="name">{{site.data.forums.title2}}</span></a></div><meta itemprop="position" content="1"><span class="menu_arrow"><span></span></span></li>

        {% if page.layout == 'lolipalooza/forums' %}
        
        <li id="nav-tree-branch-1" class="nav-tree-branch ui-helper-clearfix" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="{{page.template}}/forums" itemprop="item"><span itemprop="name">Home</span></a></div><meta itemprop="position" content="2"><span class="menu_arrow"><span></span></span></li>

        {% elsif page.layout == 'lolipalooza/board' %}

        <li id="nav-tree-branch-1" class="nav-tree-branch ui-helper-clearfix has-menu" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="{{page.template}}{{site.data.forums.base_url}}" itemprop="item"><span itemprop="name">{{page.category}}</span></a></div><meta itemprop="position" content="2"><span class="menu_arrow"><span></span></span></li>
        
        {% if page.child_level %}
        {% assign parent_board = site.boards | where: "board", page.parent_board | first %}
        <li id="nav-tree-branch-2" class="nav-tree-branch ui-helper-clearfix has-menu" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><div><a href="{{page.template}}{{parent_board.url}}" itemprop="item"><span itemprop="name">{{parent_board.board}}</span></a></div><meta itemprop="position" content="3"><span class="menu_arrow"><span></span></span></li>
        {% endif %}

        <li id="nav-tree-branch-{% if page.child_level %}3{% else %}2{% endif %}" class="nav-tree-branch ui-helper-clearfix" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="{{page.url}}" itemprop="item"><span itemprop="name">{{page.board}}</span></a></div><meta itemprop="position" content="{% if page.child_level %}4{% else %}3{% endif %}"><span class="menu_arrow"><span></span></span></li>

        {% elsif page.layout == 'lolipalooza/thread' %}

        {% assign board = site.boards | where: "board", page.board | first %}
        {% if board.child_level %}
        {% assign parent_board = site.boards | where: "board", board.parent_board | first %}
        <li id="nav-tree-branch-1" class="nav-tree-branch ui-helper-clearfix" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="{{page.template}}{{parent_board.url}}" itemprop="item"><span itemprop="name">{{parent_board.board}}</span></a></div><meta itemprop="position" content="3"><span class="menu_arrow"><span></span></span></li>
        {% endif %}

        <li id="nav-tree-branch-{% if board.child_level %}2{% else %}1{% endif %}" class="nav-tree-branch ui-helper-clearfix" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="{{page.template}}{{board.url}}" itemprop="item"><span itemprop="name">{{board.board}}</span></a></div><meta itemprop="position" content="{% if board.child_level %}4{% else %}3{% endif %}"><span class="menu_arrow"><span></span></span></li>

        <li id="nav-tree-branch-{% if board.child_level %}3{% else %}2{% endif %}" class="nav-tree-branch ui-helper-clearfix" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="{{page.url}}" itemprop="item"><span itemprop="name">{{page.title}}</span></a></div><meta itemprop="position" content="{% if board.child_level %}5{% else %}4{% endif %}"><span class="menu_arrow"><span></span></span></li>

        {% elsif page.layout == 'lolipalooza/user' %}

        <li id="nav-tree-branch-1" class="nav-tree-branch ui-helper-clearfix" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="{{page.template}}/users" itemprop="item"><span itemprop="name">Members</span></a></div><meta itemprop="position" content="2"><span class="menu_arrow"><span></span></span></li>

        <li id="nav-tree-branch-2" class="nav-tree-branch ui-helper-clearfix" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="{{page.url}}" itemprop="item"><span itemprop="name">{{page.nickname}}</span></a></div><meta itemprop="position" content="3"><span class="menu_arrow"><span></span></span></li>

        {% elsif page.layout == 'lolipalooza/users' %}

        <li id="nav-tree-branch-1" class="nav-tree-branch ui-helper-clearfix has-menu" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="{{page.template}}/users" itemprop="item"><span itemprop="name">Members</span></a></div><meta itemprop="position" content="2"><span class="menu_arrow"><span></span></span></li>

        <li id="nav-tree-branch-2" class="nav-tree-branch ui-helper-clearfix" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="{{page.template}}/users" itemprop="item"><span itemprop="name">List</span></a></div><meta itemprop="position" content="3"><span class="menu_arrow"><span></span></span></li>

        {% elsif page.layout == 'lolipalooza/recent' %}

        <li id="nav-tree-branch-1" class="nav-tree-branch ui-helper-clearfix" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="{{page.template}}/messages/recent" itemprop="item"><span itemprop="name">Recently Updated Posts</span></a></div><meta itemprop="position" content="2"><span class="menu_arrow"><span></span></span></li>

        {% endif %}
    
    </ul>
</div>
<div class="popup_html">
<ul id="nav-tree-menu-0" role="navigation">
{% for category in site.data.forums.categories %}
    {% assign boards = site.boards | where: "category", category.name | sort: "board_order" %}
    {% if boards.size > 0 %}
    <li class="nav-tree-cat-1"><a href="{{page.template}}/forums#category-{{category.id}}"><span class="new-icon pbi-new-icon">new</span><span class="item-text">{{category.name}}</span><div class="clear"></div></a>
        <ul role="navigation">
            {% for board in boards %}
                {% unless board.child_level %}
                <li class="nav-tree-board-4"><a href="{{page.template}}{{board.url}}"><span class="new-icon pbi-new-icon">new</span><span class="item-text">{{board.board}}</span><div class="clear"></div></a>
                    {% assign childboards = site.boards | where: "child_level", 1 | where: "parent_board", board.board | sort: "board_order" %}
                    {% if childboards.size > 0 %}
                    <ul role="navigation">
                        {% for subboard in childboards %}
                        <li class="nav-tree-board-7"><a href="{{page.template}}{{subboard.url}}"><span class="new-icon pbi-new-icon">new</span><span class="item-text">{{subboard.board}}</span><div class="clear"></div></a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endunless %}
            {% endfor %}
        </ul>
    </li>
    {% endif %}
{% endfor %}
</ul>
</div>
<script type="text/javascript">
$(document).ready(function() {

var reposition   = false;
var showOn       = 'hover';
var offset       = reposition
    ? '-13 6'
    : ($.browser.msie && parseInt($.browser.version) == 8)
        ? '3 -1'
        : '3 0';
var showCallback = function(e) {
    var self = $(this);

    // Make sure all other menus are closed
    $('.popup_html > ul').not(self).menu('hide');

    // Hide the navigation if they leave it.
    setTimeout(function() {
        $(document).on('mousemove.nav', function(e) {
            var elem = $(e.target);
            if (
                elem.parents('#nav-tree, .popup_html').length == 0
                && !elem.is('#nav-tree, .popup_html')
                && !self.data('hotkey-open')
            ) {
                self.menu('hide');
                $(document).off('.nav');
            }
        });
    }, 1000);
}
$('#nav-tree-menu-0')
    .addClass('nav-tree-menu')
    .menu({
        position: {
            my: 'left top',
            at: 'left bottom',
            offset: offset,
            of: $('#nav-tree-branch-0'),
            collision: 'flipfit'
        },
        button: $('#nav-tree-branch-0'),
        showDelay: 400,
        showOn: showOn,
        beforeShow: function() {},
        show: showCallback
    });
});
</script>
