<div class="nav-tree-wrapper">
    <ul id="nav-tree" class="ui-helper-clearfix" role="navigation" itemscope itemtype="https://schema.org/BreadcrumbList">
        
        <li id="nav-tree-branch-0" class="nav-tree-branch ui-helper-clearfix has-menu" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="{{page.template}}/forums" itemprop="item"><span itemprop="name">{{site.data.forums.title2}}</span></a></div><meta itemprop="position" content="1"><span class="menu_arrow"><span></span></span></li>

        {% if page.layout == 'lolipalooza/forums' %}
        
        <li id="nav-tree-branch-1" class="nav-tree-branch ui-helper-clearfix" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="/" itemprop="item"><span itemprop="name">Home</span></a></div><meta itemprop="position" content="2"><span class="menu_arrow"><span></span></span></li>

        {% elsif page.layout == 'lolipalooza/board' %}

        <li id="nav-tree-branch-1" class="nav-tree-branch ui-helper-clearfix has-menu" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="{{page.template}}{{site.data.forums.base_url}}" itemprop="item"><span itemprop="name">{{page.category}}</span></a></div><meta itemprop="position" content="2"><span class="menu_arrow"><span></span></span></li>
        
        {% if page.child_level %}
        {% assign parent_board = site.boards | where: "board", page.parent_board | first %}
        <li id="nav-tree-branch-2" class="nav-tree-branch ui-helper-clearfix has-menu" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem"><div><a href="{{page.template}}{{parent_board.url}}" itemprop="item"><span itemprop="name">{{parent_board.board}}</span></a></div><meta itemprop="position" content="3"><span class="menu_arrow"><span></span></span></li>
        {% endif %}

        <li id="nav-tree-branch-{% if page.child_level %}3{% else %}2{% endif %}" class="nav-tree-branch ui-helper-clearfix" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="{{page.url}}" itemprop="item"><span itemprop="name">{{page.board}}</span></a></div><meta itemprop="position" content="{% if page.child_level %}4{% else %}3{% endif %}"><span class="menu_arrow"><span></span></span></li>

        {% elsif page.layout == 'lolipalooza/thread' %}

        <li id="nav-tree-branch-1" class="nav-tree-branch ui-helper-clearfix" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="/board/3/discusiones-generales" itemprop="item"><span itemprop="name">Discusiones generales</span></a></div><meta itemprop="position" content="2"><span class="menu_arrow"><span></span></span></li>

        <li id="nav-tree-branch-2" class="nav-tree-branch ui-helper-clearfix" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="/thread/3/qu-es-el-amor" itemprop="item"><span itemprop="name">¿Qué es el amor?</span></a></div><meta itemprop="position" content="3"><span class="menu_arrow"><span></span></span></li>

        {% elsif page.layout == 'lolipalooza/user' %}

        <li id="nav-tree-branch-1" class="nav-tree-branch ui-helper-clearfix" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="/members" itemprop="item"><span itemprop="name">Members</span></a></div><meta itemprop="position" content="2"><span class="menu_arrow"><span></span></span></li>

        <li id="nav-tree-branch-2" class="nav-tree-branch ui-helper-clearfix" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="/user/1" itemprop="item"><span itemprop="name">Mumifag Lalolanda</span></a></div><meta itemprop="position" content="3"><span class="menu_arrow"><span></span></span></li>

        {% elsif page.layout == 'lolipalooza/users' %}

        <li id="nav-tree-branch-1" class="nav-tree-branch ui-helper-clearfix has-menu" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="/members" itemprop="item"><span itemprop="name">Members</span></a></div><meta itemprop="position" content="2"><span class="menu_arrow"><span></span></span></li>

        <li id="nav-tree-branch-2" class="nav-tree-branch ui-helper-clearfix" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="/members" itemprop="item"><span itemprop="name">List</span></a></div><meta itemprop="position" content="3"><span class="menu_arrow"><span></span></span></li>

        {% elsif page.layout == 'lolipalooza/recent' %}

        <li id="nav-tree-branch-1" class="nav-tree-branch ui-helper-clearfix" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><div><a href="/posts/recent" itemprop="item"><span itemprop="name">Recently Updated Posts</span></a></div><meta itemprop="position" content="2"><span class="menu_arrow"><span></span></span></li>

        {% endif %}
    
    </ul>
</div>
<div class="popup_html">
<ul id="nav-tree-menu-0" role="navigation">
<li class="nav-tree-cat-1"><a href="/#category-1"><span class="new-icon pbi-new-icon">new</span><span class="item-text">General</span><div class="clear"></div></a>
<ul role="navigation">
<li class="nav-tree-board-1"><a href="https://lolipalooza.boards.net/board/1/noticias-presentaciones"><span class="new-icon pbi-new-icon">new</span><span class="item-text">Noticias y Presentaciones</span><div class="clear"></div></a></li>
<li class="nav-tree-board-3"><a href="https://lolipalooza.boards.net/board/3/discusiones-generales"><span class="new-icon pbi-new-icon">new</span><span class="item-text">Discusiones generales</span><div class="clear"></div></a></li>
<li class="nav-tree-board-4"><a href="https://lolipalooza.boards.net/board/4/el-tano"><span class="new-icon pbi-new-icon">new</span><span class="item-text">El sótano</span><div class="clear"></div></a>
<ul role="navigation">
<li class="nav-tree-board-7"><a href="https://lolipalooza.boards.net/board/7/prueba"><span class="new-icon pbi-new-icon">new</span><span class="item-text">Prueba</span><div class="clear"></div></a></li>
<li class="nav-tree-board-6"><a href="https://lolipalooza.boards.net/board/6/test"><span class="new-icon pbi-new-icon">new</span><span class="item-text">Test</span><div class="clear"></div></a></li>
</ul>
</li>
</ul>
</li>
<li class="nav-tree-cat-2"><a href="/#category-2"><span class="new-icon pbi-new-icon">new</span><span class="item-text">Moderators</span><div class="clear"></div></a>
<ul role="navigation">
<li class="nav-tree-board-2"><a href="https://lolipalooza.boards.net/board/2/moderator-discussion"><span class="new-icon pbi-new-icon">new</span><span class="item-text">Moderator Discussion</span><div class="clear"></div></a></li>
</ul>
</li>
</ul>
</div>
<script type="text/javascript">
$(document).ready(function() {

var reposition   = false;
var showOn       = 'hover';
var offset       = reposition
    ? '-13 6'
    : ($.browser.msie && parseInt($.browser.version) == 8)
        ? '3 -1'
        : '3 0';
var showCallback = function(e) {
    var self = $(this);

    // Make sure all other menus are closed
    $('.popup_html > ul').not(self).menu('hide');

    // Hide the navigation if they leave it.
    setTimeout(function() {
        $(document).on('mousemove.nav', function(e) {
            var elem = $(e.target);
            if (
                elem.parents('#nav-tree, .popup_html').length == 0
                && !elem.is('#nav-tree, .popup_html')
                && !self.data('hotkey-open')
            ) {
                self.menu('hide');
                $(document).off('.nav');
            }
        });
    }, 1000);
}
$('#nav-tree-menu-0')
    .addClass('nav-tree-menu')
    .menu({
        position: {
            my: 'left top',
            at: 'left bottom',
            offset: offset,
            of: $('#nav-tree-branch-0'),
            collision: 'flipfit'
        },
        button: $('#nav-tree-branch-0'),
        showDelay: 400,
        showOn: showOn,
        beforeShow: function() {},
        show: showCallback
    });
});
</script>
