<div class="body-footer-shim"></div>

		<div class="body-footer-wrapper">
			<div class="footer-features">
	<div id="footer-feature-buttons" class="footer-feature-buttons"><span><h3><span>FEATURED</span><span>CONTENT</span></h3><div><button id="footer-feature-btn-games" class="footer-feature-btn-games selected">Games</button><button id="footer-feature-btn-movies" class="footer-feature-btn-movies">Movies</button><button id="footer-feature-btn-audio" class="footer-feature-btn-audio">Audio</button><button id="footer-feature-btn-art" class="footer-feature-btn-art">Art</button><button id="footer-feature-btn-channels" class="footer-feature-btn-channels">Channels</button><button id="footer-feature-btn-users" class="footer-feature-btn-users">Users</button></span></div>
	</div>
	<div class="footer-features-items" id="footer-features-items">
		<div>
			<a class="featureshift-left" id="featureshift-left"><span></span></a>
		</div>
		<div class="featured-items" id="footer-featured-items"><div class="flexbox">
			<div class="featured-item"><a class="portalsubmission-footer-feature game" href="https://www.newgrounds.com/portal/view/849998" title="Five Nights at Fulp's">
	<h4>Five Nights at Fulp's</h4>
	<div class="portalsubmision-details">
		<div class="rated-t"><img src="https://picon.ngfiles.com/849000/flash_849998_medium.png?f1657685789" alt="Five Nights at Fulp's" width="93" height="60"></div>
		<div class="portalsubmision-details-inner">
			<p>Tomar has trapped you (Tom Fulp) inside the Newgrounds office</p>
			<div class="score-and-views">
	<div class="star-score" title="Score: 4.62/5.00">
	<span style="width:92%"></span>
</div>	<span class="views">22,205 Views</span>
</div>		</div>
	</div>
</a>
</div>
			<div class="featured-item"><a class="portalsubmission-footer-feature game" href="https://www.newgrounds.com/portal/view/850550" title="GIMMIKO">
	<h4>GIMMIKO</h4>
	<div class="portalsubmision-details">
		<div class="rated-e"><img src="https://picon.ngfiles.com/850000/flash_850550_medium.png?f1658084975" alt="GIMMIKO" width="93" height="60"></div>
		<div class="portalsubmision-details-inner">
			<p>Fend off hoards of Yokai using magical gimmick dice! Made in 48 hours for GMTKJAM2022</p>
			<div class="score-and-views">
	<div class="star-score" title="Score: 4.47/5.00">
	<span style="width:89%"></span>
</div>	<span class="views">5,068 Views</span>
</div>		</div>
	</div>
</a>
</div>
			<div class="featured-item"><a class="portalsubmission-footer-feature game" href="https://www.newgrounds.com/portal/view/850418" title="RUN FOR THE HILLS! YOUR FAVOURITE NEWGROUNDS USERS ARE COMING FOR YOU!!!">
	<h4>RUN FOR THE HILLS! YOUR FAVOURITE NEWGROUNDS USERS ARE COMING FOR YOU!!!</h4>
	<div class="portalsubmision-details">
		<div class="rated-m"><img src="https://picon.ngfiles.com/850000/flash_850418_medium.png?f1658003208" alt="RUN FOR THE HILLS! YOUR FAVOURITE NEWGROUNDS USERS ARE COMING FOR YOU!!!" width="93" height="60"></div>
		<div class="portalsubmision-details-inner">
			<p>KILL THEM!</p>
			<div class="score-and-views">
	<div class="star-score" title="Score: 4.18/5.00">
	<span style="width:84%"></span>
</div>	<span class="views">5,085 Views</span>
</div>		</div>
	</div>
</a>
</div>
	</div></div>
		<div>
			<a class="featureshift-right" id="featureshift-right"><span></span></a>
		</div>
	</div>
</div>