<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="theme-color" content="#262425">
	<meta name="monetization" content="$ilp.uphold.com/WXkr6LGDUiPA">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css?stamp=1658401129" type="text/css" media="all" />
	<link rel="stylesheet" href="/assets/newgrounds/styles/ng_2015.css?stamp=1658401129" type="text/css" media="all" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css?stamp=1658401129" type="text/css" media="all" />

	
	<script>
		// <![CDATA[
			document.domain = "newgrounds.com";
		// ]]>
	</script>

	<script>
		console.log("self.crossOriginIsolated (via main site):", self.crossOriginIsolated);
	</script>

	
	<script src="https://js.ngfiles.com/jquery/jquery-3.6.0.min.js?ngcache=1623307543"></script>	<script src="https://js.ngfiles.com/jquery/jquery-ui.1.12.1.min.js?ngcache=1578181382"></script>
	<script src="https://js.ngfiles.com/uploads/fine-uploader.js?ngcache=1618242726"></script>	<script src="https://js.ngfiles.com/misc/postscribe.js?ngcache=1578181382"></script>
							<script src="https://js.ngfiles.com/ng_publish.js?1658401133&ngcache=1658401134"></script>					<script src="https://js.ngfiles.com/jquery/jquery.ui.touch-punch.min.js?ngcache=1578181382"></script>					<script src="https://js.ngfiles.com/audio/howler.js?ngcache=1578181371"></script>					<script src="https://js.ngfiles.com/ng_media.js?1657280564"></script>			
	<script>
	// <![CDATA[
				PHP.set('now', '1658546362');
		PHP.set('datetime', '2022-07-22 23:19:22');
										PHP.set('user_logged_in', false);
		PHP.set('user_is_supporter', false);

							PHP.set('_passport_html', '<iframe src="https://www.newgrounds.com/passport/mode/iframe" class="passport_frame"></iframe>');
			PHP.set('_passport_create_html', '<iframe src="https://www.newgrounds.com/passport/mode/iframe/signup/new" class="passport_frame"></iframe>');
			PHP.set('_passport_redirect', "https:\/\/www.newgrounds.com\/bbs");

						PHP.set('uuid_prefix',"4ff1bu-");
		
	// ]]>
	</script>

				<script src="https://js.ngfiles.com/global/passport.js?ngcache=1578181381"></script>	
		
	<script src="//js.ngfiles.com/quilljs/quill.js?1658401133"></script>	<script src="//js.ngfiles.com/quilljs/quill-extensions.js?1658401133"></script>	<script src="//js.ngfiles.com/quilljs/ng-quill.js?1658401133"></script>	
		
	<script src="https://js.ngfiles.com/css_browser_selector.js?ngcache=1578181380"></script>
		
				<script>
	// <![CDATA[
		var $ng_adcode_ctime = 1658546362;
		var $ng_adcode_country = 2;
		var $ng_adcode_revsharing_id = null;
		var $ng_adcode_page = "general";
		var $ng_adcode_suitability = "E";
	//]]>
</script>
	
		
			
		
		
	<link rel="icon" type="image/png" href="https://www.newgrounds.com/img/icons/favicon.png" />
	<link rel="shortcut icon" href="https://www.newgrounds.com/favicon.ico" type="image/vnd.microsoft.icon" />
	<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon.png" />
			<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon-57x57.png" sizes="57x57" />
					<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon-72x72.png" sizes="72x72" />
					<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon-76x76.png" sizes="76x76" />
					<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon-114x114.png" sizes="114x114" />
					<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon-120x120.png" sizes="120x120" />
					<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon-144x144.png" sizes="144x144" />
					<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon-152x152.png" sizes="152x152" />
					<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon-180x180.png" sizes="180x180" />