						<div class="header-deck">
								<div class="ng-latest-supporter-wide">
	<div class="ng-latest-supporter-inner">
		<div class="ng-latest-supporter-image">
			<div class="user-icon-bordered">
				<a href="https://serenefalconer.newgrounds.com" target="_blank"><svg viewBox="0 0 248 248" class="svgmask sz-large s1 c6" >
	<image href="https://uimg.ngfiles.com/icons/8303/8303057_large.jpg?f1659140688"/>
	<use href="#path_s1"/>
</svg></a>
			</div>
		</div>
		<div class="ng-latest-supporter-meta" style="flex:1">
			<p class="ng-latest-supporter-title">Someone gifted <a href="https://serenefalconer.newgrounds.com" target="blank">sereneFalconer</a> supporter status!</p>
			<p class="ng-latest-supporter-message">
								We need <strong>you</strong> on the team, too.
			</p>
			<p class="ng-latest-supporter-message">Support Newgrounds and get tons of perks for just $2.99!</p>
		</div>
		<div class="ng-latest-supporter-meta">
							<p style="text-align: center; padding-bottom: 4px"><a href="#" id="supporter_message_pp_open">Create a Free Account</a> and then..</p>

				<script>
				jQuery('#supporter_message_pp_open').on('click', function() {
					PassportHandler.open();
					return false;
				});
				</script>
						<a class="ng-latest-supporter-button" href="https://www.newgrounds.com/supporter">Become a Supporter!</a>
		</div>
	</div>
</div>
							</div>