<div class="header-nav-row" id="header-nav-row">
			<div class="header-nav-container header-nav-relative" id="header-nav-container">
				<nav id="topnav" class="header-nav-buttons">
					<a

						href="https://www.newgrounds.com/movies"
						class="header-nav-button-movies"
												>Movies</a><a

						href="https://www.newgrounds.com/games"
						class="header-nav-button-games"
												>Games</a><a

						href="https://www.newgrounds.com/audio"
						class="header-nav-button-audio"
												>Audio</a><a

						href="https://www.newgrounds.com/art"
						class="header-nav-button-art"
												>Art</a><a

						href="https://www.newgrounds.com/portal"
						class="header-nav-button-channels"
												>Portal</a><a

						href="https://www.newgrounds.com/community"
						class="header-nav-button-community"
												>Community</a><a

						href="https://www.newgrounds.com/social"
						class="header-nav-button-feed"
													rel="nofollow"
												>Your Feed</a>				</nav>
			</div>
		</div>

		<div id="ng-global-video-player-shimwrap"><div id="ng-global-video-player-shim"></div></div>
<div id="ng-global-video-player-wrapper">
	<div id="ng-global-video-player">
		<script>
			ngutils.components.video.player.getGlobal({});
		</script>
	</div>
</div>
					<div class="skin-wrapper ">
				<div class="skin-inner">
					<div class="background" style="
						background-image: url('//img.ngfiles.com/themes/000/skin-gris9.jpg?1591116061');
					"><img src="//img.ngfiles.com/themes/000/skin-gris9.jpg?1591116061" alt="Newgrounds Background Image Theme"></div>
					<div class="skin-bars"></div>
				</div>
			</div>
		
		
		<div id="header-insert"></div>