<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="/assets/smf/curve/scripts/index.css" />
	<script type="text/javascript" src="/assets/smf/curve/scripts/script.js"></script>
	<script type="text/javascript" src="/assets/smf/curve/scripts/theme.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta name="description" content="{{page.board}}" />

	<meta name="robots" content="noindex">
	
	<title>{{page.board}}</title>

	<link rel="canonical" href="http://smf.halabalooza.orgy/index.php/board,23.0.html" />
	<link rel="help" href="http://smf.halabalooza.orgy/index.php?action=help" />
	<link rel="search" href="http://smf.halabalooza.orgy/index.php?action=search" />
	<link rel="contents" href="{{site.data.forums.base_url}}" />
	<link rel="alternate" type="application/rss+xml" title="{{site.data.forums.title}} - RSS" href="http://smf.halabalooza.orgy/index.php?type=rss;action=.xml" />
	<link rel="index" href="http://smf.halabalooza.orgy/index.php/board,23.0.html" />
	<script type="text/javascript" src="http://localhost/halabalooza/Themes/default/scripts/ohyoutube.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://localhost/halabalooza/Themes/default/css/oharaEmbed.css" />
</head>
<body>
<div id="wrapper" style="width: 90%">
	<div id="header"><div class="frame">
		<div id="top_section">
			<h1 class="forumtitle">
				<a href="{{site.data.forums.base_url}}">{{site.data.forums.title}}</a>
			</h1>
			<img id="upshrink" src="/assets/smf/curve/img/upshrink.png" alt="*" title="Encoger o expandir encabezado." style="display: none;" />
			<div id="siteslogan" class="floatright">{{site.data.forums.subtitle}}</div>
		</div>
		<div id="upper_section" class="middletext"></div>
		<br class="clear" />
		
		{% include smf/navigator.html %}
		<br class="clear" />
	</div></div>
	<div id="content_section"><div class="frame">
		<div id="main_content_section">
	<div class="navigate_section">
		<ul>
			<li>
				<a href="{{site.data.forums.base_url}}"><span>{{site.data.forums.title}}</span></a> &#187;
			</li>
			<li>
				<a href="{{site.data.forums.base_url}}#c7"><span>{{page.category}}</span></a> &#187;
			</li>
			{% if page.child_level %}
			{% assign parent_board = site.boards | where: "board", page.parent_board | first %}
			<li>
				<a href="{{parent_board.url}}"><span>{{parent_board.board}}</span></a> &#187;
			</li>
			{% endif %}
			<li class="last">
				<a href="{{page.url}}"><span>{{page.board}}</span></a>
			</li>
		</ul>
	</div><script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script><!--Headers--><!--End Headers-->
	<a id="top"></a>
	{% assign childboards = site.boards | where: "child_level", 1 | where: "parent_board", page.board | sort: "board_order" %}
	{% if childboards.size > 0 %}
	<div class="tborder childboards" id="board_{{page.board.id}}_childboards">
		<div class="cat_bar">
			<h3 class="catbg">Subforos</h3>
		</div>
		<div class="table_frame">
			<table class="table_list">
				<tbody id="board_{{page.board.id}}_children" class="content">
				{% for board in childboards %}
				<tr id="board_{{board.id}}" class="windowbg2">
					<td class="icon windowbg"><a href="{{board.url}}" name="b{{board.id}}"><img src="/assets/smf/curve/ImagesOnBoard/{% if board.icon %}{{board.icon}}{% else %}default1.png{% endif %}" alt="{{board.board}}" title="No hay nuevos Mensajes" />
						</a>
					</td>
					<td class="info">
						<a class="subject" href="{{board.url}}" name="b{{board.id}}">{{board.board}}</a>
						<p>{{board.description}}</p>
					</td>
					<td class="stats windowbg">
						{% assign boards1 = site.boards | where: "board", board.board %}
						{% assign boards2 = site.boards | where: "parent_board", board.board %}
						{% assign boards = boards1 | concat: boards2 %}

						{% assign threads = "" | split: "," %}
						{% for board in boards %}
							{% assign threads2 = site.threads | where: "board", board.board %}
							{% assign threads = threads | concat: threads2 %}
						{% endfor %}

						{% assign messages = "" | split: "," %}
						{% for thread in threads %}
							{% assign messages2 = site.messages | where: "thread", thread.title %}
							{% assign messages = messages | concat: messages2 | sort: "date" %}
						{% endfor %}

						{% assign last_user = site.users | where: "nickname", messages.last.user | first %}
						{% assign last_msg_thread = site.threads | where: "title", messages.last.thread | first %}

						<p>{{messages.size}} Mensajes <br />
						{{threads.size}} Temas
						</p>
					</td>
					<td class="lastpost">
						{% if last_user %}
							{% if last_user.avatar %}
								{% if last_user.avatar contains "http" %}
								{% assign last_user_avatar = last_user.avatar %}
								{% else %}
								{% capture last_user_avatar %}/assets/smf/attachments/{{last_user.avatar}}{% endcapture %}
								{% endif %}
							{% endif %}
							<div style="float: left; margin-right: 4px;"><img src="{{last_user_avatar}}" alt="" width="38" height="38" align="middle" border="0" /></div>
							<p>
								<strong>Último</strong>  por <a href="{{last_user.url}}">{{last_user.nickname}}</a><br />
								en <a href="{{last_msg_thread.url}}" title="{{messages.last.subject}}">{{messages.last.subject}}</a><br />
								{{messages.last.date | date: "%a, %b %d, %Y %H:%M:%S"}}
							</p>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endif %}
	{% unless page.description == "" %}
		<p class="description_board">{{page.description}}</p>
	{% endunless %}
	<div class="pagesection" style="visibility:hidden;">
		<div class="pagelinks floatleft">Páginas: [<strong>1</strong>] </div>
	</div>
	<div class="tborder topic_table" id="messageindex">
		<table class="table_grid" cellspacing="0">
			<thead>
				<tr class="catbg">
					<th scope="col" class="first_th" width="8%" colspan="2">&nbsp;</th>
					<th scope="col" class="lefttext"><a href="#">Asunto</a> / <a href="#">Iniciado por</a></th>
					<th scope="col" width="14%"><a href="#">Respuestas</a> / <a href="#">Vistas</a></th>
					<th scope="col" class="lefttext last_th" width="22%"><a href="#">Último <img src="/assets/smf/curve/img/sort_down.gif" alt="" /></a></th>
				</tr>
			</thead>
			<tbody>
				<!--
				<tr class="windowbg2 whos_viewing">
					<td colspan="6" class="smalltext"><a href="http://smf.halabalooza.orgy/index.php?action=profile;u=1078">yap320sorgesoureDug</a> y 0 Visitantes están viendo este foro.
					</td>
				</tr>
				-->
				{% assign threads = site.threads | where: "board", page.board %}

				{% assign sticky_threads_count = 0 %}
				{% for thread in threads %}
					{% if thread.sticky %}
						{% assign sticky_threads_count = sticky_threads_count | plus: 1 %}
					{% endif %}
				{% endfor %}

				{% if sticky_threads_count > 0 %}
					<tr class="titlebg"><td colspan="8"><b>Important Topics</b></td></tr>
					{% for thread in threads %}
					{% if thread.sticky %}
					{% assign messages = site.messages | where: "thread", thread.title %}
					{% assign starter_user = site.users | where: "nickname", thread.user | first %}
					{% assign last_user = site.users | where: "nickname", messages.last.user | first %}
					{% if last_user.avatar %}
						{% if last_user.avatar contains "http" %}
						{% assign last_user_avatar = last_user.avatar %}
						{% else %}
						{% capture last_user_avatar %}/assets/smf/attachments/{{last_user.avatar}}{% endcapture %}
						{% endif %}
					{% else %}
						{% assign last_user_avatar = "/assets/smf/noavatar.gif" %}
					{% endif %}
					<tr>
						<td class="icon1 stickybg">
							<img src="/assets/smf/curve/img/topic/veryhot_post_sticky.gif" alt="" />
						</td>
						<td class="icon2 stickybg">
							<img src="/assets/smf/curve/img/post/{% if thread.icon %}{{thread.icon}}{% else %}xx.gif{% endif %}"/>
						</td>
						<td class="subject stickybg2">
							<div id="topic_{{thread.id}}">
								<strong>Importante: <span id="msg_{{messages.first.id_msg}}"><a href="{{thread.url}}">{{thread.title}}</a></span></strong>
								<p>
									Iniciado por <a href="{{starter_user.url}}" title="Ver perfil de {{starter_user.nickname}}">{{starter_user.nickname}}</a>
									<!--<small id="pages909698">&#171; <a class="navPages" href="http://smf.halabalooza.orgy/index.php/topic,3482.0.html">1</a> <a class="navPages" href="http://smf.halabalooza.orgy/index.php/topic,3482.20.html">2</a>  &#187;</small>-->
								</p>
							</div>
						</td>
						<td class="stats stickybg">
							{{messages.size}} Respuestas
							<br />
							{{thread.views}} Vistas
						</td>
						<td class="lastpost stickybg2">
							<div style="float: left; margin-right: 4px;"><img src="{{last_user_avatar}}" alt="" width="38" height="38" border="0" align="middle"></div>
							<a href="{{thread.url}}#new"><img src="/assets/smf/curve/img/icons/last_post.gif" alt="Último" title="Último" /></a>
							{{ messages.last.date | date_to_rfc822 | replace: "-0400", "" }}<br />
							por <a href="{{last_user.url}}">{{last_user.nickname}}</a>
						</td>
					</tr>
					{% endif %}
					{% endfor %}
					
					<tr class="titlebg"><td colspan="8"><b>Normal Topics</b></td></tr>
				{% endif %}

				{% assign threads = site.threads | where: "board", page.board %}
				{% assign last_messages = "" | split: "," %}
				{% for thread in threads %}
					{% unless thread.sticky %}
					{% assign last_message = site.messages | where: "thread", thread.title | last %}
					{% assign last_messages = last_messages | push: last_message %}
					{% endunless %}
				{% endfor %}
				{% assign last_messages = last_messages | sort: "date" %}

				{% for last_message in last_messages reversed %}
					{% assign thread = site.threads | where: "title", last_message.thread | first %}
					{% assign messages = site.messages | where: "thread", thread.title %}
					{% assign starter_user = site.users | where: "nickname", thread.user | first %}
					{% assign last_user = site.users | where: "nickname", messages.last.user | first %}
					{% if last_user.avatar %}
						{% if last_user.avatar contains "http" %}
						{% assign last_user_avatar = last_user.avatar %}
						{% else %}
						{% capture last_user_avatar %}/assets/smf/attachments/{{last_user.avatar}}{% endcapture %}
						{% endif %}
					{% else %}
						{% assign last_user_avatar = "/assets/smf/noavatar.gif" %}
					{% endif %}
					<tr>
						<td class="icon1 windowbg">
							<img src="/assets/smf/curve/img/topic/my_veryhot_post.gif" alt="" />
						</td>
						<td class="icon2 windowbg">
							<img src="/assets/smf/curve/img/post/{% if thread.icon %}{{thread.icon}}{% else %}xx.gif{% endif %}" alt="" />
						</td>
						<td class="subject windowbg2">
							<div id="topic_{{thread.id}}">
								<span id="msg_{{messages.first.id_msg}}"><a href="{{thread.url}}">{{thread.title}}</a></span>
								<p>
									Iniciado por <a href="{{starter_user.url}}" title="Ver perfil de {{starter_user.nickname}}">{{starter_user.nickname}}</a>
								</p>
							</div>
						</td>
						<td class="stats windowbg">
							{{messages.size | minus: 1}} Respuestas
							<br />
							{{thread.views}} Vistas
						</td>
						<td class="lastpost windowbg2">
							<div style="float: left; margin-right: 4px;"><img src="{{last_user_avatar}}" alt="" width="38" height="38" align="middle" border="0" /></div>
							<a href="{{thread.url}}#new"><img src="/assets/smf/curve/img/icons/last_post.gif" alt="Último" title="Último" /></a>
							{{ messages.last.date | date_to_rfc822 | replace: "-0400", "" }}<br />
							por <a href="{{last_user.url}}">{{last_user.nickname}}</a>
						</td>
					</tr>
				{% endfor %}
				
				<tr class="titlebg">
					<td colspan="6" align="right">
						<input value="Ir" style="visibility: hidden;" type="button">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<a id="bot"></a>
	<input type="hidden" name="e2bff33874" value="7a879e6e43c43d66dbdea1a223cb7c1e" />
	<div class="pagesection" style="visibility:hidden;">
		<div class="pagelinks">Páginas: [<strong>1</strong>] </div>
	</div>
	<div class="navigate_section">
		<ul>
			<li>
				<a href="{{site.data.forums.base_url}}"><span>{{site.data.forums.title}}</span></a> &#187;
			</li>
			<li>
				<a href="{{site.data.forums.base_url}}#c7"><span>{{page.category}}</span></a> &#187;
			</li>
			<li class="last">
				<a href="{{page.url}}"><span>{{page.board}}</span></a>
			</li>
		</ul>
	</div>
	<div class="tborder" id="topic_icons">
		<div class="description">
			<p class="floatright" id="message_index_jump_to">&nbsp;</p>
			<p class="floatleft smalltext">
				<img src="/assets/smf/curve/img/topic/my_normal_post.gif" alt="" align="middle" /> Temas en los que has publicado<br />
				<img src="/assets/smf/curve/img/topic/normal_post.gif" alt="" align="middle" /> Tema normal<br />
				<img src="/assets/smf/curve/img/topic/hot_post.gif" alt="" align="middle" /> Tema Candente (Más de 15 respuestas)<br />
				<img src="/assets/smf/curve/img/topic/veryhot_post.gif" alt="" align="middle" /> Tema Muy Candente (Más de 25 respuestas)
			</p>
			<p class="smalltext">
				<img src="/assets/smf/curve/img/icons/quick_lock.gif" alt="" align="middle" /> Tema bloqueado<br />
				<img src="/assets/smf/curve/img/icons/quick_sticky.gif" alt="" align="middle" /> Fijar tema<br />
				<img src="/assets/smf/curve/img/topic/normal_poll.gif" alt="" align="middle" /> Encuesta
			</p>
			<br class="clear" />
		</div>
	</div>
<script type="text/javascript" src="http://localhost/halabalooza/Themes/default/scripts/topic.js"></script>
<script type="text/javascript"><!-- // --><![CDATA[

	// Hide certain bits during topic edit.
	hide_prefixes.push("lockicon", "stickyicon", "pages", "newicon");

	// Use it to detect when we've stopped editing.
	document.onclick = modify_topic_click;

	var mouse_on_div;
	function modify_topic_click()
	{
		if (in_edit_mode == 1 && mouse_on_div == 0)
			modify_topic_save("7a879e6e43c43d66dbdea1a223cb7c1e", "e2bff33874");
	}

	function modify_topic_keypress(oEvent)
	{
		if (typeof(oEvent.keyCode) != "undefined" && oEvent.keyCode == 13)
		{
			modify_topic_save("7a879e6e43c43d66dbdea1a223cb7c1e", "e2bff33874");
			if (typeof(oEvent.preventDefault) == "undefined")
				oEvent.returnValue = false;
			else
				oEvent.preventDefault();
		}
	}

	// For templating, shown when an inline edit is made.
	function modify_topic_show_edit(subject)
	{
		// Just template the subject.
		setInnerHTML(cur_subject_div, '<input type="text" name="subject" value="' + subject + '" size="60" style="width: 95%;" maxlength="80" onkeypress="modify_topic_keypress(event)" class="input_text" /><input type="hidden" name="topic" value="' + cur_topic_id + '" /><input type="hidden" name="msg" value="' + cur_msg_id.substr(4) + '" />');
	}

	// And the reverse for hiding it.
	function modify_topic_hide_edit(subject)
	{
		// Re-template the subject!
		setInnerHTML(cur_subject_div, '<a href="http://smf.halabalooza.orgy/index.php/topic,' + cur_topic_id + '.0.html">' + subject + '<' +'/a>');
	}

// ]]></script><!--Footers--><!--End Footers-->
		</div>
	</div></div>
	<div id="footer_section"><div class="frame">
		{% include template-selector.html %}
		<ul class="reset">
			<li class="copyright">
		<span class="smalltext" style="display: inline; visibility: visible; font-family: Verdana, Arial, sans-serif;"><a href="http://www.simplemachines.org/" title="Foro Simple Machines" target="_blank" class="new_win">Powered by SMF 2.0 RC4</a> | <a href="http://www.simplemachines.org/about/copyright.php" title="Software Libre para Foros" target="_blank" class="new_win">SMF &copy; 2006&ndash;2009, Simple Machines LLC</a> | <a href="http://www.smfsimple.com" title="Smf - Soporte - Tutoriales - Mods - Themes">SMF Simple &copy;
</a>
		</span><br /><div align="center"><span class="smalltext">Protected by: <a href="http://www.eastcoastrollingthunder.com" target="_blank" class="new_win">Forum Firewall &copy; 2010-2011</a></span></div></li>
			<li><a id="button_xhtml" href="http://validator.w3.org/check/referer" target="_blank" class="new_win" title="XHTML 1.0 válido!"><span>XHTML</span></a></li>
			<li><a id="button_rss" href="http://smf.halabalooza.orgy/index.php?action=.xml;type=rss" class="new_win"><span>RSS</span></a></li>
			<li class="last"><a id="button_wap2" href="http://smf.halabalooza.orgy/index.php?wap2" class="new_win"><span>WAP2</span></a></li>
		</ul>
	</div></div>
</div>
</body></html>