<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="/assets/smf/curve/scripts/index.css" />
	<script type="text/javascript" src="/assets/smf/curve/scripts/script.js"></script>
	<script type="text/javascript" src="/assets/smf/curve/scripts/theme.js"></script>
	
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta name="description" content="{{page.title}}" />

	<meta name="robots" content="noindex">
	
	<title>{{page.title}}</title>

	<link rel="canonical" href="http://smf.halabalooza.orgy/index.php/topic,598.0.html" />
	<link rel="help" href="http://smf.halabalooza.orgy/index.php?action=help" />
	<link rel="search" href="http://smf.halabalooza.orgy/index.php?action=search" />
	<link rel="contents" href="{{site.data.forums.base_url}}" />
	<link rel="alternate" type="application/rss+xml" title="{{site.data.forums.title}} - RSS" href="http://smf.halabalooza.orgy/index.php?type=rss;action=.xml" />
	<link rel="prev" href="http://smf.halabalooza.orgy/index.php/topic,598.0/prev_next,prev.html" />
	<link rel="next" href="http://smf.halabalooza.orgy/index.php/topic,598.0/prev_next,next.html" />
	<link rel="index" href="http://smf.halabalooza.orgy/index.php/board,22.0.html" />
	<link rel="stylesheet" type="text/css" id="editor_css" href="http://localhost/halabalooza/Themes/default/css/editor.css" />
		
	<!--<script type="text/javascript" src="http://localhost/halabalooza/Themes/default/scripts/editor.js?rc3"></script>-->
	<script type="text/javascript"><!-- // --><![CDATA[
		var _ohWidth = '640';
		var _ohHeight = '360';
	// ]]></script>
	<script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript src="//code.jquery.com/jquery-1.9.1.min.js"%3E%3C/script%3E'))</script>
	<script type="text/javascript" src="/assets/smf/ohyoutube.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/smf/oharaEmbed.css" />
</head>
<body>
<div id="wrapper" style="width: 90%">
	<div id="header"><div class="frame">
		<div id="top_section">
			<h1 class="forumtitle">
				<a href="{{site.data.forums.base_url}}">{{site.data.forums.title}}</a>
			</h1>
			<img id="upshrink" src="/assets/smf/curve/img/upshrink.png" alt="*" title="Encoger o expandir encabezado."/>
			<div id="siteslogan" class="floatright">{{site.data.forums.subtitle}}</div>
		</div>
		<div id="upper_section" class="middletext"></div>
		<br class="clear" />

		{% include smf/navigator.html %}
		<br class="clear" />
	</div></div>
	<div id="content_section"><div class="frame">
		<div id="main_content_section">
	{% assign board = site.boards | where: "board", page.board | first %}
	<div class="navigate_section">
		<ul>
			<li>
				<a href="{{site.data.forums.base_url}}"><span>{{site.data.forums.title}}</span></a> &#187;
			</li>
			<li>
				<a href="{{site.data.forums.base_url}}#c7"><span>{{board.category}}</span></a> &#187;
			</li>
			<li>
				<a href="{{board.url}}"><span>{{page.board}}</span></a> &#187;
			</li>
			<li class="last">
				<a href="{{page.url}}"><span>{{page.title}}</span></a>
			</li>
		</ul>
	</div><script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script><!--Headers--><!--End Headers-->
			<a id="top"></a>
			<a id="msg3171"></a>
			<div class="pagesection" style="visibility: hidden;">
				<div class="pagelinks floatleft">Pages: [<strong>1</strong>] </div>
			</div>
			<div id="forumposts">
				<div class="cat_bar">
					<h3 class="catbg">
						<img src="/assets/smf/curve/img/topic/hot_post_sticky.gif" align="bottom" alt="" />
						<span id="author">Autor</span>
						Tema: {{page.title}} &nbsp;(Leído 877 veces)
					</h3>
				</div>
				{% include smf/post.html %}
			</div>
			<a id="lastPost"></a>
			<div class="pagesection" style="visibility: hidden;">
				<div class="pagelinks floatleft">Pages: [<strong>1</strong>] </div>
			</div>
	<div class="navigate_section">
		<ul>
			<li>
				<a href="{{site.data.forums.base_url}}"><span>{{site.data.forums.title}}</span></a> &#187;
			</li>
			<li>
				<a href="{{site.data.forums.base_url}}#c7"><span>{{board.category}}</span></a> &#187;
			</li>
			<li>
				<a href="{{board.url}}"><span>{{page.board}}</span></a> &#187;
			</li>
			<li class="last">
				<a href="{{page.url}}"><span>{{page.title}}</span></a>
			</li>
		</ul>
	</div>
			<div id="moderationbuttons"></div>
			<div class="plainbox" id="display_jump_to">&nbsp;</div>
			<a id="quickreply"></a>
			<div class="tborder" id="quickreplybox"></div>
			<!--Footers--><!--End Footers-->
		</div>
	</div></div>
	<div id="footer_section"><div class="frame">
		<ul class="reset">
			<li class="copyright">
		<span class="smalltext" style="display: inline; visibility: visible; font-family: Verdana, Arial, sans-serif;"><a href="http://www.simplemachines.org/" title="Foro Simple Machines" target="_blank" class="new_win">Powered by SMF 2.0 RC4</a> | <a href="http://www.simplemachines.org/about/copyright.php" title="Software Libre para Foros" target="_blank" class="new_win">SMF &copy; 2006&ndash;2009, Simple Machines LLC</a> | <a href="http://www.smfsimple.com" title="Smf - Soporte - Tutoriales - Mods - Themes">SMF Simple &copy;
</a>
		</span><br /><div align="center"><span class="smalltext">Protected by: <a href="http://www.eastcoastrollingthunder.com" target="_blank" class="new_win">Forum Firewall &copy; 2010-2011</a></span></div></li>
			<li><a id="button_xhtml" href="http://validator.w3.org/check/referer" target="_blank" class="new_win" title="XHTML 1.0 válido!"><span>XHTML</span></a></li>
			<li><a id="button_rss" href="http://smf.halabalooza.orgy/index.php?action=.xml;type=rss" class="new_win"><span>RSS</span></a></li>
			<li class="last"><a id="button_wap2" href="http://smf.halabalooza.orgy/index.php?wap2" class="new_win"><span>WAP2</span></a></li>
		</ul>
	</div></div>
</div>
</body></html>