<!DOCTYPE html>
<html lang="en">
	<head>
	<title>{{site.board}} | {{site.data.forums.title}}</title>

	{% include newgrounds/header-scripts.html %}
			

	
	
	<meta property="og:url" content="{{page.url}}" />
	<meta property="og:image" content="https://img.ngfiles.com/misc/tank_logo_medium.gif" />
	<meta property="og:site_name" content="{{site.data.forums.title2}}" />			
	<script>
		var $ng_adcode_user_is_supporter = 1;
	</script>

	


<script>
// <![CDATA[
		PHP.set('ismobile', false);
	PHP.set('ng_design', "2015");
	PHP.set('www_root', "https:\/\/www.newgrounds.com");
	PHP.set('img_root', "https://img.ngfiles.com");
	PHP.set('css_root', "https://css.ngfiles.com");
	PHP.set('referrer', "https:\/\/www.newgrounds.com\/bbs\/forum\/1");
			// ]]>
</script>

	{% include newgrounds/header-styles.html %}

</head>

<body class="skin-general-desktop">
	<div class='page-dimmer'></div>
	<div id='activetask-saving-msg' style="display:none"><em class="fa fa-spin fa-spinner"></em> Saving</div>
		<div id="passport_container" class="passport-container"></div>
	<script>
		var _passport_html = '<iframe src="https://www.newgrounds.com/passport/mode/iframe" class="passport_frame"></iframe>';
		var _passport_redirect = "\/\/www.newgrounds.com\/bbs\/forum\/1";
	</script>

	{% include newgrounds/header-main.html %}

	<div class="outer" id="outer-skin">

		{% include newgrounds/header-navigator.html %}
		
		<div class="body-main">
						<div class="body-center">
				<div>
					<div class="body-guts top">
						
						{% include newgrounds/header-deck.html %}
						
<div class="column">
	<div class="pod">
		<div class="pod-head">
			<h2> NG Forum: {{page.category}}</h2>
		</div>
		<div class="pod-body">
			<div class="bbs_jump_stats">
				<div>
					<div class="bbs_jump">
						<div class="padded-right"><strong class="notation">Forum Jump:</strong></div>
						<div class="padded-right">
<div class="select-wrapper">
	<select id="forum_jump" data-select-links="1">
		{% for category in site.data.forums.categories %}
			{% assign boards = site.boards | where: "category", category.name | sort: "board_order" %}
			{% if boards.size > 0 %}
				<optgroup label="{{category.name}}">
				{% for board in boards %}
		            {% unless board.child_level %}
						<option value="{{page.template}}{{board.url}}" {% if page.id==board.id %}disabled selected{% endif %}>{{board.board}}</option>
					{% endunless %}
				{% endfor %}
				</optgroup>
			{% endif %}
		{% endfor %}
	</select>
</div></div>
					</div>
				</div>
							</div>
			
							<hr />
				<div  class="text-align-right" >
					<div class="pagenav" >
		
					<div>
					<a><span>1</span></a>

		<a href="https://www.newgrounds.com/bbs/forum/1/2"><span>2</span></a>

		<a href="https://www.newgrounds.com/bbs/forum/1/3"><span>3</span></a>

		<a href="https://www.newgrounds.com/bbs/forum/1/4"><span>4</span></a>

		<a href="https://www.newgrounds.com/bbs/forum/1/5"><span>5</span></a>

		<a href="https://www.newgrounds.com/bbs/forum/1/6"><span>6</span></a>

		<a href="https://www.newgrounds.com/bbs/forum/1/7"><span>7</span></a>

			<span>&hellip;</span>
		<a href="https://www.newgrounds.com/bbs/forum/1/8876"><span>8,876</span></a>

			<span>&hellip;</span>
		<a href="https://www.newgrounds.com/bbs/forum/1/17744"><span>17,744</span></a>

	
			</div>
			</div>
				</div>

						
		</div>
		
		<div class="pod-body">
				{% assign threads = site.threads | where: "board", page.board %}

				{% assign sticky_threads_count = 0 %}
				{% for thread in threads %}
					{% if thread.sticky %}
						{% assign sticky_threads_count = sticky_threads_count | plus: 1 %}
					{% endif %}
				{% endfor %}

				{% if sticky_threads_count > 0 %}
		<div class="forumthread-index">
			<div class="forumthread-status">Status</div>
			<div class="forumthread-title">Mood / Topic & Pages:</div>
			<div class="forumthread-poster first">Topic Starter:</div>
			<div class="forumthread-replies">Replies:</div>
			<div class="forumthread-poster last">Last Post:</div>
		</div>

		<ul class="itemlist alternating">
					{% for thread in threads %}
					{% if thread.sticky %}
					{% assign messages = site.messages | where: "thread", thread.title %}
					{% assign starter_user = site.users | where: "nickname", thread.user | first %}
					{% assign last_user = site.users | where: "nickname", messages.last.user | first %}
					{% if starter_user.avatar %}
						{% if starter_user.avatar contains "http" %}
						{% assign starter_user_avatar = starter_user.avatar %}
						{% else %}
						{% capture starter_user_avatar %}/assets/smf/attachments/{{starter_user.avatar}}{% endcapture %}
						{% endif %}
					{% else %}
						{% assign starter_user_avatar = "/assets/smf/noavatar.gif" %}
					{% endif %}
					{% if last_user.avatar %}
						{% if last_user.avatar contains "http" %}
						{% assign last_user_avatar = last_user.avatar %}
						{% else %}
						{% capture last_user_avatar %}/assets/smf/attachments/{{last_user.avatar}}{% endcapture %}
						{% endif %}
					{% else %}
						{% assign last_user_avatar = "/assets/smf/noavatar.gif" %}
					{% endif %}
							<li>
	<span
		data-block-target="1-{{starter_user.id_member}}"
		class="user-not-blocked"
				>
		<span class="show-when-user-not-blocked allow-preview">
			<div class='item-forumthread-medium'>

	<div class="forumthread-status">
		<span class="icon-sticky" title="Important notice, please read!"></span>
	</div>
	<div class="forumthread-title">
		<span class="emoteset-1 mood-1"></span>
		<div>
			<a href="{{page.template}}{{thread.url}}">
				<span>Importante:</span> {{thread.title}}</a>
<!--
<span>
		<a href="/bbs/topic/1455689/1"><span>1</span></a>

		<a href="/bbs/topic/1455689/2"><span>2</span></a>

		<a href="/bbs/topic/1455689/3"><span>3</span></a>

		<a href="/bbs/topic/1455689/4"><span>4</span></a>

		<a href="/bbs/topic/1455689/5"><span>5</span></a>

		<a href="/bbs/topic/1455689/6"><span>6</span></a>

		<a href="/bbs/topic/1455689/7"><span>7</span></a>

		<a href="/bbs/topic/1455689/8"><span>8</span></a>

		<a href="/bbs/topic/1455689/9"><span>9</span></a>

		<a href="/bbs/topic/1455689/10"><span>10</span></a>

		<a href="/bbs/topic/1455689/11"><span>11</span></a>

			<span>&hellip;</span>
		<a href="/bbs/topic/1455689/15"><span>15</span></a>

			<span>&hellip;</span>
		<a href="/bbs/topic/1455689/17"><span>17</span></a>
</span>
-->
					</div>
	</div>

	<div class="forumthread-poster first">
		<a href="{{page.template}}{{starter_user.url}}">
			<div class="item-icon">
								<svg viewBox="0 0 248 248" class="svgmask sz-medium s2 c0" >
	<image href="{{starter_user_avatar}}"/>
	<use href="#path_s2"/>
</svg>			</div>
			<div class="item-meta">
				<div>{{starter_user.nickname}}</div>
				<span id="fp_date_1455689">{{messages.first.date | date: "%Y-%m-%d %I:%M:%S %p"}}</span>
			</div>
		</a>
	</div>

	<div class="forumthread-replies">{{messages.size}}</div>

	<div class="forumthread-poster last">
		<a href="{{page.template}}{{last_user.url}}">
			<div class="item-icon">
								<svg viewBox="0 0 248 248" class="svgmask sz-medium s0 c0" >
	<image href="{{last_user_avatar}}"/>
	<use href="#path_s0"/>
</svg>			</div>
			<div class="item-meta">
				<div>{{last_user.nickname}}</div>
				<div>
					<span id="lp_date_1455689">{{messages.last.date | date: "%Y-%m-%d %I:%M:%S %p"}}</span>
				</div>
			</div>
		</a>
	</div>
	<script>
		(function($) {
			$('#fp_date_1455689').couNtinGDate('2020-08-15 07:59:54', '2022-07-22 23:20:28', { format: 'mediumDate' });
			$('#lp_date_1455689').couNtinGDate('2022-07-15 11:51:57', '2022-07-22 23:20:28', { format: 'mediumDate' });
		})(jQuery);
	</script>

</div>		</span>
		<span class="show-when-user-is-blocked allow-preview">
			<div class="text-align-center"><a onclick="ngutils.user.block.onClickTogglePreview(event, this)" style="display: inline-block; padding-bottom:0.4em" href="{{page.template}}{{thread.url}}" class="notation">&hellip;</a></div>
		</span>
	</span>
</li>
{% endif %}
{% endfor %}
		</ul>
{% endif %}
		<div class="forumthread-index">
			<div class="forumthread-status">Status</div>
			<div class="forumthread-title">Mood / Topic & Pages:</div>
			<div class="forumthread-poster first">Topic Starter:</div>
			<div class="forumthread-replies">Replies:</div>
			<div class="forumthread-poster last">Last Post:</div>
		</div>

		<ul class="itemlist alternating">
				{% assign threads = site.threads | where: "board", page.board %}
				{% assign last_messages = "" | split: "," %}
				{% for thread in threads %}
					{% unless thread.sticky %}
					{% assign last_message = site.messages | where: "thread", thread.title | last %}
					{% assign last_messages = last_messages | push: last_message %}
					{% endunless %}
				{% endfor %}
				{% assign last_messages = last_messages | sort: "date" %}

				{% for last_message in last_messages reversed %}
					{% assign thread = site.threads | where: "title", last_message.thread | first %}
					{% assign messages = site.messages | where: "thread", thread.title %}
					{% assign starter_user = site.users | where: "nickname", thread.user | first %}
					{% assign last_user = site.users | where: "nickname", messages.last.user | first %}
					{% if starter_user.avatar %}
						{% if starter_user.avatar contains "http" %}
						{% assign starter_user_avatar = starter_user.avatar %}
						{% else %}
						{% capture starter_user_avatar %}/assets/smf/attachments/{{starter_user.avatar}}{% endcapture %}
						{% endif %}
					{% else %}
						{% assign starter_user_avatar = "/assets/smf/noavatar.gif" %}
					{% endif %}
					{% if last_user.avatar %}
						{% if last_user.avatar contains "http" %}
						{% assign last_user_avatar = last_user.avatar %}
						{% else %}
						{% capture last_user_avatar %}/assets/smf/attachments/{{last_user.avatar}}{% endcapture %}
						{% endif %}
					{% else %}
						{% assign last_user_avatar = "/assets/smf/noavatar.gif" %}
					{% endif %}
<li>
	<span
		data-block-target="1-{{starter_user.id_member}}"
		class="user-not-blocked"
				>
		<span class="show-when-user-not-blocked allow-preview">
			<div class='item-forumthread-medium'>

	<div class="forumthread-status">
		<span class="icon-general" title="No new posts."></span>
	</div>
	<div class="forumthread-title">
		<span class="emoteset-1 mood-6"></span>
		<div>
			<a href="{{page.template}}{{thread.url}}">{{thread.title}}</a>
		</div>
	</div>

	<div class="forumthread-poster first">
		<a href="{{page.template}}{{starter_user.url}}">
			<div class="item-icon">
								<svg viewBox="0 0 248 248" class="svgmask sz-medium s1 c8" >
	<image href="{{starter_user_avatar}}"/>
	<use href="#path_s1"/>
</svg>			</div>
			<div class="item-meta">
				<div>{{starter_user.nickname}}</div>
				<span id="fp_date_1506377">{{messages.first.date | date: "%Y-%m-%d %I:%M:%S %p"}}</span>
			</div>
		</a>
	</div>

	<div class="forumthread-replies">
		6	</div>

	<div class="forumthread-poster last">
		<a href="{{page.template}}{{last_user.url}}">
			<div class="item-icon">
								<svg viewBox="0 0 248 248" class="svgmask sz-medium s1 c8" >
	<image href="{{last_user_avatar}}"/>
	<use href="#path_s1"/>
</svg>			</div>
			<div class="item-meta">
				<div>{{last_user.nickname}}</div>
				<div>
					<span id="lp_date_1506377">{{messages.last.date | date: "%Y-%m-%d %I:%M:%S %p"}}</span>
				</div>
			</div>
		</a>
	</div>
	<script>
		(function($) {
			$('#fp_date_1506377').couNtinGDate('2022-07-22 21:13:22', '2022-07-22 23:20:28', { format: 'mediumDate' });
			$('#lp_date_1506377').couNtinGDate('2022-07-22 23:18:14', '2022-07-22 23:20:28', { format: 'mediumDate' });
		})(jQuery);
	</script>

</div>		</span>
		<span class="show-when-user-is-blocked allow-preview">
			<div class="text-align-center"><a onclick="ngutils.user.block.onClickTogglePreview(event, this)" style="display: inline-block; padding-bottom:0.4em" href="{{page.template}}{{thread.url}}" class="notation">&hellip;</a></div>
		</span>
	</span>
</li>
{% endfor %}


					</ul>
	
</div>		
		<div class="pod-body">
			
				<div  class="text-align-right" >
					<div class="pagenav" >
		
					<div>
					<a><span>1</span></a>

		<a href="https://www.newgrounds.com/bbs/forum/1/2"><span>2</span></a>

		<a href="https://www.newgrounds.com/bbs/forum/1/3"><span>3</span></a>

		<a href="https://www.newgrounds.com/bbs/forum/1/4"><span>4</span></a>

		<a href="https://www.newgrounds.com/bbs/forum/1/5"><span>5</span></a>

		<a href="https://www.newgrounds.com/bbs/forum/1/6"><span>6</span></a>

		<a href="https://www.newgrounds.com/bbs/forum/1/7"><span>7</span></a>

			<span>&hellip;</span>
		<a href="https://www.newgrounds.com/bbs/forum/1/8876"><span>8,876</span></a>

			<span>&hellip;</span>
		<a href="https://www.newgrounds.com/bbs/forum/1/17744"><span>17,744</span></a>

	
			</div>
			</div>
				</div>
				<hr />
						<div class="bbs_jump_stats">
				<div>
					<div class="bbs_jump">
						<div class="padded-right"><strong class="notation">Forum Jump:</strong></div>
						<div class="padded-right">
<div class="select-wrapper">
	<select id="forum_jump" data-select-links="1">
		{% for category in site.data.forums.categories %}
			{% assign boards = site.boards | where: "category", category.name | sort: "board_order" %}
			{% if boards.size > 0 %}
				<optgroup label="{{category.name}}">
				{% for board in boards %}
		            {% unless board.child_level %}
						<option value="{{page.template}}{{board.url}}" {% if page.id==board.id %}disabled selected{% endif %}>{{board.board}}</option>
					{% endunless %}
				{% endfor %}
				</optgroup>
			{% endif %}
		{% endfor %}
	</select>
</div>
</div>
					</div>
				</div>
								{% assign threads = site.threads | where: "board", page.board %}

								{% assign messages = "" | split: "," %}
								{% for thread in threads %}
									{% assign messages2 = site.messages | where: "thread", thread.title %}
									{% assign messages = messages | concat: messages2 | sort: "date" %}
								{% endfor %}

								{% assign last_user = site.users | where: "nickname", messages.last.user | first %}
								{% assign last_msg_thread = site.threads | where: "title", messages.last.thread | first %}
								{% assign last_user_posts = site.messages | where: "user", last_user.nickname %}
				<div class="bbs_post_stats">
						<span  class="small" >
		<span class="notation">User of the Day : <a href="{{page.template}}{{last_user.url}}">{{last_user.nickname}}</a> | Posts:</span> <strong>{{last_user_posts.size}}</strong><br />

			</span>
				</div>
			</div>
		</div>
		
	</div>
	
	{% include newgrounds/member-base.html %}
	
</div>						<div style="clear:both"></div>
					</div>
				</div>
			</div>
		</div>

		{% include newgrounds/footer-features.html %}
			{% include newgrounds/footer.html %}
			
		</div>
	</div>
	<script>
		(function($) {
			$wrap = $('div.body-footer-wrapper');
			$shim = $('div.body-footer-shim');

			$shim.height($wrap.height());
		})(jQuery);
	</script>
	
	
</body>
</html>