<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Posts by olskoo-the-first</title>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="theme-color" content="#262425">
	<meta name="monetization" content="$ilp.uphold.com/WXkr6LGDUiPA">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css?stamp=1658401129" type="text/css" media="all" />
	<link rel="stylesheet" href="https://css.ngfiles.com/ng_2015.css?stamp=1658401129" type="text/css" media="all" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css?stamp=1658401129" type="text/css" media="all" />

	
	<script>
		// <![CDATA[
			document.domain = "newgrounds.com";
		// ]]>
	</script>

	<script>
		console.log("self.crossOriginIsolated (via main site):", self.crossOriginIsolated);
	</script>

	
	<script src="https://js.ngfiles.com/jquery/jquery-3.6.0.min.js?ngcache=1623307543"></script>	<script src="https://js.ngfiles.com/jquery/jquery-ui.1.12.1.min.js?ngcache=1578181382"></script>
	<script src="https://js.ngfiles.com/uploads/fine-uploader.js?ngcache=1618242726"></script>	<script src="https://js.ngfiles.com/misc/postscribe.js?ngcache=1578181382"></script>
							<script src="https://js.ngfiles.com/ng_publish.js?1658401133&ngcache=1658401134"></script>					<script src="https://js.ngfiles.com/jquery/jquery.ui.touch-punch.min.js?ngcache=1578181382"></script>					<script src="https://js.ngfiles.com/audio/howler.js?ngcache=1578181371"></script>					<script src="https://js.ngfiles.com/ng_media.js?1657280564"></script>			
	<script>
	// <![CDATA[
				PHP.set('now', '1658546521');
		PHP.set('datetime', '2022-07-22 23:22:01');
										PHP.set('user_logged_in', false);
		PHP.set('user_is_supporter', false);

							PHP.set('_passport_html', '<iframe src="https://www.newgrounds.com/passport/mode/iframe" class="passport_frame"></iframe>');
			PHP.set('_passport_create_html', '<iframe src="https://www.newgrounds.com/passport/mode/iframe/signup/new" class="passport_frame"></iframe>');
			PHP.set('_passport_redirect', "https:\/\/www.newgrounds.com\/bbs\/search\/author\/olskoo-the-first");

						PHP.set('uuid_prefix',"ef4cj3-");
		
	// ]]>
	</script>

				<script src="https://js.ngfiles.com/global/passport.js?ngcache=1578181381"></script>	
		
	<script src="//js.ngfiles.com/quilljs/quill.js?1658401133"></script>	<script src="//js.ngfiles.com/quilljs/quill-extensions.js?1658401133"></script>	<script src="//js.ngfiles.com/quilljs/ng-quill.js?1658401133"></script>	
		
	<script src="https://js.ngfiles.com/css_browser_selector.js?ngcache=1578181380"></script>
		
				<script>
	// <![CDATA[
		var $ng_adcode_ctime = 1658546522;
		var $ng_adcode_country = 2;
		var $ng_adcode_revsharing_id = null;
		var $ng_adcode_page = "general";
		var $ng_adcode_suitability = "E";
	//]]>
</script>
	
		
			
		
		
	<link rel="icon" type="image/png" href="https://www.newgrounds.com/img/icons/favicon.png" />
	<link rel="shortcut icon" href="https://www.newgrounds.com/favicon.ico" type="image/vnd.microsoft.icon" />
	<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon.png" />
			<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon-57x57.png" sizes="57x57" />
					<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon-72x72.png" sizes="72x72" />
					<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon-76x76.png" sizes="76x76" />
					<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon-114x114.png" sizes="114x114" />
					<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon-120x120.png" sizes="120x120" />
					<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon-144x144.png" sizes="144x144" />
					<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon-152x152.png" sizes="152x152" />
					<link rel="apple-touch-icon" href="https://img.ngfiles.com/misc/ios/apple-touch-icon-180x180.png" sizes="180x180" />
			

	
	
						<meta property="og:url" content="https://www.newgrounds.com/bbs/search/author/olskoo-the-first" />					<meta property="og:image" content="https://img.ngfiles.com/misc/tank_logo_medium.gif" />					<meta property="og:site_name" content="Newgrounds.com" />			
	<script>
		var $ng_adcode_user_is_supporter = 1;
	</script>

	


<script>
// <![CDATA[
		PHP.set('ismobile', false);
	PHP.set('ng_design', "2015");
	PHP.set('www_root', "https:\/\/www.newgrounds.com");
	PHP.set('img_root', "https://img.ngfiles.com");
	PHP.set('css_root', "https://css.ngfiles.com");
	PHP.set('referrer', "https:\/\/www.newgrounds.com\/bbs\/search\/author\/olskoo-the-first");
			// ]]>
</script>

	<script src="//js.ngfiles.com/ngutils.min.js?1649258108"></script>

<script>

			/*
	if (window.location.hash) {
		setTimeout(function() {
			window.scrollTo(0,0);
		}, 1);
	}
	*/

			function ngdebug(text) {}
	
	(function($) { $(function() {
		var header = $('#notification-bar');
		var body = $('body, html');
		var hash;

				function scrollTo(name, nohash) {

			if (typeof(name) == 'undefined') return;

			var element, ypos;
			var shim = 0;//header.height();
			if (name) {
				element = $("a[name='"+name+"']").get(0); // named anchor
				if (!element) {
					element = $("#"+name); // element by id
				}
				if (element.length > 0) {
					ypos = element.offset().top - shim - 8; // 8px pad
					if (isNaN(ypos) || ypos < 0) ypos = 0;
				} else {
					return;
				}
			} else {
				ypos = 0; // if no name/id, scroll to top
			}

			body.animate({
				scrollTop: ypos
			}, 325, function() {
				if (nohash !== true) {
					hash = "#"+name;
					if (window.location.hash !== hash) window.location.hash = hash;
				}
			});
		}

		$("a[href^='#']").click(function() {
			var name = $(this).attr('href').substring(1);
			var nohash = $(this).attr('data-nohash') === 'true' ? true:false;
			scrollTo(name, nohash);
			return false;
		});

		/*
		if (window.location.hash && window.location.hash.length > 1) {
			scrollTo(window.location.hash.substring(1), true);
		}
		*/
	})})(jQuery);
</script>

	

	
	<style id="customization-style-1">
			div.topbar-menu a.logo {
			background-image: url(//img.ngfiles.com/newgroundstitlemobile-mono.png?cached=1658401129);
		}
		div.notification-bar .logo a {
			background-image: url(//img.ngfiles.com/newgroundstitle-mono.png?cached=1658401129);
		}

		a:not(:hover),
		a.no-href:not(:hover),
		a.faux:not(:hover),
		a.button, a.button:visited,
		button:not(:hover),
		*.no-visited a:not(:hover),
		a.no-visited:not(:hover),
		*.no-visited a:not(:hover):visited,
		a.no-visited:not(:hover):visited,
		*.pod-head span a:not(:hover),
		*.pod-head span a:not(:hover):visited,
		*.pod-head button:not(:hover),
		*.pod-head select,
		*.pod-head h2 > a:not(:hover) > span,
		ul.sidenav-menu a:not(:hover),
		ul.sidenav-menu a:not(:hover):visited,
		ul.sidenav-menu button.sidenav-toggle:not(:hover),
		ul.ui-autocomplete li[class^='ui-autocomplete-content'] > a:not(.ui-state-active),
		a.user-header-button.current > div > strong,
		div.choose-auto-icon label:not(:hover),
		blockquote.general::before,
		blockquote.general::after,
		#audio-listen-duration,
		.searchform-options .searchform-sort a, 
		.searchform-options .searchform-sort strong
		{
			color: #f6a3cf;
		}

		div.ui-datepicker tbody td.ui-datepicker-today a
		{
			border: 1px solid #f6a3cf !important;
		}

		a.faux:not(:hover):visited,
		a:not(:hover):visited,
		a:not(:hover):not(.no-href):not([href]),
		ul.ui-autocomplete li[class^='ui-autocomplete-content'] > a:visited:not(.ui-state-active),
		div.expand-condensed
		{
			color: #e66fb3;
		}

		*.pod-head span a:not([class^='ngicon']):hover,
		*.pod-head span a:not([class^='ngicon']).active,
		*.pod-head span a:not([class^='icon']):not([class^='ngicon']):not([href]),
		*.pod-head button:hover,
		*.custom-link-color:not(.no-replace),
		ul.sidenav-breadcrumbs li.expands:hover,
		ul.sidenav-menu li.expands:hover,
		ul.sidenav-submenu li.expands:hover,
		.media-player-progression .ui-slider-range,
		.media-player-volume-control .ui-slider-range,
		a.user-header-button.current div.button-highlight,
		input[type='checkbox'].switch:checked + label::before,
		.ql-toolbar button.ql-divider::before
		{
			background-color: #f6a3cf!important;
		}

		div.user-header-actions a
		{
			background-color: #f6a3cf;
						background: -moz-linear-gradient(top, #f6a3cf 0%, #e66fb3 100%);
			background: -webkit-linear-gradient(top, #f6a3cf 0%, #e66fb3 100%);
			background: linear-gradient(to bottom, #f6a3cf 0%, #e66fb3 100%);
		}

		.pod-head .select-wrapper::after
		{
			border-color: #f6a3cf transparent transparent;
		}
		body:not(.editing) a.user-header-icon
		{
			border-color: #f6a3cf;
		}

		div.topbar-menu a.logo,
		div.notification-bar .logo a,
		*.pod-head h2:not([class^=rated])::before,
		*.pod-head a[class^='icon']::before,
		*.pod-head button[class^='icon']::before,
		h6.wall-artist a,
		*[class^='ngicon-']:not(.noshift)::before,
		div.user-buttons div.user-button div > a,
		span[class^="flag-"] label::before,
		div[class^="flag-"] label::before,
		li[class^="flag-"] label::before,
		*.star-score, *.star-variable,
		div.vote-input div.star-bar,
		#waveform > div,
		#waveform > wave,
		div.ui-datepicker .ui-datepicker-header a.ui-datepicker-prev:not(.ui-state-hover),
		div.ui-datepicker .ui-datepicker-header a.ui-datepicker-next:not(.ui-state-hover)
		{
			filter: hue-rotate(-65deg) saturate(58%) brightness(114%);
		}


		button .ql-stroke, .ql-picker-label .ql-stroke {
			stroke: #f6a3cf !important;
		}
		button .ql-fill {
			fill: #f6a3cf !important;
		}

		.ql-editor a {
			color: #f6a3cf!important;
		}
	</style><style id="customization-style-4">
	
		div.pod-head,
		header.pod-head,
		div.pod-fakehead,
		header.pod-fakehead,
		div.podtop,
		*.header-gradient:not(.no-replace)
		{
						background: #2b293a;
			background: -moz-linear-gradient(top, #433f5a 0%, #2f2c3f 48%, #282635 53%, #1d1828 100%);
			background: -webkit-linear-gradient(top, #433f5a 0%, #2f2c3f 48%, #282635 53%, #1d1828 100%);
			background: linear-gradient(to bottom, #433f5a 0%, #2f2c3f 48%, #282635 53%, #1d1828 100%);
		}

		div.ui-datepicker .ui-datepicker-header {
						background: #2b293a;
			background: -moz-linear-gradient(top, #2f2c3f 0%, #1d1828 100%);
			background: -webkit-linear-gradient(top, #2f2c3f 0%, #1d1828 100%);
			background: linear-gradient(to bottom, #2f2c3f 0%, #1d1828 100%);
		}

		.ql-toolbar {
			background-color: #282635!important;
		}

		
		div.mobile-menu-background,
		div.mobile-header-bar,
		div.notification-bar,
		div.header-dropdown,
		#header-user-menu .menu-inner,
		*.custom-header-color:not(.no-replace)
		{
			background-color: #2b293a;
		}

		div.notification-bar .search button
		{
			color: #1d1828;
		}

		#topsearch_text::-webkit-input-placeholder
		{
			color: #1d1828;
		}

		#topsearch_text::-moz-placeholder
		{
			color: #1d1828;
		}

		#topsearch_text:-moz-placeholder
		{
			color: #1d1828;
		}

		#topsearch_text:-ms-input-placeholder
		{
			color: #1d1828;
		}

	</style>

		
		
		
	<script src="https://js.ngfiles.com/users/customization.js?1658401100"></script>

</head>

<body class="skin-general-desktop">
	<div class='page-dimmer'></div>
	<div id='activetask-saving-msg' style="display:none"><em class="fa fa-spin fa-spinner"></em> Saving</div>
		<div id="passport_container" class="passport-container"></div>
	<script>
		var _passport_html = '<iframe src="https://www.newgrounds.com/passport/mode/iframe" class="passport_frame"></iframe>';
		var _passport_redirect = "\/\/www.newgrounds.com\/bbs\/search\/author\/olskoo-the-first";
	</script>

<div class="blackout-hover" id="blackout_hover" style="display:none; overflow:hidden">
	<div class="blackout-inner">
		<div class="blackout-bookend"></div>
		<div class="blackout-bookshelf">
			<div class="blackout-bookend shimmed"></div>
			<div class="blackout-center" id="blackout_center"></div>
			<div class="blackout-bookend shimmed"></div>
		</div>
		<div class="blackout-bookend"></div>
	</div>
</div>
<div class="blackout" id="blackout">
	<div class="blackout-bg" id="blackout-bg"></div>
</div>
<div id="_ngHiddenAudioPlayerWrapper" class="ng-audio-player-global">
		<audio id="global-audio"></audio>

	<div class="ng-apg-centered">
		<div id="_ngHiddenAudioPlayer" class="ng-apg-bounds">

			

<div class="media-player-playback-controls">
	<button
		class="media-player-previous"
		id="global-audio-player-previous"
		title="Previous Track"
		disabled>
		<i class="fa fa-step-backward" role="presentation"></i>
	</button>

		
	<button
		class="media-player-play"
		id="global-audio-player-play"
		title="Play"
		disabled>
		<i class="fa fa-play" role="presentation"></i>
	</button>

		<button
		class="media-player-pause"
		id="global-audio-player-pause"
		title="Pause"
		disabled>
		<i class="fa fa-pause" role="presentation"></i>
	</button>

			<button
			class="media-player-stop"
			id="global-audio-player-stop"
			title="Stop"
			disabled>
			<i class="fa fa-stop" role="presentation"></i>
		</button>

					
	<button
		class="media-player-next"
		id="global-audio-player-next"
		title="Next Track"
		disabled>
		<i class="fa fa-step-forward" role="presentation"></i>
	</button>


	<span class="spacer"></span>

	<button
		class="media-player-repeat"
		id="global-audio-player-repeat"
		title="Repeat All Tracks"
		disabled>
		<i class="fa fa-retweet" role="presentation"></i>
	</button>


					

</div>			<div class="media-player-progress">
	<div
		class="media-player-current-time"
		id="global-audio-player-progress">
		00:00
	</div>

	<div class="media-player-progression">
		<div class="position" id="global-audio-player-container"></div>
	</div>

	<div
		class="media-player-duration"
		id="global-audio-player-duration">
		00:00
	</div>
</div>
							
<div class="media-player-volume-control" >
	<button
		id="global-audio-player-volumeToggle">
		<i class="fa fa-volume-up"></i>
	</button>

	<div class="bar off" id="global-audio-player-volume"></div>
</div>			
			<div id="_ngHiddenAudioPlayerDetails" class="media-player-display">
			</div>
		</div>
	</div>

</div>
<script type="text/javascript">
	jQuery(function() {
		NgAudioPlayer.registerGlobalPlayer('_ngHiddenAudioPlayerWrapper');
		//ngutils.components.audio.registerGlobalPlayer('_ngHiddenAudioPlayerWrapper');
	});
</script>	<div id="notification-shim" class="notification-shim"></div>
		<div class="notification-bar" id="notification-bar">
	<div class="wrapper">
		<div class="logo padded-left">
			<a href="https://www.newgrounds.com">Newgrounds</a>
		</div>
		<div class="search" role="search">
			<form id="topsearch-elastic" action="https://www.newgrounds.com/search/conduct/bbs" method="get">
				<input type="hidden" name="suitabilities" value="etm">
									<input type="hidden" name="c" value="3002">
				
				<input placeholder="Search Forums..." type="text" name="terms" id="topsearch_text" value="" maxlength="40" aria-label="Search Forums..."><button type="submit" class="topsearch-submit" title="Search"><em class="fa fa-search"></em></button>
			</form>
			<script type="text/template" id="search_suggestion_template">
	<ul class="ui-autocomplete">

				<li class="ui-autocomplete-terms">
			<em class="suggestion fa fa-search" aria-role="presentation"></em><span class="suggestion" data-html="text">Suggestions...</span>
		</li>

				<li class="ui-autocomplete-content-6000">
			<a data-href="url">
				<div class="icon"><img class="user-icon" data-src="icon"  aria-role="presentation"></div>
				<div class="title">
					<span data-html="title">Username</span>
				</div>
				<div class="meta">
					<span class="ngicon-small-user gray" aria-role="presentation"></span>
				</div>
			</a>
		</li>

							<li class="ui-autocomplete-content-1">
				<a data-href="url">
					<div class="icon"><img data-src="icon" aria-role="presentation"></div>
					<div class="title">
						<span data-html="title">Title</span>
					</div>
					<div class="meta">
						<span class="ngicon-small-movie gray" aria-role="presentation"></span>
					</div>
				</a>
			</li>
					<li class="ui-autocomplete-content-2">
				<a data-href="url">
					<div class="icon"><img data-src="icon" aria-role="presentation"></div>
					<div class="title">
						<span data-html="title">Title</span>
					</div>
					<div class="meta">
						<span class="ngicon-small-game gray" aria-role="presentation"></span>
					</div>
				</a>
			</li>
					<li class="ui-autocomplete-content-3">
				<a data-href="url">
					<div class="icon"><img data-src="icon" aria-role="presentation"></div>
					<div class="title">
						<span data-html="title">Title</span>
					</div>
					<div class="meta">
						<span class="ngicon-small-audio gray" aria-role="presentation"></span>
					</div>
				</a>
			</li>
					<li class="ui-autocomplete-content-4">
				<a data-href="url">
					<div class="icon"><img data-src="icon" aria-role="presentation"></div>
					<div class="title">
						<span data-html="title">Title</span>
					</div>
					<div class="meta">
						<span class="ngicon-small-art gray" aria-role="presentation"></span>
					</div>
				</a>
			</li>
					<li class="ui-autocomplete-content-4500">
				<a data-href="url">
					<div class="icon"><img data-src="icon" aria-role="presentation"></div>
					<div class="title">
						<span data-html="title">Title</span>
					</div>
					<div class="meta">
						<span class="ngicon-small-collection gray" aria-role="presentation"></span>
					</div>
				</a>
			</li>
		
							<li class="ui-autocomplete-content-4001">
				<a data-href="url">
					<div class="icon"><img class="user-icon" data-src="icon"/></div>
					<div class="title">
						<span data-html="title">Username</span>
					</div>
					<div class="meta">
						<span class="ngicon-small-lit gray" aria-role="presentation"></span>
					</div>
				</a>
			</li>
					<li class="ui-autocomplete-content-3001">
				<a data-href="url">
					<div class="icon"><img class="user-icon" data-src="icon"/></div>
					<div class="title">
						<span data-html="title">Username</span>
					</div>
					<div class="meta">
						<span class="ngicon-small-lit gray" aria-role="presentation"></span>
					</div>
				</a>
			</li>
					<li class="ui-autocomplete-content-3002">
				<a data-href="url">
					<div class="icon"><img class="user-icon" data-src="icon"/></div>
					<div class="title">
						<span data-html="title">Username</span>
					</div>
					<div class="meta">
						<span class="ngicon-small-lit gray" aria-role="presentation"></span>
					</div>
				</a>
			</li>
		
					<li class="ui-autocomplete-content-11002">
				<a data-href="url">
										<div class="title">
						<span data-html="title">Title</span>
					</div>
										<input type="hidden" data-hidden="generic_id" name="generic_id" value="">
					<input type="hidden" data-hidden="type_id" name="type_id" value="11002">
				</a>
			</li>
					<li class="ui-autocomplete-content-11003">
				<a data-href="url">
										<div class="title">
						<span data-html="title">Title</span>
					</div>
										<input type="hidden" data-hidden="generic_id" name="generic_id" value="">
					<input type="hidden" data-hidden="type_id" name="type_id" value="11003">
				</a>
			</li>
		
				<li class="ui-autocomplete-links">
			<a data-href="url">
				<span class="fa fa-search" aria-role="none"></span> <span class="title" data-html="text">Links...</span>
			</a>
		</li>

	</ul>

</script>			<script>
				SearchHelper.init('topsearch_text', '/search/suggest');
			</script>
		</div>
		<div class="notifications padded-right" id = "notification-buttons">

							<div class="notification-login-side">
					<a 
						href="https://www.newgrounds.com/passport" 
						rel="nofollow"
						 id="passport_login" 					>Login</a>
					/
					<a 
						href="https://www.newgrounds.com/passport/signup/new" 
						rel="nofollow"
						 id="passport_create" 					>Sign Up</a>
				</div>
					</div>
	</div>
</div>
	<script src="https://js.ngfiles.com/global/passport.js?ngcache=1578181381"></script>
	<div class="outer" id="outer-skin">

		<div class="header-nav-row" id="header-nav-row">
			<div class="header-nav-container header-nav-relative" id="header-nav-container">
				<nav id="topnav" class="header-nav-buttons">
					<a

						href="https://www.newgrounds.com/movies"
						class="header-nav-button-movies"
												>Movies</a><a

						href="https://www.newgrounds.com/games"
						class="header-nav-button-games"
												>Games</a><a

						href="https://www.newgrounds.com/audio"
						class="header-nav-button-audio"
												>Audio</a><a

						href="https://www.newgrounds.com/art"
						class="header-nav-button-art"
												>Art</a><a

						href="https://www.newgrounds.com/portal"
						class="header-nav-button-channels"
												>Portal</a><a

						href="https://www.newgrounds.com/community"
						class="header-nav-button-community"
												>Community</a><a

						href="https://www.newgrounds.com/social"
						class="header-nav-button-feed"
													rel="nofollow"
												>Your Feed</a>				</nav>
			</div>
		</div>

		<div id="ng-global-video-player-shimwrap"><div id="ng-global-video-player-shim"></div></div>
<div id="ng-global-video-player-wrapper">
	<div id="ng-global-video-player">
		<script>
			ngutils.components.video.player.getGlobal({});
		</script>
	</div>
</div>
					<div class="skin-wrapper ">
				<div class="skin-inner">
					<div class="background" style="
						background-image: url('//img.ngfiles.com/themes/000/skin-gris9.jpg?1591116061');
					"><img src="//img.ngfiles.com/themes/000/skin-gris9.jpg?1591116061" alt="Newgrounds Background Image Theme"></div>
					<div class="skin-bars"></div>
				</div>
			</div>
		
		
		<div id="header-insert"></div>

		
		<div class="body-main">
						<div class="body-center">
				<div>
					<div class="body-guts top">
						
													<div class="header-deck">
								<div class="ng-latest-supporter-wide">
	<div class="ng-latest-supporter-inner">
		<div class="ng-latest-supporter-image">
			<div class="user-icon-bordered">
				<a href="https://serenefalconer.newgrounds.com" target="_blank"><svg viewBox="0 0 248 248" class="svgmask sz-large s1 c6" >
	<image href="https://uimg.ngfiles.com/icons/8802/8802325_large.jpg?f1649434642"/>
	<use href="#path_s1"/>
</svg></a>
			</div>
		</div>
		<div class="ng-latest-supporter-meta" style="flex:1">
			<p class="ng-latest-supporter-title">Someone gifted <a href="https://serenefalconer.newgrounds.com" target="blank">sereneFalconer</a> supporter status!</p>
			<p class="ng-latest-supporter-message">
								We need <strong>you</strong> on the team, too.
			</p>
			<p class="ng-latest-supporter-message">Support Newgrounds and get tons of perks for just $2.99!</p>
		</div>
		<div class="ng-latest-supporter-meta">
							<p style="text-align: center; padding-bottom: 4px"><a href="#" id="supporter_message_pp_open">Create a Free Account</a> and then..</p>

				<script>
				jQuery('#supporter_message_pp_open').on('click', function() {
					PassportHandler.open();
					return false;
				});
				</script>
						<a class="ng-latest-supporter-button" href="https://www.newgrounds.com/supporter">Become a Supporter!</a>
		</div>
	</div>
</div>
							</div>
						
<div class="column">
	<div class="pod">
				<div class="pod-head">
			<h2 class="search">3,883 Forum Posts by &quot;olskoo-the-first&quot;</h2>
		</div>

					<div class="pod-body">
				<div class="pagenav">
					<div>
							<a><span>1</span></a>

		<a href="/bbs/search/author/olskoo-the-first/2"><span>2</span></a>

		<a href="/bbs/search/author/olskoo-the-first/3"><span>3</span></a>

		<a href="/bbs/search/author/olskoo-the-first/4"><span>4</span></a>

		<a href="/bbs/search/author/olskoo-the-first/5"><span>5</span></a>

		<a href="/bbs/search/author/olskoo-the-first/6"><span>6</span></a>

		<a href="/bbs/search/author/olskoo-the-first/7"><span>7</span></a>

		<a href="/bbs/search/author/olskoo-the-first/8"><span>8</span></a>

		<a href="/bbs/search/author/olskoo-the-first/9"><span>9</span></a>

		<a href="/bbs/search/author/olskoo-the-first/10"><span>10</span></a>

			<span>&hellip;</span>
		<a href="/bbs/search/author/olskoo-the-first/71"><span>71</span></a>

			<span>&hellip;</span>
		<a href="/bbs/search/author/olskoo-the-first/130"><span>130</span></a>

	
					</div>
				</div>
			</div>
		
									<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-177" title="Friday, 22nd July, 2022
at 10:48 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506334#bbspost27423958_post_text">Oh snap! A Turtle!</a></strong>
			</em>
			Posted 33 minutes ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27423958">
			<p><img alt="iu_703994_8307814.webp" data-user-image="1" data-smartload-src="https://bbsimg.ngfiles.com/703000/iu_703994_8307814.webp" data-smart-scale="764,1019"></p><p><br></p><p>it's a big floppa I saw today but it wouldn't come out from behind this wood  thing and the grass was in the way</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-188" title="Friday, 22nd July, 2022
at 9:22 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506377#bbspost27423880_post_text">Why doesnt NG have no mobile app?</a></strong>
			</em>
			Posted 1 hour ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27423880">
			<span><blockquote class="user-quote">
<span class="quotestamp">At 7/22/22 09:13 PM, ElectricAngel7482 wrote:</span>
Im curious, except the bootlegs, why didnt Tom make an official NG app?</blockquote></span><p><br></p><p>his wife won't let him</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-172" title="Friday, 22nd July, 2022
at 6:33 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506128/2#bbspost27423724_post_text">What is with this forum recently?</a></strong>
			</em>
			Posted 4 hours ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27423724">
			<div><div class="condensed" data-expand-text="more&amp;hellip;"><blockquote class="user-quote">
<span class="quotestamp">At 7/22/22 06:26 PM, sharpnova wrote:</span>
<blockquote class="user-quote">
<span class="quotestamp">At 7/19/22 02:00 PM, Mistman7 wrote:</span>
We're going back and forth between dumb shitposts, to thoughtful, intelligent conversations, to vent posts, to lampooning one person, back to shitpoasting. Does anyone know what's going on? Is newgrounds having a midlife crisis?</blockquote>What exactly is the issue? You're describing.. a forum.</blockquote></div></div><p><br></p><p>everyone on the bbs has been super busy this month making their clock audios, movies and games for clock day so they haven't been posting as much</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-184" title="Friday, 22nd July, 2022
at 5:12 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506358#bbspost27423640_post_text">What is the spiciest thing you've eaten.</a></strong>
			</em>
			Posted 6 hours ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27423640">
			<p>bro idk how ppl eat nashville hot chicken it gave me blisters</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-181" title="Friday, 22nd July, 2022
at 12:29 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506332#bbspost27423417_post_text">Very weird dream</a></strong>
			</em>
			Posted 10 hours ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27423417">
			<span><blockquote class="user-quote">
<span class="quotestamp">At 7/22/22 11:54 AM, DrunkGecko wrote:</span>
<blockquote class="user-quote">
<span class="quotestamp">At 7/22/22 11:53 AM, olskoo-the-first wrote:</span>
I had a dream I lived with sevenseize in an apartment under an overpass but I forget the rest</blockquote>Was it wet?</blockquote></span><p><br></p><p>no it was an urban setting there wasn't any bodies of water around</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-182" title="Friday, 22nd July, 2022
at 11:53 AM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506332#bbspost27423378_post_text">Very weird dream</a></strong>
			</em>
			Posted 11 hours ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27423378">
			<p>I had a dream I lived with sevenseize in an apartment under an overpass but I forget the rest</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-1 mood-6" title="Friday, 22nd July, 2022
at 1:44 AM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506300#bbspost27422897_post_text">How do you usually react to a Drunkgecko thread with a GIF</a></strong>
			</em>
			Posted 21 hours ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27422897">
			<p><img alt="iu_703100_8307814.jpg" data-user-image="1" data-smartload-src="https://bbsimg.ngfiles.com/703000/iu_703100_8307814.jpg" data-smart-scale="650,400"></p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-166" title="Thursday, 21st July, 2022
at 11:18 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506298#bbspost27422783_post_text">Favourite breakfast?</a></strong>
			</em>
			Posted 1 day ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27422783">
			<p>grape nuts</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-176" title="Thursday, 21st July, 2022
at 6:32 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506293#bbspost27422519_post_text">suggest an instrument (pls, something normal)</a></strong>
			</em>
			Posted 1 day ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27422519">
			<p>everyone loves a harmonica that's what my pop used ta say</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-184" title="Thursday, 21st July, 2022
at 12:23 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506266#bbspost27422180_post_text">Dear fuck the heat is overwhelmingly horribleeeeeee</a></strong>
			</em>
			Posted 1 day ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27422180">
			<p>I never think to look at the weather but it's hot</p><p><br></p><p><img alt="iu_702457_8307814.webp" data-user-image="1" data-smartload-src="https://bbsimg.ngfiles.com/702000/iu_702457_8307814.webp" data-smart-scale="764,1133"></p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-171" title="Thursday, 21st July, 2022
at 12:16 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506272#bbspost27422166_post_text">I miss Cyberdevil!</a></strong>
			</em>
			Posted 1 day ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27422166">
			<p>yeah he goes on vacation in the summer for a couple months every year but last year he did made a rare appearance on clock day</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-188" title="Thursday, 21st July, 2022
at 1:25 AM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506254#bbspost27421838_post_text">Guess what the most intelligent woman in heaven asked for? (18)</a></strong>
			</em>
			Posted 1 day ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27421838">
			<div><div class="condensed" data-expand-text="more&amp;hellip;"><blockquote class="user-quote">
<span class="quotestamp">At 7/21/22 01:23 AM, Belthagor wrote:</span>
<blockquote class="user-quote">
<span class="quotestamp">At 7/21/22 01:20 AM, olskoo-the-first wrote:</span>
tf is this story eli5</blockquote>If I were not tortured in this country... 90 percent of my income would go towards the tax I have to pay to the US Government in income taxes. That's quite a bit of money, due to my problems, that you won't see.<br>
<br>
She probably would have said "Stop working" someone whom I wanted to be mine, upon reaching 50% taxed income though. Incentives would have to have been provided for me to continue working.</blockquote></div></div><p><br></p><p>hoss iI said eli5 not explain it like I work for jackson hewitt</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-194" title="Thursday, 21st July, 2022
at 1:20 AM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506254#bbspost27421830_post_text">Guess what the most intelligent woman in heaven asked for? (18)</a></strong>
			</em>
			Posted 1 day ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27421830">
			<p>tf is this story eli5</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-175" title="Wednesday, 20th July, 2022
at 11:57 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506244#bbspost27421771_post_text">FORKLIFT WITHOUT THE FORK</a></strong>
			</em>
			Posted 1 day ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27421771">
			<p>forklift drivers git real quiet after seeing these</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-192" title="Wednesday, 20th July, 2022
at 6:52 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506127#bbspost27421557_post_text">I smell ______</a></strong>
			</em>
			Posted 2 days ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27421557">
			<p>the blood of an englishman</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-184" title="Wednesday, 20th July, 2022
at 6:50 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506224#bbspost27421556_post_text">My new videogame</a></strong>
			</em>
			Posted 2 days ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27421556">
			<p><img alt="iu_701776_8307814.gif" data-user-image="1" data-smartload-src="https://bbsimg.ngfiles.com/701000/iu_701776_8307814.gif" data-smart-scale="80,80"></p><p><br></p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-182" title="Wednesday, 20th July, 2022
at 5:44 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506212#bbspost27421503_post_text">&quot;You just lost yourself a customer&quot;</a></strong>
			</em>
			Posted 2 days ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27421503">
			<span><blockquote class="user-quote">
<span class="quotestamp">At 7/20/22 02:34 PM, Wegra wrote:</span>
What the fuck makes these absolute retards think they care about losing a customer? Like holy shit NO ONE FUCKING CARES YOU EGOTISTICAL CUNT WHAT GOES ON IN THAT SMOOTH BRAIN OF YOURS??? I really want to know.</blockquote></span><p><br></p><p>maybe they thought  you were  the owner when they said that</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-165" title="Wednesday, 20th July, 2022
at 4:29 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506219#bbspost27421440_post_text">I give _____</a></strong>
			</em>
			Posted 2 days ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27421440">
			<span><blockquote class="user-quote">
<span class="quotestamp">At 7/20/22 04:08 PM, ElectricAngel7482 wrote:</span>
fill in the blank</blockquote></span><p><br></p><p>up</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-168" title="Wednesday, 20th July, 2022
at 3:35 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506214#bbspost27421379_post_text">1-10 how are you feeling today?</a></strong>
			</em>
			Posted 2 days ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27421379">
			<p>7 I'm wandering around too much and I need to settle down someplace for awhile</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-1 mood-6" title="Wednesday, 20th July, 2022
at 9:40 AM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506158#bbspost27420988_post_text">to whom it may concern</a></strong>
			</em>
			Posted 2 days ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27420988">
			<div><div class="condensed" data-expand-text="more&amp;hellip;"><blockquote class="user-quote">
<span class="quotestamp">At 7/20/22 09:33 AM, DamnedByFate wrote:</span>
I've been to Rome, Naples, and Sicily (which, granted, is actually further from me than @Haggard is), and I've been to Pizza Hut. And I must say, calling the difference like night and day would be a huge understatement. Pizza Hut is so crappy compared to a small Italian corner shop it's actually hard to fathom it's real at all.</blockquote></div></div><p><br></p><p>that is true</p><p>I didn't mean to sound like pizza hut was better lol</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-1 mood-6" title="Wednesday, 20th July, 2022
at 9:27 AM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506158#bbspost27420966_post_text">to whom it may concern</a></strong>
			</em>
			Posted 2 days ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27420966">
			<span><blockquote class="user-quote">
<span class="quotestamp">At 7/20/22 09:22 AM, DamnedByFate wrote:</span>
<blockquote class="user-quote">
<span class="quotestamp">At 7/19/22 08:55 PM, weirdcore wrote:</span>
did you outpizza the hut yet?</blockquote>Italy is closer to me than some parts of my own country. I outpizza the hut on a daily basis.</blockquote></span><p><br></p><p>that pizza they make in italy now has been americanized unless your at one of the rare places that only have anchovies as a topping</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-171" title="Wednesday, 20th July, 2022
at 1:58 AM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506183#bbspost27420729_post_text">Time to admit something!</a></strong>
			</em>
			Posted 2 days ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27420729">
			<p>I had no idea I must be slipping</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-184" title="Wednesday, 20th July, 2022
at 12:31 AM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506175#bbspost27420639_post_text">I have a question (19)</a></strong>
			</em>
			Posted 2 days ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27420639">
			<p>its action packed I have that ps controller charging stand</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-188" title="Tuesday, 19th July, 2022
at 8:45 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1505999/2#bbspost27420373_post_text">What do NG moderators eat?</a></strong>
			</em>
			Posted 3 days ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27420373">
			<p>dippin dots</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-1 mood-6" title="Tuesday, 19th July, 2022
at 7:24 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1505989/2#bbspost27420281_post_text">UK is less likely to reach 40C Tuesday</a></strong>
			</em>
			Posted 3 days ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27420281">
			<span><blockquote class="user-quote">
<span class="quotestamp">At 7/19/22 07:17 PM, Tony-DarkGrave wrote:</span>
<blockquote class="user-quote">
<span class="quotestamp">At 7/19/22 06:09 PM, olskoo-the-first wrote:</span>
it costs more to ship it than the item</blockquote>There is domestic UK supply.</blockquote></span><p><br></p><p>well</p><p>you've convinced me with both of your responses</p><p><br></p><p>i agree with your solution</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-194" title="Tuesday, 19th July, 2022
at 6:20 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506080#bbspost27420203_post_text">Current list of RPGs to play and replay. Thoughts?</a></strong>
			</em>
			Posted 3 days ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27420203">
			<span><blockquote class="user-quote">
<span class="quotestamp">At 7/19/22 01:27 AM, SatanBrain wrote:</span>
You can start with Icewind Dale or Neverwinter Nights.</blockquote></span><p><br></p><p>icewind Dale was so hard for me I couldn't get past the beginning in the forest, but I was young</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-1 mood-6" title="Tuesday, 19th July, 2022
at 6:18 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506102/2#bbspost27420201_post_text">Who is DrunkGecko's favourite BBS member?</a></strong>
			</em>
			Posted 3 days ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27420201">
			<div><div class="condensed" data-expand-text="more&amp;hellip;"><blockquote class="user-quote">
<span class="quotestamp">At 7/19/22 05:53 PM, phenorax wrote:</span>
Mods equals slobs. Go figure, same goes double on those that gargle their nuts. Shit on them, if you want, rhey will never admit they fucked up unless you trick them too.Come on, tale as old as the first sweaty weirdo that gets his yellowed fingernails on a moderator decision.<br>
Anyway back to the shitpost at hand, if i had to guess maybe Haggard or that one users that used to post about Jesus and perfume a lot.You tried really hard to gross her out, even got Gory in on the fun at times, it seems likely.</blockquote></div></div><p><br></p><p>shut up I try my best</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-1 mood-6" title="Tuesday, 19th July, 2022
at 6:09 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1505989#bbspost27420188_post_text">UK is less likely to reach 40C Tuesday</a></strong>
			</em>
			Posted 3 days ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27420188">
			<div><div class="condensed" data-expand-text="more&amp;hellip;"><blockquote class="user-quote">
<span class="quotestamp">At 7/19/22 04:43 PM, Tony-DarkGrave wrote:</span>
<blockquote class="user-quote">
<span class="quotestamp">At 7/19/22 04:35 PM, olskoo-the-first wrote:</span>
its not feasible for a lot of people because electricity costs a fortune there now</blockquote>lol what are you talking about thats a dinky 120V unit if someone buys that they have to down volt it with a converter plug due to plug differences and because the UK uses 220/230V which far less electricity is being used, and on the documentation the annual running cost is $45 USD and if you put that on 70F/21C on energy saver and auto mode you could save even more being cooled.</blockquote></div></div><p><br></p><p>it costs more to ship it than the item</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-171" title="Tuesday, 19th July, 2022
at 5:58 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1506128#bbspost27420180_post_text">What is with this forum recently?</a></strong>
			</em>
			Posted 3 days ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27420180">
			<p>it's a mystery all right</p>		</div>
	
</div>
							<div class="pod-body">
	<div class="flexbox align-center">
		
				
		<div class="padded-half-right">
			<span class="emoteset-7 mood-189" title="Tuesday, 19th July, 2022
at 4:35 PM"></span>
		</div>
		<div class="flex-1">
			<em>
				Response to: 				<strong><a href="/bbs/topic/1505989#bbspost27420087_post_text">UK is less likely to reach 40C Tuesday</a></strong>
			</em>
			Posted 3 days ago in <a href="/bbs/forum/1">General</a>		</div>
	</div>

	<hr />

			<div class="ql-body" data-post-id="27420087">
			<span><blockquote class="user-quote">
<span class="quotestamp">At 7/19/22 04:31 PM, Tony-DarkGrave wrote:</span>
Get a cheap $150/£170 air conditioner from America Amazon and throw it in your window and you guys will be fine!</blockquote></span><p><br></p><p>its not feasible for a lot of people because electricity costs a fortune there now</p>		</div>
	
</div>
					
					<div class="pod-body">
				<div class="pagenav">
					<div>
							<a><span>1</span></a>

		<a href="/bbs/search/author/olskoo-the-first/2"><span>2</span></a>

		<a href="/bbs/search/author/olskoo-the-first/3"><span>3</span></a>

		<a href="/bbs/search/author/olskoo-the-first/4"><span>4</span></a>

		<a href="/bbs/search/author/olskoo-the-first/5"><span>5</span></a>

		<a href="/bbs/search/author/olskoo-the-first/6"><span>6</span></a>

		<a href="/bbs/search/author/olskoo-the-first/7"><span>7</span></a>

		<a href="/bbs/search/author/olskoo-the-first/8"><span>8</span></a>

		<a href="/bbs/search/author/olskoo-the-first/9"><span>9</span></a>

		<a href="/bbs/search/author/olskoo-the-first/10"><span>10</span></a>

			<span>&hellip;</span>
		<a href="/bbs/search/author/olskoo-the-first/71"><span>71</span></a>

			<span>&hellip;</span>
		<a href="/bbs/search/author/olskoo-the-first/130"><span>130</span></a>

	
					</div>
				</div>
			</div>
		

			</div>
</div>


						<div style="clear:both"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="body-footer-shim"></div>

		<div class="body-footer-wrapper">
			<div class="footer-features">
	<div id="footer-feature-buttons" class="footer-feature-buttons"><span><h3><span>FEATURED</span><span>CONTENT</span></h3><div><button id="footer-feature-btn-games" class="footer-feature-btn-games selected">Games</button><button id="footer-feature-btn-movies" class="footer-feature-btn-movies">Movies</button><button id="footer-feature-btn-audio" class="footer-feature-btn-audio">Audio</button><button id="footer-feature-btn-art" class="footer-feature-btn-art">Art</button><button id="footer-feature-btn-channels" class="footer-feature-btn-channels">Channels</button><button id="footer-feature-btn-users" class="footer-feature-btn-users">Users</button></span></div>
	</div>
	<div class="footer-features-items" id="footer-features-items">
		<div>
			<a class="featureshift-left" id="featureshift-left"><span></span></a>
		</div>
		<div class="featured-items" id="footer-featured-items"><div class="flexbox">
			<div class="featured-item"><a class="portalsubmission-footer-feature game" href="https://www.newgrounds.com/portal/view/849998" title="Five Nights at Fulp's">
	<h4>Five Nights at Fulp's</h4>
	<div class="portalsubmision-details">
		<div class="rated-t"><img src="https://picon.ngfiles.com/849000/flash_849998_medium.png?f1657685789" alt="Five Nights at Fulp's" width="93" height="60"></div>
		<div class="portalsubmision-details-inner">
			<p>Tomar has trapped you (Tom Fulp) inside the Newgrounds office</p>
			<div class="score-and-views">
	<div class="star-score" title="Score: 4.62/5.00">
	<span style="width:92%"></span>
</div>	<span class="views">22,205 Views</span>
</div>		</div>
	</div>
</a>
</div>
			<div class="featured-item"><a class="portalsubmission-footer-feature game" href="https://www.newgrounds.com/portal/view/850550" title="GIMMIKO">
	<h4>GIMMIKO</h4>
	<div class="portalsubmision-details">
		<div class="rated-e"><img src="https://picon.ngfiles.com/850000/flash_850550_medium.png?f1658084975" alt="GIMMIKO" width="93" height="60"></div>
		<div class="portalsubmision-details-inner">
			<p>Fend off hoards of Yokai using magical gimmick dice! Made in 48 hours for GMTKJAM2022</p>
			<div class="score-and-views">
	<div class="star-score" title="Score: 4.47/5.00">
	<span style="width:89%"></span>
</div>	<span class="views">5,070 Views</span>
</div>		</div>
	</div>
</a>
</div>
			<div class="featured-item"><a class="portalsubmission-footer-feature game" href="https://www.newgrounds.com/portal/view/850418" title="RUN FOR THE HILLS! YOUR FAVOURITE NEWGROUNDS USERS ARE COMING FOR YOU!!!">
	<h4>RUN FOR THE HILLS! YOUR FAVOURITE NEWGROUNDS USERS ARE COMING FOR YOU!!!</h4>
	<div class="portalsubmision-details">
		<div class="rated-m"><img src="https://picon.ngfiles.com/850000/flash_850418_medium.png?f1658003208" alt="RUN FOR THE HILLS! YOUR FAVOURITE NEWGROUNDS USERS ARE COMING FOR YOU!!!" width="93" height="60"></div>
		<div class="portalsubmision-details-inner">
			<p>KILL THEM!</p>
			<div class="score-and-views">
	<div class="star-score" title="Score: 4.18/5.00">
	<span style="width:84%"></span>
</div>	<span class="views">5,085 Views</span>
</div>		</div>
	</div>
</a>
</div>
	</div></div>
		<div>
			<a class="featureshift-right" id="featureshift-right"><span></span></a>
		</div>
	</div>
</div>

<script>
	ngutils.footer.init(["footer-feature-btn-games","footer-feature-btn-movies","footer-feature-btn-audio","footer-feature-btn-art","footer-feature-btn-channels","footer-feature-btn-users"]);
</script>

			
			<div style="clear:both"></div>
			<div class="footer-main ">
	<div class="footer-background">
					<div class="footer-wall-artist">
				<a class="flexbox inline align-center no-visited" href="https://gris9.newgrounds.com">
					<div class="flex-1 text-align-right"><strong class="highlight">Wall Art by</strong></div>
										<div class="padded"><svg viewBox="0 0 248 248" alt="GRIS9's icon" class="svgmask sz-45 s0 cX" >
	<image href="https://uimg.ngfiles.com/icons/7197/7197223_large.png?f1583018307"/>
	<use href="#path_s0"/>
</svg></div>
					<div class="flex-1"><strong>GRIS9</strong></div>
				</a>
			</div>
				<div class="footer-navigation no-visited">
			<div class="footer-navigation-column">
				<div class="footer-navigation-cell">
					<h4>Main Sections</h4>
					<ul>
												<li><a href="https://www.newgrounds.com/games">Games</a></li>
						<li><a href="https://www.newgrounds.com/movies">Movies</a></li>
						<li><a href="https://www.newgrounds.com/art">Art</a></li>
						<li><a href="https://www.newgrounds.com/audio">Audio</a></li>
						<li><a href="https://www.newgrounds.com/social" rel="nofollow">Your Feed</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-navigation-column">
				<div class="footer-navigation-cell">
					<h4>Extra, Extra!</h4>
					<ul>
						<li><a href="https://www.newgrounds.com/collection/series">Series</a></li>
						<li><a href="https://www.newgrounds.com/collection">Collections</a></li>
						<li><a href="https://www.newgrounds.com/games/under_judgment">Game Judging</a></li>
						<li><a href="https://www.newgrounds.com/movies/under_judgment">Movie Judging</a></li>
						<li><a href="https://www.newgrounds.com/portal">Classic Portal</a></li>
						<li><a href="https://www.newgrounds.com/downloads">Downloads</a></li>
						<li><a href="https://www.newgrounds.com/wiki/creator-resources">Creator Resources</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-navigation-column">
				<div class="footer-navigation-cell">
					<h4>Community</h4>
					<ul>
						<li><a href="https://www.newgrounds.com/bbs">Forums</a></li>
						<li><a href="https://www.newgrounds.com/chat">Chat</a></li>
						<li><a href="https://www.newgrounds.com/calendar">Calendar</a></li>
						<li><a href="https://www.newgrounds.com/news/artists">Artist News</a></li>
						<li><a href="https://www.newgrounds.com/rankings">Rankings</a></li>
						<li><a href="https://www.newgrounds.com/wiki">NG Wiki</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-navigation-column">
				<div class="footer-navigation-cell">
					<h4>NG Related</h4>
					<ul>
						<li><a href="https://www.newgrounds.com/wiki/about-newgrounds">About</a></li>
						<li><a href="https://www.newgrounds.com/wiki/faq">Help / FAQ</a></li>
						<li><a href="https://www.newgrounds.com/support">Support</a></li>
						<li><a href="https://www.newgrounds.com/wiki/about-newgrounds/staff">The Staff</a></li>
						<li><a href="https://www.newgrounds.com/wiki/about-newgrounds/history">History</a></li>
						<li><a href="https://www.newgrounds.com/wiki/help-information/rss">RSS</a></li>
						<li><a href="https://www.newgrounds.com/wiki/help-information/dmca-notice">Copyright</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-decoration"></div>
	</div>
	<div class="footer-bottom">
				<div class="footer-copyright no-visited">
			&copy;Copyright 1995-2022 Newgrounds, Inc. All rights reserved.
			<a href="https://www.newgrounds.com/wiki/help-information/privacy-policy">Privacy Policy</a>
			|
			<a href="https://www.newgrounds.com/wiki/help-information/terms-of-use">Terms of Use</a>
		</div>
	</div>
</div>
			<div class="footer-social-icons">
				<div class="flexbox inline align-center">
					<div class="flex-1">
						<a class="icon-facebook" href="https://www.facebook.com/newgrounds"></a>
					</div>
					<div class="flex-1">
						<a class="icon-twitter" href="https://twitter.com/newgrounds"></a>
					</div>
										<div class="flex-1">
						<a class="icon-instagram" href="https://www.instagram.com/newgroundsgram/"></a>
					</div>
					<div class="flex-1">
						<a class="icon-steam" href="http://store.steampowered.com/curator/6856292/"></a>
					</div>
									</div>
			</div>
		</div>
	</div>
	<script>
		(function($) {
			$wrap = $('div.body-footer-wrapper');
			$shim = $('div.body-footer-shim');

			$shim.height($wrap.height());
		})(jQuery);
	</script>
	
	
</body>
</html>