<!DOCTYPE html>
<html lang="en">
	<head>
	<title>{{site.data.forums.title}}</title>

	{% include newgrounds/header-scripts.html %}
			

	
	
	<meta property="og:url" content="{{page.url}}" />
	<meta property="og:image" content="https://img.ngfiles.com/misc/tank_logo_medium.gif" />
	<meta property="og:site_name" content="{{site.data.forums.title2}}" />			
	<script>
		var $ng_adcode_user_is_supporter = 1;
	</script>

	


<script>
// <![CDATA[
		PHP.set('ismobile', false);
	PHP.set('ng_design', "2015");
	PHP.set('www_root', "https:\/\/www.newgrounds.com");
	PHP.set('img_root', "https://img.ngfiles.com");
	PHP.set('css_root', "https://css.ngfiles.com");
	PHP.set('referrer', "https:\/\/www.newgrounds.com\/bbs");
			// ]]>
</script>

	{% include newgrounds/header-styles.html %}

</head>

<body class="skin-general-desktop">
	<div class='page-dimmer'></div>
	<div id='activetask-saving-msg' style="display:none"><em class="fa fa-spin fa-spinner"></em> Saving</div>
		<div id="passport_container" class="passport-container"></div>
	<script>
		var _passport_html = '<iframe src="https://www.newgrounds.com/passport/mode/iframe" class="passport_frame"></iframe>';
		var _passport_redirect = "\/\/www.newgrounds.com\/bbs";
	</script>

	{% include newgrounds/header-main.html %}

	<div class="outer" id="outer-skin">

		{% include newgrounds/header-navigator.html %}
		
		<div class="body-main">
						<div class="body-center">
				<div>
					<div class="body-guts top">
						
						{% include newgrounds/header-deck.html %}
						

<div class="column edit-off" id="forum-wrapper">
	<div class="pod edit-only">
		<div class="pod-body">
			<div class="flexbox align-center text-content">
				<strong class="flex-1 highlight">Customizing Forums</strong>
				<div class="padded-right">
					<a href="/bbs/restore" class="button" id="reset-bbs">Restore Defaults</a>
				</div>
				<div class="padded-left">
					<a id="done_editing"><em class="ngicon-small-close"></em></a>
				</div>
			</div>
		</div>
	</div>

	
	<div id="bbs-boards">
	{% for category in site.data.forums.categories %}
		{% assign boards = site.boards | where: "category", category.name | sort: "board_order" %}
		{% if boards.size > 0 %}
		<div class="pod " id="bbs_board_{{category.id}}">
			<div class="pod-head">
				<h2>{{category.name}}</h2>
				<span class="edit-only pod-move">
					<a class="icon-podmove ui-sortable-handle" title="Move This Board"></a>
				</span>
				<span class="edit-only">
					<a href="" data-set-visible='1' title="Toggle Visibility"  style="display:none"  ><em class="ngicon-small-hidden"></em></a>
					<a href="" data-set-visible='0' title="Toggle Visibility"  ><em class="ngicon-small-visible"></em></a>
				</span>
			</div>
			<div class="pod-body">
				<div class="forum_list">
					<div class="headings">
						<div class="forum">{{category.name}} Forums:</div>
						<div class="stat">Topics:</div>
						<div class="stat">Posts:</div>
						<div class="hot-topic noedit-only">Hot Topic:</div>
					</div>
	
					<div class="ui-forum-list">
						{% for board in boards %}
		            		{% unless board.child_level %}
							<div id="bbs_forum_{{board.id}}" class="row ">
								<div class="forum">
									<a href="{{page.template}}{{board.url}}">
										<div class="bbs-old"></div>
										<div class="forum-title">
											<h4>{{board.board}}</h4>
											<span class="description">{{board.description}}</span>
										</div>
									</a>
								</div>

								{% assign boards1 = site.boards | where: "board", board.board %}
								{% assign boards2 = site.boards | where: "parent_board", board.board %}
								{% assign boards = boards1 | concat: boards2 %}

								{% assign threads = "" | split: "," %}
								{% for board in boards %}
									{% assign threads2 = site.threads | where: "board", board.board %}
									{% assign threads = threads | concat: threads2 %}
								{% endfor %}

								{% assign messages = "" | split: "," %}
								{% for thread in threads %}
									{% assign messages2 = site.messages | where: "thread", thread.title %}
									{% assign messages = messages | concat: messages2 | sort: "date" %}
								{% endfor %}

								{% assign last_user = site.users | where: "nickname", messages.last.user | first %}
								{% assign last_msg_thread = site.threads | where: "title", messages.last.thread | first %}
								{% assign last_msg_thread_replies = site.messages | where: "thread", last_msg_thread.title %}

								<div class="stat formatted-number">{{threads.size}}</div>
								<div class="stat formatted-number">{{messages.size}}</div>
								<div class="hot-topic noedit-only">
									<a href="{{page.template}}{{last_msg_thread.url}}">{{last_msg_thread.title}}</a>
									<span class="description notation">
										{{last_msg_thread.views}} views &bull;
										{{last_msg_thread_replies.size | minus: 1}} replies
									</span>
								</div>
							</div>
						{% endunless %}
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	{% endfor %}
	</div>

	<div class="pod">
		<div class="pod-body">
			<div class="flexbox align-center forum_legend">
				<div  class="flex-4"  >
					<div class="flexbox align-center">
						<div class="flex-1">
							<div class="flexbox align-center">
								<div><em class="bbs-new"></em></div>
								<div class="padded-left">
									<strong class="medium">New topics/posts here.</strong><br/>
									<span class="small notation">(Since your last visit.)</span>
								</div>
							</div>
						</div>
						<div class="flex-1">
							<div class="flexbox align-center">
								<div><em class="bbs-old"></em></div>
								<div class="padded-left">
									<strong class="medium">No new topics/posts here.</strong><br/>
									<span class="small notation">(Since your last visit.)</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				
				<div  class="flex-3 text-align-right" >
					<div class="padded-half-bottom">
						<strong>
							<span class="notation">Total Topics: </span><span class="formatted-number">{{site.threads.size}}</span>
							<span class="notation">| Total Posts: </span><span class="formatted-number">{{site.messages.size}}</span>
						</strong>
					</div>
					<div class="small notation">
						<span>Your latest visit began: <strong>7/22/22 11:19 PM</strong><br />
						Any times logged as <a href="//www.timeanddate.com/worldclock/city.html?n=198" target="_blank">Eastern Daylight Time</a> / Philadelphia, Pa., USA (UTC -4)</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{% include newgrounds/member-base.html %}
</div>

						<div style="clear:both"></div>
					</div>
				</div>
			</div>
		</div>

		{% include newgrounds/footer-features.html %}
			{% include newgrounds/footer.html %}

		</div>
	</div>
	<script>
		(function($) {
			$wrap = $('div.body-footer-wrapper');
			$shim = $('div.body-footer-shim');

			$shim.height($wrap.height());
		})(jQuery);
	</script>
	
	
</body>
</html>