<!DOCTYPE html>
<html lang="en">
	<head>
	<title>{{page.title}} | {{site.data.forums.title2}}</title>

	{% include newgrounds/header-scripts.html %}
			

	
	{% assign message = site.messages | where: "thread", page.title | first %}
	<meta name="title" content="{{page.title}}" />
	<meta name="description" content="{{message.content | strip_html | truncatewords: 24}}" />
	<meta property="og:site_name" content="{{site.data.forums.title2}}" />
	<meta property="fb:app_id" content="201819236116" />
	<meta property="og:title" content="{{page.title}}" />
	<meta property="og:description" content="{{message.content | strip_html | truncatewords: 24}}" />
	<meta property="og:url" content="{{page.url}}" />
	<meta property="og:type" content="article" />
	<meta name="twitter:title" content="{{page.title}}" />
	<meta name="twitter:description" content="{{message.content | strip_html | truncatewords: 24}}" />
	<meta name="twitter:site" content="@{{site.data.forums.title2}}" />
	<meta name="twitter:card" content="summary" />			
	<script>
		var $ng_adcode_user_is_supporter = 1;
	</script>

	


<script>
// <![CDATA[
		PHP.set('ismobile', false);
	PHP.set('ng_design', "2015");
	PHP.set('www_root', "https:\/\/www.newgrounds.com");
	PHP.set('img_root', "https://img.ngfiles.com");
	PHP.set('css_root', "https://css.ngfiles.com");
	PHP.set('referrer', "https:\/\/www.newgrounds.com\/bbs\/topic\/1506377");
			// ]]>
</script>

	{% include newgrounds/header-styles.html %}

</head>

<body class="skin-general-desktop">
	<div class='page-dimmer'></div>
	<div id='activetask-saving-msg' style="display:none"><em class="fa fa-spin fa-spinner"></em> Saving</div>
		<div id="passport_container" class="passport-container"></div>
	<script>
		var _passport_html = '<iframe src="https://www.newgrounds.com/passport/mode/iframe" class="passport_frame"></iframe>';
		var _passport_redirect = "\/\/www.newgrounds.com\/bbs\/topic\/1506377";
	</script>

	{% include newgrounds/header-main.html %}

	<div class="outer" id="outer-skin">

		{% include newgrounds/header-navigator.html %}
		
		<div class="body-main">
						<div class="body-center">
				<div>
					<div class="body-guts top">
						
						{% include newgrounds/header-deck.html %}
						
<div class="column" id="bbsthread_title_pod">
	<div class="pod">
		<div class="pod-head">
			<h2>{{page.title}}</h2>


{% assign replies = site.messages | where: "thread", page.title %}
{% assign board = site.boards | where: "board", page.board | first %}
				<div class="bbs-thread-stats">
	<span class="padded">{{page.views}} Views | {{replies.size|minus: 1}} Replies</span>
</div>
											
		</div>
		<div class="pod-body">

			<div class="flexbox">
				<div class="flex-1">
					<a href="{{page.template}}{{board.url}}">&laquo; Return to {{board.board}}</a>
					|
					<a href="{{page.template}}{{site.data.forums.base_url}}">All Forums</a>
									</div>

									<div class="pagenav">
											</div>
							</div>

		</div>
	</div>
</div>
<script>
	PHP.set('bbs_topic_page',1);
</script>
<div id="topic-posts" class="clearfix">

{% assign messages = site.messages | where: "thread", page.title %}
{% for message in messages %}
	{% assign user = site.users | where: "nickname", message.user | first %}
	{% if user.avatar %}
		{% if user.avatar contains "http" %}
		{% assign user_avatar = user.avatar %}
		{% else %}
		{% capture user_avatar %}/assets/smf/attachments/{{user.avatar}}{% endcapture %}
		{% endif %}
	{% else %}
		{% assign user_avatar = "/assets/smf/noavatar.gif" %}
	{% endif %}
	{% assign user_country = site.data.country-flags.flags | where: "icon", user.country_flag | first %}

	{% comment %}Calculando edad del usuario a partir de su fecha de nacimiento{% endcomment %}
	{% unless user.birthdate == "0001-01-01" %}
	{%   assign currentdate = site.time | date: '%s'      %}
	{%   assign birthdate = user.birthdate | date: '%s'  %}
	{%   assign secondsSince = currentdate | minus: birthdate     %}
	{%   assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60     %}
	{%   assign daysSince = hoursSince | divided_by: 24  %}
	{%   assign yearsSince = daysSince | divided_by: 365  %}
	{% endunless %}

	{% assign user_messages = site.messages | where: "user", user.nickname %}

	{% assign groups = site.data.groups | sort: "min_posts" %}
	{% capture exp %}group.min_posts<={{user_messages.size}}{% endcapture %}
	{% assign post_group = groups | where_exp: "group", "group.min_posts>= 0" | where_exp: "group", exp | last %}

<div id="bbsPostReplyWrap-62db69158e93d" class="column">
	<div
		class="user-not-blocked"
		id="bbspost{{message.id_msg}}_post_text"
		data-block-target="1-{{user.id_member}}"
			>
		<div class="pod" ng_content_owner="{{user.id_member}}" data-pod-type="bbspost">
						<div class="pod-body show-when-user-not-blocked allow-preview">

				<div class="bbs-post-container">

					<div class="bbs-post-author-bg supporter">
	<div></div>
	<div></div>
	<div></div>
</div>
<div class="bbs-post-author supporter mod-hover-zone">
			<div class="padded-half-horiz">
			<div>
				<a href="{{page.template}}{{user.url}}">{{user.nickname}}</a>
				
				<br>
				<div class="flexbox padded-top">
										<div><a href="{{page.template}}{{user.url}}"><svg viewBox="0 0 248 248" class="svgmask sz-large s1 c8" >
	<image href="{{user_avatar}}"/>
	<use href="#path_s1"/>
</svg></a></div>
					<div class="flex-1 padded-left padded-top">
						<span class="small">
							<div>
								<div class="flexbox-column">
									<span class="notation">Member since:</span>
									<span>{{user.date_registered|date:"%b. %d, %Y"}}</span>
								</div>
							</div>
							<div class="padded-half-top">
								<span class="online-yes">Online!</span>
							</div>
						</span>
					</div>
				</div>
				<hr/>
				<ul class="text-links-small">
										<li class="show-when-user-not-blocked">
													<a class="nobold" href="https://www.newgrounds.com/pm/send/electricangel7482">Send Private Message</a>
											</li>
					
					<li><a class="nobold" href="https://www.newgrounds.com/bbs/search/author/electricangel7482">Browse All Posts</a> (<span class="formatted-number">{{user_messages.size}}</span>)</li>

											<li class="show-when-user-not-blocked"><a class="nobold modlink" href="">Block</a></li>
						<li class="show-when-user-is-blocked"><a class="nobold modlink" href="">Blocked</a></li>
									</ul>
				<hr/>

				<div class="flexbox align-center padded-bottom">
					<div>
													<span class="level-19-d2"></span>
											</div>
					<div class="flex-1 padded-left">
						<div>
							<div class="flexbox-column">
								<strong class="padded-bottom">Member</strong>
								<span class="small">Level 19</span>
								<span class="small">Melancholy</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
	</div>

					<div class="bbs-post-content flexbox-column">
						<div class="flex-1 padded-half-left">
							<div class="bbs-title-wrapper padded-half-horiz mod-hover-zone">
								<div class="bbs-post-title">
									<span class="emoteset-1 mood-6"></span>
									<p>
										<strong><a href="#bbspost{{message.id_msg}}_post_text">{{message.subject}}</a></strong>
										
										<em class="small">
											<span id="postdate{{message.id_msg}}" title="{{message.date|date: "%A, %dth %B, %Y at %l:%M %p"}}">{{message.date|date: "%Y-%m-%d %I:%M:%S %p"}}</span>
																					</em>
																			</p>
								</div>
								<div class="flex-1">
																	</div>
								<div>

																	<span class="optionlinks" id="bbspost_reply_links_{{message.id_msg}}">
																			</span>
								

								</div>
							</div>

							<hr/>

						<div class="ql-body" data-post-id="{{message.id_msg}}">{{message.content}}</div>


							

						</div>

						<div>
								<!--googleoff: index-->
		{% unless user.signature == "" %}
		<div class="bbs-sig">
			
			<hr />
						
			<div class="mod-hover-zone relative">{{user.signature}}</div>
		</div>
		{% endunless %}
	<!--googleon: index-->
						</div>

											</div>

				</div>
			</div>

			<div class="pod-body show-when-user-is-blocked allow-preview text-align-center small">
				<a href="" class="notation" onclick="ngutils.user.block.onClickTogglePreview(event,this)">&hellip;</a>
			</div>

			
		</div>
	</div>
</div>
{% endfor %}


</div>


<script type="text/javascript">
// <![CDATA[

	(function($) {
		$.couNtinGManyDatesFromNow($('span[id^="postdate"]'), { format: 'mediumDate' });

	})(jQuery);

	PHP.set('activeuser_key', '235e1%Oc25dfe361b1d%64b6O9b48c7a91c%Pc25bar53%%d2c9a4%7%4%105%f25fs348e8c74O91dfr7767rs%dbc6e5%%s2%3%1f9db5d75dbrcPa5a9%6brPfb2642cr06e06eab28e914d426938429b15f15665%s%4d7P%%O%rr4215-3479720');

			PHP.set('bbs_poster_8436322', 'ElectricAngel7482');
			PHP.set('bbs_poster_8307814', 'olskoo-the-first');
			PHP.set('bbs_poster_808532', 'Fro');
			PHP.set('bbs_poster_6715108', 'DrunkGecko');
			PHP.set('bbs_poster_9475454', 'CrockettDK');
			PHP.set('bbs_poster_424267', 'Malachy');
	
	PHP.set('bbs_device_is_mobile', false);
	PHP.set('bbs_user_jacked', false);

// ]]>
</script>

<script src="//js.ngfiles.com/bbs/thread.js?1658401133"></script>


<script type="text/javascript">
window.bbs_thread.initialize();
</script>

<div class="column" id="bbsthread_footer_pod">
	<div class="pod">
		<div class="pod-body bbs-pageright">
			<div class="flexbox align-center">
				<div class="flex-1 text-content">
					<a href="{{page.template}}{{board.url}}">&laquo; Return to {{board.board}} Forum</a>
				</div>
				<div class="pagenav">
									</div>
			</div>

		</div>
	</div>
</div>						<div style="clear:both"></div>
					</div>
				</div>
			</div>
		</div>

		{% include newgrounds/footer-features.html %}
			{% include newgrounds/footer.html %}

		</div>
	</div>
	<script>
		(function($) {
			$wrap = $('div.body-footer-wrapper');
			$shim = $('div.body-footer-shim');

			$shim.height($wrap.height());
		})(jQuery);
	</script>
	
	
</body>
</html>