<!DOCTYPE html>
<html id="XF" lang="es-ES" dir="LTR"
	data-app="public"
	data-template="forum_view"
	data-container-key="node-168"
	data-content-key=""
	data-logged-in="false"
	data-cookie-prefix="xf_"
	data-csrf="1658546754,f793dbf128c51a030134bc6641a67090"
	class="has-no-js template-forum_view"
	>
<head>
	<link rel="shortcut icon" href="/assets/forosdz/favicon.ico">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="robots" content="noindex">
	<title>{{page.board}} | {{site.data.forums.title2}}</title>
<link rel="dns-prefetch" href="//www.google.com">
	<script>
	var th_giphyIcon = {
		type: 'image',
		value: '/styles/themehouse/giphy/giphy.png'
	};
</script>
		<link rel="canonical" href="{{page.url}}" />
		<link rel="alternate" type="application/rss+xml" title="Noticias RSS de Consultas y sugerencias del foro" href="/foro/consultas-y-sugerencias-del-foro.168/index.rss" />
		<link rel="next" href="{{page.url}}" />
	<meta property="og:site_name" content="{{site.data.forums.title2}}" />
	<meta property="og:type" content="website" />
		<meta property="og:title" content="{{page.board}}" />
		<meta property="twitter:title" content="{{page.board}}" />
		<meta name="description" content="{{page.description}}" />
		<meta property="og:description" content="{{page.description}}" />
		<meta property="twitter:description" content="{{page.description}}" />
	<meta property="og:url" content="{{page.url}}" />
		<meta name="theme-color" content="#000" />
	<link rel="preload" href="/assets/forosdz/fonts/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
	<link rel="preload" href="/assets/forosdz/fonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" href="/assets/forosdz/fonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
	<link rel="stylesheet" href="/assets/forosdz/styles/board-style-1.css" />
	<link rel="stylesheet" href="/assets/forosdz/styles/board-style-2.css" />
		<script src="/assets/forosdz/scripts/preamble.min.js?_v=9590c520"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-273394-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-273394-1', {
			// 
			
			
		});
	</script>
<meta property="fb:app_id" content="737927819593454" />
<meta property="fb:admins" content="548145604"/>
<script type="text/javascript">
var ranges = [
  { divider: 1e18 , suffix: 'E' },
  { divider: 1e15 , suffix: 'P' },
  { divider: 1e12 , suffix: 'T' },
  { divider: 1e9 , suffix: 'G' },
  { divider: 1e6 , suffix: 'M' },
  { divider: 1e3 , suffix: 'K' }
];

function formatNumber(n) {
  for (var i = 0; i < ranges.length; i++)
    if (n >= ranges[i].divider)
      return (Math.round(n / ranges[i].divider * 10) / 10).toString() + ranges[i].suffix;
  return n.toString();
}
</script>
{% include forosdz/styles.html %}
</head>
<body data-template="forum_view">

<div class="p-pageWrapper" id="top">

{% include forosdz/header.html %}

<div class="p-body">
	<div class="p-body-inner">
		<!--XF:EXTRA_OUTPUT-->

{% assign category = site.data.forums.categories | where: "name", page.category | first %}
<ul class="p-breadcrumbs " itemscope itemtype="https://schema.org/BreadcrumbList">
	<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
		<a href="{{page.template}}{{site.data.forums.base_url}}" itemprop="item">
			<span itemprop="name">Foros</span>
		</a>
		<meta itemprop="position" content="1" />
	</li>
	<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
		<a href="{{page.template}}{{site.data.forums.base_url}}/#category-{{category.id}}" itemprop="item">
			<span itemprop="name">{{category.name}}</span>
		</a>
		<meta itemprop="position" content="2" />
	</li>
	{% if page.child_level %}
	{% assign parent_board = site.boards | where: "board", page.parent_board | first %}
	<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
		<a href="{{page.template}}{{parent_board.url}}" itemprop="item">
			<span itemprop="name">{{parent_board.board}}</span>
		</a>
		<meta itemprop="position" content="3">
	</li>
	{% endif %}
</ul>

	<noscript><div class="blockMessage blockMessage--important blockMessage--iconic u-noJsOnly">JavaScript is disabled. For a better experience, please enable JavaScript in your browser before proceeding.</div></noscript>


	<!--[if lt IE 9]><div class="blockMessage blockMessage&#45;&#45;important blockMessage&#45;&#45;iconic">Estás usando un navegador obsoleto. No se pueden mostrar estos u otros sitios web correctamente.<br />Se debe actualizar o usar un <a href="https://www.google.com/chrome" target="_blank">navegador alternativo</a>.</div><![endif]-->


		
			
<div class="p-body-header "
style=" ">

					<div class="p-title ">
							<h1 class="p-title-value">{{page.title}}</h1>
					</div>
				

				
					<div class="p-description">{{page.description}}</div>
				
			
			</div>
		

		<div class="p-body-main  ">
			

			<div class="p-body-content">
				
				<div class="p-body-pageContent">

{% assign childboards = site.boards | where: "child_level", 1 | where: "parent_board", page.board | sort: "board_order" %}
{% if childboards.size > 0 %}
	<div class="block">
		<div class="block-container">
			<div class="block-body">
				
	

	{% for board in childboards %}
	<div class="node node--id{{board.id}} node--depth2 node--forum node--unread">
		<div class="node-body">
			<span class="node-icon" aria-hidden="true"><i></i></span>
			<div class="node-main js-nodeMain">
				
				<h3 class="node-title">
					<a href="{{page.template}}{{board.url}}" data-xf-init="element-tooltip" data-shortcut="node-description">{{board.board}}</a>
				</h3>
				
				<div class="node-description node-description--tooltip js-nodeDescTooltip">{{board.description}}</div>
				
				<div class="node-meta">
					
					{% assign boards1 = site.boards | where: "board", board.board %}
					{% assign boards2 = site.boards | where: "parent_board", board.board %}
					{% assign boards = boards1 | concat: boards2 %}

					{% assign threads = "" | split: "," %}
					{% for board in boards %}
						{% assign threads2 = site.threads | where: "board", board.board %}
						{% assign threads = threads | concat: threads2 %}
					{% endfor %}

					{% assign messages = "" | split: "," %}
					{% for thread in threads %}
						{% assign messages2 = site.messages | where: "thread", thread.title %}
						{% assign messages = messages | concat: messages2 | sort: "date" %}
					{% endfor %}

					{% assign last_user = site.users | where: "nickname", messages.last.user | first %}
					{% assign last_msg_thread = site.threads | where: "title", messages.last.thread | first %}

					{% if last_user.avatar %}
						{% if last_user.avatar contains "http" %}
						{% assign last_user_avatar = last_user.avatar | replace: "http:", "https:" %}
						{% else %}
						{% capture last_user_avatar %}/assets/smf/attachments/{{last_user.avatar}}{% endcapture %}
						{% endif %}
					{% else %}
						{% assign last_user_avatar = "/assets/smf/noavatar.gif" %}
					{% endif %}

					<div class="node-statsMeta">
						<dl class="pairs pairs--inline">
							<dt>Temas</dt>
							<dd>{{threads.size}}</dd>
						</dl>
						<dl class="pairs pairs--inline">
							<dt>Mensajes</dt>
							<dd>{{messages.size}}</dd>
						</dl>
					</div>
				</div>
			</div>

			<div class="node-stats">
				<dl class="pairs pairs--rows">
					<dt>Temas</dt>
					<dd>{{threads.size}}</dd>
				</dl>
				<dl class="pairs pairs--rows">
					<dt>Mensajes</dt>
					<dd>{{messages.size}}</dd>
				</dl>
				<script type="text/javascript">
					document.querySelectorAll('.node-stats dd').forEach(el => {
						el.innerText = formatNumber(el.innerText)
					})
				</script>
			</div>
			
			<div class="node-extra">
				<div class="node-extra-icon">
					<a href="{{page.template}}{{last_user.url}}" class="avatar avatar--xs" data-user-id="{{last_user.id_member}}" data-xf-init="member-tooltip">
						<img src="{{last_user_avatar}}" srcset="{{last_user_avatar}} 2x" alt="{{last_user.nickname}}" class="avatar-u{{last_user.id_member}}-s" />
					</a>
				</div>
				<div class="node-extra-row">
					<a href="{{page.template}}{{last_msg_thread.url}}" class="node-extra-title" title="{{messages.last.subject}}"> {{messages.last.subject}}</a>
				</div>
				<div class="node-extra-row">
					<ul class="listInline listInline--bullet">
						<li><time  class="node-extra-date u-dt" dir="auto" datetime="2022-05-25T21:32:11-0500" data-time="1653532331" data-date-string="25 May 2022" data-time-string="21:32" title="{{ messages.last.date | date: "%B %d, %Y %I:%M %p" }}">{{ messages.last.date | date: "%B %d, %Y %I:%M %p" }}</time></li>
						<li class="node-extra-user"><a href="{{page.template}}{{last_user.url}}" class="username " dir="auto" data-user-id="{{last_user.id_member}}" data-xf-init="member-tooltip">{{last_user.nickname}}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}


			</div>
		</div>
	</div>
{% endif %}

	





<div class="block" data-xf-init="" data-type="thread" data-href="/inline-mod/">

	<div class="block-outer"><div class="block-outer-main"><nav class="pageNavWrapper pageNavWrapper--mixed ">



<div class="pageNav  pageNav--skipEnd">
	

	<ul class="pageNav-main">
		

	
		<li class="pageNav-page pageNav-page--current "><a href="/foro/consultas-y-sugerencias-del-foro.168/">1</a></li>
	


		

		
			

	
		<li class="pageNav-page pageNav-page--later"><a href="/foro/consultas-y-sugerencias-del-foro.168/page-2">2</a></li>
	

		
			

	
		<li class="pageNav-page pageNav-page--later"><a href="/foro/consultas-y-sugerencias-del-foro.168/page-3">3</a></li>
	

		

		
			
				<li class="pageNav-page pageNav-page--skip pageNav-page--skipEnd">
					<a data-xf-init="tooltip" title="Ir a la página"
						data-xf-click="menu"
						role="button" tabindex="0" aria-expanded="false" aria-haspopup="true">…</a>
					

	<div class="menu menu--pageJump" data-menu="menu" aria-hidden="true">
		<div class="menu-content">
			<h4 class="menu-header">Ir a la página</h4>
			<div class="menu-row" data-xf-init="page-jump" data-page-url="/foro/consultas-y-sugerencias-del-foro.168/page-%page%">
				<div class="inputGroup inputGroup--numbers">
					<div class="inputGroup inputGroup--numbers inputNumber" data-xf-init="number-box"><input type="number" pattern="\d*" class="input input--number js-numberBoxTextInput input input--numberNarrow js-pageJumpPage" value="4"  min="1" max="41" step="1" required="required" data-menu-autofocus="true" /></div>
					<span class="inputGroup-text"><button type="button" class="js-pageJumpGo button"><span class="button-text">Ir</span></button></span>
				</div>
			</div>
		</div>
	</div>

				</li>
			
		

		

	
		<li class="pageNav-page "><a href="/foro/consultas-y-sugerencias-del-foro.168/page-41">41</a></li>
	

	</ul>

	
		<a href="/foro/consultas-y-sugerencias-del-foro.168/page-2" class="pageNav-jump pageNav-jump--next">Siguiente</a>
	
</div>

<div class="pageNavSimple">
	

	<a class="pageNavSimple-el pageNavSimple-el--current"
		data-xf-init="tooltip" title="Ir a la página"
		data-xf-click="menu" role="button" tabindex="0" aria-expanded="false" aria-haspopup="true">
		1 de 41
	</a>
	

	<div class="menu menu--pageJump" data-menu="menu" aria-hidden="true">
		<div class="menu-content">
			<h4 class="menu-header">Ir a la página</h4>
			<div class="menu-row" data-xf-init="page-jump" data-page-url="/foro/consultas-y-sugerencias-del-foro.168/page-%page%">
				<div class="inputGroup inputGroup--numbers">
					<div class="inputGroup inputGroup--numbers inputNumber" data-xf-init="number-box"><input type="number" pattern="\d*" class="input input--number js-numberBoxTextInput input input--numberNarrow js-pageJumpPage" value="1"  min="1" max="41" step="1" required="required" data-menu-autofocus="true" /></div>
					<span class="inputGroup-text"><button type="button" class="js-pageJumpGo button"><span class="button-text">Ir</span></button></span>
				</div>
			</div>
		</div>
	</div>


	
		<a href="/foro/consultas-y-sugerencias-del-foro.168/page-2" class="pageNavSimple-el pageNavSimple-el--next">
			Siguiente <i aria-hidden="true"></i>
		</a>
		<a href="/foro/consultas-y-sugerencias-del-foro.168/page-41"
			class="pageNavSimple-el pageNavSimple-el--last"
			data-xf-init="tooltip" title="último">
			<i aria-hidden="true"></i> <span class="u-srOnly">último</span>
		</a>
	
</div>

</nav>



</div></div>

	
	

	<div class="block-container">
		<div class="block-filterBar">
			<div class="filterBar">
				

				<a class="filterBar-menuTrigger" data-xf-click="menu" role="button" tabindex="0" aria-expanded="false" aria-haspopup="true">Filtros</a>
				<div class="menu menu--wide" data-menu="menu" aria-hidden="true"
					data-href="/foro/consultas-y-sugerencias-del-foro.168/filters"
					data-load-target=".js-filterMenuBody">
					<div class="menu-content">
						<h4 class="menu-header">Mostrar solamente:</h4>
						<div class="js-filterMenuBody">
							<div class="menu-row">Cargando…</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		

		<div class="block-body">
			<div class="structItemContainer">
				
				
						<div class="structItemContainer-group structItemContainer-group--sticky">
							


{% assign threads = site.threads | where: "board", page.board %}

{% assign sticky_threads_count = 0 %}
{% for thread in threads %}
	{% if thread.sticky %}
		{% assign sticky_threads_count = sticky_threads_count | plus: 1 %}
	{% endif %}
{% endfor %}

{% if sticky_threads_count > 0 %}

	{% for thread in threads %}
	{% if thread.sticky %}
	{% assign messages = site.messages | where: "thread", thread.title %}
	{% assign starter_user = site.users | where: "nickname", thread.user | first %}
	{% assign last_user = site.users | where: "nickname", messages.last.user | first %}
	{% if starter_user.avatar %}
		{% if starter_user.avatar contains "http" %}
		{% assign starter_user_avatar = starter_user.avatar | replace: "http:", "https:" %}
		{% else %}
		{% capture starter_user_avatar %}/assets/smf/attachments/{{starter_user.avatar}}{% endcapture %}
		{% endif %}
	{% else %}
		{% assign starter_user_avatar = "/assets/smf/noavatar.gif" %}
	{% endif %}
	{% if last_user.avatar %}
		{% if last_user.avatar contains "http" %}
		{% assign last_user_avatar = last_user.avatar | replace: "http:", "https:" %}
		{% else %}
		{% capture last_user_avatar %}/assets/smf/attachments/{{last_user.avatar}}{% endcapture %}
		{% endif %}
	{% else %}
		{% assign last_user_avatar = "/assets/smf/noavatar.gif" %}
	{% endif %}
	<div class="structItem structItem--thread is-prefix294 is-prefix693  js-inlineModContainer js-threadListItem-189365" data-author="Legarad">
		<div class="structItem-cell structItem-cell--icon">
			<div class="structItem-iconContainer">
				<a href="{{page.template}}{{starter_user.url}}" class="avatar avatar--s" data-user-id="{{starter_user.id_member}}" data-xf-init="member-tooltip">
			<img src="{{starter_user_avatar}}" srcset="{{starter_user_avatar}} 2x" alt="Hobbes" class="avatar-u{{starter_user.id_member}}-s" /> 
		</a>
				
			</div>
		</div>
		<div class="structItem-cell structItem-cell--main" data-xf-init="touch-proxy">
			
				<ul class="structItem-statuses">
				
						<li>
							<i class="structItem-status structItem-status--sticky" aria-hidden="true" title="Importante"></i>
							<span class="u-srOnly">Importante</span>
						</li>
					
				</ul>

			<div class="structItem-title">

<a href="{{page.template}}{{thread.url}}" class="" data-tp-primary="on" data-xf-init="preview-tooltip" data-preview-url="{{page.template}}{{thread.url}}/preview">{{thread.title}}</a>

				</div>

			<div class="structItem-minor">
				

				
					<ul class="structItem-parts">
						<li><a href="{{page.template}}{{starter_user.url}}" class="username " dir="auto" data-user-id="{{starter_user.id_member}}" data-xf-init="member-tooltip">{{starter_user.nickname}}</a></li>
						<li class="structItem-startDate"><a href="{{page.template}}{{thread.url}}" rel="nofollow"><time  class="u-dt" dir="auto" datetime="2022-07-13T21:57:38-0500" data-time="1657767458" data-date-string="13 Jul 2022" data-time-string="21:57" title="{{ messages.first.date | date: "%B %d, %Y %I:%M %p" }}">{{ messages.first.date | date: "%B %d, %Y %I:%M %p" }}</time></a></li>
						
					</ul>

					
				
			</div>
		</div>
		<div class="structItem-cell structItem-cell--meta" title="Puntuación de las reacciones al primer mensaje: 0">
			<dl class="pairs pairs--justified">
				<dt>Respuestas</dt>
				<dd>{{messages.size}}</dd>
			</dl>
			<dl class="pairs pairs--justified structItem-minor">
				<dt>Visitas</dt>
				<dd>{{thread.views}}</dd>
			</dl>
		</div>
		<div class="structItem-cell structItem-cell--latest">
			
				<a href="{{page.template}}{{thread.url}}" rel="nofollow"><time  class="structItem-latestDate u-dt" dir="auto" datetime="2022-07-13T21:57:38-0500" data-time="1657767458" data-date-string="13 Jul 2022" data-time-string="21:57" title="{{ messages.last.date | date: "%B %d, %Y %I:%M %p" }}">{{ messages.last.date | date: "%B %d, %Y %I:%M %p" }}</time></a>
				<div class="structItem-minor">
					
						<a href="{{page.template}}{{last_user.url}}" class="username " dir="auto" data-user-id="{{last_user.id_member}}" data-xf-init="member-tooltip">{{last_user.nickname}}</a>
					
				</div>
			
		</div>
		<div class="structItem-cell structItem-cell--icon structItem-cell--iconEnd">
			<div class="structItem-iconContainer">
				
					<a href="{{page.template}}{{last_user.url}}" class="avatar avatar--xxs" data-user-id="379816" data-xf-init="member-tooltip">
			<img src="{{last_user_avatar}}"  alt="Aki" class="avatar-u379816-s" /> 
		</a>
				
			</div>
		</div>
	</div>
	{% endif %}
	{% endfor %}
{% endif %}
						</div>

						<div class="structItemContainer-group js-threadList">
{% assign threads = site.threads | where: "board", page.board %}
{% assign last_messages = "" | split: "," %}
{% for thread in threads %}
	{% unless thread.sticky %}
	{% assign last_message = site.messages | where: "thread", thread.title | last %}
	{% assign last_messages = last_messages | push: last_message %}
	{% endunless %}
{% endfor %}
{% assign last_messages = last_messages | sort: "date" %}

{% for last_message in last_messages reversed %}
	{% assign thread = site.threads | where: "title", last_message.thread | first %}
	{% assign messages = site.messages | where: "thread", thread.title %}
	{% assign starter_user = site.users | where: "nickname", thread.user | first %}
	{% assign last_user = site.users | where: "nickname", messages.last.user | first %}
	{% if starter_user.avatar %}
		{% if starter_user.avatar contains "http" %}
		{% assign starter_user_avatar = starter_user.avatar | replace: "http:", "https:" %}
		{% else %}
		{% capture starter_user_avatar %}/assets/smf/attachments/{{starter_user.avatar}}{% endcapture %}
		{% endif %}
	{% else %}
		{% assign starter_user_avatar = "/assets/smf/noavatar.gif" %}
	{% endif %}
	{% if last_user.avatar %}
		{% if last_user.avatar contains "http" %}
		{% assign last_user_avatar = last_user.avatar | replace: "http:", "https:" %}
		{% else %}
		{% capture last_user_avatar %}/assets/smf/attachments/{{last_user.avatar}}{% endcapture %}
		{% endif %}
	{% else %}
		{% assign last_user_avatar = "/assets/smf/noavatar.gif" %}
	{% endif %}
	<div class="structItem structItem--thread is-prefix294 is-prefix693  js-inlineModContainer js-threadListItem-189365" data-author="Legarad">
		<div class="structItem-cell structItem-cell--icon">
			<div class="structItem-iconContainer">
				<a href="{{page.template}}{{starter_user.url}}" class="avatar avatar--s" data-user-id="{{starter_user.id_member}}" data-xf-init="member-tooltip">
			<img src="{{starter_user_avatar}}" srcset="{{starter_user_avatar}} 2x" alt="Hobbes" class="avatar-u{{starter_user.id_member}}-s" /> 
		</a>
				
			</div>
		</div>
		<div class="structItem-cell structItem-cell--main" data-xf-init="touch-proxy">
			
				

			<div class="structItem-title">

<a href="{{page.template}}{{thread.url}}" class="" data-tp-primary="on" data-xf-init="preview-tooltip" data-preview-url="{{page.template}}{{thread.url}}/preview">{{thread.title}}</a>

				</div>

			<div class="structItem-minor">
				

				
					<ul class="structItem-parts">
						<li><a href="{{page.template}}{{starter_user.url}}" class="username " dir="auto" data-user-id="{{starter_user.id_member}}" data-xf-init="member-tooltip">{{starter_user.nickname}}</a></li>
						<li class="structItem-startDate"><a href="{{page.template}}{{thread.url}}" rel="nofollow"><time  class="u-dt" dir="auto" datetime="2022-07-13T21:57:38-0500" data-time="1657767458" data-date-string="13 Jul 2022" data-time-string="21:57" title="{{ messages.first.date | date: "%B %d, %Y %I:%M %p" }}">{{ messages.first.date | date: "%B %d, %Y %I:%M %p" }}</time></a></li>
						
					</ul>

					
				
			</div>
		</div>
		<div class="structItem-cell structItem-cell--meta" title="Puntuación de las reacciones al primer mensaje: 0">
			<dl class="pairs pairs--justified">
				<dt>Respuestas</dt>
				<dd>{{messages.size}}</dd>
			</dl>
			<dl class="pairs pairs--justified structItem-minor">
				<dt>Visitas</dt>
				<dd>{{thread.views}}</dd>
			</dl>
		</div>
		<div class="structItem-cell structItem-cell--latest">
			
				<a href="{{page.template}}{{thread.url}}" rel="nofollow"><time  class="structItem-latestDate u-dt" dir="auto" datetime="2022-07-13T21:57:38-0500" data-time="1657767458" data-date-string="13 Jul 2022" data-time-string="21:57" title="{{ messages.last.date | date: "%B %d, %Y %I:%M %p" }}">{{ messages.last.date | date: "%B %d, %Y %I:%M %p" }}</time></a>
				<div class="structItem-minor">
					
						<a href="{{page.template}}{{last_user.url}}" class="username " dir="auto" data-user-id="{{last_user.id_member}}" data-xf-init="member-tooltip">{{last_user.nickname}}</a>
					
				</div>
			
		</div>
		<div class="structItem-cell structItem-cell--icon structItem-cell--iconEnd">
			<div class="structItem-iconContainer">
				
					<a href="{{page.template}}{{last_user.url}}" class="avatar avatar--xxs" data-user-id="379816" data-xf-init="member-tooltip">
			<img src="{{last_user_avatar}}"  alt="Aki" class="avatar-u379816-s" /> 
		</a>
				
			</div>
		</div>
	</div>
{% endfor %}		
					</div>
				
			</div>
		</div>
	</div>

	<div class="block-outer block-outer--after">
		<div class="block-outer-main"><nav class="pageNavWrapper pageNavWrapper--mixed ">



<div class="pageNav  pageNav--skipEnd">
	

	<ul class="pageNav-main">
		

	
		<li class="pageNav-page pageNav-page--current "><a href="/foro/consultas-y-sugerencias-del-foro.168/">1</a></li>
	


		

		
			

	
		<li class="pageNav-page pageNav-page--later"><a href="/foro/consultas-y-sugerencias-del-foro.168/page-2">2</a></li>
	

		
			

	
		<li class="pageNav-page pageNav-page--later"><a href="/foro/consultas-y-sugerencias-del-foro.168/page-3">3</a></li>
	

		

		
			
				<li class="pageNav-page pageNav-page--skip pageNav-page--skipEnd">
					<a data-xf-init="tooltip" title="Ir a la página"
						data-xf-click="menu"
						role="button" tabindex="0" aria-expanded="false" aria-haspopup="true">…</a>
					

	<div class="menu menu--pageJump" data-menu="menu" aria-hidden="true">
		<div class="menu-content">
			<h4 class="menu-header">Ir a la página</h4>
			<div class="menu-row" data-xf-init="page-jump" data-page-url="/foro/consultas-y-sugerencias-del-foro.168/page-%page%">
				<div class="inputGroup inputGroup--numbers">
					<div class="inputGroup inputGroup--numbers inputNumber" data-xf-init="number-box"><input type="number" pattern="\d*" class="input input--number js-numberBoxTextInput input input--numberNarrow js-pageJumpPage" value="4"  min="1" max="41" step="1" required="required" data-menu-autofocus="true" /></div>
					<span class="inputGroup-text"><button type="button" class="js-pageJumpGo button"><span class="button-text">Ir</span></button></span>
				</div>
			</div>
		</div>
	</div>

				</li>
			
		

		

	
		<li class="pageNav-page "><a href="/foro/consultas-y-sugerencias-del-foro.168/page-41">41</a></li>
	

	</ul>

	
		<a href="/foro/consultas-y-sugerencias-del-foro.168/page-2" class="pageNav-jump pageNav-jump--next">Siguiente</a>
	
</div>

<div class="pageNavSimple">
	

	<a class="pageNavSimple-el pageNavSimple-el--current"
		data-xf-init="tooltip" title="Ir a la página"
		data-xf-click="menu" role="button" tabindex="0" aria-expanded="false" aria-haspopup="true">
		1 de 41
	</a>
	

	<div class="menu menu--pageJump" data-menu="menu" aria-hidden="true">
		<div class="menu-content">
			<h4 class="menu-header">Ir a la página</h4>
			<div class="menu-row" data-xf-init="page-jump" data-page-url="/foro/consultas-y-sugerencias-del-foro.168/page-%page%">
				<div class="inputGroup inputGroup--numbers">
					<div class="inputGroup inputGroup--numbers inputNumber" data-xf-init="number-box"><input type="number" pattern="\d*" class="input input--number js-numberBoxTextInput input input--numberNarrow js-pageJumpPage" value="1"  min="1" max="41" step="1" required="required" data-menu-autofocus="true" /></div>
					<span class="inputGroup-text"><button type="button" class="js-pageJumpGo button"><span class="button-text">Ir</span></button></span>
				</div>
			</div>
		</div>
	</div>


	
		<a href="/foro/consultas-y-sugerencias-del-foro.168/page-2" class="pageNavSimple-el pageNavSimple-el--next">
			Siguiente <i aria-hidden="true"></i>
		</a>
		<a href="/foro/consultas-y-sugerencias-del-foro.168/page-41"
			class="pageNavSimple-el pageNavSimple-el--last"
			data-xf-init="tooltip" title="último">
			<i aria-hidden="true"></i> <span class="u-srOnly">último</span>
		</a>
	
</div>

</nav>



</div>
		


</div>
				
			</div>

			
		</div>

		
		
	
<ul class="p-breadcrumbs " itemscope itemtype="https://schema.org/BreadcrumbList">
	<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
		<a href="{{page.template}}{{site.data.forums.base_url}}" itemprop="item">
			<span itemprop="name">Foros</span>
		</a>
		<meta itemprop="position" content="1" />
	</li>
	<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
		<a href="{{page.template}}{{site.data.forums.base_url}}/#category-{{category.id}}" itemprop="item">
			<span itemprop="name">{{category.name}}</span>
		</a>
		<meta itemprop="position" content="2" />
	</li>
	{% if page.child_level %}
	{% assign parent_board = site.boards | where: "board", page.parent_board | first %}
	<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
		<a href="{{page.template}}{{parent_board.url}}" itemprop="item">
			<span itemprop="name">{{parent_board.board}}</span>
		</a>
		<meta itemprop="position" content="3">
	</li>
	{% endif %}
</ul>
	

		
	</div>
</div>

<footer class="p-footer" id="footer">{% include forosdz/footer.html %}</footer>

</div> <!-- closing p-pageWrapper -->

<div class="u-bottomFixer js-bottomFixTarget">
	
	
</div>


	<div class="u-scrollButtons js-scrollButtons" data-trigger-type="both">
		<a href="#top" class="button--scroll button" data-xf-click="scroll-to"><span class="button-text"><i class="fa--xf far fa-arrow-up" aria-hidden="true"></i><span class="u-srOnly">Arriba</span></span></a>
		
			<a href="#footer" class="button--scroll button" data-xf-click="scroll-to"><span class="button-text"><i class="fa--xf far fa-arrow-down" aria-hidden="true"></i><span class="u-srOnly">Pie</span></span></a>
		
	</div>



	<script src="/assets/forosdz/scripts/jquery-3.4.1.min.js?_v=9590c520"></script>
	<script src="/assets/forosdz/scripts/vendor-compiled.js?_v=9590c520"></script>
	<script src="/assets/forosdz/scripts/core-compiled.js?_v=9590c520"></script>
	<script src="/assets/forosdz/scripts/jquery.countdown.min.js?_v=9590c520"></script>
<script src="/assets/forosdz/scripts/Countdown.js?_v=9590c520"></script>
<script src="/assets/forosdz/scripts/defaultReaction.min.js?_v=9590c520"></script>
<script src="/assets/forosdz/scripts/hiddenContent.min.js?_v=9590c520"></script>
<script>

        jQuery.extend(XF.phrases, {
            th_reactplus_loading_reactions: 'Loading reactions…'
        });
    
</script>



	


    
        
    

	

    

	<script class="js-thReactMenu" type="text/template">
		<div class="menu menu--emoji" data-menu="menu" aria-hidden="true"
			 data-href="#"
			 data-load-target=".js-xfSmilieMenuBody">
			<div class="menu-content">
				<div class="js-xfSmilieMenuBody">
					<div class="menu-row">Cargando…</div>
				</div>
			</div>
		</div>
	</script>


	


	
	
	<script>
		/**
		 * @see https://xenforo.com/community/resources/rellect-favicon-for-links.6409/
		 */
		var rellect_favicon = function() {
			this.init(document)

			jQuery(document).on('xf:reinit', function(e, el) {
				el = (el instanceof jQuery) ? el[0] : el

				if (!el || !el.getAttribute) {
					return
				}

				if (el.classList.contains('link')) {
					return this.setFavicon(el)
				}

				this.init(el)
			}.bind(this))
		}
		
		rellect_favicon.prototype = {
			isRTL: function(s) {
				var rtlChars = '\u0591-\u07FF\u200F\u202B\u202E\uFB1D-\uFDFD\uFE70-\uFEFC'
				return !(/^\w+$/.test(s)) && (new RegExp('^[^'+rtlChars+']*?['+rtlChars+']').test(s))
			},

			setFavicon: function(link) {
				if (link.classList.contains('has-favicon')) {
					return
				}

				if (link.textContent.trim() === '') {
					link.classList.add('no-favicon')
					return
				}

				if (link.getElementsByTagName('img').length) {
					link.classList.add('no-favicon')
					return
				}

				link.style.backgroundImage = "url('https://www.google.com/s2/favicons?domain=" + link.getAttribute('href') + "')"
				link.classList.add('has-favicon')

				if (this.isRTL(link.innerText[1])) {
					link.classList.add('has-favicon-rtl')
				}
			},

			init: function(root) {
				;[].forEach.call(root.querySelectorAll('.link'), this.setFavicon.bind(this))
			},
		}

		new rellect_favicon()
	</script>


	<script>
		jQuery.extend(true, XF.config, {
			// 
			userId: 0,
			enablePush: true,
			pushAppServerKey: 'BFU1t8Sk49n66LJJVqub2HA0QHWLqniDbDF712vlR0VgrxUIQjU+FmUhMAT0y0kqhyV2NruYHM/Fv9ziaSoe6mg=',
			url: {
				fullBase: 'https://forosdz.com/',
				basePath: '/',
				css: '/css.php?css=__SENTINEL__&s=45&l=2&d=1658168182',
				keepAlive: '/login/keep-alive'
			},
			cookie: {
				path: '/',
				domain: '',
				prefix: 'xf_',
				secure: true
			},
			csrf: '1658546754,f793dbf128c51a030134bc6641a67090',
			js: {"\/js\/xfa\/vendor\/countdown\/2.1.0\/jquery.countdown.min.js?_v=9590c520":true,"\/js\/xfa\/multiplecountdowns\/Countdown.js?_v=9590c520":true,"\/js\/themehouse\/reactplus\/defaultReaction.min.js?_v=9590c520":true,"\/js\/themehouse\/reactplus\/hiddenContent.min.js?_v=9590c520":true},
			css: {"public:alnb_navigation.less":true,"public:andy_forummoderators.less":true,"public:node_list.less":true,"public:rellect_favicon.less":true,"public:structured_list.less":true,"public:th_covers.less":true,"public:xfa_mcdn_header.less":true,"public:extra.less":true},
			time: {
				now: 1658546754,
				today: 1658466000,
				todayDow: 5,
				tomorrow: 1658552400,
				yesterday: 1658379600,
				week: 1657947600
			},
			borderSizeFeature: '3px',
			fontAwesomeWeight: 'r',
			enableRtnProtect: true,
			enableFormSubmitSticky: true,
			uploadMaxFilesize: 838860800,
			allowedVideoExtensions: ["m4v","mov","mp4","mp4v","mpeg","mpg","ogv","webm"],
			shortcodeToEmoji: true,
			visitorCounts: {
				conversations_unread: '0',
				alerts_unread: '0',
				total_unread: '0',
				title_count: true,
				icon_indicator: true
			},
			jsState: {},
			publicMetadataLogoUrl: '',
			publicPushBadgeUrl: 'https://forosdz.com/styles/default/xenforo/bell.png'
		});

		jQuery.extend(XF.phrases, {
			// 
			date_x_at_time_y: "{date} a las {time}",
			day_x_at_time_y:  "{day} a las {time}",
			yesterday_at_x:   "Ayer a las {time}",
			x_minutes_ago:    "hace {minutes} minutos",
			one_minute_ago:   "Hace 1 minuto",
			a_moment_ago:     "Hace un momento",
			today_at_x:       "Hoy a las {time}",
			in_a_moment:      "En un momento",
			in_a_minute:      "En un minuto",
			in_x_minutes:     "En {minutes} minutos",
			later_today_at_x: "Más tarde hoy a las {time}",
			tomorrow_at_x:    "Mañana a las {time}",

			day0: "Domingo",
			day1: "Lunes",
			day2: "Martes",
			day3: "Miércoles",
			day4: "Jueves",
			day5: "Viernes",
			day6: "Sábado",

			dayShort0: "Dom",
			dayShort1: "Lun",
			dayShort2: "Mar",
			dayShort3: "Mie",
			dayShort4: "Jue",
			dayShort5: "Vie",
			dayShort6: "Sab",

			month0: "Enero",
			month1: "Febrero",
			month2: "Marzo",
			month3: "Abril",
			month4: "Mayo",
			month5: "Junio",
			month6: "Julio",
			month7: "Agosto",
			month8: "Septiembre",
			month9: "Octubre",
			month10: "Noviembre",
			month11: "Diciembre",

			active_user_changed_reload_page: "El usuario activo ha cambiado. Actualiza la página para ver la última versión.",
			server_did_not_respond_in_time_try_again: "El servidor no responde en tiempo. Intentar otra vez.",
			oops_we_ran_into_some_problems: "Uups! Tenemos algún problema.",
			oops_we_ran_into_some_problems_more_details_console: "Uups! Tenemos algún problema. Inténtalo más tarde.",
			file_too_large_to_upload: "El archivo es demasiado grande para subirse.",
			uploaded_file_is_too_large_for_server_to_process: "El archivo subido es demasiado grande para que el servidor lo procese.",
			files_being_uploaded_are_you_sure: "Los archivos se siguen subiendo. ¿Estás seguro de querer enviar el formulario?",
			attach: "Agregar archivos",
			rich_text_box: "Rich text box",
			close: "Cerrar",
			link_copied_to_clipboard: "Enlace copiado al portapapeles.",
			text_copied_to_clipboard: "Texto copiado en el portapapeles",
			loading: "Cargando…",

			processing: "Procesando",
			'processing...': "Procesando…",

			showing_x_of_y_items: "Viendo {count} de {total} elementos",
			showing_all_items: "Mostrando todo",
			no_items_to_display: "No hay nada para mostrar",

						thgiphy_search_for_gifs: "Buscar GIFs",
			thgiphy_no_search_results: "Sin resultados de la búsqueda.",
			

			push_enable_notification_title: "Notificaciones push habilitadas en Foros Dz",
			push_enable_notification_body: "Gracias por habilitar las notificaciones push."
		});
	</script>

	<form style="display:none" hidden="hidden">
		<input type="text" name="_xfClientLoadTime" value="" id="_xfClientLoadTime" title="_xfClientLoadTime" tabindex="-1" />
	</form>

	



	<script type="text/template" id="xfReactTooltipTemplate">
		<div class="tooltip-content-inner">
			<div class="reactTooltip">
				
					<a href="#" class="reaction reaction--1" data-reaction-id="1"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Me gusta" title="Me gusta" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--2" data-reaction-id="2"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Lo amo" title="Lo amo" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--3" data-reaction-id="3"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Me divierte" title="Me divierte" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--4" data-reaction-id="4"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Wow" title="Wow" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--5" data-reaction-id="5"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Triste" title="Triste" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--8" data-reaction-id="8"><i aria-hidden="true"></i><img src="https://forosdz.xyz/imagenes/2019/08/06/poop-emoji.png"  class="reaction-image js-reaction" alt="Caca" title="Caca" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--6" data-reaction-id="6"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Me enoja" title="Me enoja" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
			</div>
		</div>
	</script>





</body>
</html>









