<!DOCTYPE html>
<html id="XF" lang="es-ES" dir="LTR"
	data-app="public"
	data-template="forum_list"
	data-container-key=""
	data-content-key=""
	data-logged-in="false"
	data-cookie-prefix="xf_"
	data-csrf="1658546641,8a2cc9a3bc3c0678fc849a9dd4d266e8"
	class="has-no-js template-forum_list"
	>
<head>
	<link rel="shortcut icon" href="/assets/forosdz/favicon.ico">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="robots" content="noindex">
	<title>{{site.data.forums.title}}</title>
<link rel="dns-prefetch" href="//www.google.com">
	<script>
	var th_giphyIcon = {
		type: 'image',
		value: '/styles/themehouse/giphy/giphy.png'
	};
</script>
		<meta name="description" content="{{site.data.forums.subtitle}}" />
		<meta property="og:description" content="{{site.data.forums.subtitle}}" />
		<meta property="twitter:description" content="{{site.data.forums.subtitle}}" />
		<link rel="canonical" href="{{page.url}}" />
		<link rel="alternate" type="application/rss+xml" title="Noticias RSS de {{site.data.forums.title2}}" href="/foro/-/index.rss" />
	<meta property="og:site_name" content="{{site.data.forums.title2}}" />
	<meta property="og:type" content="website" />
		<meta property="og:title" content="{{site.data.forums.title2}}" />
		<meta property="twitter:title" content="{{site.data.forums.title2}}" />
	<meta property="og:url" content="{{page.url}}" />
		<meta name="theme-color" content="#000" />
	<link rel="preload" href="/assets/forosdz/fonts/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
	<link rel="preload" href="/assets/forosdz/fonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" href="/assets/forosdz/fonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
	<link rel="stylesheet" href="/assets/forosdz/styles/style.css" />
	<link rel="stylesheet" href="/assets/forosdz/styles/style2.css" />
		<script src="/assets/forosdz/scripts/preamble.min.js?_v=9590c520"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-273394-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-273394-1', {
			// 
		});
	</script>
<meta property="fb:app_id" content="737927819593454" />
<meta property="fb:admins" content="548145604"/>

<script type="text/javascript">
var ranges = [
  { divider: 1e18 , suffix: 'E' },
  { divider: 1e15 , suffix: 'P' },
  { divider: 1e12 , suffix: 'T' },
  { divider: 1e9 , suffix: 'G' },
  { divider: 1e6 , suffix: 'M' },
  { divider: 1e3 , suffix: 'K' }
];

function formatNumber(n) {
  for (var i = 0; i < ranges.length; i++)
    if (n >= ranges[i].divider)
      return (Math.round(n / ranges[i].divider * 10) / 10).toString() + ranges[i].suffix;
  return n.toString();
}
</script>
</head>
<body data-template="forum_list">

<div class="p-pageWrapper" id="top">

{% include forosdz/header.html %}

<div class="p-body">
	<div class="p-body-inner">
		<!--XF:EXTRA_OUTPUT-->


		

		

		
		
	

		

		
	<noscript><div class="blockMessage blockMessage--important blockMessage--iconic u-noJsOnly">JavaScript is disabled. For a better experience, please enable JavaScript in your browser before proceeding.</div></noscript>

		
	<!--[if lt IE 9]><div class="blockMessage blockMessage&#45;&#45;important blockMessage&#45;&#45;iconic">Estás usando un navegador obsoleto. No se pueden mostrar estos u otros sitios web correctamente.<br />Se debe actualizar o usar un <a href="https://www.google.com/chrome" target="_blank">navegador alternativo</a>.</div><![endif]-->


		
			
<div class="p-body-header "
style=" ">

			
				
					<div class="p-title ">
					
						
							<h1 class="p-title-value">{{site.data.forums.title}}</h1>
						
					
					</div>
				

				
			
			</div>
		

		<div class="p-body-main p-body-main--withSidebar ">
			

			<div class="p-body-content">
				
				<div class="p-body-pageContent">

{% for category in site.data.forums.categories %}
	{% assign boards = site.boards | where: "category", category.name | sort: "board_order" %}
    {% if boards.size > 0 %}
	<div class="block block--category block--category{{category.id}} collapsible-nodes">
		<span class="u-anchorTarget" id="category-{{category.id}}"></span>
		<div class="block-container">
			<h2 class="block-header">
				<div class="block-header--left">
					<a href="/#category-{{category.id}}">{{category.name}}</a>
				</div>
				<span id="collapse-{{category.id}}" class="collapseTrigger collapseTrigger--block  is-active" data-xf-click="toggle" data-xf-init="toggle-storage" data-storage-type="cookie" data-target=".block--category{{category.id}} .block-body" data-storage-key="_node-{{category.id}}"></span>
			</h2>
			<div class="block-body block-body--collapsible  is-active">
				
				{% for board in boards %}
				    {% unless board.child_level %}
					<div class="node node--id{{board.id}} node--depth2 node--forum node--unread">
						<div class="node-body">
							<span class="node-icon" aria-hidden="true"><i></i></span>
							<div class="node-main js-nodeMain">
								<h3 class="node-title">
									<a href="{{page.template}}{{board.url}}" data-xf-init="element-tooltip" data-shortcut="node-description">{{board.board}}</a>
								</h3>
								<div class="node-description node-description--tooltip js-nodeDescTooltip">{{board.description}}</div>

                        {% assign boards1 = site.boards | where: "board", board.board %}
                        {% assign boards2 = site.boards | where: "parent_board", board.board %}
                        {% assign boards = boards1 | concat: boards2 %}

                        {% assign threads = "" | split: "," %}
                        {% for board in boards %}
                            {% assign threads2 = site.threads | where: "board", board.board %}
                            {% assign threads = threads | concat: threads2 %}
                        {% endfor %}

                        {% assign messages = "" | split: "," %}
                        {% for thread in threads %}
                            {% assign messages2 = site.messages | where: "thread", thread.title %}
                            {% assign messages = messages | concat: messages2 | sort: "date" %}
                        {% endfor %}

                        {% assign last_user = site.users | where: "nickname", messages.last.user | first %}
                        {% assign last_msg_thread = site.threads | where: "title", messages.last.thread | first %}

								<div class="node-meta">
									<div class="node-statsMeta">
										<dl class="pairs pairs--inline">
											<dt>Temas</dt>
											<dd>{{threads.size}}</dd>
										</dl>
										<dl class="pairs pairs--inline">
											<dt>Mensajes</dt>
											<dd>{{messages.size}}</dd>
										</dl>
									</div>
								</div>

                				{% assign childboards = site.boards | where: "child_level", 1 | where: "parent_board", board.board | sort: "board_order" %}

                        		{% if childboards.size > 0 %}
								<div class="node-subNodeMenu">
									<a class="menuTrigger" data-xf-click="menu" role="button" tabindex="0" aria-expanded="false" aria-haspopup="true">Sub-Foros</a>
									<div class="menu" data-menu="menu" aria-hidden="true">
										<div class="menu-content">
											<h4 class="menu-header">Sub-Foros</h4>
											<ol class="subNodeMenu">
												{% for subboard in childboards %}
												<li>
													<a href="{{page.template}}{{subboard.url}}" class="subNodeLink subNodeLink--forum subNodeLink--unread">{{subboard.board}}</a>
												</li>
												{% endfor %}
											</ol>
										</div>
									</div>
								</div>
								{% endif %}

							</div>
							<div class="node-stats">
								<dl class="pairs pairs--rows">
									<dt>Temas</dt>
									<dd>{{threads.size}}</dd>
								</dl>
								<dl class="pairs pairs--rows">
									<dt>Mensajes</dt>
									<dd>{{messages.size}}</dd>
								</dl>
								<script type="text/javascript">
									document.querySelectorAll('.node-stats dd').forEach(el => {
										el.innerText = formatNumber(el.innerText)
									})
								</script>
							</div>

										{% if last_user.avatar %}
											{% if last_user.avatar contains "http" %}
											{% assign last_user_avatar = last_user.avatar %}
											{% else %}
											{% capture last_user_avatar %}/assets/smf/attachments/{{last_user.avatar}}{% endcapture %}
											{% endif %}
										{% else %}
											{% assign last_user_avatar = "/assets/smf/noavatar.gif" %}
										{% endif %}
							<div class="node-extra">
								<div class="node-extra-icon">
									<a href="{{page.template}}{{last_user.url}}" class="avatar avatar--xs" data-user-id="{{last_user.id_member}}" data-xf-init="member-tooltip">
										<img src="{{last_user_avatar}}" srcset="{{last_user_avatar}} 2x" alt="Alesandro" class="avatar-u{{last_user.id_member}}-s" /> 
									</a>
								</div>
								<div class="node-extra-row">
									<a href="{{page.template}}{{last_msg_thread.url}}" class="node-extra-title" title="{{messages.last.subject}}">{{messages.last.subject}}</a>
								</div>
								<div class="node-extra-row">
									<ul class="listInline listInline--bullet">
										<li><time  class="node-extra-date u-dt" dir="auto" datetime="2022-07-21T10:32:03-0500" data-time="1658417523" data-date-string="21 Jul 2022" data-time-string="10:32" title="{{ messages.last.date | date: "%B %d, %Y %I:%M %p" }}">{{ messages.last.date | date: "%B %d, %Y %I:%M %p" }}</time></li>
										<li class="node-extra-user"><a href="{{page.template}}{{last_user.url}}" class="username " dir="auto" data-user-id="{{last_user.id_member}}" data-xf-init="member-tooltip" id="js-XFUniqueId{{last_user.id_member}}">{{last_user.nickname}}</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					{% endunless %}
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
{% endfor %}


</div>
				
			</div>

			
				<div class="p-body-sidebar">

	<div class="block" data-widget-id="44" data-widget-key="ultimasentradasindex" data-widget-definition="xa_ams_latest_articles" data-type="ams_article">
		
			<div class="block-container">
				
					<h3 class="block-header">
						<a href="/nuevos-contenidos/nuevas-entradas-blogs/?skip=1" rel="nofollow">Últimas entradas de Blogs</a>
					</h3>
					<div class="block-body">
						<div class="gridContainerAmsTileView">		
							<ul class="ams-tile-view">
								
	{% assign empty_array = "a" | split: "" | reverse %}
	{% for item in empty_array limit:5 %}
	<li class="tile-container   js-inlineModContainer js-articleListItem-818" data-author="Nel">
		<div class="tile-item large-tile-item">
			
				<a class="tile-image-link" style="background: url(/assets/forosdz/umineko_no_naku_koro_ni_when_the_seagulls_cry_when_they_cry_3_tv_series-282922869-large.jpg) no-repeat center center transparent; background-size: cover;" href="/blogs/los-chip-telefonico-ilegal-pueda-ser-el-causante-de-muchos-crimen-cometido.818/"></a>
			

			<div class="tile-caption tile-caption-large">
				<h1><a class="tile-item-heading" href="#">los chip telefonico ilegal pueda ser el causante de muchos crimen cometido.</a></h1>

				

				<ul class="listInline listInline--bullet">
					<li><time class="publish-date"><time  class="u-dt" dir="auto" datetime="2022-07-19T19:05:36-0500" data-time="1658275536" data-date-string="19 Jul 2022" data-time-string="19:05" title="19 Jul 2022 a las 19:05">Martes a las 19:05</time></time></li> 
					<li><a class="category-title category-2" href="#">General</a></li>
				</ul>
			</div>
		</div>
	</li>
	{% endfor %}
							</ul>
						</div>
					</div>	
				
			</div>
		
	</div>


	


<div class="block" data-widget-section="onlineNow" data-widget-id="6" data-widget-key="forum_overview_members_online" data-widget-definition="members_online">
	<div class="block-container">
		<h3 class="block-minorHeader"><a href="/online/">Usuarios en línea</a></h3>
		<div class="block-body">
			<div class="block-row block-row--minor">
				<ul class="listInline listInline--comma">
					{% assign users = site.users %}
					{% assign online_users = site.users | where: "online", 1 %}
					{% for user in online_users %}
					<li><a href="{{page.template}}{{user.url}}" class="username " dir="auto" data-user-id="{{user.id_member}}" data-xf-init="member-tooltip">{{user.nickname}}</a></li>
					{% else %}
					<li><em>No hay usuarios online</em></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="block-footer">
			<span class="block-footer-counter">Total:&nbsp;{{users.size}} (usuarios:&nbsp;0, invitados:&nbsp;0)</span>
		</div>
	</div>
</div>

<div class="block" data-widget-id="9" data-widget-key="forum_overview_new_posts" data-widget-definition="new_posts">
	<div class="block-container">
		<h3 class="block-minorHeader">
			<a href="{{page.template}}/messages/recent" rel="nofollow">Últimos mensajes</a>
		</h3>
		<ul class="block-body">

{% assign messages = site.messages | sort: "date" | reverse %}
{% for message in messages limit:5 %}
	{% assign thread = site.threads | where: "title", message.thread | first %}
	{% assign user = site.users | where: "nickname", message.user | first %}
	{% assign board = site.boards | where: "board", thread.board | first %}
	{% if user.avatar %}
		{% if user.avatar contains "http" %}
		{% assign user_avatar = user.avatar %}
		{% else %}
		{% capture user_avatar %}/assets/smf/attachments/{{user.avatar}}{% endcapture %}
		{% endif %}
	{% else %}
		{% assign user_avatar = "/assets/smf/noavatar.gif" %}
	{% endif %}
	<li class="block-row">
		<div class="contentRow">
			<div class="contentRow-figure">
				<a href="{{page.template}}{{user.url}}" class="avatar avatar--xxs" data-user-id="{{user.id_member}}" data-xf-init="member-tooltip">
				<img src="{{user_avatar}}"  alt="{{user.nickname}}" class="avatar-u{{user.id_member}}-s" /> 
			</a>
			</div>
			<div class="contentRow-main contentRow-main--close">
				<a href="{{page.template}}{{thread.url}}">{{message.subject}}</a>
				<div class="contentRow-minor contentRow-minor--hideLinks">
					<ul class="listInline listInline--bullet">
						<li>Últimos: <a href="{{page.template}}{{user.url}}" class="username " dir="auto" data-user-id="{{user.id_member}}" data-xf-init="member-tooltip">{{user.nickname}}</a></li>
						<li><time class="u-dt" dir="auto" datetime="2022-07-22T22:13:36-0500" data-time="1658546016" data-date-string="22 Jul 2022" data-time-string="22:13" title="{{ message.date | date: "%B %d, %Y %I:%M:%S %p" }}">{{ message.date | date: "%B %d, %Y %I:%M:%S %p" }}</time></li>
					</ul>
				</div>
				<div class="contentRow-minor contentRow-minor--hideLinks">
					<a href="{{page.template}}{{board.url}}">{{board.board}}</a>
				</div>
			</div>
		</div>
	</li>
{% endfor %}
		</ul>
	</div>
</div>


	
<div class="block" data-widget-id="14" data-widget-key="15" data-widget-definition="new_threads">
	<div class="block-container">
		<h3 class="block-minorHeader">
			<a href="/nuevos-contenidos/" rel="nofollow">Últimos temas</a>
		</h3>
		<ul class="block-body">
						
{% assign threads = site.threads | sort: "date" | reverse %}
{% for thread in threads %}
	{% assign user = site.users | where: "nickname", thread.user | first %}
	{% assign board = site.boards | where: "board", thread.board | first %}
	{% if user.avatar %}
		{% if user.avatar contains "http" %}
		{% assign user_avatar = user.avatar %}
		{% else %}
		{% capture user_avatar %}/assets/smf/attachments/{{user.avatar}}{% endcapture %}
		{% endif %}
	{% else %}
		{% assign user_avatar = "/assets/smf/noavatar.gif" %}
	{% endif %}
	{% assign replies = site.messages | where: "thread", thread.title %}
	<li class="block-row">
		<div class="contentRow">
			<div class="contentRow-figure">
				<a href="{{page.template}}{{user.url}}" class="avatar avatar--xxs" data-user-id="{{user.id_member}}" data-xf-init="member-tooltip">
				<img src="{{user_avatar}}"  alt="Lord Legislador" class="avatar-u{{user.id_member}}-s" /> 
			</a>
			</div>
			<div class="contentRow-main contentRow-main--close">
				<a href="{{page.template}}{{thread.url}}">{{thread.title}}</a>

				<div class="contentRow-minor contentRow-minor--hideLinks">
					<ul class="listInline listInline--bullet">
						<li>Iniciado por <a href="{{page.template}}{{user.url}}" class="username " dir="auto" data-user-id="{{user.id_member}}" data-xf-init="member-tooltip">{{user.nickname}}</a></li>
						<li><time  class="u-dt" dir="auto" datetime="2022-07-22T21:10:25-0500" data-time="1658542225" data-date-string="22 Jul 2022" data-time-string="21:10" title="{{ thread.date | date: "%B %d, %Y %I:%M:%S %p" }}">{{ thread.date | date: "%B %d, %Y %I:%M:%S %p" }}</time></li>
						<li>Respuestas: {{replies.size | minus: 1}}</li>
					</ul>
				</div>
				<div class="contentRow-minor contentRow-minor--hideLinks">
					<a href="{{page.template}}{{board.url}}">{{board.board}}</a>
				</div>
			</div>
		</div>
	</li>
{% endfor %}

		</ul>
	</div>
</div>
	



<div class="block" data-widget-id="27" data-widget-key="latest_activity" data-widget-definition="at_law_widget">
	<div class="block-container">
		<h3 class="block-minorHeader">Actividad reciente</h3>
		<div class="block-body block-row">
			
			<ul class="block-body js-newsFeedTarget">

{% assign messages = site.messages | sort: "date" | reverse %}
{% for message in messages limit:5 %}
	{% assign thread = site.threads | where: "title", message.thread | first %}
	{% assign user = site.users | where: "nickname", message.user | first %}
	{% assign board = site.boards | where: "board", thread.board | first %}
	{% if user.avatar %}
		{% if user.avatar contains "http" %}
		{% assign user_avatar = user.avatar %}
		{% else %}
		{% capture user_avatar %}/assets/smf/attachments/{{user.avatar}}{% endcapture %}
		{% endif %}
	{% else %}
		{% assign user_avatar = "/assets/smf/noavatar.gif" %}
	{% endif %}
	{% assign replies = site.messages | where: "thread", thread.title | first %}

	{% if message.id_msg == replies.first.id_msg %}
	<li class="block-row block-row--separated " data-author="{{user.nickname}}">
		
	<div class="contentRow">
		<span class="contentRow-figure">
			<a href="{{page.template}}{{user.url}}" class="avatar avatar--s" data-user-id="{{user.id_member}}" data-xf-init="member-tooltip" id="js-XFUniqueId42">
			<img src="{{user_avatar}}" srcset="{{user_avatar}} 2x" alt="{{user.nickname}}" class="avatar-u{{user.id_member}}-s"> 
		</a>
		</span>
		<div class="contentRow-main">
			<div class="contentRow-title">
	<a href="{{page.template}}{{user.url}}" class="username " dir="auto" data-user-id="{{user.id_member}}" data-xf-init="member-tooltip" id="js-XFUniqueId43">{{user.nickname}}</a> ha publicado un nuevo tema.
</div>

<div class="contentRow-snippet"><a href="{{page.template}}{{thread.url}}">{{thread.title}}</a></div>

<div class="contentRow-snippet">{{message.content | strip_html | truncatewords: 24}}</div>

<div class="contentRow-minor"><time class="u-dt" dir="auto" datetime="2022-07-27T10:48:38-0500" data-time="1658936918" data-date-string="27 Jul 2022" data-time-string="10:48" title="{{ thread.date | date: "%B %d, %Y %I:%M:%S %p" }}">{{ thread.date | date: "%B %d, %Y %I:%M:%S %p" }}</time></div>
		</div>
	</div>

	</li>
	{% else %}
					<!--
	<li class="block-row block-row--separated " data-author="{{user.nickname}}">
		
	<div class="contentRow">
		<span class="contentRow-figure">
			<a href="{{page.template}}{{user.url}}" class="avatar avatar--s" data-user-id="{{user.id_member}}" data-xf-init="member-tooltip">
			<img src="{{user_avatar}}" srcset="{{user_avatar}} 2x" alt="{{user.nickname}}" class="avatar-u{{user.id_member}}-s" /> 
		</a>
		</span>
		<div class="contentRow-main">
			<div class="contentRow-title">
	<a href="{{page.template}}{{user.url}}" class="username " dir="auto" data-user-id="{{user.id_member}}" data-xf-init="member-tooltip">{{user.nickname}}</a> ha respondido al tema <a href="{{page.template}}{{thread.url}}">{{thread.title}}</a>.
</div>

<div class="contentRow-snippet">{{message.content | strip_html | truncatewords: 24}}</div>


<div class="contentRow-minor"><time  class="u-dt" dir="auto" datetime="2022-07-22T22:13:36-0500" data-time="1658546016" data-date-string="22 Jul 2022" data-time-string="22:13" title="22 Jul 2022 a las 22:13">hace 5 minutos</time></div>
		</div>
	</div>

	</li>
-->
						<li class="block-row block-row--separated at_law_block " data-author="{{user.nickname}}">
						<div class="contentRow">
							
								<div class="contentRow-figure">
									<a href="{{page.template}}{{user.url}}" class="avatar avatar--s" data-user-id="{{user.id_member}}" data-xf-init="member-tooltip">
			<img src="{{user_avatar}}" srcset="{{user_avatar}} 2x" alt="{{user.nickname}}" class="avatar-u{{user.id_member}}-s" /> 
		</a>
								</div>
							
                            <div class="contentRow-main">
								<div class="contentRow-title">
	<a href="{{page.template}}{{user.url}}" class="username " dir="auto" data-user-id="{{user.id_member}}" data-xf-init="member-tooltip">{{user.nickname}}</a> ha respondido al tema <a href="{{page.template}}{{thread.url}}">{{thread.title}}</a>.
</div>

<div class="contentRow-snippet">{{message.content | strip_html | truncatewords: 24}}</div>


<div class="contentRow-minor"><time  class="u-dt" dir="auto" datetime="2022-07-22T22:13:36-0500" data-time="1658546016" data-date-string="22 Jul 2022" data-time-string="22:13" title="{{ message.date | date: "%B %d, %Y %I:%M:%S %p" }}">{{ message.date | date: "%B %d, %Y %I:%M:%S %p" }}</time></div>
							</div>
						</div>
					</li>
	{% endif %}
{% endfor %}
				
			</ul>
		</div>

		<div class="block-footer">
			<span class="block-footer-controls">
				<a href="/nuevos-contenidos/latest-activity" class="button" rel="nofollow"><span class="button-text">Ver más…</span></a>
			</span>
		</div>
	</div>
</div>

<div class="block" data-widget-id="7" data-widget-key="forum_overview_forum_statistics" data-widget-definition="forum_statistics">
	<div class="block-container">
		<h3 class="block-minorHeader">Estadísticas del foro</h3>
		<div class="block-body block-row">
			<dl class="pairs pairs--justified">
				<dt>Temas</dt>
				<dd>{{site.threads.size}}</dd>
			</dl>

			<dl class="pairs pairs--justified">
				<dt>Mensajes</dt>
				<dd>{{site.messages.size}}</dd>
			</dl>

			<dl class="pairs pairs--justified">
				<dt>Miembros</dt>
				<dd>{{site.users.size}}</dd>
			</dl>
			{% assign users = site.users | sort: "date_registered" %}
			<dl class="pairs pairs--justified">
				<dt>Último miembro</dt>
				<dd><a href="{{page.template}}{{users.last.url}}" class="username " dir="auto" data-user-id="{{users.last.id_member}}" data-xf-init="member-tooltip">{{users.last.nickname}}</a></dd>
			</dl>
			<script type="text/javascript">
				document.querySelectorAll('[data-widget-definition=forum_statistics] dd').forEach(el => {
					if(!isNaN(el.innerText))
						el.innerText = new Intl.NumberFormat('en-US').format(el.innerText)
				})
			</script>

		</div>
	</div>
</div>



	<div class="block" data-widget-id="8" data-widget-key="forum_overview_share_page" data-widget-definition="share_page">
		<div class="block-container">
			<h3 class="block-minorHeader">Comparte esta página</h3>
			<div class="block-body block-row">
				
					
	
		
		<div class="shareButtons shareButtons--iconic" data-xf-init="share-buttons" data-page-url="" data-page-title="" data-page-desc="">
			

			<div class="shareButtons-buttons">
				

					
						<a class="shareButtons-button shareButtons-button--brand shareButtons-button--facebook" data-href="https://www.facebook.com/sharer.php?u={url}">
							<i aria-hidden="true"></i>
							<span>Facebook</span>
						</a>
					

					
						<a class="shareButtons-button shareButtons-button--brand shareButtons-button--twitter" data-href="https://twitter.com/intent/tweet?url={url}&amp;text={title}">
							<i aria-hidden="true"></i>
							<span>Twitter</span>
						</a>
					

					
						<a class="shareButtons-button shareButtons-button--brand shareButtons-button--reddit" data-href="https://reddit.com/submit?url={url}&amp;title={title}">
							<i aria-hidden="true"></i>
							<span>Reddit</span>
						</a>
					

					
						<a class="shareButtons-button shareButtons-button--brand shareButtons-button--pinterest" data-href="https://pinterest.com/pin/create/bookmarklet/?url={url}&amp;description={title}&amp;media={image}">
							<i aria-hidden="true"></i>
							<span>Pinterest</span>
						</a>
					

					
						<a class="shareButtons-button shareButtons-button--brand shareButtons-button--tumblr" data-href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={url}&amp;title={title}">
							<i aria-hidden="true"></i>
							<span>Tumblr</span>
						</a>
					

					
						<a class="shareButtons-button shareButtons-button--brand shareButtons-button--whatsApp" data-href="https://api.whatsapp.com/send?text={title}&nbsp;{url}">
							<i aria-hidden="true"></i>
							<span>WhatsApp</span>
						</a>
					

					
						<a class="shareButtons-button shareButtons-button--email" data-href="mailto:?subject={title}&amp;body={url}">
							<i aria-hidden="true"></i>
							<span>E-mail</span>
						</a>
					

					
						<a class="shareButtons-button shareButtons-button--link is-hidden" data-clipboard="{url}">
							<i aria-hidden="true"></i>
							<span>Enlace</span>
						</a>
					
				
			</div>
		</div>
	

				
			</div>
		</div>
	</div>
					
					
				</div>
			
		</div>

		
		
	

		
	</div>
</div>

<footer class="p-footer" id="footer">{% include forosdz/footer.html %}</footer>

</div> <!-- closing p-pageWrapper -->

<div class="u-bottomFixer js-bottomFixTarget">
	
	
</div>


	<div class="u-scrollButtons js-scrollButtons" data-trigger-type="both">
		<a href="#top" class="button--scroll button" data-xf-click="scroll-to"><span class="button-text"><i class="fa--xf far fa-arrow-up" aria-hidden="true"></i><span class="u-srOnly">Arriba</span></span></a>
		
			<a href="#footer" class="button--scroll button" data-xf-click="scroll-to"><span class="button-text"><i class="fa--xf far fa-arrow-down" aria-hidden="true"></i><span class="u-srOnly">Pie</span></span></a>
		
	</div>



	<script src="/assets/forosdz/scripts/jquery-3.4.1.min.js?_v=9590c520"></script>
	<script src="/assets/forosdz/scripts/vendor-compiled.js?_v=9590c520"></script>
	<script src="/assets/forosdz/scripts/core-compiled.js?_v=9590c520"></script>
	<script src="/assets/forosdz/scripts/jquery.countdown.min.js?_v=9590c520"></script>
<script src="/assets/forosdz/scripts/Countdown.js?_v=9590c520"></script>
<script src="/assets/forosdz/scripts/defaultReaction.min.js?_v=9590c520"></script>
<script src="/assets/forosdz/scripts/hiddenContent.min.js?_v=9590c520"></script>
<script>

        jQuery.extend(XF.phrases, {
            th_reactplus_loading_reactions: 'Loading reactions…'
        });
    
</script>



	


    
        
    

	

    

	<script class="js-thReactMenu" type="text/template">
		<div class="menu menu--emoji" data-menu="menu" aria-hidden="true"
			 data-href="#"
			 data-load-target=".js-xfSmilieMenuBody">
			<div class="menu-content">
				<div class="js-xfSmilieMenuBody">
					<div class="menu-row">Cargando…</div>
				</div>
			</div>
		</div>
	</script>


	


	
	
	<script>
		/**
		 * @see https://xenforo.com/community/resources/rellect-favicon-for-links.6409/
		 */
		var rellect_favicon = function() {
			this.init(document)

			jQuery(document).on('xf:reinit', function(e, el) {
				el = (el instanceof jQuery) ? el[0] : el

				if (!el || !el.getAttribute) {
					return
				}

				if (el.classList.contains('link')) {
					return this.setFavicon(el)
				}

				this.init(el)
			}.bind(this))
		}
		
		rellect_favicon.prototype = {
			isRTL: function(s) {
				var rtlChars = '\u0591-\u07FF\u200F\u202B\u202E\uFB1D-\uFDFD\uFE70-\uFEFC'
				return !(/^\w+$/.test(s)) && (new RegExp('^[^'+rtlChars+']*?['+rtlChars+']').test(s))
			},

			setFavicon: function(link) {
				if (link.classList.contains('has-favicon')) {
					return
				}

				if (link.textContent.trim() === '') {
					link.classList.add('no-favicon')
					return
				}

				if (link.getElementsByTagName('img').length) {
					link.classList.add('no-favicon')
					return
				}

				link.style.backgroundImage = "url('https://www.google.com/s2/favicons?domain=" + link.getAttribute('href') + "')"
				link.classList.add('has-favicon')

				if (this.isRTL(link.innerText[1])) {
					link.classList.add('has-favicon-rtl')
				}
			},

			init: function(root) {
				;[].forEach.call(root.querySelectorAll('.link'), this.setFavicon.bind(this))
			},
		}

		new rellect_favicon()
	</script>


	<script>
		jQuery.extend(true, XF.config, {
			// 
			userId: 0,
			enablePush: true,
			pushAppServerKey: 'BFU1t8Sk49n66LJJVqub2HA0QHWLqniDbDF712vlR0VgrxUIQjU+FmUhMAT0y0kqhyV2NruYHM/Fv9ziaSoe6mg=',
			url: {
				fullBase: 'https://forosdz.com/',
				basePath: '/',
				css: '/css.php?css=__SENTINEL__&s=45&l=2&d=1658168182',
				keepAlive: '/login/keep-alive'
			},
			cookie: {
				path: '/',
				domain: '',
				prefix: 'xf_',
				secure: true
			},
			csrf: '1658546641,8a2cc9a3bc3c0678fc849a9dd4d266e8',
			js: {"\/js\/xfa\/vendor\/countdown\/2.1.0\/jquery.countdown.min.js?_v=9590c520":true,"\/js\/xfa\/multiplecountdowns\/Countdown.js?_v=9590c520":true,"\/js\/themehouse\/reactplus\/defaultReaction.min.js?_v=9590c520":true,"\/js\/themehouse\/reactplus\/hiddenContent.min.js?_v=9590c520":true},
			css: {"public:alnb_navigation.less":true,"public:at_law_widget.less":true,"public:node_list.less":true,"public:rellect_favicon.less":true,"public:share_controls.less":true,"public:th_covers.less":true,"public:xa_ams.less":true,"public:xa_ams_tile_view_layout.less":true,"public:xfa_mcdn_header.less":true,"public:extra.less":true},
			time: {
				now: 1658546641,
				today: 1658466000,
				todayDow: 5,
				tomorrow: 1658552400,
				yesterday: 1658379600,
				week: 1657947600
			},
			borderSizeFeature: '3px',
			fontAwesomeWeight: 'r',
			enableRtnProtect: true,
			enableFormSubmitSticky: true,
			uploadMaxFilesize: 838860800,
			allowedVideoExtensions: ["m4v","mov","mp4","mp4v","mpeg","mpg","ogv","webm"],
			shortcodeToEmoji: true,
			visitorCounts: {
				conversations_unread: '0',
				alerts_unread: '0',
				total_unread: '0',
				title_count: true,
				icon_indicator: true
			},
			jsState: {},
			publicMetadataLogoUrl: '',
			publicPushBadgeUrl: 'https://forosdz.com/styles/default/xenforo/bell.png'
		});

		jQuery.extend(XF.phrases, {
			// 
			date_x_at_time_y: "{date} a las {time}",
			day_x_at_time_y:  "{day} a las {time}",
			yesterday_at_x:   "Ayer a las {time}",
			x_minutes_ago:    "hace {minutes} minutos",
			one_minute_ago:   "Hace 1 minuto",
			a_moment_ago:     "Hace un momento",
			today_at_x:       "Hoy a las {time}",
			in_a_moment:      "En un momento",
			in_a_minute:      "En un minuto",
			in_x_minutes:     "En {minutes} minutos",
			later_today_at_x: "Más tarde hoy a las {time}",
			tomorrow_at_x:    "Mañana a las {time}",

			day0: "Domingo",
			day1: "Lunes",
			day2: "Martes",
			day3: "Miércoles",
			day4: "Jueves",
			day5: "Viernes",
			day6: "Sábado",

			dayShort0: "Dom",
			dayShort1: "Lun",
			dayShort2: "Mar",
			dayShort3: "Mie",
			dayShort4: "Jue",
			dayShort5: "Vie",
			dayShort6: "Sab",

			month0: "Enero",
			month1: "Febrero",
			month2: "Marzo",
			month3: "Abril",
			month4: "Mayo",
			month5: "Junio",
			month6: "Julio",
			month7: "Agosto",
			month8: "Septiembre",
			month9: "Octubre",
			month10: "Noviembre",
			month11: "Diciembre",

			active_user_changed_reload_page: "El usuario activo ha cambiado. Actualiza la página para ver la última versión.",
			server_did_not_respond_in_time_try_again: "El servidor no responde en tiempo. Intentar otra vez.",
			oops_we_ran_into_some_problems: "Uups! Tenemos algún problema.",
			oops_we_ran_into_some_problems_more_details_console: "Uups! Tenemos algún problema. Inténtalo más tarde.",
			file_too_large_to_upload: "El archivo es demasiado grande para subirse.",
			uploaded_file_is_too_large_for_server_to_process: "El archivo subido es demasiado grande para que el servidor lo procese.",
			files_being_uploaded_are_you_sure: "Los archivos se siguen subiendo. ¿Estás seguro de querer enviar el formulario?",
			attach: "Agregar archivos",
			rich_text_box: "Rich text box",
			close: "Cerrar",
			link_copied_to_clipboard: "Enlace copiado al portapapeles.",
			text_copied_to_clipboard: "Texto copiado en el portapapeles",
			loading: "Cargando…",

			processing: "Procesando",
			'processing...': "Procesando…",

			showing_x_of_y_items: "Viendo {count} de {total} elementos",
			showing_all_items: "Mostrando todo",
			no_items_to_display: "No hay nada para mostrar",

						thgiphy_search_for_gifs: "Buscar GIFs",
			thgiphy_no_search_results: "Sin resultados de la búsqueda.",
			

			push_enable_notification_title: "Notificaciones push habilitadas en Foros Dz",
			push_enable_notification_body: "Gracias por habilitar las notificaciones push."
		});
	</script>

	<form style="display:none" hidden="hidden">
		<input type="text" name="_xfClientLoadTime" value="" id="_xfClientLoadTime" title="_xfClientLoadTime" tabindex="-1" />
	</form>

	
		<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "WebSite",
			"url": "https://forosdz.com/",
			"potentialAction": {
				"@type": "SearchAction",
				"target": "https://forosdz.com/search/search?keywords={search_keywords}",
				"query-input": "required name=search_keywords"
			}
		}
		</script>
	



	<script type="text/template" id="xfReactTooltipTemplate">
		<div class="tooltip-content-inner">
			<div class="reactTooltip">
				
					<a href="#" class="reaction reaction--1" data-reaction-id="1"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Me gusta" title="Me gusta" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--2" data-reaction-id="2"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Lo amo" title="Lo amo" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--3" data-reaction-id="3"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Me divierte" title="Me divierte" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--4" data-reaction-id="4"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Wow" title="Wow" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--5" data-reaction-id="5"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Triste" title="Triste" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--8" data-reaction-id="8"><i aria-hidden="true"></i><img src="https://forosdz.xyz/imagenes/2019/08/06/poop-emoji.png"  class="reaction-image js-reaction" alt="Caca" title="Caca" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--6" data-reaction-id="6"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Me enoja" title="Me enoja" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
			</div>
		</div>
	</script>

</body>
</html>









