<!DOCTYPE html>
<html id="XF" lang="es-ES" dir="LTR"
	data-app="public"
	data-template="thread_view"
	data-container-key="node-29"
	data-content-key="thread-186102"
	data-logged-in="false"
	data-cookie-prefix="xf_"
	data-csrf="1658546818,174e685bf37858a1bef06c4a3aace795"
	class="has-no-js template-thread_view"
	>
<head>
	<link rel="shortcut icon" href="/assets/forosdz/favicon.ico">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<title>{{page.title}} - {{site.data.forums.title2}}</title>
<link rel="dns-prefetch" href="//www.google.com">
	<script>
	var th_giphyIcon = {
		type: 'image',
		value: '/styles/themehouse/giphy/giphy.png'
	};
</script>
{% assign first_message = site.messages | where: "thread", page.title | first %}
		<meta name="description" content="{{first_message.content | strip_html | truncatewords: 27}}" />
		<meta property="og:description" content="{{first_message.content | strip_html}}" />
		<meta property="twitter:description" content="{{first_message.content | strip_html | truncatewords: 34}}" />
		<meta property="og:url" content="{{page.url}}" />
		<link rel="canonical" href="{{page.url}}" />
	<meta property="og:site_name" content="{{site.data.forums.title2}}" />
	<meta property="og:type" content="website" />
		<meta property="og:title" content="{{page.title}} - {{site.data.forums.title2}}" />
		<meta property="twitter:title" content="{{page.title}} - {{site.data.forums.title2}}" />
		<meta name="theme-color" content="#000" />
	<link rel="preload" href="/assets/forosdz/fonts/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
	<link rel="preload" href="/assets/forosdz/fonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" href="/assets/forosdz/fonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
	<link rel="stylesheet" href="/assets/forosdz/styles/thread-style-1.css" />
	<link rel="stylesheet" href="/assets/forosdz/styles/thread-style-2.css" />
		<script src="/assets/forosdz/scripts/preamble.min.js?_v=9590c520"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-273394-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-273394-1', {
			// 
		});
	</script>
<meta property="fb:app_id" content="737927819593454" />
<meta property="fb:admins" content="548145604"/>
	<style type="text/css">
		.scOffline{
			background: #300;
		}
	</style>
    <script type="text/javascript"><!-- // --><![CDATA[
        var _ohWidth = '640';
        var _ohHeight = '360';
    // ]]></script>
    <script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript src="//code.jquery.com/jquery-1.9.1.min.js"%3E%3C/script%3E'))</script>
    <script type="text/javascript" src="/assets/smf/ohyoutube.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/smf/oharaEmbed.css" />
</head>
<body data-template="thread_view">

<div class="p-pageWrapper" id="top">

{% include forosdz/header.html %}

<div class="p-body">
	<div class="p-body-inner">
		<!--XF:EXTRA_OUTPUT-->


		
			
		
		
	
{% assign board = site.boards | where: "board", page.board | first %}
{% assign category = site.data.forums.categories | where: "name", board.category | first %}
		<ul class="p-breadcrumbs "
			itemscope itemtype="https://schema.org/BreadcrumbList">
		
			

			
			

			
				
				
	<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
		<a href="{{page.template}}{{site.data.forums.base_url}}" itemprop="item">
			<span itemprop="name">Foros</span>
		</a>
		<meta itemprop="position" content="1" />
	</li>

			
			
				
				
	<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
		<a href="{{page.template}}{{site.data.forums.base_url}}/#category-{{category.id}}" itemprop="item">
			<span itemprop="name">{{category.name}}</span>
		</a>
		<meta itemprop="position" content="2" />
	</li>


	{% if board.child_level %}
	{% assign parent_board = site.boards | where: "board", board.parent_board | first %}
	<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
		<a href="{{page.template}}{{parent_board.url}}" itemprop="item">
			<span itemprop="name">{{parent_board.board}}</span>
		</a>
		<meta itemprop="position" content="3">
	</li>
	{% endif %}


	<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
		<a href="{{page.template}}{{board.url}}" itemprop="item">
			<span itemprop="name">{{board.board}}</span>
		</a>
		{% if board.child_level %}
		<meta itemprop="position" content="4">
		{% else %}
		<meta itemprop="position" content="3">
		{% endif %}
	</li>
			
		
		</ul>
	

		

		
	<noscript><div class="blockMessage blockMessage--important blockMessage--iconic u-noJsOnly">JavaScript is disabled. For a better experience, please enable JavaScript in your browser before proceeding.</div></noscript>

		
	<!--[if lt IE 9]><div class="blockMessage blockMessage&#45;&#45;important blockMessage&#45;&#45;iconic">Estás usando un navegador obsoleto. No se pueden mostrar estos u otros sitios web correctamente.<br />Se debe actualizar o usar un <a href="https://www.google.com/chrome" target="_blank">navegador alternativo</a>.</div><![endif]-->


		
			
<div class="p-body-header "
style=" ">

			
				
					<div class="p-title ">
					
						
							<h1 class="p-title-value">
<span style="color:;">{{page.title}}</span>
</h1>
						
						
					
					</div>
				

				
{% assign starter_user = site.users | where: "nickname", page.user | first %}
					<div class="p-description">
	<ul class="listInline listInline--bullet">
		<li>
			<i class="fa--xf far fa-user" aria-hidden="true" title="Autor"></i>
			<span class="u-srOnly">Autor</span>

			<a href="{{page.template}}{{starter_user.url}}" class="username  u-concealed" dir="auto" data-user-id="1068700" data-xf-init="member-tooltip">{{starter_user.nickname}}</a>
		</li>
		<li>
			<i class="fa--xf far fa-clock" aria-hidden="true" title="Fecha de inicio"></i>
			<span class="u-srOnly">Fecha de inicio</span>

			<a href="/temas/si-fueran-dios-u-omnipotente-por-un-dia-que-cosas-harian.186102/" class="u-concealed"><time  class="u-dt" dir="auto" datetime="2021-10-30T17:49:00-0500" data-time="1635634140" data-date-string="30 Oct 2021" data-time-string="17:49" title="{{ page.date | date: "%B %d, %Y %I:%M %p" }}">{{ page.date | date: "%B %d, %Y %I:%M %p" }}</time></a>
		</li>
		
	</ul>
</div>
				
			
			</div>
		

		<div class="p-body-main  ">
			

			<div class="p-body-content">
				
				<div class="p-body-pageContent">







<div class="block block--messages" data-xf-init="" data-type="post" data-href="/inline-mod/">

	

	


	


	<div class="block-outer"></div>

	<div class="block-outer js-threadStatusField"></div>

	<div class="block-container lbContainer"
		data-xf-init="lightbox select-to-quote"
		data-message-selector=".js-post"
		data-lb-id="thread-186102"
		data-lb-universal="1">

		<div class="block-body js-replyNewMessageContainer">
			


{% assign messages = site.messages | where: "thread", page.title %}
{% assign count = 1 %}
{% for message in messages %}
	{% assign user = site.users | where: "nickname", message.user | first %}
	{% if user.avatar %}
		{% if user.avatar contains "http" %}
		{% assign user_avatar = user.avatar %}
		{% else %}
		{% capture user_avatar %}/assets/smf/attachments/{{user.avatar}}{% endcapture %}
		{% endif %}
	{% else %}
		{% assign user_avatar = "/assets/smf/noavatar.gif" %}
	{% endif %}
	{% assign user_country = site.data.country-flags.flags | where: "icon", user.country_flag | first %}

	{% comment %}Calculando edad del usuario a partir de su fecha de nacimiento{% endcomment %}
	{% unless user.birthdate == "0001-01-01" %}
	{%   assign currentdate = site.time | date: '%s'      %}
	{%   assign birthdate = user.birthdate | date: '%s'  %}
	{%   assign secondsSince = currentdate | minus: birthdate     %}
	{%   assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60     %}
	{%   assign daysSince = hoursSince | divided_by: 24  %}
	{%   assign yearsSince = daysSince | divided_by: 365  %}
	{% endunless %}

	{% assign user_messages = site.messages | where: "user", user.nickname %}

	{% assign groups = site.data.groups | sort: "min_posts" %}
	{% capture exp %}group.min_posts<={{user_messages.size}}{% endcapture %}
	{% assign post_group = groups | where_exp: "group", "group.min_posts>= 0" | where_exp: "group", exp | last %}
	
	<article class="message   message-threadStarterPostmessage--post js-post js-inlineModContainer " data-author="{{user.nickname}}" data-content="post-{{message.id_msg}}" id="js-post-{{message.id_msg}}">

		<span class="u-anchorTarget" id="post-{{message.id_msg}}"></span>

		<div class="message-inner">
			<div class="message-cell message-cell--user">
				<section itemscope itemtype="https://schema.org/Person" class="message-user">
					<div class="message-avatar ">
						<div class="message-avatar-wrapper">
							<a href="{{page.template}}{{user.url}}" class="avatar avatar--l" data-user-id="{{user.id_member}}" data-xf-init="member-tooltip">
								<img src="{{user_avatar}}"  alt="{{user.nickname}}" class="avatar-u{{user.id_member}}-l" itemprop="image" />
							</a>
						</div>
					</div>

					<div class="message-userDetails">
						<h4 class="message-name"><a href="{{page.template}}{{user.url}}" class="username " dir="auto" data-user-id="{{user.id_member}}" data-xf-init="member-tooltip" itemprop="name">{{user.nickname}}</a></h4>

						<div class="userBanner userBanner userBanner--mODERADOR message-userBanner" itemprop="jobTitle"><span class="userBanner-before"></span><strong>{{post_group.name}}</strong><span class="userBanner-after"></span></div>

						<h5 class="userTitle message-userTitle" dir="auto" itemprop="jobTitle">{{user.personal_text}}</h5>

						<p></p>		
					</div>

					<div class="message-userExtras">
						<dl class="pairs pairs--justified">
							<dt>Registrado</dt>
							<dd>{{ user.date_registered | date: "%d %b %Y" }}</dd>
						</dl>
						<dl class="pairs pairs--justified">
							<dt>Mensajes</dt>
							<dd>{{user_messages.size}}</dd>
						</dl>
					</div>

					<span class="message-userArrow"></span>

					<div class="scOnOffMobile">
						<div class="scOffline">Offline</div>
						<div class="scOffMobile"><i class="far fa-power-off" aria-hidden="true"></i></div>
					</div>
				</section>
			</div>
			<div class="message-cell message-cell--main">
				<div class="message-main js-quickEditTarget">

					<header class="message-attribution message-attribution--split">
						<div class="message-attribution-main">
							<a href="{{page.url}}/post-{{message.id_msg}}" class="u-concealed" rel="nofollow">
								<time  class="u-dt" dir="auto" datetime="2021-10-30T17:49:00-0500" data-time="1635634140" data-date-string="30 Oct 2021" data-time-string="17:49" title="{{ message.date | date: "%B %d, %Y %I:%M %p" }}">{{ message.date | date: "%B %d, %Y %I:%M %p" }}</time>
							</a>
						</div>

						<ul class="message-attribution-opposite message-attribution-opposite--list">
							<li>
								<a href="{{page.url}}/post-{{message.id_msg}}"
									data-xf-init="share-tooltip" data-href="/posts/{{message.id_msg}}/share"
									rel="nofollow">
									<i class="fa--xf far fa-share-alt" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="{{page.url}}/post-{{message.id_msg}}" rel="nofollow">#{{count}}</a>
							</li>
						</ul>
					</header>

					<div class="message-content  js-messageContent">
						<div class="message-userContent lbContainer js-lbContainer " data-lb-id="post-{{message.id_msg}}" data-lb-caption-desc="{{user.nickname}} &middot; {{ message.date | date: "%d %b %Y a las %I:%M %p" }}">
							<article class="message-body js-selectToQuote">
								<div class="bbWrapper">{{message.content}}</div>
								<div class="js-selectToQuoteEnd">&nbsp;</div>
							</article>
						</div>
					</div>

					{% unless user.signature == "" %}
					<aside class="message-signature">
						<div class="bbWrapper">{{user.signature}}</div>
					</aside>
					{% endunless %}

					<footer class="message-footer">
						<div class="reactionsBar js-reactionsList "></div>
						<div class="js-historyTarget message-historyTarget toggleTarget" data-href="trigger-href"></div>
					</footer>
				</div>
			</div>
		</div>
	</article>
	{% assign count = count | plus: 1 %}
{% endfor %}
	
		</div>
	</div>

	
		<div class="block-outer block-outer--after">
			
				
				
<div class="block-outer-opposite"><a href="javascript:void(0)" class="th_reactplus_showHiddenLink js-thReactPlusShowHidden is-hidden" data-xf-init="tooltip" title="Mostrar contenido oculto de {{names}}">Show hidden low quality content</a></div>

				
			
		</div>

</div>



<div class="blockMessage blockMessage--none">
	
	
		
		<div class="shareButtons shareButtons--iconic" data-xf-init="share-buttons" data-page-url="" data-page-title="" data-page-desc="">
			
				<span class="shareButtons-label">Compartir:</span>
			

			<div class="shareButtons-buttons">
				

					
						<a class="shareButtons-button shareButtons-button--brand shareButtons-button--facebook" data-href="https://www.facebook.com/sharer.php?u={url}">
							<i aria-hidden="true"></i>
							<span>Facebook</span>
						</a>
					

					
						<a class="shareButtons-button shareButtons-button--brand shareButtons-button--twitter" data-href="https://twitter.com/intent/tweet?url={url}&amp;text={title}">
							<i aria-hidden="true"></i>
							<span>Twitter</span>
						</a>
					

					
						<a class="shareButtons-button shareButtons-button--brand shareButtons-button--reddit" data-href="https://reddit.com/submit?url={url}&amp;title={title}">
							<i aria-hidden="true"></i>
							<span>Reddit</span>
						</a>
					

					
						<a class="shareButtons-button shareButtons-button--brand shareButtons-button--pinterest" data-href="https://pinterest.com/pin/create/bookmarklet/?url={url}&amp;description={title}&amp;media={image}">
							<i aria-hidden="true"></i>
							<span>Pinterest</span>
						</a>
					

					
						<a class="shareButtons-button shareButtons-button--brand shareButtons-button--tumblr" data-href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={url}&amp;title={title}">
							<i aria-hidden="true"></i>
							<span>Tumblr</span>
						</a>
					

					
						<a class="shareButtons-button shareButtons-button--brand shareButtons-button--whatsApp" data-href="https://api.whatsapp.com/send?text={title}&nbsp;{url}">
							<i aria-hidden="true"></i>
							<span>WhatsApp</span>
						</a>
					

					
						<a class="shareButtons-button shareButtons-button--email" data-href="mailto:?subject={title}&amp;body={url}">
							<i aria-hidden="true"></i>
							<span>E-mail</span>
						</a>
					

					
						<a class="shareButtons-button shareButtons-button--link is-hidden" data-clipboard="{url}">
							<i aria-hidden="true"></i>
							<span>Enlace</span>
						</a>
					
				
			</div>
		</div>
	

</div>



	



</div>
				
			</div>

			
		</div>

		
		
	
		<ul class="p-breadcrumbs p-breadcrumbs--bottom"
			itemscope itemtype="https://schema.org/BreadcrumbList">
	<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
		<a href="{{page.template}}{{site.data.forums.base_url}}" itemprop="item">
			<span itemprop="name">Foros</span>
		</a>
		<meta itemprop="position" content="1" />
	</li>

			
			
				
				
	<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
		<a href="{{page.template}}{{site.data.forums.base_url}}/#category-{{category.id}}" itemprop="item">
			<span itemprop="name">{{category.name}}</span>
		</a>
		<meta itemprop="position" content="2" />
	</li>


	{% if board.child_level %}
	{% assign parent_board = site.boards | where: "board", board.parent_board | first %}
	<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
		<a href="{{page.template}}{{parent_board.url}}" itemprop="item">
			<span itemprop="name">{{parent_board.board}}</span>
		</a>
		<meta itemprop="position" content="3">
	</li>
	{% endif %}


	<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
		<a href="{{page.template}}{{board.url}}" itemprop="item">
			<span itemprop="name">{{board.board}}</span>
		</a>
		{% if board.child_level %}
		<meta itemprop="position" content="4">
		{% else %}
		<meta itemprop="position" content="3">
		{% endif %}
	</li>
		</ul>
	

		
	</div>
</div>

<footer class="p-footer" id="footer">{% include forosdz/footer.html %}</footer>

</div> <!-- closing p-pageWrapper -->

<div class="u-bottomFixer js-bottomFixTarget">
	
	
</div>


	<div class="u-scrollButtons js-scrollButtons" data-trigger-type="both">
		<a href="#top" class="button--scroll button" data-xf-click="scroll-to"><span class="button-text"><i class="fa--xf far fa-arrow-up" aria-hidden="true"></i><span class="u-srOnly">Arriba</span></span></a>
		
			<a href="#footer" class="button--scroll button" data-xf-click="scroll-to"><span class="button-text"><i class="fa--xf far fa-arrow-down" aria-hidden="true"></i><span class="u-srOnly">Pie</span></span></a>
		
	</div>



	<script src="/assets/forosdz/scripts/jquery-3.4.1.min.js?_v=9590c520"></script>
	<script src="/assets/forosdz/scripts/vendor-compiled.js?_v=9590c520"></script>
	<script src="/assets/forosdz/scripts/core-compiled.js?_v=9590c520"></script>
	<script src="/assets/forosdz/scripts/lightbox-compiled.js?_v=9590c520"></script>
<script src="/assets/forosdz/scripts/jquery.countdown.min.js?_v=9590c520"></script>
<script src="/assets/forosdz/scripts/Countdown.js?_v=9590c520"></script>
<script src="/assets/forosdz/scripts/notice.min.js?_v=9590c520"></script>
<script src="/assets/forosdz/scripts/defaultReaction.min.js?_v=9590c520"></script>
<script src="/assets/forosdz/scripts/hiddenContent.min.js?_v=9590c520"></script>
<script>

        jQuery.extend(XF.phrases, {
            th_reactplus_loading_reactions: 'Loading reactions…'
        });
    
</script>



	


    
        
    

	

    

	<script class="js-thReactMenu" type="text/template">
		<div class="menu menu--emoji" data-menu="menu" aria-hidden="true"
			 data-href="#"
			 data-load-target=".js-xfSmilieMenuBody">
			<div class="menu-content">
				<div class="js-xfSmilieMenuBody">
					<div class="menu-row">Cargando…</div>
				</div>
			</div>
		</div>
	</script>


	


	
	
	<script>
		/**
		 * @see https://xenforo.com/community/resources/rellect-favicon-for-links.6409/
		 */
		var rellect_favicon = function() {
			this.init(document)

			jQuery(document).on('xf:reinit', function(e, el) {
				el = (el instanceof jQuery) ? el[0] : el

				if (!el || !el.getAttribute) {
					return
				}

				if (el.classList.contains('link')) {
					return this.setFavicon(el)
				}

				this.init(el)
			}.bind(this))
		}
		
		rellect_favicon.prototype = {
			isRTL: function(s) {
				var rtlChars = '\u0591-\u07FF\u200F\u202B\u202E\uFB1D-\uFDFD\uFE70-\uFEFC'
				return !(/^\w+$/.test(s)) && (new RegExp('^[^'+rtlChars+']*?['+rtlChars+']').test(s))
			},

			setFavicon: function(link) {
				if (link.classList.contains('has-favicon')) {
					return
				}

				if (link.textContent.trim() === '') {
					link.classList.add('no-favicon')
					return
				}

				if (link.getElementsByTagName('img').length) {
					link.classList.add('no-favicon')
					return
				}

				link.style.backgroundImage = "url('https://www.google.com/s2/favicons?domain=" + link.getAttribute('href') + "')"
				link.classList.add('has-favicon')

				if (this.isRTL(link.innerText[1])) {
					link.classList.add('has-favicon-rtl')
				}
			},

			init: function(root) {
				;[].forEach.call(root.querySelectorAll('.link'), this.setFavicon.bind(this))
			},
		}

		new rellect_favicon()
	</script>


	<script>
		jQuery.extend(true, XF.config, {
			// 
			userId: 0,
			enablePush: true,
			pushAppServerKey: 'BFU1t8Sk49n66LJJVqub2HA0QHWLqniDbDF712vlR0VgrxUIQjU+FmUhMAT0y0kqhyV2NruYHM/Fv9ziaSoe6mg=',
			url: {
				fullBase: '{{page.template}}{{site.data.forums.base_url}}',
				basePath: '/',
				css: '/css.php?css=__SENTINEL__&s=45&l=2&d=1658168182',
				keepAlive: '/login/keep-alive'
			},
			cookie: {
				path: '/',
				domain: '',
				prefix: 'xf_',
				secure: true
			},
			csrf: '1658546818,174e685bf37858a1bef06c4a3aace795',
			js: {"\/js\/xf\/lightbox-compiled.js?_v=9590c520":true,"\/js\/xfa\/vendor\/countdown\/2.1.0\/jquery.countdown.min.js?_v=9590c520":true,"\/js\/xfa\/multiplecountdowns\/Countdown.js?_v=9590c520":true,"\/js\/xf\/notice.min.js?_v=9590c520":true,"\/js\/themehouse\/reactplus\/defaultReaction.min.js?_v=9590c520":true,"\/js\/themehouse\/reactplus\/hiddenContent.min.js?_v=9590c520":true},
			css: {"public:alnb_navigation.less":true,"public:bb_code.less":true,"public:lightbox.less":true,"public:message.less":true,"public:notices.less":true,"public:rellect_favicon.less":true,"public:sc_onlineStatusIndicator.less":true,"public:share_controls.less":true,"public:sticky_post.less":true,"public:th_covers.less":true,"public:th_uix_threadStarterPost.less":true,"public:thuserimprovements_trophy_showcase_macros.less":true,"public:xfa_mcdn_header.less":true,"public:extra.less":true},
			time: {
				now: 1658546818,
				today: 1658466000,
				todayDow: 5,
				tomorrow: 1658552400,
				yesterday: 1658379600,
				week: 1657947600
			},
			borderSizeFeature: '3px',
			fontAwesomeWeight: 'r',
			enableRtnProtect: true,
			enableFormSubmitSticky: true,
			uploadMaxFilesize: 838860800,
			allowedVideoExtensions: ["m4v","mov","mp4","mp4v","mpeg","mpg","ogv","webm"],
			shortcodeToEmoji: true,
			visitorCounts: {
				conversations_unread: '0',
				alerts_unread: '0',
				total_unread: '0',
				title_count: true,
				icon_indicator: true
			},
			jsState: {},
			publicMetadataLogoUrl: '',
			publicPushBadgeUrl: 'https://forosdz.com/styles/default/xenforo/bell.png'
		});

		jQuery.extend(XF.phrases, {
			// 
			date_x_at_time_y: "{date} a las {time}",
			day_x_at_time_y:  "{day} a las {time}",
			yesterday_at_x:   "Ayer a las {time}",
			x_minutes_ago:    "hace {minutes} minutos",
			one_minute_ago:   "Hace 1 minuto",
			a_moment_ago:     "Hace un momento",
			today_at_x:       "Hoy a las {time}",
			in_a_moment:      "En un momento",
			in_a_minute:      "En un minuto",
			in_x_minutes:     "En {minutes} minutos",
			later_today_at_x: "Más tarde hoy a las {time}",
			tomorrow_at_x:    "Mañana a las {time}",

			day0: "Domingo",
			day1: "Lunes",
			day2: "Martes",
			day3: "Miércoles",
			day4: "Jueves",
			day5: "Viernes",
			day6: "Sábado",

			dayShort0: "Dom",
			dayShort1: "Lun",
			dayShort2: "Mar",
			dayShort3: "Mie",
			dayShort4: "Jue",
			dayShort5: "Vie",
			dayShort6: "Sab",

			month0: "Enero",
			month1: "Febrero",
			month2: "Marzo",
			month3: "Abril",
			month4: "Mayo",
			month5: "Junio",
			month6: "Julio",
			month7: "Agosto",
			month8: "Septiembre",
			month9: "Octubre",
			month10: "Noviembre",
			month11: "Diciembre",

			active_user_changed_reload_page: "El usuario activo ha cambiado. Actualiza la página para ver la última versión.",
			server_did_not_respond_in_time_try_again: "El servidor no responde en tiempo. Intentar otra vez.",
			oops_we_ran_into_some_problems: "Uups! Tenemos algún problema.",
			oops_we_ran_into_some_problems_more_details_console: "Uups! Tenemos algún problema. Inténtalo más tarde.",
			file_too_large_to_upload: "El archivo es demasiado grande para subirse.",
			uploaded_file_is_too_large_for_server_to_process: "El archivo subido es demasiado grande para que el servidor lo procese.",
			files_being_uploaded_are_you_sure: "Los archivos se siguen subiendo. ¿Estás seguro de querer enviar el formulario?",
			attach: "Agregar archivos",
			rich_text_box: "Rich text box",
			close: "Cerrar",
			link_copied_to_clipboard: "Enlace copiado al portapapeles.",
			text_copied_to_clipboard: "Texto copiado en el portapapeles",
			loading: "Cargando…",

			processing: "Procesando",
			'processing...': "Procesando…",

			showing_x_of_y_items: "Viendo {count} de {total} elementos",
			showing_all_items: "Mostrando todo",
			no_items_to_display: "No hay nada para mostrar",

						thgiphy_search_for_gifs: "Buscar GIFs",
			thgiphy_no_search_results: "Sin resultados de la búsqueda.",
			

			push_enable_notification_title: "Notificaciones push habilitadas en Foros Dz",
			push_enable_notification_body: "Gracias por habilitar las notificaciones push."
		});
	</script>

	<form style="display:none" hidden="hidden">
		<input type="text" name="_xfClientLoadTime" value="" id="_xfClientLoadTime" title="_xfClientLoadTime" tabindex="-1" />
	</form>

	



	<script type="text/template" id="xfReactTooltipTemplate">
		<div class="tooltip-content-inner">
			<div class="reactTooltip">
				
					<a href="#" class="reaction reaction--1" data-reaction-id="1"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Me gusta" title="Me gusta" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--2" data-reaction-id="2"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Lo amo" title="Lo amo" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--3" data-reaction-id="3"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Me divierte" title="Me divierte" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--4" data-reaction-id="4"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Wow" title="Wow" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--5" data-reaction-id="5"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Triste" title="Triste" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--8" data-reaction-id="8"><i aria-hidden="true"></i><img src="https://forosdz.xyz/imagenes/2019/08/06/poop-emoji.png"  class="reaction-image js-reaction" alt="Caca" title="Caca" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
					<a href="#" class="reaction reaction--6" data-reaction-id="6"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Me enoja" title="Me enoja" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>
				
			</div>
		</div>
	</script>




	
		
	
	
		<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "DiscussionForumPosting",
			"@id": "https:\/\/forosdz.com\/temas\/si-fueran-dios-u-omnipotente-por-un-dia-que-cosas-harian.186102\/",
			"headline": "Si fueran Dios u omnipotente por un día ¿Qué cosas harían?",
			"articleBody": "Si fueran Dios u omnipotente por un día ¿Qué cosas harían? ¿Qué intentarían hacer? ¿Qué les gustaría hacer si por un día fueran Dios u omnipotente? ¿Qué cosas probarían hacer? ¿Qué sería lo último que harían con esos poderes justo antes de terminar ese día?",
			"articleSection": "Temática Libre",
			"author": {
				"@type": "Person",
				"name": "JAGM-Georgy"
			},
			"datePublished": "2021-10-30",
			"dateModified": "2022-07-22",
			"image": "https:\/\/forosdz.com\/data\/avatars\/l\/1068\/1068700.jpg?1630108284",
			"interactionStatistic": {
				"@type": "InteractionCounter",
				"interactionType": "https://schema.org/ReplyAction",
				"userInteractionCount": 9
			}
		}
		</script>
	


</body>
</html>









