<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
<meta charset="utf-8">
<title>{{page.board}} - {{site.data.forums.title}}</title>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3898146-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-3898146-3');
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@GTANet" />
<meta name="description" content="Forum dedicated to Grand Theft Auto Online, first launched with GTAV in 2013. Released standalone in 2022.">
<meta property="og:title" content="GTA Online">
<meta property="og:description" content="Forum dedicated to Grand Theft Auto Online, first launched with GTAV in 2013. Released standalone in 2022.">
<meta property="og:url" content="https://gtaforums.com/forum/273-gta-online/">
<meta property="og:site_name" content="{{site.data.forums.title}}">
<meta property="og:locale" content="en_US">
<link rel="canonical" href="https://gtaforums.com/forum/273-gta-online/" />
<link rel="next" href="https://gtaforums.com/forum/273-gta-online/page/2/" />
<link rel="last" href="https://gtaforums.com/forum/273-gta-online/page/2040/" />
<link rel="alternate" type="application/rss+xml" title="GTANetcom" href="https://gtaforums.com/rss/4-gtanetcom.xml/" /><link rel="alternate" type="application/rss+xml" title="GTA Online Latest Topics" href="https://gtaforums.com/forum/273-gta-online.xml/" />
{% include gtaforums/styles.html %}
<style type="text/css">
  .ipsButtonBar > * {
    visibility: hidden;
  }
</style>
</head>
<body class='header-compact-static ipsApp ipsApp_front ipsJS_has ipsClearfix' data-controller='core.front.core.app' data-message="" data-pageApp='forums' data-pageLocation='front' data-pageModule='forums' data-pageController='forums' data-pageID='273'>

<div class="vm-placement" data-id="5fb3a24856b767375fc6838e" style="display:none"></div>

<body class='ipsApp ipsApp_front ipsJS_has ipsClearfix' data-controller='core.front.core.app' data-message="" data-pageApp='forums' data-pageLocation='front' data-pageModule='forums' data-pageController='forums' data-pageID='273'>
<a href='#ipsLayout_mainArea' class='ipsHide' title='Go to main content on this page' accesskey='m'>Jump to content</a>
<div id='ipsLayout_header' class='ipsClearfix'>

<header>
{% include gtaforums/header.html %}
</header>

</div>
<main id='ipsLayout_body' class='ipsLayout_container'>
<button type="button" id="gtaf-quickNav-toggle" class="ipsButton ipsButton_primary ipsButton_narrow" data-ipstooltip _title="Show Quick Navigation">
<i class="fa fa-chevron-right"></i>
<div>QUICK NAV</div>
</button>
<div id='gtaf-quickNav-container'>
{% include gtaforums/quicknav.html %}
</div>
<div id='ipsLayout_contentArea'>
<div id='ipsLayout_contentWrapper'>
<ul id='elMobileNav' class='ipsResponsive_hideDesktop' data-controller='core.front.core.mobileNav'>
<li id='elMobileBreadcrumb'>
<a href='{{page.url}}'>
<span>{{page.board}}</span>
</a>
</li>
<li>
<a data-action="defaultStream" href='https://gtaforums.com/discover/'><i class="fa fa-newspaper-o" aria-hidden="true"></i></a>
</li>
<li class='ipsJS_show'>
<a href='https://gtaforums.com/search/'><i class='fa fa-search'></i></a>
</li>
</ul>
<nav class='ipsBreadcrumb ipsBreadcrumb_top ipsFaded_withHover'>
<ul class='ipsList_inline ipsPos_right'>
<li>
<a data-action="defaultStream" class='ipsType_light ' href='https://gtaforums.com/discover/'><i class="fa fa-newspaper-o" aria-hidden="true"></i> <span>All Activity</span></a>
</li>
</ul>
<ul data-role="breadcrumbList">
<li>
<a title="Home" href='{{site.data.forums.base_url}}'>
<span>Home <i class='fa fa-angle-right'></i></span>
</a>
</li>
<li>
<a href='{{site.data.forums.base_url}}'>
<span>{{page.category}} <i class='fa fa-angle-right' aria-hidden="true"></i></span>
</a>
</li>
<li>{{page.board}}</li>
</ul>
</nav>

<div id='ipsLayout_mainArea'>
<div class='cAnnouncementsContent'>
<div class='cAnnouncementContentTop ipsAnnouncement ipsMessage_information ipsType_center'>
<a href='https://gtaforums.com/announcement/7-forum-rules/' data-ipsDialog data-ipsDialog-title="Forum Rules">Forum Rules</a>
</div>
<div class='cAnnouncementContentTop ipsAnnouncement ipsMessage_error ipsType_center'>
<span>GTAForums does NOT endorse or allow any kind of GTA Online modding, mod menus, tools or account selling/hacking. Do NOT post them here or advertise them, as per the forum rules.</span>
</div>
</div>
<div class="ipsPageHeader  ipsBox ipsResponsive_pull ipsPadding ipsClearfix">
<header>
<div style="margin-top:10px; margin: 0"></div>
<h1 class="ipsType_pageTitle">{{page.board}}</h1>
<div class='ipsType_richText ipsType_normal' data-controller='core.front.core.lightboxedImages'>
<p>{{page.description}}</p>
</div>
<hr class='ipsHr ipsResponsive_hidePhone' />
<div class='ipsClearfix ipsResponsive_hidePhone'>
<div class='ipsPos_right'>
<div data-followApp='forums' data-followArea='forum' data-followID='273' data-controller='core.front.core.followButton'>
<a href='#' rel="nofollow" class="ipsFollow ipsPos_middle ipsButton ipsButton_light ipsButton_verySmall " data-role="followButton" data-ipsTooltip title="Can't follow, static content lol">
<span>Followers</span>
<span class='ipsCommentCount'>0</span>
</a>
</div></div>
</div>
</header>
</div>
{% capture exp %}board.child_level==1 and board.parent_board=='{{page.board}}'{% endcapture %}
{% assign childboards = site.boards | where_exp: "board", exp | sort: "board_order" %}
{% if childboards.size > 0 %}
  <div class='ipsList_reset cForumList ipsBox ipsSpacer_bottom ipsResponsive_pull' data-controller='core.global.core.table, forums.front.forum.forumList' data-baseURL=''>
    <h2 class='ipsType_sectionTitle ipsType_reset'>Subforums</h2>
    <ol class="ipsDataList ipsDataList_zebra ipsDataList_large ipsAreaBackground_reset">
      {% for board in childboards %}
      <li class="cForumRow ipsDataItem ipsDataItem_responsivePhoto  ipsClearfix" data-forumID="{{board.id}}">
        <div class="ipsDataItem_icon ipsDataItem_category">
          <span class='ipsItemStatus ipsItemStatus_large cForumIcon_normal ipsItemStatus_read'>
          <i class="fa fa-comments"></i>
          </span>
        </div>
        <div class="ipsDataItem_main">
          <h4 class="ipsDataItem_title ipsType_break">
            <a href="{{board.url}}">{{board.board}}</a>
          </h4>
          <div class='ipsType_richText ipsDataItem_meta ipsContained' data-controller='core.front.core.lightboxedImages'>
            <p>{{board.description}}</p>
          </div>
        </div>
        {% capture str %}board.board=='{{board.board}}' or board.parent_board=='{{board.board}}'{% endcapture %}
        {% assign boards = site.boards | where_exp: "board", str %}

        {% assign threads = "" | split: "," %}
        {% for board in boards %}
          {% assign threads2 = site.threads | where: "board", board.board %}
          {% assign threads = threads | concat: threads2 %}
        {% endfor %}

        {% assign messages = "" | split: "," %}
        {% for thread in threads %}
          {% assign messages2 = site.messages | where: "thread", thread.title %}
          {% assign messages = messages | concat: messages2 | sort: "date" %}
        {% endfor %}

        {% assign last_user = site.users | where: "nickname", messages.last.user | first %}
        {% assign last_msg_thread = site.threads | where: "title", messages.last.thread | first %}
        <div class="ipsDataItem_stats ipsDataItem_statsLarge">
          <dl>
            <dt class="ipsDataItem_stats_number">{{messages.size}}</dt>
            <dd class="ipsDataItem_stats_type ipsType_light"> posts</dd>
          </dl>
        </div>
        {% if last_user %}

          {% if last_user.avatar %}
            {% if last_user.avatar contains "http" %}
            {% assign last_user_avatar = last_user.avatar %}
            {% else %}
            {% capture last_user_avatar %}/assets/smf/attachments/{{last_user.avatar}}{% endcapture %}
            {% endif %}
          {% endif %}
          <ul class="ipsDataItem_lastPoster ipsDataItem_withPhoto">
            <li>
              <span class='ipsUserPhoto ipsUserPhoto_tiny '>
                <img src='{{last_user_avatar}}' alt='{{last_user.nickname}}' loading="lazy">
              </span>
            </li>
            <li class='ipsDataItem_lastPoster__title'><a href="{{last_msg_thread.url}}" title='{{messages.last.subject}}'>{{messages.last.subject}}</a></li>
            <li class='ipsType_light ipsType_blendLinks'>
              By
              {{last_user.nickname}},
              <a href='{{last_msg_thread.url}}' title='Go to last post'><time datetime='2022-07-23T02:50:55Z' title='07/23/2022 12:50  PM' data-short='3 min'>{{messages.last.date | date: "%a, %b %d, %Y %H:%M:%S"}}</time></a>
            </li>
          </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ol>
  </div>
{% endif %}
<div data-controller='forums.front.forum.forumPage'>
<ul class="ipsToolList ipsToolList_horizontal ipsToolList_horizontal--flex ipsClearfix ipsSpacer_both">
</ul>
<div class='ipsBox ipsResponsive_pull' data-baseurl='https://gtaforums.com/forum/273-gta-online/' data-resort='listResort' data-tableID='topics' data-controller='core.global.core.table'>
<h2 class='ipsType_sectionTitle ipsHide ipsType_medium ipsType_reset ipsClear'>81,591 topics in this forum</h2>
<div class="ipsButtonBar ipsPad_half ipsClearfix ipsClear">
  <ul class="ipsButtonRow ipsPos_right ipsClearfix">
    <li>
    <a href="#elSortByMenu_menu" id="elSortByMenu_8aa02efe4a48267cc763c2e9dc750ed7" data-role='sortButton' data-ipsMenu data-ipsMenu-activeClass="ipsButtonRow_active" data-ipsMenu-selectable="radio">Sort By <i class="fa fa-caret-down"></i></a>
    <ul class="ipsMenu ipsMenu_auto ipsMenu_withStem ipsMenu_selectable ipsHide" id="elSortByMenu_8aa02efe4a48267cc763c2e9dc750ed7_menu">
    <li class="ipsMenu_item ipsMenu_itemChecked" data-ipsMenuValue="last_post" data-sortDirection='desc'><a href="https://gtaforums.com/forum/273-gta-online/?sortby=last_post&amp;sortdirection=desc" rel="nofollow">Recently Updated</a></li>
    <li class="ipsMenu_item " data-ipsMenuValue="title" data-sortDirection='asc'><a href="https://gtaforums.com/forum/273-gta-online/?sortby=title&amp;sortdirection=asc" rel="nofollow">Title</a></li>
    <li class="ipsMenu_item " data-ipsMenuValue="start_date" data-sortDirection='desc'><a href="https://gtaforums.com/forum/273-gta-online/?sortby=start_date&amp;sortdirection=desc" rel="nofollow">Start Date</a></li>
    <li class="ipsMenu_item " data-ipsMenuValue="views" data-sortDirection='desc'><a href="https://gtaforums.com/forum/273-gta-online/?sortby=views&amp;sortdirection=desc" rel="nofollow">Most Viewed</a></li>
    <li class="ipsMenu_item " data-ipsMenuValue="posts" data-sortDirection='desc'><a href="https://gtaforums.com/forum/273-gta-online/?sortby=posts&amp;sortdirection=desc" rel="nofollow">Most Replies</a></li>
    <li class="ipsMenu_item " data-noSelect="true">
    <a href='https://gtaforums.com/forum/273-gta-online/?advancedSearchForm=1&amp;sortby=forums_topics.last_post&amp;sortdirection=DESC' rel="nofollow" data-ipsDialog data-ipsDialog-title='Custom Sort'>Custom</a>
    </li>
    </ul>
    </li>
  </ul>
  <div data-role="tablePagination">
    <ul class='ipsPagination' id='elPagination_9707c04d9b535bad74ade0aad293d63a_1155117447' data-ipsPagination-seoPagination='true' data-pages='2040'>
      <li class='ipsPagination_first ipsPagination_inactive'><a href='https://gtaforums.com/forum/273-gta-online/' rel="first" data-page='1' data-ipsTooltip title='First page'><i class='fa fa-angle-double-left'></i></a></li>
      <li class='ipsPagination_prev ipsPagination_inactive'><a href='https://gtaforums.com/forum/273-gta-online/' rel="prev" data-page='0' data-ipsTooltip title='Previous page'>Prev</a></li>
      <li class='ipsPagination_page ipsPagination_active'><a href='https://gtaforums.com/forum/273-gta-online/' data-page='1'>1</a></li>
      <li class='ipsPagination_page'><a href='https://gtaforums.com/forum/273-gta-online/page/2/' data-page='2'>2</a></li>
      <li class='ipsPagination_page'><a href='https://gtaforums.com/forum/273-gta-online/page/3/' data-page='3'>3</a></li>
      <li class='ipsPagination_page'><a href='https://gtaforums.com/forum/273-gta-online/page/4/' data-page='4'>4</a></li>
      <li class='ipsPagination_page'><a href='https://gtaforums.com/forum/273-gta-online/page/5/' data-page='5'>5</a></li>
      <li class='ipsPagination_page'><a href='https://gtaforums.com/forum/273-gta-online/page/6/' data-page='6'>6</a></li>
      <li class='ipsPagination_next'><a href='https://gtaforums.com/forum/273-gta-online/page/2/' rel="next" data-page='2' data-ipsTooltip title='Next page'>Next</a></li>
      <li class='ipsPagination_last'><a href='https://gtaforums.com/forum/273-gta-online/page/2040/' rel="last" data-page='2040' data-ipsTooltip title='Last page'><i class='fa fa-angle-double-right'></i></a></li>
      <li class='ipsPagination_pageJump'>
      <a href='#' data-ipsMenu data-ipsMenu-closeOnClick='false' data-ipsMenu-appendTo='#elPagination_9707c04d9b535bad74ade0aad293d63a_1155117447' id='elPagination_9707c04d9b535bad74ade0aad293d63a_1155117447_jump'>Page 1 of 2040 &nbsp;<i class='fa fa-caret-down'></i></a>
      <div class='ipsMenu ipsMenu_narrow ipsPadding ipsHide' id='elPagination_9707c04d9b535bad74ade0aad293d63a_1155117447_jump_menu'>
      <form accept-charset='utf-8' method='post' action='{{page.url}}' data-role="pageJump" data-baseUrl='#'>
      <ul class='ipsForm ipsForm_horizontal'>
      <li class='ipsFieldRow'>
      <input type='number' min='1' max='2040' placeholder='Page number' class='ipsField_fullWidth' name='page'>
      </li>
      <li class='ipsFieldRow ipsFieldRow_fullWidth'>
      <input type='submit' class='ipsButton_fullWidth ipsButton ipsButton_verySmall ipsButton_primary' value='Go'>
      </li>
      </ul>
      </form>
      </div>
      </li>
    </ul>
  </div>
</div>
<ol class='ipsClear ipsDataList cForumTopicTable  cTopicList ' id='elTable_8aa02efe4a48267cc763c2e9dc750ed7' data-role="tableRows">

<!-- sticky threads-->
{% assign threads = site.threads | where: "board", page.board %}

{% assign sticky_threads_count = 0 %}
{% for thread in threads %}
  {% if thread.sticky %}
    {% assign sticky_threads_count = sticky_threads_count | plus: 1 %}
  {% endif %}
{% endfor %}

{% for thread in threads %}
  {% if thread.sticky %}
    {% assign messages = site.messages | where: "thread", thread.title %}
    {% assign starter_user = site.users | where: "nickname", thread.user | first %}
    {% assign last_user = site.users | where: "nickname", messages.last.user | first %}
    {% if last_user.avatar %}
      {% if last_user.avatar contains "http" %}
      {% assign last_user_avatar = last_user.avatar %}
      {% else %}
      {% capture last_user_avatar %}/assets/smf/attachments/{{last_user.avatar}}{% endcapture %}
      {% endif %}
    {% else %}
      {% assign last_user_avatar = "/assets/smf/noavatar.gif" %}
    {% endif %}
    <li class="ipsDataItem ipsDataItem_responsivePhoto  ipsDataItem_pinned   " data-rowID='{{thread.id}}'>
      <div class='ipsDataItem_main'>
        <h4 class='ipsDataItem_title ipsContained_container'>
          <span><span class="ipsBadge ipsBadge_icon ipsBadge_small ipsBadge_positive" data-ipsTooltip title='Pinned'><i class='fa fa-thumb-tack'></i></span></span>
          <span class='ipsType_break ipsContained'>
            <a href='{{thread.url}}' class='' title='{{thread.title}}' data-ipsHover data-ipsHover-target='{{thread.url}}/?preview=1' data-ipsHover-timeout='1.5'>
            <span>{{thread.title}}</span>
            </a>
          </span>
          <!--
          <span class='ipsPagination ipsPagination_mini' id='elPagination_b9e433f0aba376263566ebc6a8a60ff1'>
            <span class='ipsPagination_page'><a href='https://gtaforums.com/topic/984072-upcoming-improvements-to-the-gta-online-experience/#comments' data-ipsTooltip title='Go to page 1'>1</a></span>
            <span class='ipsPagination_page'><a href='https://gtaforums.com/topic/984072-upcoming-improvements-to-the-gta-online-experience/page/2/#comments' data-ipsTooltip title='Go to page 2'>2</a></span>
            <span class='ipsPagination_page'><a href='https://gtaforums.com/topic/984072-upcoming-improvements-to-the-gta-online-experience/page/3/#comments' data-ipsTooltip title='Go to page 3'>3</a></span>
            <span class='ipsPagination_page'><a href='https://gtaforums.com/topic/984072-upcoming-improvements-to-the-gta-online-experience/page/4/#comments' data-ipsTooltip title='Go to page 4'>4</a></span>
            <span class='ipsPagination_last'><a href='https://gtaforums.com/topic/984072-upcoming-improvements-to-the-gta-online-experience/page/7/#comments' data-ipsTooltip title='Last page'>7 <i class='fa fa-caret-right'></i></a></span>
          </span>
          -->
        </h4>
        <div class='ipsDataItem_meta ipsType_reset ipsType_light ipsType_blendLinks'>
          <span>
            By
            {{starter_user.nickname}},
          </span><time datetime='2022-07-22T14:04:07Z' title='07/23/2022 12:04  AM' data-short='12 hr'>{{ messages.first.date | date: "%a, %b %d, %Y %H:%M:%S" }}</time>
        </div>
      </div>
      <ul class='ipsDataItem_stats'>
        <li>
          <span class='ipsDataItem_stats_number'>{{messages.size | minus: 1}}</span>
          <span class='ipsDataItem_stats_type'> replies</span>
        </li>
        <li class='ipsType_light'>
          <span class='ipsDataItem_stats_number'>{{thread.views}}</span>
          <span class='ipsDataItem_stats_type'> views</span>
        </li>
      </ul>
      <ul class='ipsDataItem_lastPoster ipsDataItem_withPhoto ipsType_blendLinks'>
        <li>
          <span class='ipsUserPhoto ipsUserPhoto_tiny '>
          <img src='{{last_user_avatar}}' alt='{{last_user.nickname}}' loading="lazy">
          </span>
        </li>
        <li>{{last_user.nickname}}</li>
        <li class="ipsType_light">
          <a href='{{thread.url}}' title='Go to last post' class='ipsType_blendLinks'>
          <time datetime='2022-07-23T02:27:49Z' title='07/23/2022 12:27  PM' data-short='26 min'>{{ messages.last.date | date: "%a, %b %d, %Y %H:%M:%S" }}</time>
          </a>
        </li>
      </ul>
    </li>
  {% endif %}
{% endfor %}


{% assign threads = site.threads | where: "board", page.board %}
{% assign last_messages = "" | split: "," %}
{% for thread in threads %}
  {% unless thread.sticky %}
  {% assign last_message = site.messages | where: "thread", thread.title | last %}
  {% assign last_messages = last_messages | push: last_message %}
  {% endunless %}
{% endfor %}
{% assign last_messages = last_messages | sort: "date" %}

{% for last_message in last_messages reversed %}
  {% assign thread = site.threads | where: "title", last_message.thread | first %}
  {% assign messages = site.messages | where: "thread", thread.title %}
  {% assign starter_user = site.users | where: "nickname", thread.user | first %}
  {% assign last_user = site.users | where: "nickname", messages.last.user | first %}
  {% if last_user.avatar %}
    {% if last_user.avatar contains "http" %}
    {% assign last_user_avatar = last_user.avatar %}
    {% else %}
    {% capture last_user_avatar %}/assets/smf/attachments/{{last_user.avatar}}{% endcapture %}
    {% endif %}
  {% else %}
    {% assign last_user_avatar = "/assets/smf/noavatar.gif" %}
  {% endif %}
  <li class="ipsDataItem ipsDataItem_responsivePhoto  ipsDataItem_unpinned   " data-rowID='{{thread.id}}'>
    <div class='ipsDataItem_main'>
      <h4 class='ipsDataItem_title ipsContained_container'>
        <span class='ipsType_break ipsContained'>
          <a href='{{thread.url}}' class='' title='Arcade Games Elimination Game ' data-ipsHover data-ipsHover-target='{{thread.url}}/?preview=1' data-ipsHover-timeout='1.5'>
            <span>{{thread.title}}</span>
          </a>
        </span>
        <!--
        <span class='ipsPagination ipsPagination_mini' id='elPagination_08ca569460920228a259f336ae05b5f3'>
          <span class='ipsPagination_page'><a href='https://gtaforums.com/topic/982779-arcade-games-elimination-game/#comments' data-ipsTooltip title='Go to page 1'>1</a></span>
          <span class='ipsPagination_page'><a href='https://gtaforums.com/topic/982779-arcade-games-elimination-game/page/2/#comments' data-ipsTooltip title='Go to page 2'>2</a></span>
          <span class='ipsPagination_page'><a href='https://gtaforums.com/topic/982779-arcade-games-elimination-game/page/3/#comments' data-ipsTooltip title='Go to page 3'>3</a></span>
          <span class='ipsPagination_page'><a href='https://gtaforums.com/topic/982779-arcade-games-elimination-game/page/4/#comments' data-ipsTooltip title='Go to page 4'>4</a></span>
          <span class='ipsPagination_last'><a href='https://gtaforums.com/topic/982779-arcade-games-elimination-game/page/12/#comments' data-ipsTooltip title='Last page'>12 <i class='fa fa-caret-right'></i></a></span>
        </span>
        -->
      </h4>
      <div class='ipsDataItem_meta ipsType_reset ipsType_light ipsType_blendLinks'>
        <span>
        By
        {{starter_user.nickname}},
        </span><time datetime='2022-05-24T01:42:27Z' title='05/24/2022 11:42  AM' data-short='May 24'>{{ messages.first.date | date: "%a, %b %d, %Y %H:%M:%S" }}</time>
      </div>
    </div>
    <ul class='ipsDataItem_stats'>
      <li>
        <span class='ipsDataItem_stats_number'>{{messages.size | minus: 1}}</span>
        <span class='ipsDataItem_stats_type'> replies</span>
      </li>
      <li class='ipsType_light'>
        <span class='ipsDataItem_stats_number'>{{thread.views}}</span>
        <span class='ipsDataItem_stats_type'> views</span>
      </li>
    </ul>
    <ul class='ipsDataItem_lastPoster ipsDataItem_withPhoto ipsType_blendLinks'>
      <li>
        <span class='ipsUserPhoto ipsUserPhoto_tiny '>
          <img src='{{last_user_avatar}}' alt='awesomefoot' loading="lazy">
        </span>
      </li>
      <li>{{last_user.nickname}}</li>
      <li class="ipsType_light">
        <a href='{{thread.url}}' title='Go to last post' class='ipsType_blendLinks'>
        <time datetime='2022-07-23T02:09:01Z' title='07/23/2022 12:09  PM' data-short='45 min'>{{ messages.last.date | date: "%a, %b %d, %Y %H:%M:%S" }}</time>
        </a>
      </li>
    </ul>
  </li>
{% endfor %}
</ol>

<div class="ipsButtonBar ipsPad_half ipsClearfix ipsClear " data-role="tablePagination">
<ul class='ipsPagination' id='elPagination_9707c04d9b535bad74ade0aad293d63a_1554897390' data-ipsPagination-seoPagination='true' data-pages='2040'>
<li class='ipsPagination_first ipsPagination_inactive'><a href='https://gtaforums.com/forum/273-gta-online/' rel="first" data-page='1' data-ipsTooltip title='First page'><i class='fa fa-angle-double-left'></i></a></li>
<li class='ipsPagination_prev ipsPagination_inactive'><a href='https://gtaforums.com/forum/273-gta-online/' rel="prev" data-page='0' data-ipsTooltip title='Previous page'>Prev</a></li>
<li class='ipsPagination_page ipsPagination_active'><a href='https://gtaforums.com/forum/273-gta-online/' data-page='1'>1</a></li>
<li class='ipsPagination_page'><a href='https://gtaforums.com/forum/273-gta-online/page/2/' data-page='2'>2</a></li>
<li class='ipsPagination_page'><a href='https://gtaforums.com/forum/273-gta-online/page/3/' data-page='3'>3</a></li>
<li class='ipsPagination_page'><a href='https://gtaforums.com/forum/273-gta-online/page/4/' data-page='4'>4</a></li>
<li class='ipsPagination_page'><a href='https://gtaforums.com/forum/273-gta-online/page/5/' data-page='5'>5</a></li>
<li class='ipsPagination_page'><a href='https://gtaforums.com/forum/273-gta-online/page/6/' data-page='6'>6</a></li>
<li class='ipsPagination_next'><a href='https://gtaforums.com/forum/273-gta-online/page/2/' rel="next" data-page='2' data-ipsTooltip title='Next page'>Next</a></li>
<li class='ipsPagination_last'><a href='https://gtaforums.com/forum/273-gta-online/page/2040/' rel="last" data-page='2040' data-ipsTooltip title='Last page'><i class='fa fa-angle-double-right'></i></a></li>
<li class='ipsPagination_pageJump'>
<a href='#' data-ipsMenu data-ipsMenu-closeOnClick='false' data-ipsMenu-appendTo='#elPagination_9707c04d9b535bad74ade0aad293d63a_1554897390' id='elPagination_9707c04d9b535bad74ade0aad293d63a_1554897390_jump'>Page 1 of 2040 &nbsp;<i class='fa fa-caret-down'></i></a>
<div class='ipsMenu ipsMenu_narrow ipsPadding ipsHide' id='elPagination_9707c04d9b535bad74ade0aad293d63a_1554897390_jump_menu'>
<form accept-charset='utf-8' method='post' action='https://gtaforums.com/forum/273-gta-online/' data-role="pageJump" data-baseUrl='#'>
<ul class='ipsForm ipsForm_horizontal'>
<li class='ipsFieldRow'>
<input type='number' min='1' max='2040' placeholder='Page number' class='ipsField_fullWidth' name='page'>
</li>
<li class='ipsFieldRow ipsFieldRow_fullWidth'>
<input type='submit' class='ipsButton_fullWidth ipsButton ipsButton_verySmall ipsButton_primary' value='Go'>
</li>
</ul>
</form>
</div>
</li>
</ul>
</div>

</div>
</div>
<div style="margin-top: 10px; margin: 0"></div>
<div class='ipsBox ipsPadding ipsResponsive_pull ipsResponsive_showPhone ipsMargin_vertical'>
<div class='ipsGap_row:3'>
<div>
<div data-followApp='forums' data-followArea='forum' data-followID='273' data-controller='core.front.core.followButton'>
<a href='#' rel="nofollow" class="ipsFollow ipsPos_middle ipsButton ipsButton_light ipsButton_verySmall " data-role="followButton" data-ipsTooltip title="Can't follow, static content lol">
<span>Followers</span>
<span class='ipsCommentCount'>0</span>
</a>
</div>
</div>
</div>
</div>


<div class='cWidgetContainer ' data-role='widgetReceiver' data-orientation='horizontal' data-widgetArea='footer'>
<ul class='ipsList_reset'>
<li class='ipsWidget ipsWidget_horizontal ipsBox  ' data-blockID='plugin_20_gtaforumsRecentlyBrowsing_36lcyvl4e' data-blockConfig="true" data-blockTitle="GTAForums Recently Browsing" data-blockErrorMessage="This block cannot be shown. This could be because it needs configuring, is unable to show on this page, or will show after reloading this page." data-controller='core.front.widgets.block'>
<h3 class='ipsType_reset ipsWidget_title'>
<div id="gtaforums_recentlyBrowsing_title">1 Guest Currently Viewing</div>
<div id="gtaforums_recentlyBrowsing_subtitle">
<span class='ipsType_light ipsType_unbold ipsType_medium'>0 members, 0 Anonymous, 1 Guests</span>
</div>
</h3>
<div class='ipsWidget_inner ipsPad'>
</div></li>
</ul>
</div>


<!-- hidden breadcrumb -->
<nav class='ipsBreadcrumb ipsBreadcrumb_bottom ipsFaded_withHover'>
<a href='#' id='elRSS' class='ipsPos_right ipsType_large' title='Available RSS feeds' data-ipsTooltip data-ipsMenu data-ipsMenu-above><i class='fa fa-rss-square'></i></a>
<ul id='elRSS_menu' class='ipsMenu ipsMenu_auto ipsHide'>
<li class='ipsMenu_item'><a title="GTANetcom" href="https://gtaforums.com/rss/4-gtanetcom.xml/">GTANetcom</a></li>
<li class='ipsMenu_item'><a title="GTA Online Latest Topics" href="https://gtaforums.com/forum/273-gta-online.xml/">GTA Online Latest Topics</a></li>
</ul>
<ul class='ipsList_inline ipsPos_right'>
<li>
<a data-action="defaultStream" class='ipsType_light ' href='https://gtaforums.com/discover/'><i class="fa fa-newspaper-o" aria-hidden="true"></i> <span>All Activity</span></a>
</li>
</ul>
<ul data-role="breadcrumbList">
<li>
<a title="Home" href='{{site.data.forums.base_url}}'>
<span>Home <i class='fa fa-angle-right'></i></span>
</a>
</li>
<li>
<a href='{{site.data.forums.base_url}}'>
<span>{{page.category}} <i class='fa fa-angle-right' aria-hidden="true"></i></span>
</a>
</li>
<li>{{page.board}}</li>
</ul>
</nav>


</div>
</div>
</main>


<footer id='ipsLayout_footer' class='ipsClearfix'>
{% include gtaforums/footer.html %}
</footer>

<div id='elMobileDrawer' class='ipsDrawer ipsHide'>
<div class='ipsDrawer_menu'>
<a href='#' class='ipsDrawer_close' data-action='close'><span>&times;</span></a>
<div class='ipsDrawer_content ipsFlex ipsFlex-fd:column'>
<div class='ipsPadding ipsBorder_bottom'>
<ul class='ipsToolList ipsToolList_vertical'>
<li>
<a href='https://gtaforums.com/login/' id='elSigninButton_mobile' class='ipsButton ipsButton_light ipsButton_small ipsButton_fullWidth'>Existing user? Sign In</a>
</li>
<li>
<a href='https://gtaforums.com/register/' id='elRegisterButton_mobile' class='ipsButton ipsButton_small ipsButton_fullWidth ipsButton_important'>Sign Up</a>
</li>
</ul>
</div>
<ul class='ipsDrawer_list ipsFlex-flex:11'>
<li class='ipsDrawer_itemParent'>
<h4 class='ipsDrawer_title'><a href='#'>Browse</a></h4>
<ul class='ipsDrawer_list'>
<li data-action="back"><a href='#'>Back</a></li>
<li>
<a href='https://gtaforums.com'>
Forums
</a>
</li>
<li>
<a href='https://gtaforums.com/staff/'>
Staff
</a>
</li>
<li>
<a href='https://gtaforums.com/leaderboard/'>
Leaderboard
</a>
</li>
</ul>
</li>
<li class='ipsDrawer_itemParent'>
<h4 class='ipsDrawer_title'><a href='#'>Activity</a></h4>
<ul class='ipsDrawer_list'>
<li data-action="back"><a href='#'>Back</a></li>
<li>
<a href='https://gtaforums.com/discover/'>
All Activity
</a>
</li>
<li>
<a href='https://gtaforums.com/search/'>
Search
</a>
</li>
</ul>
</li>
<li><a href='https://gtaforums.com/leaderboard/'>Leaderboard</a></li>
</ul>
</div>
</div>
</div>

<div id='elMobileCreateMenuDrawer' class='ipsDrawer ipsHide'>
<div class='ipsDrawer_menu'>
<a href='#' class='ipsDrawer_close' data-action='close'><span>&times;</span></a>
<div class='ipsDrawer_content ipsSpacer_bottom ipsPad'>
<ul class='ipsDrawer_list'>
<li class="ipsDrawer_listTitle ipsType_reset">Create New...</li>
</ul>
</div>
</div>
</div>

{% include gtaforums/scripts.html %}

<script type='application/ld+json'>
{
    "@context": "http://www.schema.org",
    "publisher": "https://gtaforums.com/#organization",
    "@type": "WebSite",
    "@id": "https://gtaforums.com/#website",
    "mainEntityOfPage": "https://gtaforums.com/",
    "name": "GTAForums",
    "url": "https://gtaforums.com/",
    "potentialAction": {
        "type": "SearchAction",
        "query-input": "required name=query",
        "target": "https://gtaforums.com/search/?q={query}"
    },
    "inLanguage": [
        {
            "@type": "Language",
            "name": "English (USA)",
            "alternateName": "en-US"
        }
    ]
}	
</script>
<script type='application/ld+json'>
{
    "@context": "http://www.schema.org",
    "@type": "Organization",
    "@id": "https://gtaforums.com/#organization",
    "mainEntityOfPage": "https://gtaforums.com/",
    "name": "GTAForums",
    "url": "https://gtaforums.com/",
    "sameAs": [
        "https://twitter.com/GTAForums",
        "https://twitter.com/GTANet"
    ]
}	
</script>
<script type='application/ld+json'>
{
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "item": {
                "@id": "https://gtaforums.com/forum/440-multiplayer/",
                "name": "Multiplayer"
            }
        }
    ]
}	
</script>


</body>
</html>
