<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
<meta charset="utf-8">
<title>Forums - {{site.data.forums.title}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@GTANet" />
<meta property="og:title" content="{{site.data.forums.title}}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://gtaforums.com">
<meta property="og:site_name" content="{{site.data.forums.title}}">
<meta property="og:locale" content="en_US">
<link rel="canonical" href="https://gtaforums.com" />
<link rel="alternate" type="application/rss+xml" title="GTANetcom" href="https://gtaforums.com/rss/4-gtanetcom.xml/" />
{% include gtaforums/styles.html %}
</head>
<body class='ipsApp ipsApp_front ipsJS_none ipsClearfix' data-controller='core.front.core.app' data-message="" data-pageApp='forums' data-pageLocation='front' data-pageModule='forums' data-pageController='index'>

<div class="vm-placement" data-id="5fb3a24856b767375fc6838e" style="display:none"></div>

<body class='ipsApp ipsApp_front ipsJS_none ipsClearfix' data-controller='core.front.core.app' data-message="" data-pageApp='forums' data-pageLocation='front' data-pageModule='forums' data-pageController='index'>
<a href='#ipsLayout_mainArea' class='ipsHide' title='Go to main content on this page' accesskey='m'>Jump to content</a>
<div id='ipsLayout_header' class='ipsClearfix'>

<header>
{% include gtaforums/header.html %}
</header>

</div>
<main id='ipsLayout_body' class='ipsLayout_container'>
<button type="button" id="gtaf-quickNav-toggle" class="ipsButton ipsButton_primary ipsButton_narrow" data-ipstooltip _title="Show Quick Navigation">
<i class="fa fa-chevron-right"></i>
<div>QUICK NAV</div>
</button>
<div id='gtaf-quickNav-container'>
{% include gtaforums/quicknav.html %}
</div>

<div id='ipsLayout_contentArea'>
<div id='ipsLayout_contentWrapper'>
<ul id='elMobileNav' class='ipsResponsive_hideDesktop' data-controller='core.front.core.mobileNav'>
<li>
<a data-action="defaultStream" href='{{page.template}}/messages/recent'><i class="fa fa-newspaper-o" aria-hidden="true"></i></a>
</li>
<li class='ipsJS_show'>
<a href='https://gtaforums.com/search/'><i class='fa fa-search'></i></a>
</li>
</ul>
<nav class='ipsBreadcrumb ipsBreadcrumb_top ipsFaded_withHover'>
<ul class='ipsList_inline ipsPos_right'>
<li>
<a data-action="defaultStream" class='ipsType_light ' href='{{page.template}}/messages/recent'><i class="fa fa-newspaper-o" aria-hidden="true"></i> <span>All Activity</span></a>
</li>
</ul>
<ul data-role="breadcrumbList">
<li>
<a title="Home" href='https://gtaforums.com/'>
<span>Home</span>
</a>
</li>
</ul>
</nav>

<div id='ipsLayout_mainArea'>
<div class='cAnnouncementsContent'>
<div class='cAnnouncementContentTop ipsAnnouncement ipsMessage_information ipsType_center'>
<a href='https://gtaforums.com/announcement/7-forum-rules/' data-ipsDialog data-ipsDialog-title="Forum Rules">Forum Rules</a>
</div>
</div>
<div class='ipsPageHeader ipsClearfix ipsMargin_bottom cForumHeader ipsHeaderButtons ipsFlex ipsFlex-ai:center ipsFlex-jc:between'>
<h1 class='ipsType_pageTitle ipsFlex-flex:11 ipsType_break'>
Forums
</h1>
</div>
<ul class="ipsToolList ipsToolList_horizontal ipsResponsive_hideDesktop ipsResponsive_hideTablet ipsResponsive_block ipsClearfix"></ul>
<div><!-- space for advertising i guess... --></div>

<section>
<ol class='ipsList_reset cForumList' data-controller='core.global.core.table, forums.front.forum.forumList' data-baseURL=''>
{% for category in site.data.forums.categories %}
  {% assign boards = site.boards | where: "category", category.name | sort: "board_order" %}
  {% if boards.size > 0 %}

  <li data-categoryID='440' class='cForumRow ipsBox ipsSpacer_bottom ipsResponsive_pull'>
    <h2 class="ipsType_sectionTitle ipsType_reset cForumTitle">
    <a href='#' class='ipsPos_right ipsJS_show ipsType_noUnderline cForumToggle' data-action='toggleCategory' data-ipsTooltip title='Toggle this category'></a>
    <a href=''>{{category.name}}</a>
    </h2>
    <ol class="ipsDataList ipsDataList_large ipsDataList_zebra" data-role="forums">

      {% for board in boards %}
        {% unless board.child_level %}
          <li class="cForumRow ipsDataItem ipsDataItem_responsivePhoto  ipsClearfix" data-forumID="{{board.id}}">
            <div class="ipsDataItem_icon ipsDataItem_category">
              <span class='ipsItemStatus ipsItemStatus_large cForumIcon_normal ipsItemStatus_read'>
                <i class="fa fa-comments"></i>
              </span>
            </div>
            <div class="ipsDataItem_main">
              <h4 class="ipsDataItem_title ipsType_break">
                <a href="{{page.template}}{{board.url}}">{{board.board}}</a>
              </h4>
              {% if childboards.size > 0 %}
              <ul class="ipsDataItem_subList ipsList_inline">
                {% for subboard in childboards %}
                <li class="">
                <a href="{{page.template}}{{subboard.url}}">{{subboard.board}}</a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
              <div class='ipsType_richText ipsDataItem_meta ipsContained' data-controller='core.front.core.lightboxedImages'>
                <p>{{board.description}}</p>
              </div>
            </div>
            {% assign boards1 = site.boards | where_exp: "board", board.board %}
            {% assign boards2 = site.boards | where_exp: "parent_board", board.board %}
            {% assign boards = boards1 | concat: boards2 %}

            {% assign threads = "" | split: "," %}
            {% for board in boards %}
              {% assign threads2 = site.threads | where: "board", board.board %}
              {% assign threads = threads | concat: threads2 %}
            {% endfor %}

            {% assign messages = "" | split: "," %}
            {% for thread in threads %}
              {% assign messages2 = site.messages | where: "thread", thread.title %}
              {% assign messages = messages | concat: messages2 | sort: "date" %}
            {% endfor %}

            {% assign last_user = site.users | where: "nickname", messages.last.user | first %}
            {% assign last_msg_thread = site.threads | where: "title", messages.last.thread | first %}

            <div class="ipsDataItem_stats ipsDataItem_statsLarge">
              <dl>
                <dt class="ipsDataItem_stats_number">{{messages.size}}</dt>
                <dd class="ipsDataItem_stats_type ipsType_light"> posts</dd>
              </dl>
            </div>
            {% if last_user %}

              {% if last_user.avatar %}
                {% if last_user.avatar contains "http" %}
                {% assign last_user_avatar = last_user.avatar %}
                {% else %}
                {% capture last_user_avatar %}/assets/smf/attachments/{{last_user.avatar}}{% endcapture %}
                {% endif %}
              {% endif %}

              <ul class="ipsDataItem_lastPoster ipsDataItem_withPhoto">
                <li>
                  <span class='ipsUserPhoto ipsUserPhoto_tiny '>
                  <img src='{{last_user_avatar}}' alt='CUTS3R' loading="lazy">
                  </span>
                </li>
                <li class='ipsDataItem_lastPoster__title'><a href="{{page.template}}{{last_msg_thread.url}}" title='The Criminal Enterprises: Vehicle Analysis'>{{messages.last.subject | truncate: 27}}</a></li>
                <li class='ipsType_light ipsType_blendLinks'>
                  By
                  {{last_user.nickname}},
                  <a href='{{page.template}}{{last_msg_thread.url}}' title='Go to last post'><time datetime='2022-07-23T02:50:55Z' title='07/23/2022 02:50  AM' data-short='2 min'>{{ messages.last.date | date: "%a, %b %d, %Y %H:%M:%S" }}</time></a>
                </li>
              </ul>
            {% endif %}
          </li>
        {% endunless %}
      {% endfor %}
    </ol>
  </li>
  {% endif %}
{% endfor %}
</ol>
</section>

{% assign users = site.users | sort: "date_registered" %}
{% assign topics = site.threads %}
{% assign messages = site.messages %}
{% if users.last.avatar %}
  {% if users.last.avatar contains "http" %}
  {% assign last_user_avatar = users.last.avatar %}
  {% else %}
  {% capture last_user_avatar %}/assets/smf/attachments/{{users.last.avatar}}{% endcapture %}
  {% endif %}
{% endif %}
<div class='cWidgetContainer ' data-role='widgetReceiver' data-orientation='horizontal' data-widgetArea='footer'>
<ul class='ipsList_reset'>
<li class='ipsWidget ipsWidget_horizontal ipsBox  ' data-blockID='plugin_20_gtaforumsWhosOnline_jywemhgv6' data-blockConfig="true" data-blockTitle="GTAForums Who's Online" data-blockErrorMessage="This block cannot be shown. This could be because it needs configuring, is unable to show on this page, or will show after reloading this page." data-controller='core.front.widgets.block'>
<h3 class='ipsType_reset ipsWidget_title'>
<div id="gtaforums_whosOnline_title">{{users.size}} CRIMINALS REGISTERED</div> <div id="gtaforums_whosOnline_subtitle">
<span class='ipsType_light ipsType_unbold ipsType_medium'>137 Members, 22 Anonymous, 1,593 Guests</span>
<span class='ipsType_medium ipsType_light ipsType_unbold ipsType_blendLinks'><a href='{{page.template}}/users'>(See full list)</a></span>
</div>
</h3>
<div class='ipsWidget_inner ipsPad'>
<ul class='ipsList_inline ipsList_csv ipsList_noSpacing ipsType_normal'>
{% for user in users %}
  <li>{{user.nickname}}</li>
{% endfor %}
</ul>
</div></li>
<li class='ipsWidget ipsWidget_horizontal ipsBox  ipsResponsive_block' data-blockID='app_forums_forumStatistics_vdq9w2l08' data-blockConfig="true" data-blockTitle="Forum Statistics" data-blockErrorMessage="This block cannot be shown. This could be because it needs configuring, is unable to show on this page, or will show after reloading this page." data-controller='core.front.widgets.block'>
<h3 class='ipsType_reset ipsWidget_title'>Forum Statistics</h3>
<div class='ipsWidget_inner'>
<div class='ipsGrid ipsGrid_collapsePhone ipsWidget_stats'>
<div class='ipsGrid_span6 ipsType_center'>
<span class='ipsType_large ipsWidget_statsCount'>{{topics.size}}</span><br>
<span class='ipsType_light ipsType_medium'>Total Topics</span>
</div>
<div class='ipsGrid_span6 ipsType_center'>
<span class='ipsType_large ipsWidget_statsCount'>{{messages.size}}</span><br>
<span class='ipsType_light ipsType_medium'>Total Posts</span>
</div>
</div>
</div></li>
<li class='ipsWidget ipsWidget_horizontal ipsBox  ' data-blockID='app_core_stats_6pfnw57zw' data-blockConfig="true" data-blockTitle="Member Statistics" data-blockErrorMessage="This block cannot be shown. This could be because it needs configuring, is unable to show on this page, or will show after reloading this page." data-controller='core.front.widgets.block'>
<h3 class='ipsType_reset ipsWidget_title'>Member Statistics</h3>
<div class='ipsWidget_inner'>
<div class='ipsFlex ipsFlex-ai:center ipsFlex-jc:between sm:ipsFlex-fd:column sm:ipsFlex-ai:stretch ipsPadding ipsWidget_stats'>
<div class='ipsFlex-flex:11 ipsFlex ipsFlex-ai:center ipsFlex-jc:around'>
<div class='ipsType_center'>
<span class='ipsType_large ipsWidget_statsCount'>{{users.size}}</span><br>
<span class='ipsType_light ipsType_medium'>Total Members</span>
</div>
<div class='ipsType_center'>
<span class='ipsType_large ipsWidget_statsCount' data-ipsTooltip title='09/30/2013 08:51  PM'>?</span><br>
<span class='ipsType_light ipsType_medium'>Most Online</span>
</div>
</div>
<div class='ipsFlex-flex:01 ipsBorder_left ipsPadding_left ipsMargin_right:double sm:ipsMargin_right:none sm:ipsMargin_top sm:ipsBorder:none sm:ipsBorder_top sm:ipsPadding_top sm:ipsPadding_left:none sm:ipsFlex sm:ipsFlex-jc:center'>
<div class='ipsPhotoPanel ipsPhotoPanel_mini cNewestMember'>
<span class='ipsUserPhoto ipsUserPhoto_mini '>
<img src='{{last_user_avatar}}' alt='{{users.last.nickname}}' loading="lazy">
</span>
<div>
<span class='ipsType_minorHeading'>Newest Member</span><br>
<span class='ipsType_normal'>
{{users.last.nickname}}</span><br>
<span class='ipsType_small ipsType_light'>Joined <time datetime='2022-07-23T01:53:57Z' title='07/23/2022 01:53  AM' data-short='59 min'>59 minutes ago</time></span>
</div>
</div>
</div>
</div>
</div></li>
</ul>
</div>
</div>
<nav class='ipsBreadcrumb ipsBreadcrumb_bottom ipsFaded_withHover'>
<a href='#' id='elRSS' class='ipsPos_right ipsType_large' title='Available RSS feeds' data-ipsTooltip data-ipsMenu data-ipsMenu-above><i class='fa fa-rss-square'></i></a>
<ul id='elRSS_menu' class='ipsMenu ipsMenu_auto ipsHide'>
<li class='ipsMenu_item'><a title="GTANetcom" href="https://gtaforums.com/rss/4-gtanetcom.xml/">GTANetcom</a></li>
</ul>
<ul class='ipsList_inline ipsPos_right'>
<li>
<a data-action="defaultStream" class='ipsType_light ' href='{{page.template}}/messages/recent'><i class="fa fa-newspaper-o" aria-hidden="true"></i> <span>All Activity</span></a>
</li>
</ul>
<ul data-role="breadcrumbList">
<li>
<a title="Home" href='https://gtaforums.com/'>
<span>Home</span>
</a>
</li>
</ul>
</nav>
</div>
</div>
</main>


<footer id='ipsLayout_footer' class='ipsClearfix'>
{% include gtaforums/footer.html %}
</footer>

<div id='elMobileDrawer' class='ipsDrawer ipsHide'>
<div class='ipsDrawer_menu'>
<a href='#' class='ipsDrawer_close' data-action='close'><span>&times;</span></a>
<div class='ipsDrawer_content ipsFlex ipsFlex-fd:column'>
<div class='ipsPadding ipsBorder_bottom'>
<ul class='ipsToolList ipsToolList_vertical'>
<li>
<a href='https://gtaforums.com/login/' id='elSigninButton_mobile' class='ipsButton ipsButton_light ipsButton_small ipsButton_fullWidth'>Existing user? Sign In</a>
</li>
<li>
<a href='https://gtaforums.com/register/' id='elRegisterButton_mobile' class='ipsButton ipsButton_small ipsButton_fullWidth ipsButton_important'>Sign Up</a>
</li>
</ul>
</div>
<ul class='ipsDrawer_list ipsFlex-flex:11'>
<li class='ipsDrawer_itemParent'>
<h4 class='ipsDrawer_title'><a href='#'>Browse</a></h4>
<ul class='ipsDrawer_list'>
<li data-action="back"><a href='#'>Back</a></li>
<li>
<a href='https://gtaforums.com'>
Forums
</a>
</li>
<li>
<a href='https://gtaforums.com/staff/'>
Staff
</a>
</li>
<li>
<a href='https://gtaforums.com/leaderboard/'>
Leaderboard
</a>
</li>
</ul>
</li>
<li class='ipsDrawer_itemParent'>
<h4 class='ipsDrawer_title'><a href='#'>Activity</a></h4>
<ul class='ipsDrawer_list'>
<li data-action="back"><a href='#'>Back</a></li>
<li>
<a href='{{page.template}}/messages/recent'>
All Activity
</a>
</li>
<li>
<a href='https://gtaforums.com/search/'>
Search
</a>
</li>
</ul>
</li>
<li><a href='https://gtaforums.com/leaderboard/'>Leaderboard</a></li>
</ul>
</div>
</div>
</div>
<div id='elMobileCreateMenuDrawer' class='ipsDrawer ipsHide'>
<div class='ipsDrawer_menu'>
<a href='#' class='ipsDrawer_close' data-action='close'><span>&times;</span></a>
<div class='ipsDrawer_content ipsSpacer_bottom ipsPad'>
<ul class='ipsDrawer_list'>
<li class="ipsDrawer_listTitle ipsType_reset">Create New...</li>
</ul>
</div>
</div>
</div>

{% include gtaforums/scripts.html %}

<script type='application/ld+json'>
{
    "@context": "http://www.schema.org",
    "publisher": "https://gtaforums.com/#organization",
    "@type": "WebSite",
    "@id": "https://gtaforums.com/#website",
    "mainEntityOfPage": "https://gtaforums.com/",
    "name": "GTAForums",
    "url": "https://gtaforums.com/",
    "potentialAction": {
        "type": "SearchAction",
        "query-input": "required name=query",
        "target": "https://gtaforums.com/search/?q={query}"
    },
    "inLanguage": [
        {
            "@type": "Language",
            "name": "English (USA)",
            "alternateName": "en-US"
        }
    ]
}	
</script>
<script type='application/ld+json'>
{
    "@context": "http://www.schema.org",
    "@type": "Organization",
    "@id": "https://gtaforums.com/#organization",
    "mainEntityOfPage": "https://gtaforums.com/",
    "name": "GTAForums",
    "url": "https://gtaforums.com/",
    "sameAs": [
        "https://twitter.com/GTAForums",
        "https://twitter.com/GTANet"
    ]
}	
</script>


</body>
</html>
