<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
<meta charset="utf-8">
<title>Unread Content - {{site.data.forums.title}}</title>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3898146-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-3898146-3');
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@GTANet" />
<meta property="og:site_name" content="{{site.data.forums.title}}">
<meta property="og:locale" content="en_US">
<link rel="canonical" href="https://gtaforums.com/discover/unread/" />
<link rel="alternate" type="application/rss+xml" title="GTANetcom" href="https://gtaforums.com/rss/4-gtanetcom.xml/?member_id=717099&amp;key=2eb33c7206881a76834a3532ae02e768" />
{% include gtaforums/styles.html %}
<link rel='stylesheet' href='/assets/gtaforums/styles/streams.css' media='all'>
<link rel='stylesheet' href='/assets/gtaforums/styles/streams_responsive.css' media='all'>
</head>
<body class='header-compact-static ipsApp ipsApp_front ipsJS_has ipsClearfix' data-controller='core.front.core.app' data-message="" data-pageApp='core' data-pageLocation='front' data-pageModule='discover' data-pageController='streams' data-pageID='1'>

<div class="vm-placement" data-id="6012ea4bfe24b76bfed2645e" style="display:none"></div>

<body class='ipsApp ipsApp_front ipsJS_has ipsClearfix' data-controller='core.front.core.app' data-message="" data-pageApp='core' data-pageLocation='front' data-pageModule='discover' data-pageController='streams' data-pageID='1'>
<a href='#ipsLayout_mainArea' class='ipsHide' title='Go to main content on this page' accesskey='m'>Jump to content</a>
<div id='ipsLayout_header' class='ipsClearfix'>

<header>
{% include gtaforums/header.html %}
</header>

</div>
<main id='ipsLayout_body' class='ipsLayout_container'>
<div id='ipsLayout_contentArea'>
<div id='ipsLayout_contentWrapper'>
<ul id='elMobileNav' class='ipsResponsive_hideDesktop' data-controller='core.front.core.mobileNav'>
<li id='elMobileBreadcrumb'>
<a href='{{page.url}}'>
<span>Activity</span>
</a>
</li>
<li>
<a data-action="defaultStream" href='{{page.url}}'><i class="fa fa-newspaper-o" aria-hidden="true"></i></a>
</li>
<li data-ipsDrawer data-ipsDrawer-drawerElem='#elMobileCreateMenuDrawer'>
<a href='#'><i class='fa fa-plus'></i></a>
</li>
<li class='ipsJS_show'>
<a href='https://gtaforums.com/search/'><i class='fa fa-search'></i></a>
</li>
</ul>
<nav class='ipsBreadcrumb ipsBreadcrumb_top ipsFaded_withHover'>
<ul class='ipsList_inline ipsPos_right'>
<li>
<a data-action="defaultStream" class='ipsType_light ' href='https://gtaforums.com/discover/unread/'><i class="fa fa-newspaper-o" aria-hidden="true"></i> <span>Unread Content</span></a>
</li>
</ul>
<ul data-role="breadcrumbList">
<li>
<a title="Home" href='{{page.template}}{{site.data.forums.base_url}}'>
<span>Home <i class='fa fa-angle-right'></i></span>
</a>
</li>
<li>
<a href='{{page.url}}'>
<span>Activity <i class='fa fa-angle-right' aria-hidden="true"></i></span>
</a>
</li>
<li>
<a href='{{page.url}}'>
<span>Unread Content </span>
</a>
</li>
</ul>
</nav>

<div id='ipsLayout_mainArea'>
<section data-controller='core.front.streams.main, core.front.core.ignoredComments' data-streamID='1'>
<div class="ipsPageHeader ipsBox ipsResponsive_pull ipsClearfix ipsMargin_bottom md:ipsMargin_bottom:half">
<div class='ipsPadding_top ipsPadding_horizontal'>
<div class='ipsFlex sm:ipsFlex-fd:column ipsFlex-jc:between ipsFlex-ai:start ipsFlex-fw:wrap ipsGap:3 ipsPadding_bottom'>
<div class='ipsFlex-flex:11 sm:ipsMargin_bottom:half'>
<h1 class='ipsType_pageTitle'>
<span data-role='streamTitle'>Unread Content</span>
</h1>
<p class='ipsType_reset ipsType_normal' data-role='streamOverview'>
<span data-role='streamBlurb'>Showing all content I have not read.</span>
</p>
</div>
</div>
</div>
<div data-controller='core.front.streams.form' style="display:none">
<input type="hidden" name="stream_submitted" value="1">
<input type="hidden" name="csrfKey" value="3877d35377c8356d20a3e6bbeab459b2">
<input type="hidden" name="stream_default_view" value="expanded">
<input type="hidden" name="MAX_FILE_SIZE" value="8388608">
<input type="hidden" name="plupload" value="7d7ce874fc143314af899f96bbd4743e">
<div class='' id='elStreamFilterForm'>
<ul class='cStreamFilter ipsClearfix ipsList_reset ipsJS_show' data-role="filterBar">
<li data-filter='stream_include_comments'>
<a href='#elStreamShowMe_menu' id='elStreamShowMe' data-ipsMenu data-ipsMenu-stopLinks data-ipsMenu-activeClass='cStreamFilter_active' data-ipsMenu-selectable='radio' data-ipsMenu-appendTo='#elStreamFilterForm'>
<h3 class='ipsType_reset ipsTruncate ipsTruncate_line'>Show me</h3>
<p class='cStreamFilter_blurb ipsType_reset ipsTruncate ipsTruncate_line' data-role='filterOverview'></p>
</a>
</li>
<li data-filter='stream_classes'>
<a href='#elStreamContentTypes_menu' id='elStreamContentTypes' data-ipsMenu data-ipsMenu-activeClass='cStreamFilter_active' data-ipsMenu-selectable='radio' data-ipsMenu-appendTo='#elStreamFilterForm' data-ipsMenu-closeOnClick='false'>
<h3 class='ipsType_reset ipsTruncate ipsTruncate_line'>Content Types</h3>
<p class='cStreamFilter_blurb ipsType_reset ipsTruncate ipsTruncate_line' data-role='filterOverview'></p>
</a>
</li>
<li data-filter='stream_ownership'>
<a href='#elStreamOwnership_menu' id='elStreamOwnership' data-ipsMenu data-ipsMenu-activeClass='cStreamFilter_active' data-ipsMenu-selectable='radio' data-ipsMenu-appendTo='#elStreamFilterForm' data-ipsMenu-closeOnClick='false'>
<h3 class='ipsType_reset ipsTruncate ipsTruncate_line'>Ownership</h3>
<p class='cStreamFilter_blurb ipsType_reset ipsTruncate ipsTruncate_line' data-role='filterOverview'></p>
</a>
</li>
<li data-filter='stream_date_type'>
<a href='#elStreamTimePeriod_menu' id='elStreamTimePeriod' data-ipsMenu data-ipsMenu-activeClass='cStreamFilter_active' data-ipsMenu-selectable='radio' data-ipsMenu-appendTo='#elStreamFilterForm' data-ipsMenu-closeOnClick='false'>
<h3 class='ipsType_reset ipsTruncate ipsTruncate_line'>Time Period</h3>
<p class='cStreamFilter_blurb ipsType_reset ipsTruncate ipsTruncate_line' data-role='filterOverview'></p>
</a>
</li>
<li data-filter='stream_sort'>
<a href='#elStreamSortEdit_menu' id='elStreamSortEdit' data-ipsMenu data-ipsMenu-activeClass='cStreamFilter_active' data-ipsMenu-selectable='radio' data-ipsMenu-appendTo='#elStreamFilterForm'>
<h3 class='ipsType_reset ipsTruncate ipsTruncate_line'>Sorting</h3>
<p class='cStreamFilter_blurb ipsType_reset ipsTruncate ipsTruncate_line' data-role='filterOverview'></p>
</a>
</li>
</ul>
<ul data-role="saveButtonContainer" class='ipsList_inline ipsHide ipsType_right ipsType_small ipsPad_half ipsAreaBackground_light'>
<li><strong>Save these changes?</strong></li>
<li><a href='#' class='ipsButton ipsButton_link ipsButton_verySmall' data-action='dismissSave'>Don't Save</a></li>
<li>
<button type='button' class='ipsButton ipsButton_link ipsButton_verySmall' data-ipsMenu data-ipsMenu-closeOnClick='false' data-ipsMenu-appendTo='#elFilterForm' data-action='saveNewStream' id='elSaveNewStream'>Save As New Stream</button>
</li>
</ul>
<a href='#' class='ipsResponsive_showPhone ipsResponsive_block ipsJS_show ipsButton ipsButton_link ipsButton_fullWidth' data-action="toggleFilters"></a>
<ul class='ipsMenu ipsMenu_selectable ipsMenu_auto ipsHide' id='elStreamSortEdit_menu'>
<li class='ipsMenu_item ipsMenu_itemChecked'>
<a href='#'>
<input type="radio" name="stream_sort" value="newest" checked id="elRadio_stream_sort_newest">
Newest activity first
</a>
</li>
<li class='ipsMenu_item '>
<a href='#'>
<input type="radio" name="stream_sort" value="oldest" id="elRadio_stream_sort_oldest">
Oldest activity first
</a>
</li>
</ul>

<ul class='ipsMenu ipsMenu_selectable ipsMenu_auto ipsHide' data-role="streamMenuFilter" id='elStreamShowMe_menu'>
<li class='ipsMenu_item ' data-ipsMenuValue="1">
<a href='#'>
<input type="radio" name="stream_include_comments" value="1" id="stream_ownership_1">
Content items, comments, and reviews
</a>
</li>
<li class='ipsMenu_item ipsMenu_itemChecked' data-ipsMenuValue="0">
<a href='#'>
<input type="radio" name="stream_include_comments" value="0" checked id="stream_ownership_0">
Content items only
</a>
</li>

<li><hr class='ipsHr'></li>
<li class='ipsPad ipsPadding_top:half'>
<input type="hidden" name="stream_tags_type" value="custom">
<h3 class='ipsType_reset ipsTruncate ipsTruncate_line ipsPadding_bottom'>Tagged with</h3>
<div class='ipsFieldRow_fullWidth'>
<div>
<textarea name="stream_tags" id='elInput_stream_tags' class="" data-ipsAutocomplete data-ipsAutocomplete-lang='ac_optional' data-ipsAutocomplete-minimized></textarea>
</div>
<p class='ipsType_reset ipsType_small ipsType_light'>Type tags separated by commas.</p>
</div>
</li>
</ul>

<div class='ipsMenu ipsMenu_selectable ipsMenu_wide ipsPad ipsHide' data-role="streamMenuFilter" id='elStreamContentTypes_menu'>
<h3 class='ipsType_reset ipsType_large cStreamForm_title ipsSpacer_top'>Content Types</h3>
<ul class='ipsSideMenu_list ipsSideMenu_withChecks cStreamForm_list ipsType_normal ipsSpacer_top ipsSpacer_half' data-ipsSideMenu data-ipsSideMenu-type='check' data-ipsSideMenu-responsive='false' data-filterType='type'>
<li>
<a href='#' class='ipsSideMenu_item ipsSideMenu_itemActive' data-ipsMenuValue='__all'>
<input type="hidden" name="stream_classes[__EMPTY]" value="__EMPTY">
All Content
</a>
<input type='radio' class='ipsHide' name='stream_classes_type' value='0' checked>
<input type='radio' class='ipsHide' name='stream_classes_type' value='1'>
</li>
<li>
<a class='ipsSideMenu_item  ' data-class='IPS\forums\Topic' data-ipsMenuValue='topic'>
<input type='checkbox' name='stream_classes[IPS\forums\Topic]' value='1'>
<span class='ipsSideMenu_noCheck'>Topics</span>
</a>
<a href='#' class='ipsType_noUnderline cStreamForm_menu' data-ipsTooltip title='More options for Topics' data-role='streamContainer' data-class='IPS\forums\Topic' data-contentKey='topic'>
<i class='fa fa-cog ipsType_large'></i>
<i class='fa fa-caret-down'></i>
</a>
<div class='cStreamForm_nodes ipsHide'>
<span class='ipsType_light'>Loading...</span>
</div>
</li>
<li>
<p class='ipsCenter'><button data-action='applyFilters' title="Closing this menu will also apply these changes" type='button' class='ipsButton ipsButton_light ipsButton_fullWidth ipsButton_small ipsButton_disabled'>Apply Changes</button></p>
</li>
</ul>
<hr class='ipsHr ipsSpacer_both ipsResponsive_showPhone ipsResponsive_block'>
<div class='ipsMenu ipsMenu_wide ipsPad ipsHide' data-role="streamContainer" data-contentKey="topic" data-className="IPS\forums\Topic" id='elMenu_topic_menu'>
</div>
<div class='ipsMenu ipsMenu_wide ipsPad ipsHide' data-role="streamContainer" data-contentKey="clubs" data-className="clubs" id='elMenu_clubFilter_menu'>
</div>
</div>

<ul class='ipsMenu ipsMenu_selectable ipsMenu_auto ipsHide' data-role="streamMenuFilter" id='elStreamReadStatus_menu'>
<li class='ipsMenu_item ' data-ipsMenuValue="all">
<a href='#'>
<input type="radio" name="stream_read" value="all" id="elRadio_stream_read_all">
Everything
</a>
</li>
<li class='ipsMenu_item ipsMenu_itemChecked' data-ipsMenuValue="unread">
<a href='#'>
<input type="radio" name="stream_read" value="unread" checked id="elRadio_stream_read_unread">
Content I haven't read
<p class="ipsType_reset ipsType_small ipsType_light">
Unread content streams are only viewable with 'Items Only'
</p>
</a>
</li>
</ul>

<ul class='ipsMenu ipsMenu_selectable ipsMenu_auto ipsHide' data-role="streamMenuFilter" id='elStreamOwnership_menu'>
<li class='ipsMenu_item ipsMenu_itemChecked' data-ipsMenuValue="all">
<a href='#'>
<input type="radio" name="stream_ownership" value="all" checked id="stream_ownership_all">
Everything
</a>
</li>
<li class='ipsMenu_item ' data-ipsMenuValue="started">
<a href='#'>
<input type="radio" name="stream_ownership" value="started" id="stream_ownership_started">
Content I started
</a>
</li>
<li class='ipsMenu_item ' data-ipsMenuValue="postedin">
<a href='#'>
<input type="radio" name="stream_ownership" value="postedin" id="stream_ownership_postedin">
Content I have posted in
</a>
</li>
<li class='ipsMenu_item ' data-ipsMenuValue="custom">
<a href='#'>
<input type="radio" name="stream_ownership" value="custom" id="stream_ownership_custom">
Content by specific members
</a>
</li>
<li class='ipsPad ipsSpacer_top ipsSpacer_half cStreamForm_authors ipsHide' data-role="ownershipMemberForm">
<h4 class='ipsType_minorHeading'>Authors</h4>
<div>
<textarea name="stream_custom_members" id='elInput_stream_custom_members' class="" data-ipsAutocomplete data-ipsAutocomplete-lang='mem_optional' data-ipsAutocomplete-unique data-ipsAutocomplete-dataSource="https://gtaforums.com/index.php?app=core&amp;module=system&amp;controller=ajax&amp;do=findMember" data-ipsAutocomplete-queryParam='input' data-ipsAutocomplete-resultItemTemplate="core.autocomplete.memberItem" data-ipsAutocomplete-minAjaxLength='3' data-ipsAutocomplete-disallowedCharacters='[]' data-ipsAutocomplete-commaTrigger='false'></textarea>
</div>
</li>
</ul>

<ul class='ipsMenu ipsMenu_selectable ipsMenu_auto ipsHide' data-role="streamMenuFilter" id='elStreamFollowStatus_menu'>
<input type='hidden' name='stream_follow' value='all'>
<li class='ipsMenu_item ' data-ipsMenuValue='containers'>
<a href='#'>
<input type='checkbox' name='stream_followed_types[containers]' value='1'>
Content posted in areas I follow
</a>
</li>
<li class='ipsMenu_item ' data-ipsMenuValue='items'>
<a href='#'>
<input type='checkbox' name='stream_followed_types[items]' value='1'>
Content items I follow
</a>
</li>
<li class='ipsMenu_item ' data-ipsMenuValue='members'>
<a href='#'>
<input type='checkbox' name='stream_followed_types[members]' value='1'>
Content posted by members I follow
</a>
</li>
</ul>

<ul class='ipsMenu ipsMenu_selectable ipsMenu_auto ipsHide' data-role="streamMenuFilter" id='elStreamSolvedStatus_menu'>
<li class='ipsMenu_item ipsMenu_itemChecked' data-ipsMenuValue="all">
<a href='#'>
<input type="radio" name="stream_solved" value="all" checked id="elRadio_stream_solved_all">
Everything
</a>
</li>
<li class='ipsMenu_item ' data-ipsMenuValue="solved">
<a href='#'>
<input type="radio" name="stream_solved" value="solved" id="elRadio_stream_solved_solved">
Solved
</a>
</li>
<li class='ipsMenu_item ' data-ipsMenuValue="unsolved">
<a href='#'>
<input type="radio" name="stream_solved" value="unsolved" id="elRadio_stream_solved_unsolved">
Unsolved
</a>
</li>
</ul>

<ul class='ipsMenu ipsMenu_selectable ipsMenu_auto ipsHide' data-role="streamMenuFilter" id='elStreamTimePeriod_menu'>
<li class='ipsMenu_item ipsMenu_itemChecked' data-ipsMenuValue="all">
<a href='#'>
<input type="radio" name="stream_date_type" value="all" checked id="stream_date_type_all">
Any time
</a>
</li>
<li class='ipsMenu_item ' data-ipsMenuValue="last_visit">
<a href='#'>
<input type="radio" name="stream_date_type" value="last_visit" id="stream_date_type_last_visit">
Since my last visit
</a>
</li>
<li class='ipsMenu_item ' data-ipsMenuValue="relative">
<a href='#'>
<input type="radio" name="stream_date_type" value="relative" id="stream_date_type_relative">
Specified time period
 </a>
</li>
<li class='ipsMenu_item ' data-ipsMenuValue="custom">
<a href='#'>
<input type="radio" name="stream_date_type" value="custom" id="stream_date_type_custom">
Specific date range
</a>
</li>
<li class='ipsPad ipsSpacer_top ipsSpacer_half cStreamForm_dates ipsHide' data-role="dateRelativeForm">
<h4 class='ipsType_minorHeading'>Within the last</h4>
<input type="number" name="stream_date_relative_days[val]" size="5" value="365" class="ipsField_short" min="1" step="any">
<select name="stream_date_relative_days[unit]">
<option value="w">weeks</option>
<option value="d" selected>days</option>
</select>
</li>
<li class='ipsPad ipsSpacer_top ipsSpacer_half cStreamForm_dates ipsHide' data-role="dateForm">
<div class="ipsGrid ipsGrid_collapsePhone">
<div class='ipsGrid_span6'>
<h4 class='ipsType_minorHeading'>Start</h4>
<input type="date" name="stream_date_range[start]" value="" data-preferredFormat="" min="1901-12-13" max="2038-01-18" class="ipsField_short" data-control="date">
</div>
<div class='ipsGrid_span6'>
<h4 class='ipsType_minorHeading'>End</h4>
<input type="date" name="stream_date_range[end]" value="" data-preferredFormat="" min="1901-12-13" max="2038-01-18" class="ipsField_short" data-control="date">
</div>
</div>
</li>
</ul>
</div>
<div id='elSaveNewStream_menu' class='ipsMenu ipsMenu_wide ipsHide ipsPad'>
<ul class='ipsForm ipsForm_horizontal'>
<li class='ipsFieldRow'>
<input type='text' name='stream_title' value='Unread Content' placeholder='Stream Title' class='ipsField_fullWidth ipsField_primary' maxLength="255">
</li>
<li class='ipsFieldRow'>
<button type='submit' data-action='newStream' class='ipsButton ipsButton_primary ipsButton_medium ipsButton_fullWidth'>Create Stream</button>
</li>
</ul>
</div>
</div>
</div>
<div data-role='streamBody'>
<div data-role='streamResults' data-controller='core.front.streams.results' data-streamReadType="unread" data-view='expanded' data-streamUrl="https://gtaforums.com/discover/unread/" data-streamID='1'>
<div class='ipsBox_alt'>
<div class='ipsFlex ipsFlex-ai:center ipsFlex-jc:end sm:ipsMargin_bottom:half'>
<p id='elStreamUpdateMsg' class='ipsMargin_right ipsHide ipsType_light ipsType_small ipsType_reset ipsJS_show ipsResponsive_hidePhone' data-role='updateMessage'><i class='fa fa-refresh'></i> This stream auto-updates</p>
<ul class="ipsButton_split ipsClearfix">
<li>
<a href="#" data-action='switchView' data-view='condensed' data-ipsTooltip title="Display results in a compact one line per entry format" class="ipsButton ipsButton_verySmall ipsButton_veryLight" rel="nofollow"><i class="fa fa-list"></i> &nbsp;Condensed</a>
</li>
<li>
<a href="#" data-action='switchView' data-view='expanded' data-ipsTooltip title="Display results with more detail including a content preview" class="ipsButton ipsButton_verySmall ipsButton_primary" rel="nofollow"><i class="fa fa-bars"></i> &nbsp;Expanded</a>
</li>
</ul>
</div>


<ol class='ipsStream ipsStream_withTimeline ipsList_reset' data-role='streamContent'>

<li class='ipsStreamItem_time' data-timeType='past_hour'>Past hour</li>

<li class='ipsStreamItem_time' data-timeType='today'>Today</li>

{% for message in site.messages reversed %}
{% assign user = site.users | where: "nickname", message.user | first %}
{% if user.avatar %}
  {% if user.avatar contains "http" %}
  {% assign user_avatar = user.avatar %}
  {% else %}
  {% capture user_avatar %}/assets/smf/attachments/{{user.avatar}}{% endcapture %}
  {% endif %}
{% else %}
  {% assign user_avatar = "/assets/smf/noavatar.gif" %}
{% endif %}
{% assign thread = site.threads | where: "title", message.thread | first %}
{% assign board = site.boards | where: "board", thread.board | first %}
{% assign op = site.users | where: "nickname", thread.user | first %}
{% assign replies = site.messages | where: "thread", thread.title %}
{% if message.id_msg == replies.first.id_msg %}<!-- this is original post -->
<li class="ipsStreamItem ipsStreamItem_contentBlock ipsStreamItem_condensed ipsAreaBackground_reset ipsPad  " data-role="activityItem" data-timestamp="1658757495" style="opacity: 1; display:none" id="ips_uid_1738_204">
  <div class="ipsStreamItem_container ipsClearfix">
      <div class="ipsStreamItem_header ipsPhotoPanel ipsPhotoPanel_mini">
          <span class="ipsStreamItem_contentType" data-ipstooltip="" title="Topic"><i class="fa fa-comments"></i></span>
          <a href="{{page.template}}{{user.url}}" rel="nofollow" data-ipshover="" data-ipshover-target="{{page.template}}{{user.url}}?do=hovercard" class="ipsUserPhoto ipsUserPhoto_tiny" title="Go to {{user.nickname}}'s profile">
            <img src="{{user_avatar}}" alt="{{user.nickname}}" loading="lazy">
          </a>
        <div class="ipsStreamItem_unread">
          <h2 class="ipsType_reset ipsStreamItem_title ipsContained_container ipsStreamItem_titleSmall">
              <span>
                <a href="{{page.template}}{{thread.url}}" data-linktype="star" title="Go to first unread post" data-ipstooltip="">
                  <span class="ipsItemStatus "><i class="fa fa-circle"></i></span>
                </a>
              </span>
            <span class="ipsType_break ipsContained">
              <a href="{{page.template}}{{thread.url}}" data-linktype="link" data-searchable=""> {{thread.title}}</a>
            </span>
          </h2>
            <ul class="ipsList_inline ipsStreamItem_stats ipsType_light ipsType_blendLinks">
              <li>
                <a rel="nofollow" href="{{page.template}}{{thread.url}}" class="ipsType_blendLinks"><i class="fa fa-clock-o"></i> <time datetime="2022-07-25T13:58:15Z" title="07/25/2022 09:58  AM" data-short="{{message.date | date: "%B %d, %Y at %H:%M"}}">{{message.date | date: "%B %d, %Y at %H:%M"}}</time></a>
              </li>
            </ul>
            <p class="ipsStreamItem_status ipsType_reset ipsType_blendLinks">
              <a href="{{page.template}}{{user.url}}" rel="nofollow" data-ipshover="" data-ipshover-width="370" data-ipshover-target="{{page.template}}{{user.url}}?do=hovercard" title="Go to {{user.nickname}}'s profile" class="ipsType_break">{{user.nickname}}</a> posted a topic in  <a href="{{page.template}}{{board.url}}">{{board.board}}</a>
            </p>
        </div>
      </div>
  </div>
</li>
<li class="ipsStreamItem ipsStreamItem_contentBlock ipsStreamItem_expanded ipsAreaBackground_reset ipsPad  " data-role="activityItem" data-timestamp="1658764390" style="opacity: 1;" id="ips_uid_1738_39">
<div class="ipsStreamItem_container ipsClearfix">
<div class="ipsStreamItem_header ipsPhotoPanel ipsPhotoPanel_mini">
<span class="ipsStreamItem_contentType" data-ipstooltip="" title="Topic"><i class="fa fa-comments"></i></span>
<a href="{{page.template}}{{user.url}}" rel="nofollow" data-ipshover="" data-ipshover-target="{{page.template}}{{user.url}}?do=hovercard" class="ipsUserPhoto ipsUserPhoto_mini" title="Go to {{user.nickname}}'s profile" id="ips_uid_1738_139">
<img src="{{user_avatar}}" alt="{{user.nickname}}" loading="lazy">
</a>
<div class="ipsStreamItem_unread">
<h2 class="ipsType_reset ipsStreamItem_title ipsContained_container ">
<span>
<a href="{{page.template}}{{thread.url}}?do=getNewComment" data-linktype="star" title="Go to first unread post" data-ipstooltip="">
<span class="ipsItemStatus "><i class="fa fa-circle"></i></span>
</a>
</span>
<span class="ipsType_break ipsContained">
<a href="{{page.template}}{{thread.url}}" data-linktype="link" data-searchable=""> {{thread.title}}</a>
</span>
</h2>
<p class="ipsType_reset ipsStreamItem_status ipsType_blendLinks">
<a href="{{page.template}}{{user.url}}" rel="nofollow" data-ipshover="" data-ipshover-width="370" data-ipshover-target="{{page.template}}{{user.url}}?do=hovercard" title="Go to {{user.nickname}}'s profile" class="ipsType_break" id="ips_uid_1738_140">{{user.nickname}}</a> posted a topic in <a href="{{page.template}}{{board.url}}">{{board.board}}</a>
</p>
</div>
</div>
<div class="ipsStreamItem_snippet ipsType_break">
<div class="ipsType_richText ipsContained ipsType_medium">
<div data-ipstruncate="" data-ipstruncate-type="remove" data-ipstruncate-size="3 lines" data-ipstruncate-watch="false" style="overflow-wrap: break-word;">{{message | strip_html}}</div>
</div>
</div>
<ul class="ipsList_inline ipsStreamItem_meta ipsGap:1">
<li class="ipsType_light ipsType_medium">
<a rel="nofollow" href="https://gtaforums.com/topic/984162-lvl-225-ps4-player-looking-for-a-crew-to-join/" class="ipsType_blendLinks"><i class="fa fa-clock-o"></i> <time datetime="2022-07-25T15:53:10Z" title="07/25/2022 11:53  AM" data-short="2 hr">{{message.date | date: "%B %d, %Y at %H:%M"}}</time></a>
</li>
</ul>
</div>
</li>
{% else %}
<li class='ipsStreamItem ipsStreamItem_contentBlock ipsStreamItem_condensed ipsAreaBackground_reset ipsPad  ' data-role='activityItem' data-timestamp='1658775940' style="display:none">
<div class='ipsStreamItem_container ipsClearfix'>
<div class='ipsStreamItem_header ipsPhotoPanel ipsPhotoPanel_mini'>
<span class='ipsStreamItem_contentType' data-ipsTooltip title='Post'><i class='fa fa-comment'></i></span>
<a href="{{page.template}}{{user.url}}" rel="nofollow" data-ipsHover data-ipsHover-target="{{page.template}}{{user.url}}?do=hovercard" class="ipsUserPhoto ipsUserPhoto_tiny" title="Go to {{user.nickname}}'s profile">
<img src='{{user_avatar}}' alt='{{user.nickname}}' loading="lazy">
</a>
<div class='ipsStreamItem_unread'>
<h2 class='ipsType_reset ipsStreamItem_title ipsContained_container ipsStreamItem_titleSmall'>
<span>
<a href='{{page.template}}{{thread.url}}' data-linkType="star" title='Go to first unread post' data-ipsTooltip>
<span class='ipsItemStatus '><i class="fa fa-circle"></i></span>
</a>
</span>
<span class='ipsType_break ipsContained'>
<a href='{{page.template}}{{thread.url}}' data-linkType="link" data-searchable> {{thread.title}}</a>
</span>
</h2>
 <ul class='ipsList_inline ipsStreamItem_stats ipsType_light ipsType_blendLinks'>
<li>
<a rel="nofollow" href='https://gtaforums.com/topic/905733-saints-row-2022-reboot/?do=findComment&amp;comment=1071904111' class='ipsType_blendLinks'><i class='fa fa-clock-o'></i> <time datetime='2022-07-25T19:05:40Z' title='07/25/2022 03:05  PM' data-short='{{message.date | date: "%B %d, %Y at %H:%M"}}'>{{message.date | date: "%B %d, %Y at %H:%M"}}</time></a>
</li>
<li>
<a href='https://gtaforums.com/topic/905733-saints-row-2022-reboot/?do=findComment&amp;comment=1071904111' class='ipsType_blendLinks'>
<i class='fa fa-comment'></i> {{replies.size}}
</a>
</li>
</ul>
<p class='ipsStreamItem_status ipsType_reset ipsType_blendLinks'>
<a href='https://gtaforums.com/profile/641416-jason/' rel="nofollow" data-ipsHover data-ipsHover-width="370" data-ipsHover-target='https://gtaforums.com/profile/641416-jason/?do=hovercard' title="Go to {{user.nickname}}'s profile" class="ipsType_break">{{user.nickname}}</a> replied to
<a href='{{page.template}}{{op.url}}' rel="nofollow" data-ipsHover data-ipsHover-width="370" data-ipsHover-target='{{page.template}}{{op.url}}?do=hovercard' title="Go to {{op.nickname}}'s profile" class="ipsType_break">{{op.nickname}}</a>'s topic in <a href='{{page.template}}{{board.url}}'>{{board.board}}</a>
</p>
</div>
</div>
</div>
</li>
<li class='ipsStreamItem ipsStreamItem_contentBlock ipsStreamItem_expanded ipsAreaBackground_reset ipsPad  ' data-role='activityItem' data-timestamp='1658545172'>
<div class='ipsStreamItem_container ipsClearfix'>
<div class='ipsStreamItem_header ipsPhotoPanel ipsPhotoPanel_mini'>
<span class='ipsStreamItem_contentType' data-ipsTooltip title='Post'><i class='fa fa-comment'></i></span>
<a href="{{page.template}}{{user.url}}" rel="nofollow" data-ipsHover data-ipsHover-target="{{page.template}}{{user.url}}/?do=hovercard" class="ipsUserPhoto ipsUserPhoto_mini" title="Go to {{user.nickname}}'s profile">
<img src='{{user_avatar}}' alt='{{user.nickname}}' loading="lazy">
</a>
<div class='ipsStreamItem_unread'>
<h2 class='ipsType_reset ipsStreamItem_title ipsContained_container ipsStreamItem_titleSmall'>
<span>
<a href='{{page.template}}{{thread.url}}' data-linkType="star" title='Go to first unread post' data-ipsTooltip>
<span class='ipsItemStatus '><i class="fa fa-circle"></i></span>
</a>
</span>
<span class='ipsType_break ipsContained'>
<a href='{{page.template}}{{thread.url}}' data-linkType="link" data-searchable> {{thread.title}}</a>
</span>
</h2>
<p class='ipsType_reset ipsStreamItem_status ipsType_blendLinks'>
<a href='{{page.template}}{{user.url}}' rel="nofollow" data-ipsHover data-ipsHover-width="370" data-ipsHover-target='{{page.template}}{{user.url}}?do=hovercard' title="Go to {{user.nickname}}'s profile" class="ipsType_break">{{user.nickname}}</a> replied to
<a href='{{page.template}}{{op.url}}' rel="nofollow" data-ipsHover data-ipsHover-width="370" data-ipsHover-target='{{page.template}}{{op.url}}?do=hovercard' title="Go to {{op.nickname}}'s profile" class="ipsType_break">{{op.nickname}}</a>'s topic in <a href='{{page.template}}{{board.url}}'>{{board.board}}</a>
</p>
</div>
</div>
<div class='ipsStreamItem_snippet ipsType_break'>
<div class='ipsType_richText ipsContained ipsType_medium'>
<div data-ipsTruncate data-ipsTruncate-type='remove' data-ipsTruncate-size='3 lines' data-ipsTruncate-watch='false'>{{message | strip_html}}</div>
</div>
</div>
<ul class='ipsList_inline ipsStreamItem_meta ipsGap:1'>
<li class='ipsType_light ipsType_medium'>
<a rel="nofollow" href='https://gtaforums.com/topic/984072-upcoming-improvements-to-the-gta-online-experience/?do=findComment&amp;comment=1071901014' class='ipsType_blendLinks'><i class='fa fa-clock-o'></i> <time datetime='2022-07-23T02:59:32Z' title='07/22/2022 10:59  PM' data-short='1 min'>{{message.date | date: "%B %d, %Y at %H:%M"}}</time></a>
</li>
<li class='ipsType_light ipsType_medium'>
<a href='https://gtaforums.com/topic/984072-upcoming-improvements-to-the-gta-online-experience/?do=findComment&amp;comment=1071901014' class='ipsType_blendLinks'>
<i class='fa fa-comment'></i> {{replies.size}} replies
</a>
</li>
</ul>
</div>
</li>
{% endif %}
{% endfor %}
</ol>

<ol class="ipsList_reset">
<li class='ipsType_center ipsJS_show ' data-role="loadMoreContainer">
<a href='#' class='ipsButton ipsButton_veryLight ipsButton_small' data-action='loadMore'>Load more activity</a>
</li>
</ol>
</div>
</div>
</div>
<ul class="ipsList_inline ipsType_blendLinks ipsSpacer_both ipsType_center ipsResponsive_showPhone ipsResponsive_block">
<li><a href="https://gtaforums.com/discover/1.xml/?member=717099&amp;key=2eb33c7206881a76834a3532ae02e768"><i class="fa fa-rss"></i> RSS</a></li>
</ul>
</section>
</div>
<nav class='ipsBreadcrumb ipsBreadcrumb_bottom ipsFaded_withHover'>
<a href='#' id='elRSS' class='ipsPos_right ipsType_large' title='Available RSS feeds' data-ipsTooltip data-ipsMenu data-ipsMenu-above><i class='fa fa-rss-square'></i></a>
<ul id='elRSS_menu' class='ipsMenu ipsMenu_auto ipsHide'>
<li class='ipsMenu_item'><a title="GTANetcom" href="https://gtaforums.com/rss/4-gtanetcom.xml/?member_id=717099&amp;key=2eb33c7206881a76834a3532ae02e768">GTANetcom</a></li>
</ul>
<ul class='ipsList_inline ipsPos_right'>
<li>
<a data-action="defaultStream" class='ipsType_light ' href='https://gtaforums.com/discover/unread/'><i class="fa fa-newspaper-o" aria-hidden="true"></i> <span>Unread Content</span></a>
</li>
<li>
<a data-action="markSiteRead" class='ipsType_light' data-controller="core.front.core.markRead" href='https://gtaforums.com/markallread/?csrfKey=3877d35377c8356d20a3e6bbeab459b2&amp;ref=aHR0cHM6Ly9ndGFmb3J1bXMuY29tL2Rpc2NvdmVyL3VucmVhZC8/JnZpZXc9ZXhwYW5kZWQ=' title='Mark all content on the site as read' data-ipsTooltip><i class='fa fa-check' aria-hidden="true"></i> Mark site read</a>
</li>
</ul>
<ul data-role="breadcrumbList">
<li>
<a title="Home" href='https://gtaforums.com/'>
<span>Home <i class='fa fa-angle-right'></i></span>
</a>
</li>
<li>
<a href='https://gtaforums.com/discover/'>
<span>Activity <i class='fa fa-angle-right' aria-hidden="true"></i></span>
</a>
</li>
<li>
<a href='https://gtaforums.com/discover/unread/'>
<span>Unread Content </span>
</a>
</li>
</ul>
</nav>
</div>
</div>
</main>

<footer id='ipsLayout_footer' class='ipsClearfix'>
{% include gtaforums/footer.html %}
</footer>

<div id='elMobileDrawer' class='ipsDrawer ipsHide'>
<div class='ipsDrawer_menu'>
<a href='#' class='ipsDrawer_close' data-action='close'><span>&times;</span></a>
<div class='ipsDrawer_content ipsFlex ipsFlex-fd:column'>
<div class='elMobileDrawer__user ipsBorder_bottom ipsAreaBackground_reset ipsPadding_horizontal ipsPadding_vertical:half ipsPos_sticky ipsFlex ipsFlex-jc:between ipsFlex-ai:center ipsFlex-fw:wrap'>
<div class='ipsFlex-flex:11'>
<ul class='elMobileDrawer__user-panel ipsList_reset ipsType_blendLinks ipsFlex ipsFlex-ai:center'>
<li class='ipsMargin_right:half'>
<a href="https://gtaforums.com/profile/717099-sloth/" rel="nofollow" data-ipsHover data-ipsHover-width="370" data-ipsHover-target="https://gtaforums.com/profile/717099-sloth/?do=hovercard" class="ipsUserPhoto ipsUserPhoto_mini" title="Go to Sloth-'s profile">
<img src='https://gtaforums.com/uploads/monthly_2020_05/Pk4G__T3_400x400.thumb.jpg.c40191c779ebba09cc6b3c69b2898f8b.jpg' alt='Sloth-' loading="lazy">
</a>
</li>
<li>
<div class='ipsType_light'>Signed in as</div>
<div class='ipsType_dark ipsType_large ipsType_bold'><a href='https://gtaforums.com/profile/717099-sloth/' title='Go to your profile'>Sloth-</a></div>
</li>
</ul>
</div>
<ul id='elUserNav_mobile' class='ipsList_inline signed_in ipsClearfix'>
<li class='cNotifications cUserNav_icon'>
<a href='#elMobNotifications_menu' id='elMobNotifications' data-ipsMenu data-ipsMenu-menuID='elFullNotifications_menu' data-ipsMenu-closeOnClick='false'>
<i class='fa fa-bell'></i> <span class='ipsNotificationCount ipsHide' data-notificationType='notify'>0</span>
</a>
</li>
<li class='cInbox cUserNav_icon'>
 <a href='#elMobInbox_menu' id='elMobInbox' data-ipsMenu data-ipsMenu-menuID='elFullInbox_menu' data-ipsMenu-closeOnClick='false'>
<i class='fa fa-envelope '></i> <span class='ipsNotificationCount ipsHide' data-notificationType='inbox'>0</span>
</a>
</li>
</ul>
</div>
<ul class='ipsDrawer_list ipsFlex-flex:11'>
<li class='ipsDrawer_itemParent'>
<h4 class='ipsDrawer_title'><a href='#'>Account</a></h4>
<ul class='ipsDrawer_list'>
<li data-action="back"><a href='#'>Back</a></li>
<li><a href='https://gtaforums.com/profile/717099-sloth/' title='Go to your profile'>Profile</a></li>
<li><a href='https://gtaforums.com/followed/'>Manage Followed Content</a></li>
<li id='elAccountSettingsLinkMobile'><a href='https://gtaforums.com/settings/' title='Edit account settings'>Account Settings</a></li>
<li><a href='https://gtaforums.com/ignore/'>Ignored Users</a></li>
</ul>
</li>
<li class='ipsDrawer_itemParent'>
<h4 class='ipsDrawer_title'><a href='#'>Browse</a></h4>
<ul class='ipsDrawer_list'>
<li data-action="back"><a href='#'>Back</a></li>
<li>
<a href='https://gtaforums.com'>
Forums
</a>
</li>
<li>
<a href='https://gtaforums.com/staff/'>
Staff
</a>
</li>
<li>
<a href='https://gtaforums.com/leaderboard/'>
Leaderboard
</a>
</li>
</ul>
</li>
<li class='ipsDrawer_itemParent'>
<h4 class='ipsDrawer_title'><a href='#'>Activity</a></h4>
<ul class='ipsDrawer_list'>
<li data-action="back"><a href='#'>Back</a></li>
<li>
<a href='https://gtaforums.com/discover/'>
All Activity
</a>
</li>
<li class='ipsDrawer_itemParent'>
<h4 class='ipsDrawer_title'><a href='#'>My Activity Streams</a></h4>
<ul class='ipsDrawer_list'>
<li data-action="back"><a href='#'>Back</a></li>
<li class='ipsDrawer_section'>
Default Streams
</li>
<li>
<a href='https://gtaforums.com/discover/unread/'>
Unread Content
</a>
</li>
<li>
<a href='https://gtaforums.com/discover/content-started/'>
Content I Started
</a>
</li>
<li>
<a href='https://gtaforums.com/discover/followed-content/'>
Content I Follow
</a>
</li>
<li>
<a href='https://gtaforums.com/discover/followed-members/'>
Members I Follow
</a>
</li>
<li>
<a href='https://gtaforums.com/discover/content-posted/'>
Content I Posted In
</a>
</li>
<li class='ipsPad_half'>
<a href='https://gtaforums.com/discover/?do=create' class='ipsButton ipsButton_important ipsButton_verySmall ipsButton_fullWidth'>
Create New Stream
</a>
</li>
</ul>
</li>
<li>
<a href='https://gtaforums.com/discover/unread/'>
Unread Content
</a>
</li>
<li>
<a href='https://gtaforums.com/discover/content-started/'>
Content I Started
</a>
</li>
<li>
<a href='https://gtaforums.com/search/'>
Search
</a>
</li>
</ul>
</li>
<li><a href='https://gtaforums.com/leaderboard/'>Leaderboard</a></li>

<li>
<a data-action="markSiteRead" data-controller="core.front.core.markRead" href='https://gtaforums.com/markallread/?csrfKey=3877d35377c8356d20a3e6bbeab459b2'>Mark site read</a>
</li>
<li>
<a href='https://gtaforums.com/index.php?app=core&amp;module=system&amp;controller=login&amp;do=logout&amp;csrfKey=3877d35377c8356d20a3e6bbeab459b2'>
Sign Out
</a>
</li>
</ul>
</div>
</div>
</div>
<div id='elMobileCreateMenuDrawer' class='ipsDrawer ipsHide'>
<div class='ipsDrawer_menu'>
<a href='#' class='ipsDrawer_close' data-action='close'><span>&times;</span></a>
<div class='ipsDrawer_content ipsSpacer_bottom ipsPad'>
<ul class='ipsDrawer_list'>
<li class="ipsDrawer_listTitle ipsType_reset">Create New...</li>
<li>
<a href="https://gtaforums.com/submit/" data-ipsDialog="1" data-ipsDialog-size="narrow" data-ipsDialog-title='Select Forum' data-ipsdialog-fixed="true">Topic</a>
</li>
</ul>
</div>
</div>
</div>

{% include gtaforums/scripts.html %}
<script type='application/ld+json'>
{
    "@context": "http://www.schema.org",
    "publisher": "https://gtaforums.com/#organization",
    "@type": "WebSite",
    "@id": "https://gtaforums.com/#website",
    "mainEntityOfPage": "https://gtaforums.com/",
    "name": "GTAForums",
    "url": "https://gtaforums.com/",
    "potentialAction": {
        "type": "SearchAction",
        "query-input": "required name=query",
        "target": "https://gtaforums.com/search/?q={query}"
    },
    "inLanguage": [
        {
            "@type": "Language",
            "name": "English (USA)",
            "alternateName": "en-US"
        }
    ]
}	
</script>
<script type='application/ld+json'>
{
    "@context": "http://www.schema.org",
    "@type": "Organization",
    "@id": "https://gtaforums.com/#organization",
    "mainEntityOfPage": "https://gtaforums.com/",
    "name": "GTAForums",
    "url": "https://gtaforums.com/",
    "sameAs": [
        "https://twitter.com/GTAForums",
        "https://twitter.com/GTANet"
    ]
}	
</script>
<script type='application/ld+json'>
{
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "item": {
                "@id": "https://gtaforums.com/discover/",
                "name": "Activity"
            }
        },
        {
            "@type": "ListItem",
            "position": 2,
            "item": {
                "@id": "https://gtaforums.com/discover/unread/",
                "name": "Unread Content"
            }
        }
    ]
}	
</script>

<script type="text/javascript">
$(document).ready(function() {
  $('[data-action=switchView]').on('click', function() {
    var view = $(this).data('view')
    if (view == 'condensed') {
      $('.ipsStreamItem_condensed').show()
      $('.ipsStreamItem_expanded').hide()
    } else if (view == 'expanded') {
      $('.ipsStreamItem_condensed').hide()
      $('.ipsStreamItem_expanded').show()
    }
    if($(this).hasClass('ipsButton_veryLight'))
      $('[data-action=switchView]').toggleClass('ipsButton_veryLight').toggleClass('ipsButton_primary')
  })
})
</script>
</body>
</html>
