<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
<meta charset="utf-8">
<title>{{page.nickname}} - GTAForums</title>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3898146-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-3898146-3');
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@GTANet" />
<meta property="og:site_name" content="GTAForums">
<meta property="og:locale" content="en_US">
<link rel="canonical" href="{{page.url}}" />
<link rel="alternate" type="application/rss+xml" title="GTANetcom" href="https://gtaforums.com/rss/4-gtanetcom.xml/?member_id=717099&amp;key=2eb33c7206881a76834a3532ae02e768" />

{% include gtaforums/styles.html %}
<link rel='stylesheet' href='/assets/gtaforums/styles/profiles.css' media='all'>
<link rel='stylesheet' href='/assets/gtaforums/styles/streams.css' media='all'>
<link rel='stylesheet' href='/assets/gtaforums/styles/leaderboard.css' media='all'>
<link rel='stylesheet' href='/assets/gtaforums/styles/profiles_responsive.css' media='all'>
<link rel='stylesheet' href='/assets/gtaforums/styles/custom.css' media='all'>
<style type="text/css">
.ipsSideMenu_item2 {
  display: block;
  padding: 8px 10px;
  position: relative;
  margin-bottom: 2px;
  color: inherit;
  cursor: pointer;
  border-radius: 5px;
}
#elUserContent.ipsTabs_panel {
  background: 0 0;
}
</style>

  <script type="text/javascript"><!-- // --><![CDATA[
    var _ohWidth = '640';
    var _ohHeight = '360';
  // ]]></script>
  <script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript src="//code.jquery.com/jquery-1.9.1.min.js"%3E%3C/script%3E'))</script>
  <script type="text/javascript" src="/assets/smf/ohyoutube.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/smf/oharaEmbed.css" />
</head>
<body class='header-compact-static ipsApp ipsApp_front ipsJS_has ipsClearfix' data-controller='core.front.core.app' data-message="" data-pageApp='core' data-pageLocation='front' data-pageModule='members' data-pageController='profile' data-pageID='717099'>

<div class="vm-placement" data-id="6012ea4bfe24b76bfed2645e" style="display:none"></div>

<body class='ipsApp ipsApp_front ipsJS_has ipsClearfix' data-controller='core.front.core.app' data-message="" data-pageApp='core' data-pageLocation='front' data-pageModule='members' data-pageController='profile' data-pageID='717099'>
<a href='#ipsLayout_mainArea' class='ipsHide' title='Go to main content on this page' accesskey='m'>Jump to content</a>
<div id='ipsLayout_header' class='ipsClearfix'>

<header>
{% include gtaforums/header.html %}
</header>

</div>
<main id='ipsLayout_body' class='ipsLayout_container'>
<div id='ipsLayout_contentArea'>
<div id='ipsLayout_contentWrapper'>
<ul id='elMobileNav' class='ipsResponsive_hideDesktop' data-controller='core.front.core.mobileNav'>
<li id='elMobileBreadcrumb'>
<a href='{{page.template}}{{site.data.forums.base_url}}'>
<span>Home</span>
</a>
</li>
<li>
<a data-action="defaultStream" href='{{page.template}}/messages/recentunread/'><i class="fa fa-newspaper-o" aria-hidden="true"></i></a>
</li>
<li data-ipsDrawer data-ipsDrawer-drawerElem='#elMobileCreateMenuDrawer'>
<a href='#'><i class='fa fa-plus'></i></a>
</li>
<li class='ipsJS_show'>
<a href='https://gtaforums.com/search/'><i class='fa fa-search'></i></a>
</li>
</ul>
<nav class='ipsBreadcrumb ipsBreadcrumb_top ipsFaded_withHover'>
<ul class='ipsList_inline ipsPos_right'>
<li>
<a data-action="defaultStream" class='ipsType_light ' href='{{page.template}}/messages/recentunread/'><i class="fa fa-newspaper-o" aria-hidden="true"></i> <span>Unread Content</span></a>
</li>
</ul>
<ul data-role="breadcrumbList">
<li>
<a title="Home" href='{{page.template}}{{site.data.forums.base_url}}'>
<span>Home <i class='fa fa-angle-right'></i></span>
</a>
</li>
<li>
<a href='{{page.url}}'>
<span>{{page.nickname}} </span>
</a>
</li>
</ul>
</nav>

{% if page.avatar %}
  {% if page.avatar contains "http" %}
  {% assign user_avatar = page.avatar %}
  {% else %}
  {% capture user_avatar %}/assets/smf/attachments/{{page.avatar}}{% endcapture %}
  {% endif %}
{% else %}
  {% assign user_avatar = "/assets/smf/noavatar.gif" %}
{% endif %}

{% assign posts = site.messages | where: "user", page.nickname %}

{% unless page.country_flag == "" or page.country_flag == 0 %}
{% assign user_flag = site.data.country-flags.flags | where: "icon", page.country_flag | first %}
{% endunless %}

{% comment %}Calculando edad del usuario a partir de su fecha de nacimiento{% endcomment %}
{% unless page.birthdate == "0001-01-01" %}
{%   assign currentdate = site.time | date: '%s'      %}
{%   assign birthdate = page.birthdate | date: '%s'  %}
{%   assign secondsSince = currentdate | minus: birthdate     %}
{%   assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60     %}
{%   assign daysSince = hoursSince | divided_by: 24  %}
{%   assign yearsSince = daysSince | divided_by: 365  %}
{% endunless %}

{% unless page.additional_groups == "" %}
{% assign additional_group = site.data.groups | where: "id", page.additional_groups | first %}
{% endunless %}

{% assign groups = site.data.groups | sort: "min_posts" %}
{% capture exp %}group.min_posts<={{posts.size}}{% endcapture %}
{% assign post_group = groups | where_exp: "group", "group.min_posts>= 0" | where_exp: "group", exp | last %}

<div id='ipsLayout_mainArea'>

<div data-controller='core.front.profile.main'>
<header data-role="profileHeader">
<div class='ipsPageHead_special ' id='elProfileHeader' data-controller='core.global.core.coverPhoto' data-url="{{page.url}}?csrfKey=3877d35377c8356d20a3e6bbeab459b2" data-coverOffset='684'>
{% comment %}
<div class='ipsCoverPhoto_container'>
<img src='/assets/gtaforums/scripts/spacer.png' data-src='{{user_avatar}}' class='ipsCoverPhoto_photo' data-action="toggleCoverPhoto" alt=''>
</div>
{% endcomment %}
<div class="ipsCoverPhoto_container" style="background-color: hsl(66, 100%, 80% )">
<img src="/assets/gtaforums/images/pattern.webp" class="ipsCoverPhoto_photo" data-action="toggleCoverPhoto" alt="" style="opacity: 1; position: absolute; left: 0px; top: 0px;" data-positioned="true">
</div>
<div class='ipsColumns ipsColumns_collapsePhone' data-hideOnCoverEdit>
<div class='ipsColumn ipsColumn_fixed ipsColumn_narrow ipsPos_center' id='elProfilePhoto'>
<a href="{{user_avatar}}" data-ipsLightbox class='ipsUserPhoto ipsUserPhoto_xlarge'>
<img src='{{user_avatar}}' alt=''>
</a>
</div>
<div class='ipsColumn ipsColumn_fluid'>
<div class='ipsPos_left ipsPad cProfileHeader_name ipsType_normal'>
<h1 class='ipsType_reset ipsPageHead_barText'>
{{page.nickname}}
</h1>
<span>
<span class='ipsPageHead_barText'>{{post_group.name}}</span>
</span>
</div>
</div>
</div>
</div>
<div class='ipsGrid ipsAreaBackground ipsPad ipsResponsive_showPhone ipsResponsive_block'>
<div data-role='switchView' class='ipsGrid_span12'>
<div data-action="goToProfile" data-type='phone' class='ipsHide'>
<a href='{{page.url}}' class='ipsButton ipsButton_veryLight ipsButton_small ipsButton_fullWidth' title="{{page.nickname}}'s Profile"><i class='fa fa-user'></i></a>
</div>
<div data-action="browseContent" data-type='phone' class=''>
<a href="{{page.url}}content/" rel="nofollow" class='ipsButton ipsButton_veryLight ipsButton_small ipsButton_fullWidth' title="{{page.nickname}}'s Content"><i class='fa fa-newspaper-o'></i></a>
</div>
</div>
</div>
<div id='elProfileStats' class='ipsClearfix sm:ipsPadding ipsResponsive_pull'>
<div data-role='switchView' class='ipsResponsive_hidePhone ipsPos_right'>
<a href='#' class='ipsButton ipsButton_veryLight ipsButton_small ipsPos_right ipsHide' data-action="goToProfile" data-type='full' title="{{page.nickname}}'s Profile"><i class='fa fa-user'></i> <span class='ipsResponsive_showDesktop ipsResponsive_inline'>&nbsp;View Profile</span></a>
<a href="#" rel="nofollow" class='ipsButton ipsButton_veryLight ipsButton_small ipsPos_right ' data-action="browseContent" data-type='full' title="{{page.nickname}}'s Content"><i class='fa fa-newspaper-o'></i> <span class='ipsResponsive_showDesktop ipsResponsive_inline'>&nbsp;See their activity</span></a>
</div>
<ul class='ipsList_reset ipsFlex ipsFlex-ai:center ipsFlex-fw:wrap ipsPos_left ipsResponsive_noFloat'>
<li>
<h4 class='ipsType_minorHeading'>Posts</h4>
{{posts.size}}
</li>
<li>
<h4 class='ipsType_minorHeading'>Joined</h4>
<time datetime='2012-08-01T01:40:27Z' title='07/31/2012 09:10  PM' data-short='9 yr'>{{page.date_registered | date: "%B %d, %Y"}}</time>
</li>
<li>
<h4 class='ipsType_minorHeading'>Last visited</h4>
<span>
<i class="fa fa-circle ipsOnlineStatus_online" data-ipsTooltip title='{{page.nickname}} is online now'></i>
<time datetime='2022-07-23T02:55:32Z' title='07/22/2022 10:55  PM' data-short='1 min'>Just now</time>
</span>
</li>
</ul>
</div>
</header>
<div data-role="profileContent" class='ipsSpacer_top'>
<div class='ipsColumns ipsColumns_collapseTablet userProfile' data-controller="core.front.profile.body">
<div class='ipsColumn ipsColumn_fixed ipsColumn_veryWide' id='elProfileInfoColumn'>
<div class='ipsPadding ipsBox ipsResponsive_pull'>
<div class='cProfileSidebarBlock ipsMargin_bottom'>
<a href="{{page.url}}reputation/" data-action="repLog" title="{{page.nickname}}'s Karma">
<div class='cProfileRepScore ipsPad_half cProfileRepScore_positive'>
<h2 class='ipsType_minorHeading'>Karma:</h2>
<span class='cProfileRepScore_points'>+{{page.karma_bad}} / -{{page.karma_good}}</span>
</div>
</a>
</div>
<div class='cProfileSidebarBlock ipsMargin_bottom'>
<a href="{{page.url}}solutions/" data-action="solutionLog" title="{{page.nickname}}'s Solutions">
<div class='cProfileRepScore ipsPad_half cProfileSolutions'>
<h2 class='ipsType_minorHeading'>Money</h2>
<span class='cProfileRepScore_points'>$ {{page.money}}</span>
</div>
</a>
</div>
<div class='cProfileSidebarBlock ipsBox ipsBox--child ipsSpacer_bottom'>
<div id='elWarningInfo' class='ipsRadius:tl ipsRadius:tr ipsPadding  ipsClearfix'>
<i class='ipsPos_left fa fa-circle-o ipsType_light'></i>
<div>
<h2 class='ipsType_sectionHead'>0 warning points</h2>
<br>
<span>No restrictions being applied</span>
<br>
</div>
</div>
</div>

<div class='ipsWidget ipsWidget_vertical cProfileSidebarBlock ipsBox ipsBox--child ipsSpacer_bottom' data-location='defaultFields'>
<h2 class='ipsWidget_title ipsType_reset'>About {{page.nickname}}</h2>
<div class='ipsWidget_inner ipsPad'>
<ul class='ipsDataList ipsDataList_reducedSpacing cProfileFields'>
<li class="ipsDataItem">
<span class="ipsDataItem_generic ipsDataItem_size3 ipsType_break"><strong>Currently</strong></span>
<span class="ipsDataItem_main ipsType_break"><a href='{{page.url}}'>Viewing Profile: {{page.nickname}}</a></span>
</li>
<li class='ipsDataItem'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>About me</strong></span>
<span class='ipsDataItem_generic'>
  {% unless page.about == "" %}
    {{page.about}}
  {% else %}
    <em>I will write this later. :)</em>
  {% endunless %}
</span>
</li>
<li class='ipsDataItem'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>Birthday</strong></span>
<span class='ipsDataItem_generic'>
  {% unless page.birthdate == "0001-01-01" %}
    {{page.birthdate | date: "%B %d"}}
  {% else %}
    <em>Not telling</em>
  {% endunless %}
</span>
</li>
</ul>
</div>
</div>

<div class='ipsWidget ipsWidget_vertical cProfileSidebarBlock ipsBox ipsBox--child ipsSpacer_bottom' data-location='customFields'>
<h2 class='ipsWidget_title ipsType_reset'>Profile</h2>
<div class='ipsWidget_inner ipsPad'>
<ul class='ipsDataList ipsDataList_reducedSpacing cProfileFields'>
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>Member Title</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>{{page.personal_text}}</div></div>
</li>
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>Gender</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>
{% if page.gender == 2 %}
  <img class="gender" src="/assets/smf/curve/img/Female.gif" alt="Femenino"> Femenino
{% elsif page.gender == 1 %}
  <img class="gender" src="/assets/smf/curve/img/Male.gif" alt="Masculino"> Masculino
{% else %}
  Not Telling
{% endif %}
</div></div>
</li>
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>Flag</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>
{% unless page.country_flag == "" or page.country_flag == 0 %}
  <img src='/assets/gtaforums/flags/{{page.country_flag}}.webp' style='margin-top: 5px;' /> {{user_flag.country}}
{% else %}
  None
{% endunless %}
</div></div>
</li>
{% unless page.location == "" %}
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>Location</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>{{page.location}}</div></div>
</li>
{% endunless %}
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>Texto Personal</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>{{page.usertitle | default: "none"}}</div></div>
</li>
{% unless page.alineacion == "" %}
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>Facción</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>
  <img src="/assets/smf/curve/img/alineacion/{{page.alineacion}}.gif" /> {{page.alineacion}}
</div></div>
</li>
{% endunless %}
{% unless page.humor == "" %}
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>Humor</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>{{page.humor}}</div></div>
</li>
{% endunless %}
</ul>
</div>
</div>

<div class='ipsWidget ipsWidget_vertical cProfileSidebarBlock ipsBox ipsBox--child ipsSpacer_bottom' data-location='customFields'>
<h2 class='ipsWidget_title ipsType_reset'>Social</h2>
<div class='ipsWidget_inner ipsPad'>
<ul class='ipsDataList ipsDataList_reducedSpacing cProfileFields'>
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>YouTube</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>
<div class='ipsType_break ipsContained'>
-
</div></div></div>
</li>
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>Discord</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>-</div></div>
</li>
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>ICQ</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>0</div></div>
</li>
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>Twitter</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>-</div></div>
</li>
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>Facebook</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>-</div></div>
</li>
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>Instagram</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>-</div></div>
</li>
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>Pinterest</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>-</div></div>
</li>
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>Linkedin</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>-</div></div>
</li>
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>Github</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>-</div></div>
</li>
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>Devianart</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>-</div></div>
</li>
<li class='ipsDataItem ipsType_break'>
<span class='ipsDataItem_generic ipsDataItem_size3 ipsType_break'><strong>Website</strong></span>
<div class='ipsDataItem_generic'><div class='ipsType_break ipsContained'>
{% unless page.website_url == "" %}
  {% unless page.website_title == "" %}
    <a href="{{page.website_url}}">{{page.website_title}}</a>
  {% else %}
    <a href="{{page.website_url}}">{{page.website_url}}</a>
  {% endunless %}
{% endunless %}
{% if page.website_url == "" %}-{% endif %}
</div></div>
</li>
</ul>
</div>
</div>

{% unless page.signature == "" %}
<div class='ipsWidget ipsWidget_vertical cProfileSidebarBlock ipsBox ipsBox--child ipsSpacer_bottom' data-location='customFields'>
<h2 class='ipsWidget_title ipsType_reset'>{{page.nickname}}'s Signature</h2>
<div class='ipsWidget_inner ipsPad'>
{{page.signature}}
</div>
</div>
{% endunless %}

</div>
</div>

{% assign messages = posts %}
{% assign threads = site.threads | where: "user", page.nickname %}
<section class='ipsColumn ipsColumn_fluid'>
<div class='ipsBox ipsResponsive_pull'>
<div id='elProfileTabs_content' class='ipsTabs_panels ipsPadding ipsAreaBackground_reset'>
<div id="ipsTabs_elProfileTabs_elProfileTab_activity_panel" class='ipsTabs_panel ipsAreaBackground_reset'>
<div data-controller="core.front.statuses.statusFeed">
<ol class='ipsStream ipsList_reset' data-role='activityStream' id='elProfileActivityOverview'>

{% for message in messages reversed %}
  {% assign thread = site.threads | where: "title", message.thread | first %}
  {% assign board = site.boards | where: "board", thread.board | first %}
  {% assign thread_user = site.users | where: "nickname", thread.user | first %}
  {% assign replies = site.messages | where: "thread", thread.title %}

  {% if message.id_msg == replies.first.id_msg %}<!-- this is original post -->
  <li class="ipsStreamItem ipsStreamItem_contentBlock ipsStreamItem_expanded ipsAreaBackground_reset ipsPad  " data-role="activityItem" data-timestamp="1658681049">
  <div class="ipsStreamItem_container ipsClearfix">
  <div class="ipsStreamItem_header ipsPhotoPanel ipsPhotoPanel_mini">
  <span class="ipsStreamItem_contentType" data-ipstooltip="" title="Topic"><i class="fa fa-comments"></i></span>
  <a href="{{page.url}}" rel="nofollow" data-ipshover="" data-ipshover-target="{{page.url}}?do=hovercard" class="ipsUserPhoto ipsUserPhoto_mini" title="Go to {{page.nickname}}'s profile">
  <img src="{{user_avatar}}" alt="{{page.nickname}}" loading="lazy">
  </a>
  <div class="">
  <h2 class="ipsType_reset ipsStreamItem_title ipsContained_container ">
  <span class="ipsType_break ipsContained">
  <a href="{{page.template}}{{thread.url}}#comment-{{message.id_msg}}" data-linktype="link" data-searchable=""> {{message.subject}}</a>
  </span>
  </h2>
  <p class="ipsType_reset ipsStreamItem_status ipsType_blendLinks">
  <a href="{{page.url}}" rel="nofollow" data-ipshover="" data-ipshover-width="370" data-ipshover-target="{{page.url}}?do=hovercard" title="Go to {{page.nickname}}'s profile" class="ipsType_break">{{page.nickname}}</a> posted a topic in <a href="{{page.template}}{{board.url}}">{{board.board}}</a>
  </p>
  </div>
  </div>
  <div class="ipsStreamItem_snippet ipsType_break">
  <div class="ipsType_richText ipsContained ipsType_medium">
  <div data-ipstruncate="" data-ipstruncate-type="remove" data-ipstruncate-size="3 lines" data-ipstruncate-watch="false" style="overflow-wrap: break-word;" class="is-truncated">{{message.content | strip_html}}</div>
  </div>
  </div>
  <ul class="ipsList_inline ipsStreamItem_meta ipsGap:1">
  <li class="ipsType_light ipsType_medium">
  <a rel="nofollow" href="{{page.template}}{{thread.url}}#comment-{{message.id_msg}}" class="ipsType_blendLinks"><i class="fa fa-clock-o"></i> <time datetime="2022-07-24T16:44:09Z" title="07/24/2022 12:44  PM" data-short="15 min">{{message.date | date: "%A, %B %d, %Y at %H:%M"}}</time></a>
  </li>
  </ul>
  </div>
  </li>
  {% else %}
  <li class='ipsStreamItem ipsStreamItem_contentBlock ipsStreamItem_expanded ipsAreaBackground_reset ipsPad  ' data-role='activityItem' data-timestamp='1658157901'>
  <div class='ipsStreamItem_container ipsClearfix'>
  <div class='ipsStreamItem_header ipsPhotoPanel ipsPhotoPanel_mini'>
  <span class='ipsStreamItem_contentType' data-ipsTooltip title='Post'><i class='fa fa-comment'></i></span>
  <a href="{{page.url}}" rel="nofollow" data-ipsHover data-ipsHover-target="{{page.url}}?do=hovercard" class="ipsUserPhoto ipsUserPhoto_mini" title="Go to {{page.nickname}}'s profile">
  <img src='{{user_avatar}}' alt='{{page.nickname}}' loading="lazy">
  </a>
  <div class=''>
  <h2 class='ipsType_reset ipsStreamItem_title ipsContained_container ipsStreamItem_titleSmall'>
  <span><span class='ipsItemStatus ipsItemStatus_read ipsItemStatus_posted'><i class="fa fa-star"></i></span></span>
  <span class='ipsType_break ipsContained'>
  <a href='{{page.template}}{{thread.url}}#comment-{{message.id_msg}}' data-linkType="link" data-searchable> {{message.subject}}</a>
  </span>
  </h2>
  <p class='ipsType_reset ipsStreamItem_status ipsType_blendLinks'>
  <a href='{{page.url}}' rel="nofollow" data-ipsHover data-ipsHover-width="370" data-ipsHover-target='{{page.url}}?do=hovercard' title="Go to {{page.nickname}}'s profile" class="ipsType_break">{{page.nickname}}</a> replied to
  <a href='{{page.template}}{{thread_user.url}}' rel="nofollow" data-ipsHover data-ipsHover-width="370" data-ipsHover-target='{{page.template}}{{thread_user.url}}?do=hovercard' title="Go to {{thread_user.nickname}}'s profile" class="ipsType_break">{{thread_user.nickname}}</a>'s topic in <a href='{{page.template}}{{board.url}}'>{{board.board}}</a>
  </p>
  </div>
  </div>
  <div class='ipsStreamItem_snippet ipsType_break'>
  <div class='ipsType_richText ipsContained ipsType_medium'>
  <div data-ipsTruncate data-ipsTruncate-type='remove' data-ipsTruncate-size='3 lines' data-ipsTruncate-watch='false'>
  {{message.content | strip_html}}
  </div>
  </div>
  </div>
  <ul class='ipsList_inline ipsStreamItem_meta ipsGap:1'>
  <li class='ipsType_light ipsType_medium'>
  <a rel="nofollow" href='https://gtaforums.com/topic/902047-gta-3d-era-modding-requests-finds/?do=findComment&amp;comment=1071896396' class='ipsType_blendLinks'><i class='fa fa-clock-o'></i> <time datetime='2022-07-18T15:25:01Z' title='07/18/2022 11:25  AM' data-short='4 dy'>{{message.date | date: "%A, %B %d, %Y at %H:%M"}}</time></a>
  </li>
  <li class='ipsType_light ipsType_medium'>
  <a href='https://gtaforums.com/topic/902047-gta-3d-era-modding-requests-finds/?do=findComment&amp;comment=1071896396' class='ipsType_blendLinks'>
  <i class='fa fa-comment'></i> {{replies.size | minus: 1}} replies
  </a>
  </li>
  </ul>
  </div>
  </li>
  {% endif %}
{% endfor %}
</ol>
</div>
</div>
</div>
</div>
</section>
</div>

<div class="ipsColumns ipsColumns_collapsePhone userContent" style="display:none">

<div class="ipsColumn ipsColumn_wide">
<div class='ipsPadding:half ipsBox'>
<div class="ipsSideMenu" data-ipsTabBar data-ipsTabBar-contentArea='#elUserContent' data-ipsTabBar-itemselector=".ipsSideMenu_item" data-ipsTabBar-activeClass="ipsSideMenu_itemActive" data-ipsSideMenu>
<h3 class="ipsSideMenu_mainTitle ipsAreaBackground_light ipsType_medium">
<a href="#user_content" class="ipsPad_double" data-action="openSideMenu"><i class="fa fa-bars"></i> &nbsp;Content Type&nbsp;<i class="fa fa-caret-down"></i></a>
</h3>
<div>
<h4 class='ipsSideMenu_subTitle'>Forums</h4>
<ul class="ipsSideMenu_list">
<li><a href="#" class="topics ipsSideMenu_item2 ipsSideMenu_itemActive">Topics</a></li>
<li><a href="#" class="posts ipsSideMenu_item2 ">Posts</a></li>
</ul>
</div>
</div>
</div>
</div>

<div class="ipsColumn ipsColumn_fluid" id='elUserContent'>
<div class='ipsBox'>
<h2 class='ipsType_sectionTitle ipsType_reset'>Topics posted by {{page.nickname}}</h2>
<div data-baseurl='#' data-resort='listResort' data-controller='core.global.core.table' data-tableID='40a10b267b3b18675a7304c627f1d50a'>

<div class="ipsButtonBar ipsPad_half ipsClearfix ipsClear">

<ul class="ipsButtonRow ipsPos_right ipsClearfix">
<li>
<a href="#elSortByMenu_menu" id="elSortByMenu_ff001d9bb47dd84ad70eb124ec3bd211" data-role="sortButton" data-ipsMenu data-ipsMenu-activeClass="ipsButtonRow_active" data-ipsMenu-selectable="radio">Sort By <i class="fa fa-caret-down"></i></a>
<ul class="ipsMenu ipsMenu_auto ipsMenu_withStem ipsMenu_selectable ipsHide" id="elSortByMenu_ff001d9bb47dd84ad70eb124ec3bd211_menu">
<li class="ipsMenu_item ipsMenu_itemChecked" data-ipsMenuValue="last_post" data-sortDirection='desc'><a href="#" rel="nofollow">Recently Updated</a></li>
<li class="ipsMenu_item " data-ipsMenuValue="title" data-sortDirection='asc'><a href="#" rel="nofollow">Title</a></li>
<li class="ipsMenu_item " data-ipsMenuValue="start_date" data-sortDirection='desc'><a href="#" rel="nofollow">Start Date</a></li>
<li class="ipsMenu_item " data-ipsMenuValue="posts" data-sortDirection='desc'><a href="#" rel="nofollow">Most Commented</a></li>
<li class="ipsMenu_item " data-ipsMenuValue="views" data-sortDirection='desc'><a href="#" rel="nofollow">Most Viewed</a></li>
</ul>
</li>
</ul>

<div data-role="tablePagination">
<ul class='ipsPagination' id='elPagination_40a10b267b3b18675a7304c627f1d50a_929068031' data-ipsPagination-seoPagination='true' data-pages='10'>
<li class='ipsPagination_first ipsPagination_inactive'><a href='#' rel="first" data-page='1' data-ipsTooltip title='First page'><i class='fa fa-angle-double-left'></i></a></li>
<li class='ipsPagination_prev ipsPagination_inactive'><a href='#' rel="prev" data-page='0' data-ipsTooltip title='Previous page'>Prev</a></li>
<li class='ipsPagination_page ipsPagination_active'><a href='#' data-page='1'>1</a></li>
<li class='ipsPagination_page'><a href='#' data-page='2'>2</a></li>
<li class='ipsPagination_page'><a href='#' data-page='3'>3</a></li>
<li class='ipsPagination_page'><a href='#' data-page='4'>4</a></li>
<li class='ipsPagination_page'><a href='#' data-page='5'>5</a></li>
<li class='ipsPagination_page'><a href='#' data-page='6'>6</a></li>
<li class='ipsPagination_next'><a href='#' rel="next" data-page='2' data-ipsTooltip title='Next page'>Next</a></li>
<li class='ipsPagination_last'><a href='#' rel="last" data-page='10' data-ipsTooltip title='Last page'><i class='fa fa-angle-double-right'></i></a></li>
<li class='ipsPagination_pageJump'>
<a href='#' data-ipsMenu data-ipsMenu-closeOnClick='false' data-ipsMenu-appendTo='#elPagination_40a10b267b3b18675a7304c627f1d50a_929068031' id='elPagination_40a10b267b3b18675a7304c627f1d50a_929068031_jump'>Page 1 of 10 &nbsp;<i class='fa fa-caret-down'></i></a>
<div class='ipsMenu ipsMenu_narrow ipsPadding ipsHide' id='elPagination_40a10b267b3b18675a7304c627f1d50a_929068031_jump_menu'>
<ul class='ipsForm ipsForm_horizontal'>
<li class='ipsFieldRow'>
<input type='number' min='1' max='10' placeholder='Page number' class='ipsField_fullWidth' name='page'>
</li>
<li class='ipsFieldRow ipsFieldRow_fullWidth'>
<input type='submit' class='ipsButton_fullWidth ipsButton ipsButton_verySmall ipsButton_primary' value='Go'>
</li>
</ul>
</div>
</li>
</ul>
</div>

</div>

<ol class='ipsDataList ipsClear cProfileContent ' id='elTable' data-role="tableRows"></ol>

<div class="ipsButtonBar ipsPad_half ipsClearfix ipsClear " data-role="tablePagination">
<ul class='ipsPagination' id='elPagination_40a10b267b3b18675a7304c627f1d50a_2011884140' data-ipsPagination-seoPagination='true' data-pages='10'>
<li class='ipsPagination_first ipsPagination_inactive'><a href='https://gtaforums.com/profile/360756-blk95ta/content/?type=forums_topic&amp;sortby=last_post&amp;sortdirection=desc' rel="first" data-page='1' data-ipsTooltip title='First page'><i class='fa fa-angle-double-left'></i></a></li>
<li class='ipsPagination_prev ipsPagination_inactive'><a href='https://gtaforums.com/profile/360756-blk95ta/content/?type=forums_topic&amp;sortby=last_post&amp;sortdirection=desc' rel="prev" data-page='0' data-ipsTooltip title='Previous page'>Prev</a></li>
<li class='ipsPagination_page ipsPagination_active'><a href='https://gtaforums.com/profile/360756-blk95ta/content/?type=forums_topic&amp;sortby=last_post&amp;sortdirection=desc' data-page='1'>1</a></li>
<li class='ipsPagination_page'><a href='https://gtaforums.com/profile/360756-blk95ta/content/page/2/?type=forums_topic&amp;sortby=last_post&amp;sortdirection=desc' data-page='2'>2</a></li>
<li class='ipsPagination_page'><a href='https://gtaforums.com/profile/360756-blk95ta/content/page/3/?type=forums_topic&amp;sortby=last_post&amp;sortdirection=desc' data-page='3'>3</a></li>
<li class='ipsPagination_page'><a href='https://gtaforums.com/profile/360756-blk95ta/content/page/4/?type=forums_topic&amp;sortby=last_post&amp;sortdirection=desc' data-page='4'>4</a></li>
<li class='ipsPagination_page'><a href='https://gtaforums.com/profile/360756-blk95ta/content/page/5/?type=forums_topic&amp;sortby=last_post&amp;sortdirection=desc' data-page='5'>5</a></li>
<li class='ipsPagination_page'><a href='https://gtaforums.com/profile/360756-blk95ta/content/page/6/?type=forums_topic&amp;sortby=last_post&amp;sortdirection=desc' data-page='6'>6</a></li>
<li class='ipsPagination_next'><a href='https://gtaforums.com/profile/360756-blk95ta/content/page/2/?type=forums_topic&amp;sortby=last_post&amp;sortdirection=desc' rel="next" data-page='2' data-ipsTooltip title='Next page'>Next</a></li>
<li class='ipsPagination_last'><a href='https://gtaforums.com/profile/360756-blk95ta/content/page/10/?type=forums_topic&amp;sortby=last_post&amp;sortdirection=desc' rel="last" data-page='10' data-ipsTooltip title='Last page'><i class='fa fa-angle-double-right'></i></a></li>
<li class='ipsPagination_pageJump'>
<a href='#' data-ipsMenu data-ipsMenu-closeOnClick='false' data-ipsMenu-appendTo='#elPagination_40a10b267b3b18675a7304c627f1d50a_2011884140' id='elPagination_40a10b267b3b18675a7304c627f1d50a_2011884140_jump'>Page 1 of 10 &nbsp;<i class='fa fa-caret-down'></i></a>
<div class='ipsMenu ipsMenu_narrow ipsPadding ipsHide' id='elPagination_40a10b267b3b18675a7304c627f1d50a_2011884140_jump_menu'>
<ul class='ipsForm ipsForm_horizontal'>
<li class='ipsFieldRow'>
<input type='number' min='1' max='10' placeholder='Page number' class='ipsField_fullWidth' name='page'>
</li>
<li class='ipsFieldRow ipsFieldRow_fullWidth'>
<input type='submit' class='ipsButton_fullWidth ipsButton ipsButton_verySmall ipsButton_primary' value='Go'>
</li>
</ul>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>

<div id="userThreads" style="display: none">
{% for thread in threads reversed %}
{% assign replies = site.messages | where: "thread", thread.title %}
{% assign board = site.boards | where: "board", thread.board | first %}
{% assign last_user = site.users | where: "nickname", replies.last.user | first %}
{% if last_user.avatar %}
  {% if last_user.avatar contains "http" %}
  {% assign last_user_avatar = last_user.avatar %}
  {% else %}
  {% capture last_user_avatar %}/assets/smf/attachments/{{last_user.avatar}}{% endcapture %}
  {% endif %}
{% else %}
  {% assign last_user_avatar = "/assets/smf/noavatar.gif" %}
{% endif %}
<li class="ipsDataItem ipsDataItem_responsivePhoto ipsDataItem_unread  ">
<div class='ipsDataItem_icon ipsPos_top'>
<a href='{{page.template}}{{thread.url}}' title='Go to first unread post' data-ipsTooltip>
<span class='ipsItemStatus'><i class="fa fa-circle"></i></span>
</a>
</div>
<div class='ipsDataItem_main'>
<h4 class='ipsDataItem_title ipsContained_container'>
<span class='ipsType_break ipsContained'>
<a href='{{page.template}}{{thread.url}}' data-ipsHover data-ipsHover-target='{{page.template}}{{thread.url}}/?preview=1' data-ipsHover-timeout='1.5'>{{thread.title}}</a>
</span>
</h4>
<p class='ipsType_reset ipsType_medium ipsType_light'>
By
<a href='{{page.url}}' rel="nofollow" data-ipsHover data-ipsHover-width='370' data-ipsHover-target='#' title="Go to {{page.nickname}}'s profile" class="ipsType_break">{{page.nickname}}</a>, <time datetime='2022-03-15T05:08:04Z' title='03/15/2022 01:08  AM' data-short='Mar 15'>{{replies.first.date | date: "%B %d, %Y at %H:%M"}}</time>
in <a href="{{page.template}}{{board.url}}">{{board.board}}</a>
</p>
<ul class='ipsList_inline ipsClearfix ipsType_light'>
</ul>
</div>
<ul class='ipsDataItem_stats'>
<li>
<span class='ipsDataItem_stats_number'>{{replies.size | minus: 1}}</span>
<span class='ipsDataItem_stats_type'> replies</span>
</li>
<li>
<span class='ipsDataItem_stats_number'>{{thread.views}}</span>
<span class='ipsDataItem_stats_type'> views</span>
</li>
</ul>
<ul class='ipsDataItem_lastPoster ipsDataItem_withPhoto'>
<li>
<a href="{{page.template}}{{last_user.url}}" rel="nofollow" data-ipsHover data-ipsHover-width="370" data-ipsHover-target="{{page.template}}{{last_user.url}}?do=hovercard" class="ipsUserPhoto ipsUserPhoto_tiny" title="Go to {{last_user.nickname}}'s profile">
<img src='{{last_user_avatar}}' alt='{{last_user.nickname}}' loading="lazy">
</a>
</li>
<li>
<a href='{{page.template}}{{last_user.url}}' rel="nofollow" data-ipsHover data-ipsHover-width='370' data-ipsHover-target='#' title="Go to {{last_user.nickname}}'s profile" class="ipsType_break">{{last_user.nickname}}</a>
</li>
<li class="ipsType_light">
<a href='{{page.template}}{{thread.url}}#comment-{{replies.last.id_msg}}' title='Go to last post' class='ipsType_blendLinks'>
<time datetime='2022-03-16T04:44:48Z' title='03/16/2022 12:44  AM' data-short='Mar 16'>{{replies.last.date | date: "%A, %B %d, %Y at %H:%M"}}</time>
</a>
</li>
</ul>
</li>
{% endfor %}
</div>

<div id="userMessages" style="display: none">
{% for message in messages reversed %}
{% assign thread = site.threads | where: "title", message.thread | first %}
{% assign board = site.boards | where: "board", thread.board | first %}
<li class='ipsMargin ipsDataItem ipsDataItem_autoWidth' data-rowID='{{comment.id_msg}}'>
<article id='elComment_{{comment.id_msg}}' class='ipsComment ipsBox ipsBox--child  ipsClearfix ipsClear '>
<div id='comment-{{comment.id_msg}}_wrap' class='ipsComment_content ipsType_normal ipsClearfix'>
<div class='ipsComment_header ipsPadding_top ipsFlex ipsFlex-fd:row-reverse ipsFlex-ai:start ipsFlex-jc:between sm:ipsFlex-fd:column'>
<div class="ipsComment_toolWrap ipsFlex-flex:00"></div>
<div class='sm:ipsMargin_top:double'>
<h3 class='ipsType_sectionHead ipsType_break'>
<a href='{{page.template}}{{thread.url}}/?do=getNewComment' title='Go to first unread post' data-ipsTooltip>
<span class='ipsItemStatus'><i class="fa fa-circle"></i></span>
</a>
<a href='{{page.template}}{{thread.url}}#comment-{{message.id_msg}}' title='View the topic {{thread.title}}'>{{thread.title}}</a>
</h3>
<p class='ipsType_normal ipsType_light ipsType_blendLinks ipsType_reset'>in <a href='{{page.template}}{{board.url}}'>{{board.board}}</a></p>
</div>
</div>
<div class=''>
<div class='ipsPadding_horizontal ipsPadding_bottom ipsPadding_top:half'>
<p class='ipsComment_meta ipsType_light ipsType_medium ipsType_blendLinks'>
<a href='{{page.template}}{{thread.url}}#comment-{{message.id_msg}}' class='ipsType_blendLinks'>Posted <time datetime='2022-07-24T16:44:09Z' title='07/24/2022 12:44  PM' data-short='1 hr'>{{message.date | date: "%A, %B %d, %Y at %H:%M"}}</time></a>
</p>
<div data-role='commentContent' class='ipsType_break ipsType_richText ipsContained ipsMargin_top' data-controller='core.front.core.lightboxedImages'>{{message.content}}</div>
</div>
</div>
</div>
</article>
</li>
{% endfor %}
</div>



</div>
</div>
</div>


</div>
</div>
</div>
<nav class='ipsBreadcrumb ipsBreadcrumb_bottom ipsFaded_withHover'>
<a href='#' id='elRSS' class='ipsPos_right ipsType_large' title='Available RSS feeds' data-ipsTooltip data-ipsMenu data-ipsMenu-above><i class='fa fa-rss-square'></i></a>
<ul id='elRSS_menu' class='ipsMenu ipsMenu_auto ipsHide'>
<li class='ipsMenu_item'><a title="GTANetcom" href="https://gtaforums.com/rss/4-gtanetcom.xml/?member_id=717099&amp;key=2eb33c7206881a76834a3532ae02e768">GTANetcom</a></li>
</ul>
<ul class='ipsList_inline ipsPos_right'>
<li>
<a data-action="defaultStream" class='ipsType_light ' href='{{page.template}}/messages/recentunread/'><i class="fa fa-newspaper-o" aria-hidden="true"></i> <span>Unread Content</span></a>
</li>
<li>
<a data-action="markSiteRead" class='ipsType_light' data-controller="core.front.core.markRead" href='https://gtaforums.com/markallread/?csrfKey=3877d35377c8356d20a3e6bbeab459b2&amp;ref=aHR0cHM6Ly9ndGFmb3J1bXMuY29tL3Byb2ZpbGUvNzE3MDk5LXNsb3RoLw==' title='Mark all content on the site as read' data-ipsTooltip><i class='fa fa-check' aria-hidden="true"></i> Mark site read</a>
</li>
</ul>
<ul data-role="breadcrumbList">
<li>
<a title="Home" href='https://gtaforums.com/'>
<span>Home <i class='fa fa-angle-right'></i></span>
</a>
</li>
<li>
<a href='{{page.url}}'>
<span>{{page.nickname}} </span>
</a>
</li>
</ul>
</nav>
</div>
</div>
</main>

<footer id='ipsLayout_footer' class='ipsClearfix'>
{% include gtaforums/footer.html %}
</footer>

<div id='elMobileDrawer' class='ipsDrawer ipsHide'>
<div class='ipsDrawer_menu'>
<a href='#' class='ipsDrawer_close' data-action='close'><span>&times;</span></a>
<div class='ipsDrawer_content ipsFlex ipsFlex-fd:column'>
<div class='elMobileDrawer__user ipsBorder_bottom ipsAreaBackground_reset ipsPadding_horizontal ipsPadding_vertical:half ipsPos_sticky ipsFlex ipsFlex-jc:between ipsFlex-ai:center ipsFlex-fw:wrap'>
<div class='ipsFlex-flex:11'>
<ul class='elMobileDrawer__user-panel ipsList_reset ipsType_blendLinks ipsFlex ipsFlex-ai:center'>
<li class='ipsMargin_right:half'>
<a href="{{page.url}}" rel="nofollow" data-ipsHover data-ipsHover-width="370" data-ipsHover-target="{{page.url}}?do=hovercard" class="ipsUserPhoto ipsUserPhoto_mini" title="Go to {{page.nickname}}'s profile">
<img src='https://gtaforums.com/uploads/monthly_2020_05/Pk4G__T3_400x400.thumb.jpg.c40191c779ebba09cc6b3c69b2898f8b.jpg' alt='{{page.nickname}}' loading="lazy">
</a>
</li>
<li>
<div class='ipsType_light'>Signed in as</div>
<div class='ipsType_dark ipsType_large ipsType_bold'><a href='{{page.url}}' title='Go to your profile'>{{page.nickname}}</a></div>
</li>
</ul>
</div>
<ul id='elUserNav_mobile' class='ipsList_inline signed_in ipsClearfix'>
<li class='cNotifications cUserNav_icon'>
<a href='#elMobNotifications_menu' id='elMobNotifications' data-ipsMenu data-ipsMenu-menuID='elFullNotifications_menu' data-ipsMenu-closeOnClick='false'>
<i class='fa fa-bell'></i> <span class='ipsNotificationCount ipsHide' data-notificationType='notify'>0</span>
</a>
</li>
<li class='cInbox cUserNav_icon'>
<a href='#elMobInbox_menu' id='elMobInbox' data-ipsMenu data-ipsMenu-menuID='elFullInbox_menu' data-ipsMenu-closeOnClick='false'>
<i class='fa fa-envelope '></i> <span class='ipsNotificationCount ipsHide' data-notificationType='inbox'>0</span>
</a>
</li>
</ul>
</div>
<ul class='ipsDrawer_list ipsFlex-flex:11'>
<li class='ipsDrawer_itemParent'>
<h4 class='ipsDrawer_title'><a href='#'>Account</a></h4>
<ul class='ipsDrawer_list'>
<li data-action="back"><a href='#'>Back</a></li>
<li><a href='{{page.url}}' title='Go to your profile'>Profile</a></li>
<li><a href='https://gtaforums.com/followed/'>Manage Followed Content</a></li>
<li id='elAccountSettingsLinkMobile'><a href='https://gtaforums.com/settings/' title='Edit account settings'>Account Settings</a></li>
<li><a href='https://gtaforums.com/ignore/'>Ignored Users</a></li>
</ul>
</li>
<li class='ipsDrawer_itemParent'>
<h4 class='ipsDrawer_title'><a href='#'>Browse</a></h4>
<ul class='ipsDrawer_list'>
<li data-action="back"><a href='#'>Back</a></li>

<li>
<a href='https://gtaforums.com'>
Forums
</a>
</li>
<li>
<a href='https://gtaforums.com/staff/'>
Staff
</a>
</li>
<li>
<a href='https://gtaforums.com/leaderboard/'>
Leaderboard
</a>
</li>
</ul>
</li>
<li class='ipsDrawer_itemParent'>
<h4 class='ipsDrawer_title'><a href='#'>Activity</a></h4>
<ul class='ipsDrawer_list'>
<li data-action="back"><a href='#'>Back</a></li>
<li>
<a href='{{page.template}}/messages/recent'>
All Activity
</a>
</li>
<li class='ipsDrawer_itemParent'>
<h4 class='ipsDrawer_title'><a href='#'>My Activity Streams</a></h4>
<ul class='ipsDrawer_list'>
<li data-action="back"><a href='#'>Back</a></li>
<li class='ipsDrawer_section'>
Default Streams
</li>
<li>
<a href='{{page.template}}/messages/recentunread/'>
Unread Content
</a>
</li>
<li>
<a href='{{page.template}}/messages/recentcontent-started/'>
Content I Started
</a>
</li>
<li>
<a href='{{page.template}}/messages/recentfollowed-content/'>
Content I Follow
</a>
</li>
<li>
<a href='{{page.template}}/messages/recentfollowed-members/'>
Members I Follow
</a>
</li>
<li>
<a href='{{page.template}}/messages/recentcontent-posted/'>
Content I Posted In
</a>
</li>
<li class='ipsPad_half'>
<a href='{{page.template}}/messages/recent?do=create' class='ipsButton ipsButton_important ipsButton_verySmall ipsButton_fullWidth'>
Create New Stream
</a>
</li>
</ul>
</li>
<li>
<a href='{{page.template}}/messages/recentunread/'>
Unread Content
</a>
</li>
<li>
<a href='{{page.template}}/messages/recentcontent-started/'>
Content I Started
</a>
</li>
<li>
<a href='https://gtaforums.com/search/'>
Search
</a>
</li>
</ul>
</li>
<li><a href='https://gtaforums.com/leaderboard/'>Leaderboard</a></li>
<li>
<a data-action="markSiteRead" data-controller="core.front.core.markRead" href='https://gtaforums.com/markallread/?csrfKey=3877d35377c8356d20a3e6bbeab459b2'>Mark site read</a>
</li>
<li>
<a href='https://gtaforums.com/index.php?app=core&amp;module=system&amp;controller=login&amp;do=logout&amp;csrfKey=3877d35377c8356d20a3e6bbeab459b2'>
Sign Out
</a>
</li>
</ul>
</div>
</div>
</div>
<div id='elMobileCreateMenuDrawer' class='ipsDrawer ipsHide'>
<div class='ipsDrawer_menu'>
<a href='#' class='ipsDrawer_close' data-action='close'><span>&times;</span></a>
<div class='ipsDrawer_content ipsSpacer_bottom ipsPad'>
<ul class='ipsDrawer_list'>
<li class="ipsDrawer_listTitle ipsType_reset">Create New...</li>
<li>
<a href="https://gtaforums.com/submit/" data-ipsDialog="1" data-ipsDialog-size="narrow" data-ipsDialog-title='Select Forum' data-ipsdialog-fixed="true">Topic</a>
</li>
</ul>
</div>
</div>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

{% include gtaforums/scripts.html %}

<script type='application/ld+json'>
{
    "@context": "http://schema.org",
    "@type": "ProfilePage",
    "url": "{{page.url}}",
    "name": "{{page.nickname}}",
    "primaryImageOfPage": {
        "@type": "ImageObject",
        "contentUrl": "https://gtaforums.com/uploads/monthly_2020_05/Pk4G__T3_400x400.thumb.jpg.c40191c779ebba09cc6b3c69b2898f8b.jpg",
        "representativeOfPage": true,
        "thumbnail": {
            "@type": "ImageObject",
            "contentUrl": "https://gtaforums.com/uploads/monthly_2020_05/Pk4G__T3_400x400.thumb.jpg.c40191c779ebba09cc6b3c69b2898f8b.jpg"
        }
    },
    "thumbnailUrl": "https://gtaforums.com/uploads/monthly_2020_05/Pk4G__T3_400x400.thumb.jpg.c40191c779ebba09cc6b3c69b2898f8b.jpg",
    "image": "https://gtaforums.com/uploads/monthly_2020_05/Pk4G__T3_400x400.jpg.a661f08efeefc685bdeddb6977f663e2.jpg",
    "relatedLink": "{{page.url}}content/",
    "dateCreated": "2012-07-31T21:10:27-0430",
    "interactionStatistic": [
        {
            "@type": "InteractionCounter",
            "interactionType": "http://schema.org/CommentAction",
            "userInteractionCount": 155
        },
        {
            "@type": "InteractionCounter",
            "interactionType": "http://schema.org/ViewAction",
            "userInteractionCount": 511
        }
    ]
}	
</script>
<script type='application/ld+json'>
{
    "@context": "http://www.schema.org",
    "publisher": "https://gtaforums.com/#organization",
    "@type": "WebSite",
    "@id": "https://gtaforums.com/#website",
    "mainEntityOfPage": "https://gtaforums.com/",
    "name": "GTAForums",
    "url": "https://gtaforums.com/",
    "potentialAction": {
        "type": "SearchAction",
        "query-input": "required name=query",
        "target": "https://gtaforums.com/search/?q={query}"
    },
    "inLanguage": [
        {
            "@type": "Language",
            "name": "English (USA)",
            "alternateName": "en-US"
        }
    ]
}	
</script>
<script type='application/ld+json'>
{
    "@context": "http://www.schema.org",
    "@type": "Organization",
    "@id": "https://gtaforums.com/#organization",
    "mainEntityOfPage": "https://gtaforums.com/",
    "name": "GTAForums",
    "url": "https://gtaforums.com/",
    "sameAs": [
        "https://twitter.com/GTAForums",
        "https://twitter.com/GTANet"
    ]
}	
</script>
<script type='application/ld+json'>
{
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
        {
            "@type": "ListItem",
            "position": 1,
            "item": {
                "@id": "{{page.url}}",
                "name": "{{page.nickname}}"
            }
        }
    ]
}	
</script>

<script type="text/javascript">
  $(document).ready(function () {
    setTimeout(function () {console.log('a')
      $('[data-action=goToProfile],[data-action=browseContent]').unbind().on('click', function (e) {
        e.preventDefault()
        $('[data-action=goToProfile],[data-action=browseContent]').toggleClass('ipsHide')
        $('.userProfile,.userContent').toggle()
        $('.ipsSideMenu_item2.topics').addClass('ipsSideMenu_itemActive')
        $('.ipsSideMenu_item2.posts').removeClass('ipsSideMenu_itemActive')
        $('#elUserContent').removeClass('ipsTabs_panel')
        $('#elTable').html( $('#userThreads').html() )
      })

      $('.ipsSideMenu_list a.ipsSideMenu_item2').unbind().on('click', function (e) {
        e.preventDefault()
        if ($(this).hasClass('topics')) {
          $('#elTable').html( $('#userThreads').html() )
          $('.ipsSideMenu_item2.topics').addClass('ipsSideMenu_itemActive')
          $('.ipsSideMenu_item2.posts').removeClass('ipsSideMenu_itemActive')
          $('#elUserContent').removeClass('ipsTabs_panel')
        } else {
          $('#elTable').html( $('#userMessages').html() )
          $('.ipsSideMenu_item2.topics').removeClass('ipsSideMenu_itemActive')
          $('.ipsSideMenu_item2.posts').addClass('ipsSideMenu_itemActive')
          $('#elUserContent').addClass('ipsTabs_panel')
        }
      })
    }, 250)
  })

  var hoverCard = `<div class="cUserHovercard" id="elUserHovercard_7170991077467925">
<div class='ipsPageHead_special cUserHovercard__header' id='elProfileHeader_1077467925' data-controller='core.global.core.coverPhoto' data-url="{{page.url}}" data-coverOffset='684'>
<div class='ipsCoverPhoto_container' style="background-color: hsl(175, 100%, 80% )">
<img src='https://gtaforums.com/uploads/set_resources_9/84c1e40ea0e759e3f1505eb1788ddf3c_pattern.png' class='ipsCoverPhoto_photo' data-action="toggleCoverPhoto" alt=''>
</div>
<a href='{{page.url}}'><img src='{{user_avatar}}' class="ipsUserPhoto ipsUserPhoto_large ipsUserPhoto_outlined ipsUserPhoto_outlined:medium cUserHovercard__photo"></a>
</div>
<div class='ipsPadding ipsFlex ipsFlex-fd:column ipsFlex-ai:center'>
<h2 class='ipsType_reset ipsType_center ipsPos_relative cUserHovercard__title'>
<a href='{{page.url}}'>{{page.nickname}}</a>
</h2>
<p class='ipsType_reset ipsType_normal'>
Members
</p>
<p class='ipsType_reset ipsType_medium ipsType_light'>
Joined <time datetime='2012-08-01T01:40:27Z' title='07/31/2012 09:10  PM' data-short='9 yr'>{{page.date_registered | date: "%B %d, %Y"}}</time>
</p>
<p class='ipsType_reset ipsType_medium ipsType_light'>
<i class="fa fa-circle ipsType_medium ipsOnlineStatus_online" data-ipsTooltip title='{{page.nickname}} is not online'></i>
Not Online
</p>
<dl class='ipsMargin:none ipsMargin_top ipsAreaBackground_light ipsRadius ipsFlex ipsFlex-ai:center ipsFlex-jc:around ipsFlex-as:stretch ipsPadding:half'>
<div class='ipsPadding_horizontal:half ipsFlex ipsFlex-fd:column-reverse ipsFlex-ai:center'>
<dt class='ipsType_light'>Posts</dt>
<dd class='ipsType_semiBold ipsType_large ipsType_dark ipsMargin:none'>{{posts.size}}</dd>
</div>
<div class='ipsPadding_horizontal:half ipsFlex ipsFlex-fd:column-reverse ipsFlex-ai:center'>
<dt class='ipsType_light'>Karma</dt>
<dd class='ipsType_semiBold ipsType_large ipsType_dark ipsMargin:none'>+{{page.karma_bad}} / -{{page.karma_good}}</dd>
</div>
</dl>
<div class='ipsBorder_top ipsMargin_top ipsFlex ipsFlex-ai:center ipsFlex-jc:between ipsFlex-as:stretch ipsPadding_top'>
<div class='ipsType_medium ipsMargin_right'>
<p class='ipsType_reset ipsType_semiBold'>
<i class='fa fa-info-circle fa-fw ipsType_light'></i> 0 warning points
</p>
</div>
</div>
</div>
<div class='ipsBorder_top ipsPadding'>
<div class='ipsList_reset ipsFlex ipsFlex-ai:center ipsGap:3 ipsGap_row:0'>
<a href="#" class='ipsFlex-flex:11 ipsButton ipsButton_light ipsButton_verySmall'>Find Content</a>
</div>
</div>
</div>
</div>`

  if (window.location.search == "?do=hovercard") {
    document.body.innerHTML = hoverCard
  }
</script>


</body>
</html>
