<link rel="manifest" href="/assets/gtaforums/gtaforums.json">
<meta name="msapplication-config" content="https://gtaforums.com/browserconfig.xml/">
<meta name="msapplication-starturl" content="/">
<meta name="application-name" content="GTAForums">
<meta name="apple-mobile-web-app-title" content="GTAForums">
<meta name="theme-color" content="#000000">
<link rel="preload" href="/assets/gtaforums/font/fontawesome-webfont.woff2" as="font" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Inter:300,300i,400,400i,500,700,700i" rel="stylesheet" referrerpolicy="origin">
<link rel='stylesheet' href='/assets/gtaforums/styles/framework.css' media='all'>
<link rel='stylesheet' href='/assets/gtaforums/styles/responsive.css' media='all'>
<link rel='stylesheet' href='/assets/gtaforums/styles/flags.css' media='all'>
<link rel='stylesheet' href='/assets/gtaforums/styles/core.css' media='all'>
<link rel='stylesheet' href='/assets/gtaforums/styles/core_responsive.css' media='all'>
<link rel='stylesheet' href='/assets/gtaforums/styles/forums.css' media='all'>
<link rel='stylesheet' href='/assets/gtaforums/styles/forums_responsive.css' media='all'>
<link rel='stylesheet' href='/assets/gtaforums/styles/custom.css' media='all'>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/gtaforums/favicon/apple-touch-icon.webp">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/gtaforums/favicon/favicon-32x32.webp">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/gtaforums/favicon/favicon-16x16.webp">
<link rel="manifest" href="/assets/gtaforums/favicon/site.webmanifest">
<link rel="mask-icon" href="/assets/gtaforums/favicon/safari-pinned-tab.svg" color="#244052">
<link rel="shortcut icon" href="/assets/gtaforums/favicon/favicon.ico">
<meta name="apple-mobile-web-app-title" content="GTA Forums">
<meta name="application-name" content="GTA Forums">
<meta name="msapplication-TileColor" content="#244052">
<meta name="msapplication-config" content="/assets/gtaforums/favicon/browserconfig.xml">
<link href="/assets/gtaforums/styles/gtanet-webfont.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
<style type="text/css">
	#gtaf-logo-slogan{
		text-transform: uppercase;
	}
</style>