<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="/assets/smf/curve/scripts/index.css" />
	<script type="text/javascript" src="/assets/smf/curve/scripts/script.js"></script>
	<script type="text/javascript" src="/assets/smf/curve/scripts/theme.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta name="description" content="{{site.data.forums.title}} - Índice" />
	<title>{{site.data.forums.title}} - Índice</title>
	<link rel="canonical" href="{{site.data.forums.base_url}}" />
	<link rel="help" href="http://smf.halabalooza.orgy/index.php?action=help" />
	<link rel="search" href="http://smf.halabalooza.orgy/index.php?action=search" />
	<link rel="contents" href="{{site.data.forums.base_url}}" />
	<link rel="alternate" type="application/rss+xml" title="{{site.data.forums.title}} - RSS" href="http://smf.halabalooza.orgy/index.php?type=rss;action=.xml" />
</head>
<body>
<div id="wrapper" style="width: 90%">
	<div id="header"><div class="frame">
		<div id="top_section">
			<h1 class="forumtitle">
				<a href="{{site.data.forums.base_url}}">{{site.data.forums.title}}</a>
			</h1>
			<img id="upshrink" src="/assets/smf/curve/img/upshrink.png" alt="*" title="Encoger o expandir encabezado." />
			<div id="siteslogan" class="floatright">{{site.data.forums.subtitle}}</div>
		</div>
		<br class="clear" />
		{% include smf/navigator.html %}
		<br class="clear" />
	</div></div>
	<div id="content_section"><div class="frame">
		<div id="main_content_section">
	<div class="navigate_section">
		<ul>
			<li class="last">
				<a href="{{site.data.forums.base_url}}"><span>{{site.data.forums.title}}</span></a>
			</li>
		</ul>
	</div><!--Headers--><!--End Headers-->

	<div id="boardindex_table">
		<table class="table_list">
			{% for category in site.data.forums.categories %}
				{% assign boards = site.boards | where: "category", category.name | sort: "board_order" %}
				{% if boards.size > 0 %}
				<tbody class="header" id="category_{{category.id}}">
					<tr>
						<td colspan="5">
							<div class="cat_bar">
								<h3 class="catbg">
									<a class="collapse" href="http://smf.halabalooza.orgy/index.php?action=collapse;c=7;sa=collapse;e2bff33874=7a879e6e43c43d66dbdea1a223cb7c1e#c7"><img src="assets/smf/curve/img/collapse.gif" alt="-" /></a>
									<a class="unreadlink" href="http://smf.halabalooza.orgy/index.php?action=unread;c=7">Mensajes no leídos</a>
									<a id="c7" href="http://smf.halabalooza.orgy/index.php?action=collapse;c=7;sa=collapse;e2bff33874=7a879e6e43c43d66dbdea1a223cb7c1e#c7">{{category.name}}</a>
								</h3>
							</div>
						</td>
					</tr>
				</tbody>
				<tbody class="content" id="category_7_boards">
	            <tr style="line-height:8px;">
	            <td align="center" class="windowbg"><strong>Estado</strong></td>
	            <td align="left" class="windowbg"><strong>Foro</strong></td>
	            <td align="center" class="windowbg"><strong>Mensajes</strong></td>
	            <td align="center" class="windowbg"><strong>Temas</strong></td>
	            <td align="center" class="windowbg"><strong>Último</strong></td>
	            </tr>
	            	{% for board in boards %}
		            	{% unless board.child_level %}

			            	{% assign subboards = boards | where: "child_level", 1 | where: "parent_board", board.board | sort: "board_order" %}

							<tr id="board_23" class="windowbg2">
								<td class="windowbg icon" {% if subboards.size > 0 %}rowspan="2"{% endif %}>
									<a href="http://smf.halabalooza.orgy/index.php/board,23.0.html" name="b23">
										<img src="/assets/smf/curve/ImagesOnBoard/{% if board.icon %}{{board.icon}}{% else %}default1.png{% endif %}" alt="{{board.name}}" title="No hay nuevos Mensajes" />
									</a>
								</td>
								<td class="info">
									<a class="subject" href="{{ board.url }}" name="b23">{{board.board}}</a>
									<p>{{board.description}}</p>
									{% if board.moderator %}
									<p class="moderators">Moderador: <a href="http://smf.halabalooza.orgy/index.php?action=profile;u=4" title="Moderador del Foro">{{board.moderator}}</a></p>
									{% endif %}
			               		</td>

								{% capture str %}board.board=='{{board.board}}' or board.parent_board=='{{board.board}}'{% endcapture %}
								{% assign boards = site.boards | where_exp: "board", str %}

								{% assign threads = "" | split: "," %}
								{% for board in boards %}
									{% assign threads2 = site.threads | where: "board", board.board %}
									{% assign threads = threads | concat: threads2 %}
								{% endfor %}

								{% assign messages = "" | split: "," %}
								{% for thread in threads %}
									{% assign messages2 = site.messages | where: "thread", thread.title %}
									{% assign messages = messages | concat: messages2 | sort: "date" %}
								{% endfor %}

								{% assign last_user = site.users | where: "nickname", messages.last.user | first %}
								{% assign last_msg_thread = site.threads | where: "title", messages.last.thread | first %}
								
								<td class="windowbg" align="center" width="7%">{{messages.size}}</td>
								<td class="windowbg" align="center" width="7%">{{threads.size}}</td>
								
								<td class="lastpost">
									{% if last_user %}
									<div style="float: left; margin-right: 4px;"><img src="/assets/smf/attachments/{{last_user.avatar}}" alt="" width="38" height="38" align="middle" border="0" /></div>
									<p>
										<strong>Último:</strong>  <a href="{{last_msg_thread.url}}" title="{{messages.last.subject}}">{{messages.last.subject}}</a><br />
										por <a href="{{last_user.url}}">{{last_user.nickname}}</a><br />
										 {{ messages.last.date | date_to_rfc822 | replace: "-0400", "" }}
									</p>
									{% endif %}
								</td>
							</tr>

							{% if subboards.size > 0 %}
							<tr id="board_99_children">
								<td colspan="4" class="children windowbg">
									<strong>Subforos</strong>:
									{% for subboard in subboards %}
									<a href="{{ subboard.url }}" title="No hay nuevos Mensajes (Temas: 26, Mensajes: 211)">{{subboard.board}}</a>,
									{% endfor %}
								</td>
							</tr>
							{% endif %}

						{% endunless %}
					{% endfor %}
				</tbody>
				<tbody class="divider">
					<tr>
						<td colspan="4"></td>
					</tr>
				</tbody>
				{% endif %}
			{% endfor %}
		</table>
	</div>
	<span class="clear upperframe"><span></span></span>
	<div class="roundframe"><div class="innerframe">
		<div class="cat_bar">
			<h3 class="catbg">
				<img class="icon" id="upshrink_ic" src="/assets/smf/curve/img/collapse.gif" alt="*" title="Encoger o expandir encabezado." style="display: none;" />
				{{site.data.forums.title}} - Centro de Información
			</h3>
		</div>
		<div id="upshrinkHeaderIC">
			{% assign messages = site.messages | sort: "date" %}
			{% if messages.size > 0 %}
			<div class="title_barIC">
				<h4 class="titlebg">
					<span class="ie6_header floatleft">
						<a href="http://smf.halabalooza.orgy/index.php?action=recent"><img class="icon" src="assets/smf/curve/img/post/xx.gif" alt="Mensajes recientes" /></a>
						Mensajes recientes
					</span>
				</h4>
			</div>
			<div class="hslice" id="recent_posts_content">
				<div class="entry-title" style="display: none;">{{site.data.forums.title}} - Mensajes recientes</div>
				<div class="entry-content" style="display: none;">
					<a rel="feedurl" href="http://smf.halabalooza.orgy/index.php?action=.xml;type=webslice">Suscribir a Webslice</a>
				</div>
				<dl id="ic_recentposts" class="middletext">
					{% for message in site.messages reversed limit:10 %}
						{% assign thread = site.threads | where: "title", message.thread | first %}
						{% assign user = site.users | where: "nickname", message.user | first %}
						{% assign board = site.boards | where: "board", thread.board | first %}
						<dt><strong><a href="{{thread.url}}" rel="nofollow">{{message.subject}}</a></strong> por <a href="{{user.url}}">{{user.nickname}}</a> (<a href="{{board.url}}">{{board.board}}</a>)</dt>
						<dd>{{ message.date | date_to_rfc822 | replace: "-0400", "" }}</dd>
					{% endfor %}
				</dl>
			</div>
			{% endif %}
			<div class="title_barIC">
				<h4 class="titlebg">
					<span class="ie6_header floatleft">
						<a href="http://smf.halabalooza.orgy/index.php?action=stats"><img class="icon" src="assets/smf/curve/img/icons/info.gif" alt="Estadísticas SMF" /></a>
						Estadísticas SMF
					</span>
				</h4>
			</div>
			<p>
				{% assign messages = site.messages | sort: "date" %}
				{% assign threads = site.threads %}
				{% assign last_message_thread = site.threads | where: "title", messages.last.thread %}
				{% assign users = site.users | sort: "date_registered" %}
				{{messages.size}} Mensajes en {{threads.size}} Temas por {{users.size}} Usuarios.

				{% if users.size > 0 %}
				Último usuario: <strong> <a href="{{users.last.url}}">{{users.last.nickname}}</a></strong><br />
				{% endif %}

				{% if messages.size > 0 %}
				Último mensaje: <strong>&quot;<a href="{{last_message_thread.url}}" title="{{messages.last.subject}}">{{messages.last.subject}}</a>&quot;</strong>  ( {{ messages.last.date | date_to_rfc822 | replace: "-0400", "" }} )
				{% endif %}

				<br />

				<a href="http://smf.halabalooza.orgy/index.php?action=recent">Ver los mensajes más recientes del foro.</a><br />
				<a href="http://smf.halabalooza.orgy/index.php?action=stats">[Más Estadísticas]</a>
			</p>
			<div class="title_barIC">
				<h4 class="titlebg">
					<span class="ie6_header floatleft"> 
					   <img class="icon" src="assets/smf/curve/img/icons/cbox.gif" alt=""> Visitas
					</span>
				</h4>
			</div></p></a>
         	<p class="inline smalltext">
         		<center>
         			<a href="http://s10.flagcounter.com/more/zV8"><img src="http://s10.flagcounter.com/count/zV8/bg_000000/txt_FFFFFF/border_CF343E/columns_2/maxflags_12/viewers_0/labels_1/pageviews_0/flags_0/" alt="free counters" border="0"></a>
         		</center> 
         	</p>
         	<p>
			<!--<div class="title_barIC">
				<h4 class="titlebg">
					<span class="ie6_header floatleft">
						<a href="http://smf.halabalooza.orgy/index.php?action=who"><img class="icon" src="assets/smf/curve/img/icons/online.gif" alt="Usuarios en Línea" /></a>
						Usuarios en Línea
					</span>
				</h4>
			</div>
			<p class="inline stats">
				<a href="http://smf.halabalooza.orgy/index.php?action=who">0 Visitantes, 1 Usuario (0 Amigos)</a>
			</p>
			<p class="inline smalltext">
				Usuarios activos en los últimos 15 minutos:<br /><a href="http://smf.halabalooza.orgy/index.php?action=profile;u=1078">yap320sorgesoureDug</a>
			</p>
			<p class="last smalltext">
				Máximo Online Hoy: <strong>1</strong>.
				Máximo Online Siempre: 68 (Febrero 12, 2012, 07:03:52 pm)
			</p>-->
		</div>
	</div></div>
	<span class="lowerframe"><span></span></span>
	<!--Footers--><!--End Footers-->
		</div>
	</div></div>
	<div id="footer_section"><div class="frame">
		<ul class="reset">
			<li class="copyright">
		<span class="smalltext" style="display: inline; visibility: visible; font-family: Verdana, Arial, sans-serif;"><a href="http://www.simplemachines.org/" title="Foro Simple Machines" target="_blank" class="new_win">Powered by SMF 2.0 RC4</a> | <a href="http://www.simplemachines.org/about/copyright.php" title="Software Libre para Foros" target="_blank" class="new_win">SMF &copy; 2006&ndash;2009, Simple Machines LLC</a> | <a href="http://www.smfsimple.com" title="Smf - Soporte - Tutoriales - Mods - Themes">SMF Simple &copy;
</a>
		</span><br /><div align="center"><span class="smalltext">Protected by: <a href="http://www.eastcoastrollingthunder.com" target="_blank" class="new_win">Forum Firewall &copy; 2010-2011</a></span></div></li>
			<li><a id="button_xhtml" href="http://validator.w3.org/check/referer" target="_blank" class="new_win" title="XHTML 1.0 válido!"><span>XHTML</span></a></li>
			<li><a id="button_rss" href="http://smf.halabalooza.orgy/index.php?action=.xml;type=rss" class="new_win"><span>RSS</span></a></li>
			<li class="last"><a id="button_wap2" href="http://smf.halabalooza.orgy/index.php?wap2" class="new_win"><span>WAP2</span></a></li>
		</ul>
	</div></div>
</div>
</body></html>