<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="/assets/smf/curve/scripts/index.css" />
	<script type="text/javascript" src="/assets/smf/curve/scripts/script.js"></script>
	<script type="text/javascript" src="/assets/smf/curve/scripts/theme.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta name="description" content="{{site.data.forums.title}} - Índice" />
	<title>{{site.data.forums.title}} - Índice</title>
	<link rel="canonical" href="{{site.data.forums.base_url}}" />
	<link rel="help" href="http://smf.halabalooza.orgy/index.php?action=help" />
	<link rel="search" href="http://smf.halabalooza.orgy/index.php?action=search" />
	<link rel="contents" href="{{site.data.forums.base_url}}" />
	<link rel="alternate" type="application/rss+xml" title="{{site.data.forums.title}} - RSS" href="http://smf.halabalooza.orgy/index.php?type=rss;action=.xml" />
</head>
<body>
<div id="wrapper" style="width: 90%">
	<div id="header"><div class="frame">
		<div id="top_section">
			<h1 class="forumtitle">
				<a href="{{site.data.forums.base_url}}">{{site.data.forums.title}}</a>
			</h1>
			<img id="upshrink" src="/assets/smf/curve/img/upshrink.png" alt="*" title="Encoger o expandir encabezado." />
			<div id="siteslogan" class="floatright">{{site.data.forums.subtitle}}</div>
		</div>
		<br class="clear" />
		<div id="main_menu">
			<ul class="dropmenu" id="menu_nav">
				{% for item in site.data.forums.navigator %}
				<li id="{{item.id}}">
					<a class="{% if item.active %}active{% endif %} firstlevel" href="{{item.href}}">
						<span class="last firstlevel">{{item.name}}</span>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<br class="clear" />
	</div></div>
	<div id="content_section"><div class="frame">
		<div id="main_content_section">
	<div class="navigate_section">
		<ul>
			<li class="last">
				<a href="{{site.data.forums.base_url}}"><span>{{site.data.forums.title}}</span></a>
			</li>
		</ul>
	</div><!--Headers--><!--End Headers-->

	<div id="boardindex_table">
		<table class="table_list">
			{% for category in site.data.forums.categories %}
			<tbody class="header" id="category_{{category.id}}">
				<tr>
					<td colspan="5">
						<div class="cat_bar">
							<h3 class="catbg">
								<a class="collapse" href="http://smf.halabalooza.orgy/index.php?action=collapse;c=7;sa=collapse;e2bff33874=7a879e6e43c43d66dbdea1a223cb7c1e#c7"><img src="http://localhost/halabalooza/Themes/Curve2/images/collapse.gif" alt="-" /></a>
								<a class="unreadlink" href="http://smf.halabalooza.orgy/index.php?action=unread;c=7">Mensajes no leídos</a>
								<a id="c7" href="http://smf.halabalooza.orgy/index.php?action=collapse;c=7;sa=collapse;e2bff33874=7a879e6e43c43d66dbdea1a223cb7c1e#c7">{{category.name}}</a>
							</h3>
						</div>
					</td>
				</tr>
			</tbody>
			<tbody class="content" id="category_7_boards">
            <tr style="line-height:8px;">
            <td align="center" class="windowbg"><strong>Estado</strong></td>
            <td align="left" class="windowbg"><strong>Foro</strong></td>
            <td align="center" class="windowbg"><strong>Mensajes</strong></td>
            <td align="center" class="windowbg"><strong>Temas</strong></td>
            <td align="center" class="windowbg"><strong>Último</strong></td>
            </tr>
            	{% for board in category.forums %}
				<tr id="board_23" class="windowbg2">
					<td class="windowbg icon">
						<a href="http://smf.halabalooza.orgy/index.php/board,23.0.html" name="b23">
							<img src="/assets/smf/curve/ImagesOnBoard/{% if board.icon %}{{board.icon}}{% else %}default1.png{% endif %}" alt="{{board.name}}" title="No hay nuevos Mensajes" />
						</a>
					</td>
					<td class="info">
						<a class="subject" href="http://smf.halabalooza.orgy/index.php/board,23.0.html" name="b23">{{board.name}}</a>
						<p>{{board.description}}</p>
						{% if board.moderator %}
						<p class="moderators">Moderador: <a href="http://smf.halabalooza.orgy/index.php?action=profile;u=4" title="Moderador del Foro">{{board.moderator}}</a></p>
						{% endif %}
               		</td>
				<td class="windowbg" align="center" width="7%">421</td>
				<td class="windowbg" align="center" width="7%">10</td>
				<td class="lastpost">
					<div style="float: left; margin-right: 4px;"><img src="http://i.imgur.com/2GwBECN.gif" alt="" width="38" height="38" align="middle" border="0" /></div>
					<p>
						<strong>Último:</strong>  <a href="http://smf.halabalooza.orgy/index.php/topic,3437.msg910316.html#new" title="Re:memes xdxdxddd">Re:memes xdxdxddd</a><br />
						por <a href="http://smf.halabalooza.orgy/index.php?action=profile;u=1601">imv115sorgesoureDug</a><br />
						 Septiembre 10, 2021, 04:54:35 pm
					</p>
					</td>
				</tr>
				{% endfor %}
			</tbody>
			<tbody class="divider">
				<tr>
					<td colspan="4"></td>
				</tr>
			</tbody>
			{% endfor %}
		</table>
	</div>
	<div id="posting_icons" class="floatleft">
		<ul class="reset">
			<li class="floatleft"><img src="http://localhost/halabalooza/Themes/Curve2/images/new_some.png" alt="" /> Nuevos Mensajes</li>
			<li class="floatleft"><img src="http://localhost/halabalooza/Themes/Curve2/images/new_none.png" alt="" /> No hay nuevos Mensajes</li>
			<li class="floatleft"><img src="http://localhost/halabalooza/Themes/Curve2/images/new_redirect.png" alt="" /> Foro de Redirección</li>
		</ul>
	</div><div class="mark_read">
		<div class="buttonlist floatright">
			<ul>
				<li><a class="button_strip_markread" href="http://smf.halabalooza.orgy/index.php?action=markasread;sa=all;e2bff33874=7a879e6e43c43d66dbdea1a223cb7c1e"><span class="last">Marcar TODOS los mensajes como leidos</span></a></li>
			</ul>
		</div></div>
	<span class="clear upperframe"><span></span></span>
	<div class="roundframe"><div class="innerframe">
		<div class="cat_bar">
			<h3 class="catbg">
				<img class="icon" id="upshrink_ic" src="http://localhost/halabalooza/Themes/Curve2/images/collapse.gif" alt="*" title="Encoger o expandir encabezado." style="display: none;" />
				{{site.data.forums.title}} - Centro de Información
			</h3>
		</div>
		<div id="upshrinkHeaderIC">
			<div class="title_barIC">
				<h4 class="titlebg">
					<span class="ie6_header floatleft">
						<a href="http://smf.halabalooza.orgy/index.php?action=recent"><img class="icon" src="http://localhost/halabalooza/Themes/Curve2/images/post/xx.gif" alt="Mensajes recientes" /></a>
						Mensajes recientes
					</span>
				</h4>
			</div>
			<div class="hslice" id="recent_posts_content">
				<div class="entry-title" style="display: none;">{{site.data.forums.title}} - Mensajes recientes</div>
				<div class="entry-content" style="display: none;">
					<a rel="feedurl" href="http://smf.halabalooza.orgy/index.php?action=.xml;type=webslice">Suscribir a Webslice</a>
				</div>
				<dl id="ic_recentposts" class="middletext">
					<dt><strong><a href="http://smf.halabalooza.orgy/index.php/topic,3504.msg910320/topicseen.html#msg910320" rel="nofollow">Los fundamentos del dibujo</a></strong> por <a href="http://smf.halabalooza.orgy/index.php?action=profile;u=8391">Mumifag Lalolanda</a> (<a href="http://smf.halabalooza.orgy/index.php/board,61.0.html">Dibujos e Ilustraciones</a>)</dt>
					<dd>Abril 13, 2022, 02:16:07 pm</dd>
					<dt><strong><a href="http://smf.halabalooza.orgy/index.php/topic,3503.msg910319/topicseen.html#msg910319" rel="nofollow">Acerca de los consejos que dá Stephen King para aprender a escribir</a></strong> por <a href="http://smf.halabalooza.orgy/index.php?action=profile;u=8420">Meduka Meguca</a> (<a href="http://smf.halabalooza.orgy/index.php/board,17.0.html">Literatura</a>)</dt>
					<dd>Marzo 05, 2022, 07:55:23 pm</dd>
					<dt><strong><a href="http://smf.halabalooza.orgy/index.php/topic,3457.msg910318/topicseen.html#msg910318" rel="nofollow">Re:Historias miadas | Relatos erótikoz &#127863; :'v </a></strong> por <a href="http://smf.halabalooza.orgy/index.php?action=profile;u=1657">zvk795sorgesoureDug</a> (<a href="http://smf.halabalooza.orgy/index.php/board,54.0.html">Sexualidad</a>)</dt>
					<dd>Diciembre 29, 2021, 02:36:35 pm</dd>
					<dt><strong><a href="http://smf.halabalooza.orgy/index.php/topic,3466.msg910317/topicseen.html#msg910317" rel="nofollow">Re:Posteen recetas que se sepan</a></strong> por <a href="http://smf.halabalooza.orgy/index.php?action=profile;u=8391">Mumifag Lalolanda</a> (<a href="http://smf.halabalooza.orgy/index.php/board,60.0.html">Cocina y Gastronomía</a>)</dt>
					<dd>Octubre 23, 2021, 11:45:17 am</dd>
					<dt><strong><a href="http://smf.halabalooza.orgy/index.php/topic,3466.msg910316/topicseen.html#msg910316" rel="nofollow">Re:Posteen recetas que se sepan</a></strong> por <a href="http://smf.halabalooza.orgy/index.php?action=profile;u=696">psa683sorgesoureDug</a> (<a href="http://smf.halabalooza.orgy/index.php/board,60.0.html">Cocina y Gastronomía</a>)</dt>
					<dd>Septiembre 10, 2021, 05:27:13 pm</dd>
					<dt><strong><a href="http://smf.halabalooza.orgy/index.php/topic,3437.msg910315/topicseen.html#msg910315" rel="nofollow">Re:memes xdxdxddd</a></strong> por <a href="http://smf.halabalooza.orgy/index.php?action=profile;u=1601">imv115sorgesoureDug</a> (<a href="http://smf.halabalooza.orgy/index.php/board,23.0.html">La Sociedad de los Oceosos Muertos</a>)</dt>
					<dd>Septiembre 10, 2021, 04:54:35 pm</dd>
					<dt><strong><a href="http://smf.halabalooza.orgy/index.php/topic,3502.msg910314/topicseen.html#msg910314" rel="nofollow">Herramientas avanzadas(?) de renderizado...</a></strong> por <a href="http://smf.halabalooza.orgy/index.php?action=profile;u=2018">PgK858sorgesoureDug</a> (<a href="http://smf.halabalooza.orgy/index.php/board,64.0.html">3DCG</a>)</dt>
					<dd>Julio 26, 2021, 09:41:24 am</dd>
					<dt><strong><a href="http://smf.halabalooza.orgy/index.php/topic,1985.msg910313/topicseen.html#msg910313" rel="nofollow">Re:Papercraft y Origami</a></strong> por <a href="http://smf.halabalooza.orgy/index.php?action=profile;u=2018">PgK858sorgesoureDug</a> (<a href="http://smf.halabalooza.orgy/index.php/board,13.0.html">Animu &amp; Mango</a>)</dt>
					<dd>Julio 25, 2021, 09:42:28 pm</dd>
					<dt><strong><a href="http://smf.halabalooza.orgy/index.php/topic,3501.msg910312/topicseen.html#msg910312" rel="nofollow">Principios básicos de Animación</a></strong> por <a href="http://smf.halabalooza.orgy/index.php?action=profile;u=696">psa683sorgesoureDug</a> (<a href="http://smf.halabalooza.orgy/index.php/board,61.0.html">Dibujos e Ilustraciones</a>)</dt>
					<dd>Julio 25, 2021, 06:27:10 pm</dd>
					<dt><strong><a href="http://smf.halabalooza.orgy/index.php/topic,3340.msg910311/topicseen.html#msg910311" rel="nofollow">Re:Ayudaaaaaa! Recuperar datos de mi Hdd externo con chingomil de sectores dañados</a></strong> por <a href="http://smf.halabalooza.orgy/index.php?action=profile;u=8391">Mumifag Lalolanda</a> (<a href="http://smf.halabalooza.orgy/index.php/board,39.0.html">Tecnología</a>)</dt>
					<dd>Marzo 13, 2021, 06:11:33 pm</dd>
				</dl>
			</div>
			<div class="title_barIC">
				<h4 class="titlebg">
					<span class="ie6_header floatleft">
						<a href="http://smf.halabalooza.orgy/index.php?action=stats"><img class="icon" src="http://localhost/halabalooza/Themes/Curve2/images/icons/info.gif" alt="Estadísticas SMF" /></a>
						Estadísticas SMF
					</span>
				</h4>
			</div>
			<p>
				294277 Mensajes en 875 Temas por 537 Usuarios. Último usuario: <strong> <a href="http://smf.halabalooza.orgy/index.php?action=profile;u=8436">Arthur Canga</a></strong><br />
				Último mensaje: <strong>&quot;<a href="http://smf.halabalooza.orgy/index.php/topic,3504.msg910318/boardseen.html#new" title="Los fundamentos del dibujo">Los fundamentos del dibu...</a>&quot;</strong>  ( Abril 13, 2022, 02:16:07 pm )<br />
				<a href="http://smf.halabalooza.orgy/index.php?action=recent">Ver los mensajes más recientes del foro.</a><br />
				<a href="http://smf.halabalooza.orgy/index.php?action=stats">[Más Estadísticas]</a>
			</p>
			<!--<div class="title_barIC">
				<h4 class="titlebg">
					<span class="ie6_header floatleft"> 
					   <img class="icon" src="http://localhost/halabalooza/Themes/Curve2/images/icons/cbox.gif" alt=""> Visitas
					</span>
				</h4>
			</div></p></a>
         	<p class="inline smalltext">
         		<center>
         			<a href="http://s10.flagcounter.com/more/zV8"><img src="http://s10.flagcounter.com/count/zV8/bg_000000/txt_FFFFFF/border_CF343E/columns_2/maxflags_12/viewers_0/labels_1/pageviews_0/flags_0/" alt="free counters" border="0"></a>
         		</center> 
         	</p>
         	<p>-->
			<div class="title_barIC">
				<h4 class="titlebg">
					<span class="ie6_header floatleft">
						<a href="http://smf.halabalooza.orgy/index.php?action=who"><img class="icon" src="http://localhost/halabalooza/Themes/Curve2/images/icons/online.gif" alt="Usuarios en Línea" /></a>
						Usuarios en Línea
					</span>
				</h4>
			</div>
			<p class="inline stats">
				<a href="http://smf.halabalooza.orgy/index.php?action=who">0 Visitantes, 1 Usuario (0 Amigos)</a>
			</p>
			<p class="inline smalltext">
				Usuarios activos en los últimos 15 minutos:<br /><a href="http://smf.halabalooza.orgy/index.php?action=profile;u=1078">yap320sorgesoureDug</a>
			</p>
			<p class="last smalltext">
				Máximo Online Hoy: <strong>1</strong>.
				Máximo Online Siempre: 68 (Febrero 12, 2012, 07:03:52 pm)
			</p>
		</div>
	</div></div>
	<span class="lowerframe"><span></span></span>
	<!--Footers--><!--End Footers-->
		</div>
	</div></div>
	<div id="footer_section"><div class="frame">
		<ul class="reset">
			<li class="copyright">
		<span class="smalltext" style="display: inline; visibility: visible; font-family: Verdana, Arial, sans-serif;"><a href="http://www.simplemachines.org/" title="Foro Simple Machines" target="_blank" class="new_win">Powered by SMF 2.0 RC4</a> | <a href="http://www.simplemachines.org/about/copyright.php" title="Software Libre para Foros" target="_blank" class="new_win">SMF &copy; 2006&ndash;2009, Simple Machines LLC</a> | <a href="http://www.smfsimple.com" title="Smf - Soporte - Tutoriales - Mods - Themes">SMF Simple &copy;
</a>
		</span><br /><div align="center"><span class="smalltext">Protected by: <a href="http://www.eastcoastrollingthunder.com" target="_blank" class="new_win">Forum Firewall &copy; 2010-2011</a></span></div></li>
			<li><a id="button_xhtml" href="http://validator.w3.org/check/referer" target="_blank" class="new_win" title="XHTML 1.0 válido!"><span>XHTML</span></a></li>
			<li><a id="button_rss" href="http://smf.halabalooza.orgy/index.php?action=.xml;type=rss" class="new_win"><span>RSS</span></a></li>
			<li class="last"><a id="button_wap2" href="http://smf.halabalooza.orgy/index.php?wap2" class="new_win"><span>WAP2</span></a></li>
		</ul>
	</div></div>
</div>
</body></html>