<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		{{site.data.home.company.name}} &#8211; {{site.data.home.company.slogan}}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/style.css" />

	<!-- My Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/icons/favicon.ico">

	<!-- Google Fonts -->
	{% if site.data.home.use_local_resources %}
	<style type="text/css">
	@font-face {
		font-family: "Karla";
		src: url("/assets/fonts/Karla-Regular.ttf");
	}
	@font-face {
		font-family: "Pacifico";
		src: url("/assets/fonts/Pacifico-Regular.ttf");
	}
	@font-face {
		font-family: 'Archivo Narrow';
		src: url("/assets/fonts/ArchivoNarrow-Regular.ttf");
	}
	@font-face {
		font-family: 'Fjalla One';
		src: url("/assets/fonts/FjallaOne-Regular.ttf");
	}
	</style>
	{% else %}
	<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Karla|Pacifico|Merriweather+Sans|Archivo+Narrow')</style>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Work+Sans%3A800%7CKarla%3A400%2C400italic%2C700%2C700italic&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet"> 
	{% endif %}


    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="assets/fontawesome/css/all.css">
    <link type="text/css" rel="stylesheet" href="assets/js/owlcarousel/owl.carousel.min.css">
    <link type="text/css" rel="stylesheet" href="assets/js/owlcarousel/owl.theme.default.min.css">
</head>
<body>
	<!--================
	SECTION: SOCIAL-LINKS
	====================-->
	<section class="social-links">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 social-links-col">
					<ul class="list-inline line-separated">
						{% for item in site.data.home.social_links %}
							<li class="list-inline-item d-none d-md-inline-block">
								<a href="{{item.href}}" target="_blank" title="{{item.label}}">
									<i class="{{item.icon}}"></i>
								</a>
							</li>
						{% endfor %}
						<li class="d-inline-block d-md-none">
							<a href="#" class="btn-sidebar"><i class="fas fa-bars"></i></a>
						</li>
					</ul>
					<div class="company-subtitle">
						<ul class="list-inline line-separated">
							<li class="list-inline-item">{{site.data.home.company.name}}</li>
							<li class="list-inline-item">{{site.data.home.company.subtitle}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!--================
	SECTION: MAIN-HEADER
	====================-->
	<!-- TO DO: please convertt this webm video to mp4, there is more browser support for this format -->
	<section class="main-header" style="background: url({{site.data.home.main_bg}}) no-repeat center fixed;background-size: cover">
		<div class="company-logo">
			<img src="{{site.data.home.company.logo_src}}" alt="{{site.data.home.company.name}}" class="logo" />
			<div>
				<h1>{{site.data.home.company.name}}</h1>
				<p>{{site.data.home.company.slogan}}</p>
			</div>
		</div>
		<ul class="nav-list list-inline line-separated d-none d-md-block">
			{% for item in site.data.home.navigator %}
				<li class="list-inline-item">
					<a href="{{item.href}}">
						{{item.title}}
					</a>
				</li>
			{% endfor %}
		</ul>
	</section>

	<!--================
	SECTION: RESPONSIVE NAV
	====================-->
	<div class="nav-overly hidden"></div>

	<nav class="responsive-nav hidden">
		<div><a href="#" class="btn-sidebar-close"><i class="fas fa-times"></i></a></div>
		<hr>
		<div class="resp-nav-div">
			{% for item in site.data.home.navigator %}
				<a href="{{item.href}}">
					{{item.title}}
				</a>
			{% endfor %}
		</div>
		<hr>
		<div class="resp-nav-div">
			{% for item in site.data.home.social_links %}
				<a href="{{item.href}}" target="_blank">
					<i class="{{item.icon}}"></i> {{item.label}}
				</a>
			{% endfor %}
		</div>
	</nav>
	
	<!--================
	SECTION: PROJECTS-CAROUSEL
	====================-->
	<section class="projects-carousel section-col">
		<!--<header class="right-col col">
			<div><?= _("Noticias recientes") ?></div>
			<a href="" class="light-button"><?= _("Ver más") ?></a>
		</header>-->
		<div id="{{site.data.home.projects_carousel.id}}" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				{% assign i = 0 %}
				{% for item in site.data.home.projects_carousel.items %}
					{% if i == 0 %}
						<li data-target="#{{site.data.home.projects_carousel.id}}" data-slide-to="{{i}}" class="active"></li>
					{% else %}
						<li data-target="#{{site.data.home.projects_carousel.id}}" data-slide-to="{{i}}"></li>
					{% endif %}
					{% assign i = i | plus:1 %}
				{% endfor %}
			</ol>
			<div class="carousel-inner">
				{% assign i = 0 %}
				{% for item in site.data.home.projects_carousel.items %}
					<div class="carousel-item {% if i == 0 %}active{% endif %}">
						<img class="d-block w-100" src="{{item.img}}" alt="{{item.alt}}">
						<div class="carousel-caption">
							<h1>{{item.title}}</h1>
							<p>{{item.desc}}</p>
							<a href="{{item.link}}" class="carousel-button">Ver más</a>
						</div>
					</div>
					{% assign i = i | plus:1 %}
				{% endfor %}
			</div>
			<a class="carousel-control-prev" href="#{{site.data.home.projects_carousel.id}}" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#{{site.data.home.projects_carousel.id}}" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</section>
	
	<!--================
	SECTION: FEATURED-PROJECTS
	====================-->
	<section class="featured-projects section-col">
		<header class="left-col col">
			<div>Proyectos destacados</div>
			<a href="" class="light-button">Ver todos</a>
		</header>
		<div class="grid-container">
			{% for project in site.data.home.featured_projects %}
			<div class="grid-article {{project.class}}">
				<h2><a href="{{project.href}}">{{project.title}}</a></h2>
				<a href=""><img src="{{project.src}}" alt="{{project.alt}}"></a>
				<p>{{project.desc}} <a href="{{project.href}}">» Ver proyecto</a></p>
				<ul class="list-inline line-separated">
					<li class="list-inline-item"><a href=""><i class="far fa-thumbs-up"></i> 564</a></li>
					<li class="list-inline-item"><a href=""><i class="fas fa-share-square"></i> Compartir</a></li>
					<li class="list-inline-item"><a href=""><i class="fas fa-comment-dots"></i> Comentarios</a></li>
				</ul>
				<div class="mobile-flex">
					<h2><a href="{{project.href}}">{{project.title}}</a></h2>
					<p>{{project.desc}} <a href="{{project.href}}">» Ver proyecto</a></p>
					<ul class="list-inline line-separated">
						<li class="list-inline-item"><a href=""><i class="far fa-thumbs-up"></i> 23</a></li>
						<li class="list-inline-item"><a href=""><i class="fas fa-share-square"></i> <span>Compartir</span></a></li>
						<li class="list-inline-item"><a href=""><i class="fas fa-comment-dots"></i> <span>Comentarios</span></a></li>
					</ul>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
	
	<!--================
	SECTION: TEAM
	====================-->
	<!--<section class="section-col">
		<header class="right-col col">
			<div>El Equipo</div>
			<a href="" class="light-button">Ver más</a>
		</header>
	</section>-->
	
	<!--================
	FOOTER
	====================-->
	<footer>
		<ul class="list-inline line-separated">
			{% for item in site.data.home.footer_links %}
				<li class="list-inline-item">
					<a href="{{item.href}}">
						{{item.title}}
					</a>
				</li>
			{% endfor %}
		</ul>
		<div>
			<img src="{{site.data.home.company.logo_src}}" alt="{{site.data.home.company.name}}" class="logo">
			<img src="{{site.data.home.company.logo_src}}" alt="{{site.data.home.company.name}}" class="logo logo-reflect">
			<div>
				<h1>{{site.data.home.company.name}}</h1>
				<p>{{site.data.home.company.slogan}}</p>
			</div>
		</div>
		<p>Lolipalooza © 2019-2020<br/>Powered by <a href="https://jekyllrb.com/">Jekyll</a> for <a href="https://github.com">GitHub</a></p>
	</footer>

	<!-- JS -->
	<script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
    <script
			  src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
			  integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="
			  crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <script type="text/javascript" src="assets/css/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/owlcarousel/owl.carousel.min.js"></script>

	<script type="text/javascript" src="assets/js/script.js"></script>

	<script type="text/javascript">
		// I have the js/script.js to put all my scripts but i'll use this to do it anyways lol...
		$(document).ready(function () {
			$('.btn-sidebar').on('click', function () {
				$('.nav-overly,.responsive-nav').removeClass('hidden')
			})
			$('.btn-sidebar-close').on('click', function () {
				$('.nav-overly,.responsive-nav').addClass('hidden')
			})
			$('a[href="#"]').on('click', function (e) {
				e.preventDefault()
			})
		})
	</script>
</body>
</html>